
@{
    ViewBag.Title = "Genel Bilgiler";
    Layout = "~/Areas/E/Views/Shared/_Layout.cshtml";
}


<div class="container mt-5">


    <!-- Tab İçerikleri -->
    <form class="tab-content" method="post" id="GenelBilgilerForm" enctype="multipart/form-data">
        <div class="row">
            @foreach (YKPortal.Models.Dto.GrupKoduDto grupKodu in ViewBag.ETicaretLogo)
            {
                <div class="col-lg-6 d-flex flex-column">
                    <img class="img-fluid" src="~/Uploads/ETicaret/@grupKodu.Deger" alt="Alternate Text" style="width:120px; border-radius:4px;" />
                    <div class="mt-2">

                        <label class="form-label">Logo</label>
                        <input type="file" class="form-input  form-wide mb-2" name="ETicaretLogo" data-grupKodId="@grupKodu.ID" style="padding:8px;"/>
                    </div>
                </div>
                
            }
            @foreach (YKPortal.Models.Dto.GrupKoduDto grupKodu in ViewBag.ETicaretFirmaAdi)
            {
               
                <div class="col-lg-6 mt-4">
                    <div style="height:90px; width:82px;"></div>
                    <label class="form-label">Firma Adı</label>
                    <input type="text" class="form-input p-3 form-wide mb-2" name="@grupKodu.Kod" value="@grupKodu.Deger" data-grupKodId="@grupKodu.ID" />
                </div>
            }
         
        </div>

        <div class="row">     
            @foreach (YKPortal.Models.Dto.GrupKoduDto grupKodu in ViewBag.ETicaretEmail)
            {
                <div class="col-lg-6 mt-4">
                    <label class="form-label">E-Mail</label>
                    <input type="text" class="form-input p-3 form-wide mb-2" name="@grupKodu.Kod" value="@grupKodu.Deger" data-grupKodId="@grupKodu.ID" />
                </div>
            }
            @foreach (YKPortal.Models.Dto.GrupKoduDto grupKodu in ViewBag.ETicaretTelefon)
            {
                <div class="col-lg-6 mt-4">
                    <label class="form-label">Telefon</label>
                    <input type="text" class="form-input p-3 form-wide mb-2" name="@grupKodu.Kod" value="@grupKodu.Deger" data-grupKodId="@grupKodu.ID" />
                </div>
            }

        </div> 
        
        <div class="row">     
            @foreach (YKPortal.Models.Dto.GrupKoduDto grupKodu in ViewBag.ETicaretAdres)
            {
                <div class="col-lg-6 mt-4">
                    <label class="form-label">Adres</label>
                    <input type="text" class="form-input p-3 form-wide mb-2" name="@grupKodu.Kod" value="@grupKodu.Deger" data-grupKodId="@grupKodu.ID" />
                </div>
            }
        </div>




        <div class="d-flex mt-2">
            <div>
                <button type="submit" id="KaydetButonu" class="btn btn-dark btn-ellipse btn-md">
                    Kaydet
                </button>
            </div>
            <div class="ml-3">
                <button type="button" onclick="history.back()" class="btn btn-default btn-ellipse btn-md">
                    Geri
                </button>
            </div>

        </div>
    </form>


</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>



@section Styles {

}
<script>var hostUrl = "~/Tema/ETicaret";</script>
@section scripts {


    <script>



        $('#KaydetButonu').click(function (e) {
            e.preventDefault(); // Formun varsayılan gönderimini engelle

            let formData = [];

            let fileReadPromises = [];

            $('#GenelBilgilerForm input[type="file"]').each(function () {
                if (this.files.length > 0) {
                    let fileInput = $(this);
                    let file = this.files[0];

                    let fileReadPromise = new Promise(function (resolve, reject) {
                        let reader = new FileReader();
                        reader.readAsDataURL(file);
                        reader.onload = function () {
                            console.log(reader.result);
                            formData.push({
                                ID: fileInput.attr('data-grupKodId'),
                                Kod: fileInput.attr('name'),
                                Deger: reader.result
                            });
                            resolve(); // Resolve the promise after file is read
                        };
                        reader.onerror = function (error) {
                            console.log('Error: ', error);
                            reject(error); // Reject the promise if an error occurs
                        };
                    });

                    fileReadPromises.push(fileReadPromise); // Add to the list of promises
                }
            });

            // Add text input data (does not require async handling)
            $('#GenelBilgilerForm input[type="text"]').each(function () {
                formData.push({
                    ID: $(this).attr('data-grupKodId'),
                    Kod: $(this).attr('name'),
                    Deger: $(this).val()
                });
            });

            Promise.all(fileReadPromises)
                .then(function () {
                    $.ajax({
                        url: '/E/ETicaretBilgiler/Kaydet',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(formData),
                        success: function (response) {
                            if (response.success) {
                                alert(response.message);
                                if (response.redirectUrl) {
                                    window.location.href = response.redirectUrl;
                                }
                            } else {
                                alert(response.message);
                            }
                        },
                        error: function () {
                            alert("Bir hata oluştu.");
                        }
                    });
                })
                .catch(function (error) {
                    alert("Dosyalar okunurken bir hata oluştu: " + error);
                });
        });


    </script>

}

