
@{
    ViewBag.Title = "GenelBilgiler";
    Layout = "~/Areas/E/Views/Shared/_Layout.cshtml";
}


<div class="container mt-5">


    <!-- Tab İçerikleri -->
    <form class="tab-content" method="post" id="GenelBilgilerForm">
        <div class="row">
            @foreach (YKPortal.Models.Dto.GrupKoduDto grupKodu in ViewBag.ETicaretTelefon)
            {
                <div class="col-lg-6 mt-4">
                    <label>Telefon</label>
                    <input type="text" class="form-input p-3 form-wide mb-2" name="@grupKodu.Kod" value="@grupKodu.Deger" data-grupKodId="@grupKodu.ID" />
                </div>
            }

            @foreach (YKPortal.Models.Dto.GrupKoduDto grupKodu in ViewBag.ETicaretEmail)
            {
                <div class="col-lg-6 mt-4">
                    <label>E-Mail</label>
                    <input type="text" class="form-input p-3 form-wide mb-2" name="@grupKodu.Kod" value="@grupKodu.Deger" data-grupKodId="@grupKodu.ID" />
                </div>
            }
        </div>
       
        <div class="row">
            @foreach (YKPortal.Models.Dto.GrupKoduDto grupKodu in ViewBag.ETicaretLogo)
            {
                <div class="col-lg-6 mt-4">
                    <label>Logo</label>
                    <input type="text" class="form-input p-3 form-wide mb-2" name="@grupKodu.Kod" value="@grupKodu.Deger" data-grupKodId="@grupKodu.ID" />
                </div>
            }
            @foreach (YKPortal.Models.Dto.GrupKoduDto grupKodu in ViewBag.ETicaretFirmaAdi)
            {
                <div class="col-lg-6 mt-4">
                    <label>Firma Adı</label>
                    <input type="text" class="form-input p-3 form-wide mb-2" name="@grupKodu.Kod" value="@grupKodu.Deger" data-grupKodId="@grupKodu.ID" />
                </div>
            }
        </div>
       

    

        <div class="d-flex mt-2">
            <div>
                <button type="submit" id="KaydetButonu" class="btn-sm btn btn-primary font-weight-bold py-2 btn-block" style="height:40px;">
                    Kaydet
                </button>
            </div>
            <div class="">
                <button type="button" onclick="history.back()" class="btn btn-light btn-block btn-sm">
                    Geri
                </button>
            </div>

        </div>
    </form>

    
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>



@section Styles {

}
<script>var hostUrl = "~/Tema/ETicaret";</script>
@section scripts {


    <script>

        $('#KaydetButonu').click(function (e) {
            e.preventDefault(); // Formun varsayılan gönderimini engelle

            let formData = [];

            $('#GenelBilgilerForm input').each(function () {
                formData.push({
                    ID: $(this).attr('data-grupKodId'), 
                    Kod: $(this).attr('name'),   
                    Deger: $(this).val()         
                });
            });

            $.ajax({
                url: '/E/Bilgiler/Kaydet',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(formData), 
                success: function (response) {
                    if (response.success) {
                        alert(response.message);
                        if (response.redirectUrl) {
                            window.location.href = response.redirectUrl;
                        }
                    } else {
                        alert(response.message);
                    }
                },
                error: function () {
                    alert("Bir hata oluştu.");
                }
            });
        });


    </script>

}

