@using System.Data
@model System.Data.DataSet
@{
    ViewBag.Title = "Sayım";
    DataTable dtCariler = ViewBag.dtCariler as DataTable;
    DataTable dtTeknisyenler = ViewBag.Teknisyenler as DataTable;

}

<div style="width:100%;">

    <input type="button" name="name" value="Filtrele" onclick="$('#Form1').toggle();" />
    <div>
        <table>
            <tr>
                <td>
                    <label for="SeriNo">Seri No</label>
                    <input type="text" name="SeriNo" id="SeriNo" value="" autofocus />
                    <input type="button" name="name" value="Getir" onclick="SeriBilgisiGetir();" />
                </td>
            </tr>
            <tr>
                <td>
                <label for="Bolum">Bölüm</label>
                <input type="text" name="Bolum" id="Bolum" value=""  />
                </td>
            </tr>
            <tr>
                <td><span id="CariAdi" name="CariAdi"></span></td>
            </tr>
            <tr>
                <td><span id="StokKodu" name="StokKodu"></span></td>
            </tr>
            <tr>
                <td><span id="StokAdi" name="StokAdi"></span></td>
            </tr>
            <tr>
                <td><input type="button" name="Kaydet" id="Kaydet" value="Kaydet" style="display:none;" onclick="SayimKaydet();" /></td>
            </tr>
        </table>
    </div>

    <form action="@Url.Action("Sayim","YKMakine",null)" method="get" id="Form1" name="Form1" style="display:none;">
        <table>
            <tr>
                <td>Başlangıç</td>
                <td><input type="date" name="Baslangic" id="Baslangic" value="@ViewBag.Baslangic" /></td>
            </tr>
            <tr>
                <td>Bitiş</td>
                <td><input type="date" name="Bitis" id="Bitis" value="@ViewBag.Bitis" /></td>
            </tr>
            <tr>
                <td>Kullanıcı</td>
                <td>
                    <select id="Teknisyen" name="Teknisyen">
                        <option value="">Hepsi</option>
                        @foreach (DataRow teknisyen in dtTeknisyenler.Rows)
                        {
                            <option value="@teknisyen["ID"]" @(Convert.ToString(teknisyen["ID"]) == ViewBag.Teknisyen ? "selected" : "")>@teknisyen["Isim"]</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>Cari</td>
                <td>
                    <select name="Cari" id="Cari">
                        <option value="">Hepsi</option>
                        @foreach (DataRow satir in dtCariler.Rows)
                        {
                            <option value="@satir["DepoAdi"]" @(Convert.ToString(satir["DepoAdi"]) == ViewBag.Cari ? "selected" : "")>@satir["DepoAdi"]</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td>Kayıt Sayısı:@Model.Tables[0].Rows.Count</td>
                <td><input type="submit" name="name" value="Yenile" /></td>
            </tr>
        </table>
    </form>
    <table id="TableCariSiralamasi" name="TableCariSiralamasi" style="width:100%;">
        <thead>
            <tr>
                <th>Sayım Tarihi</th>
                <th>Seri No</th>
                <th>Stok Kodu</th>
                <th>Stok Adı</th>
                <th>Bölüm</th>
                <th>Cari Adı</th>
                <th>Kullanıcı</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow satir in Model.Tables[0].Rows)
            {
                string renk = "";

                <tr style="@(renk)">
                    <td>@satir["KayitTarihi"]</td>
                    <td>@satir["SeriNo"]</td>
                    <td>@satir["StokKodu"]</td>
                    <td>@satir["StokAdi"]</td>
                    <td>@satir["Bolum"]</td>
                    <td>@satir["CariAdi"]</td>
                    <td>@satir["TeknisyenAdi"]</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts {
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });

        function SeriBilgisiGetir() {
            var SeriNo = $("#SeriNo").val();
            $.ajax({
                async: false,
                cache: false,
                type: "GET",
                url: "/YKMakine/SayimCihazBilgisi",
                data: { "SeriNo": SeriNo },
                success: function (val) {
                    $("#CariAdi").text("Cari : " + val.Data.CariAdi);
                    $("#StokKodu").text("Stok Kodu : " + val.Data.StokKod);
                    $("#StokAdi").text("Stok Adı : " + val.Data.StokIsim);                    
                    $("#Kaydet").show();
                    $("#Bolum").focus();
                },
                error: function (data) {
                }
            });
        }

        function SayimKaydet() {

            var SeriNo = $("#SeriNo").val();
            var CariAdi = $("#CariAdi").text();
            var Bolum = $("#Bolum").val();
            $.ajax({
                async: false,
                cache: false,
                type: "GET",
                url: "/YKMakine/SayimKaydet",
                data: { "SeriNo": SeriNo, "CariKodu": CariAdi, "Bolum": Bolum },
                success: function (val) {
                    if (val.Data == "") {
                        $("#CariAdi").text("");
                        $("#Bolum").val("");
                        $("#StokKodu").text("");
                        $("#StokAdi").text("");
                        $("#SeriNo").val("");
                        $("#Kaydet").hide();
                        Swal.fire({
                            position: "center",
                            icon: "success",
                            title: "Sayım kaydedildi.",
                            showConfirmButton: false,
                            timer: 1500
                        });
                        setInterval(() => window.location.reload(false), 1000);
                    } else {

                        $("#CariAdi").text("");
                        $("#Bolum").val("");
                        $("#StokKodu").text("");
                        $("#StokAdi").text("");
                        $("#SeriNo").val("");
                        $("#Kaydet").hide();
                        Swal.fire({
                            position: "center",
                            icon: "error",
                            title: val.Data,
                            showConfirmButton: false,
                            timer: 1500
                        });
                        $("#SeriNo").focus();
                    }
                },
                error: function (data) {
                    alert(data.m);
                }
            });

        }
    </script>
}
