@{
    ViewBag.Title = "Config";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="row">
        <div class="card-body">
            <ul class="nav nav-pills nav-pills-custom row position-relative mx-0 mb-9">
                <li class="nav-item col-2 mx-0 p-0">
                    <!--begin::Link-->
                    <a class="nav-link d-flex justify-content-center w-100 border-0 h-100 active" data-bs-toggle="pill" href="#tab_b2b">
                        <!--begin::Subtitle-->
                        <span class="nav-text text-gray-800 fw-bold fs-6 mb-3">B2B Ayarları</span>
                        <!--end::Subtitle-->
                        <!--begin::Bullet-->
                        <span class="bullet-custom position-absolute z-index-2 bottom-0 w-100 h-4px bg-primary rounded"></span>
                        <!--end::Bullet-->
                    </a>
                    <!--end::Link-->
                </li>
                <li class="nav-item col-2 mx-0 p-0">
                    <!--begin::Link-->
                    <a class="nav-link d-flex justify-content-center w-100 border-0 h-100" data-bs-toggle="pill" href="#tab_seo">
                        <!--begin::Subtitle-->
                        <span class="nav-text text-gray-800 fw-bold fs-6 mb-3">SEO Ayarları</span>
                        <!--end::Subtitle-->
                        <!--begin::Bullet-->
                        <span class="bullet-custom position-absolute z-index-2 bottom-0 w-100 h-4px bg-primary rounded"></span>
                        <!--end::Bullet-->
                    </a>
                    <!--end::Link-->
                </li>
                <li class="nav-item col-2 mx-0 p-0">
                    <!--begin::Link-->
                    <a class="nav-link d-flex justify-content-center w-100 border-0 h-100" data-bs-toggle="pill" href="#tab_sms">
                        <!--begin::Subtitle-->
                        <span class="nav-text text-gray-800 fw-bold fs-6 mb-3">SMS Ayarları</span>
                        <!--end::Subtitle-->
                        <!--begin::Bullet-->
                        <span class="bullet-custom position-absolute z-index-2 bottom-0 w-100 h-4px bg-primary rounded"></span>
                        <!--end::Bullet-->
                    </a>
                    <!--end::Link-->
                </li>
                <span class="position-absolute z-index-1 bottom-0 w-100 h-4px bg-light rounded"></span>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active " id="tab_b2b" style="margin:10px;">

                    <div class="container mt-10">
                        <form action="/Ayarlar/B2BAyarlari" method="post">

                            <div class="row mb-12">
                                <!--begin::Input group-->
                                <div class="col-lg-6">
                                    <!--begin::Label-->
                                    <label for="B2BLogoKullaniciAdi" class="fw-bold text-gray-700 fs-6 mb-2">B2B Logo Kullanıcı Adı</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="text" id="B2BLogoKullaniciAdi" name="B2BLogoKullaniciAdi" class="form-control p-2" value="@ViewBag.B2B.B2BLogoKullaniciAdi">
                                    <!--end::Input-->
                                </div>
                                <!--begin::Input group-->


                                <div class="col-lg-6">
                                    <!--begin::Label-->
                                    <label for="B2BLogoParola" class="fw-bold text-gray-700 fs-6 mb-2">B2B Logo Parola</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="text" id="B2BLogoParola" name="B2BLogoParola" class="form-control p-2" value="@ViewBag.B2B.B2BLogoParola">
                                    <!--end::Input-->
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <!--begin::Label-->
                                    <label for="B2BLogoSirket" class="fw-bold text-gray-700 fs-6 mb-2">Şirket</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="text" id="B2BLogoSirket" name="B2BLogoSirket" class="form-control p-2" value="@ViewBag.B2B.B2BLogoSirket">
                                    <!--end::Input-->
                                </div>

                            </div>

                            <div class="pt-10">
                                <a onclick="history.back()" class="btn btn-light btn-sm me-3" data-kt-users-modal-action="cancel">Geri</a>
                                <button type="submit" class="btn btn-primary btn-sm" data-kt-users-modal-action="Kaydet">
                                    <span class="indicator-label">Kaydet</span>

                                </button>
                            </div>


                        </form>
                    </div>
                </div>
                <div class="tab-pane fade " id="tab_seo" style="margin:10px;">
                    <div class="container mt-10">
                        <form action="/Ayarlar/SeoAyarlari" method="post">

                            <div class="row mb-12">
                                <!--begin::Input group-->
                                <div class="col-lg-4">
                                    <!--begin::Label-->
                                    <label for="SeoDescription" class="fw-bold text-gray-700 fs-6 mb-2">Seo Açıklaması</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="text" id="SeoDescription" name="SeoDescription" class="form-control p-2" value="@ViewBag.SEO.SeoDescription">
                                    <!--end::Input-->
                                </div>
                                <!--begin::Input group-->


                                <div class="col-lg-4">
                                    <!--begin::Label-->
                                    <label for="SeoKeywords" class="fw-bold text-gray-700 fs-6 mb-2">SeoAnahtar Kelimeler</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="text" id="SeoKeywords" name="SeoKeywords" class="form-control p-2" value="@ViewBag.SEO.SeoKeywords">
                                    <!--end::Input-->
                                </div>

                                <div class="col-lg-4">
                                    <!--begin::Label-->
                                    <label for="FirmaAdi" class="fw-bold text-gray-700 fs-6 mb-2">Firma Adı</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="text" id="FirmaAdi" name="FirmaAdi" class="form-control p-2" value="@ViewBag.SEO.FirmaAdi">
                                    <!--end::Input-->
                                </div>
                            </div>
                            <div class="row mb-12">
                                <!--begin::Input group-->
                                <div class="col-lg-2 d-flex align-items-center ">
                                    <div class="form-check">
                                        <input class="form-check-input" name="SSLYonlendir" type="checkbox" value="true" id="SSLYonlendir"  @(ViewBag.SEO.SSLYonlendir ? "checked" : "") />
                                        <label class="form-check-label user-select-none cursor-pointer" for="SSLYonlendir">
                                            SSL Yönlendir
                                        </label>
                                    </div>
                                </div>
                                <!--begin::Input group-->


                                <div class="col-lg-2 d-flex align-items-center ">
                                    <div class="form-check">
                                        <input class="form-check-input" name="AnaSayfadaAcilisSayfasiKontrolu" type="checkbox" value="true" id="AnaSayfadaAcilisSayfasiKontrolu" @(ViewBag.SEO.AnaSayfadaAcilisSayfasiKontrolu ? "checked" : "")  />
                                        <label class="form-check-label user-select-none cursor-pointer" for="AnaSayfadaAcilisSayfasiKontrolu">
                                            AnaSayfada Açılış Sayfası Kontrolü
                                        </label>
                                    </div>
                                </div>

                                <div class="col-lg-2 d-flex align-items-center ">
                                    <div class="form-check">
                                        <input class="form-check-input" name="IlkUyelikdeKullaniciyiOnayliYap" type="checkbox" value="true" id="IlkUyelikdeKullaniciyiOnayliYap" @(ViewBag.SEO.IlkUyelikdeKullaniciyiOnayliYap ? "checked" : "") />
                                        <label class="form-check-label user-select-none cursor-pointer" for="IlkUyelikdeKullaniciyiOnayliYap">
                         
                                            İlk Üyelikte Kullanıcıyı Onaylı YAp
                                        </label>
                                    </div>
                                </div>

                                <div class="col-lg-2 d-flex align-items-center ">
                                    <div class="form-check">
                                        <input class="form-check-input" name="YeniUyelikKaydi" type="checkbox" value="true" id="YeniUyelikKaydi" @(ViewBag.SEO.YeniUyelikKaydi ? "checked" : "") />
                                        <label class="form-check-label user-select-none cursor-pointer" for="YeniUyelikKaydi">
                                            Yeni Üyelik Kaydı
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-2 d-flex align-items-center ">
                                    <div class="form-check">
                                        <input class="form-check-input" name="SifremiUnuttum" type="checkbox" value="true" id="SifremiUnuttum" @(ViewBag.SEO.SifremiUnuttum ? "checked" : "") />
                                        <label class="form-check-label user-select-none cursor-pointer" for="SifremiUnuttum">
                                            Şifremi Unuttum
                                        </label>
                                    </div>
                                </div>

                            </div>
                            

                            <div class="pt-10">
                                <a onclick="history.back()" class="btn btn-light btn-sm me-3" data-kt-users-modal-action="cancel">Geri</a>
                                <button type="submit" class="btn btn-primary btn-sm" data-kt-users-modal-action="Kaydet">
                                    <span class="indicator-label">Kaydet</span>

                                </button>
                            </div>


                        </form>
                    </div>

                </div>
                <div class="tab-pane fade" id="tab_sms" style="margin:10px;">
                    <div class="container mt-10">
                        <form action="/Ayarlar/B2BAyarlari" method="post">

                            <div class="row mb-12">
                                <!--begin::Input group-->
                                <div class="col-lg-6">
                                    <!--begin::Label-->
                                    <label for="SmsKullaniciAdi" class="fw-bold text-gray-700 fs-6 mb-2">Sms Kullanıcı Adı</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="text" id="SmsKullaniciAdi" name="SmsKullaniciAdi" class="form-control p-2" value="@ViewBag.SMS.SmsKullaniciAdi">
                                    <!--end::Input-->
                                </div>
                                <!--begin::Input group-->


                                <div class="col-lg-6">
                                    <!--begin::Label-->
                                    <label for="SmsParola" class="fw-bold text-gray-700 fs-6 mb-2">Sms Parola</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="text" id="SmsParola" name="SmsParola" class="form-control p-2" value="@ViewBag.SMS.SmsParola">
                                    <!--end::Input-->
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <!--begin::Label-->
                                    <label for="SmsIsim" class="fw-bold text-gray-700 fs-6 mb-2">Sms İsim</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="text" id="SmsIsim" name="SmsIsim" class="form-control p-2" value="@ViewBag.SMS.SmsIsim">
                                    <!--end::Input-->
                                </div>

                            </div>

                            <div class="pt-10">
                                <a onclick="history.back()" class="btn btn-light btn-sm me-3" data-kt-users-modal-action="cancel">Geri</a>
                                <button type="submit" class="btn btn-primary btn-sm" data-kt-users-modal-action="Kaydet">
                                    <span class="indicator-label">Kaydet</span>

                                </button>
                            </div>


                        </form>
                    </div>
                </div> 
            </div>
        </div>
        </div>
</div>