@using System.Data
@model System.Data.DataTable
@{
    ViewBag.Title = "Ford Aktarım";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<form action="@Url.Action("AnaSayfa","FordAktarim",new { Area = "Entegrasyon" })" method="post">
    <input type="date" name="Tarih" value="@ViewBag.Tarih.ToString("yyyy-MM-dd")" />
    <input type="submit" name="name" value="Faturaları Getir @ViewBag.Tarih" />

</form>

@if (ViewBag.dtBelgeler != null)
{
    DataTable dtBelgeler = ViewBag.dtBelgeler as DataTable;
<table border="1">
    <thead>
        <tr>
            <th><strong>Sec</strong></th>
            <th><strong>Akt</strong></th>
            <th><strong>Modul</strong></th>
            <th><strong>Tipi</strong></th>
            <th><strong>Döviz</strong></th>
            <th><strong>Sat.Sayisi</strong></th>
            <th><strong>FaturaNo</strong></th>
            <th><strong>Netsis FaturaNo</strong></th>
            <th><strong>IşEmriNo</strong></th>
            <th><strong>Tarih</strong></th>
            <th><strong>Tutar</strong></th>
            <th><strong>Cari Kodu</strong></th>
            <th><strong>Netsis Cari Kodu</strong></th>
            <th><strong>Ünvan</strong></th>
            <th><strong>Şehir</strong></th>
            <th><strong>Plaka-KM</strong></th>
            <th><strong>Dosya No</strong></th>
            <th><strong>Siparis No</strong></th>
            <th><strong>Aktarım Durumu</strong></th>
            <th><strong>VDaire</strong></th>
            <th><strong>Vkn</strong></th>
            <th><strong>Email</strong></th>
            <th><strong>Telefon</strong></th>
            <th><strong>Adres</strong></th>
            <th><strong>Ulke</strong></th>
            <th><strong>Müşteri No</strong></th>
        </tr>
    </thead>
    <tbody>
        @foreach (DataRow satir in dtBelgeler.Rows)
        {
            <tr>
                <td style="padding:3px;" class="text-nowrap">@satir["BSec"]</td>
                <td style="padding:3px;" class="text-nowrap">@satir["SAkt"]</td>
                <td style="padding:3px;" class="text-nowrap">@satir["SModul"]</td>
                <td style="padding:3px;" class="text-nowrap">@satir["STipi"]</td>
                <td style="padding:3px;" class="text-nowrap">@satir["SDöviz"]</td>
                <td style="padding:3px;" class="text-nowrap">@satir["SSat.Sayisi"]</td>
                <td style="padding:3px;" class="text-nowrap">@satir["SFaturaNo"]</td>
                <td style="padding:3px;" class="text-nowrap">@satir["SNetsis FaturaNo"]</td>
                <td style="padding:3px;" class="text-nowrap">@satir["SIşEmriNo"]</td>
                <td style="padding:3px;" class="text-nowrap">@satir["STarih"]</td>
                <td style="padding:3px;" class="text-nowrap">@satir["STutar"]</td>
                <td style="padding:3px;" class="text-nowrap">@satir["SCari Kodu"]</td>
                <td style="padding:3px;" class="text-nowrap">@satir["SNetsis Cari Kodu"]</td>
                <td style="padding:3px;" class="text-nowrap">@satir["SÜnvan"]</td>
                <td style="padding:3px;" class="text-nowrap">@satir["SŞehir"]</td>
                <td style="padding:3px;" class="text-nowrap">@satir["SPlaka-KM"]</td>
                <td style="padding:3px;" class="text-nowrap">@satir["SDosya No"]</td>
                <td style="padding:3px;" class="text-nowrap">@satir["SSiparis No"]</td>
                <td style="padding:3px;" class="text-nowrap">@satir["SAktarım Durumu"]</td>
                <td style="padding:3px;" class="text-nowrap">@satir["SVDaire"]</td>
                <td style="padding:3px;" class="text-nowrap">@satir["SVkn"]</td>
                <td style="padding:3px;" class="text-nowrap">@satir["SEmail"]</td>
                <td style="padding:3px;" class="text-nowrap">@satir["STelefon"]</td>
                <td style="padding:3px;" class="text-nowrap">@satir["SAdres"]</td>
                <td style="padding:3px;" class="text-nowrap">@satir["SUlke"]</td>
                <td style="padding:3px;" class="text-nowrap">@satir["SMüşteri No"]</td>
            </tr>
        }
    </tbody>
</table>
}

@section scripts {

   

}

