@using System.Data
@model System.Data.DataTable
@{
    ViewBag.Title = "Satınalma - Yeni Talep";
    Layout = "~/Views/Shared/_Layout.cshtml";

    DataTable dtSubeler = ViewBag.dtSubeler as DataTable;
    DataTable dtKategori1 = ViewBag.dtKategori1 as DataTable;
    int sayi = Model.Rows.Count;
}

<div class="Conteiner-fluid">
    <div class="card card-flush w-100 p-6">
        <form action="/Satinalma/YKSatinalma/YeniTalep" method="post">
            <div class="row mb-2">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="form-label fs-6 fw-bold text-gray-600 mb-2 pt-2 pe-2">Şube</label>
                        <select id="Sube" class="form-control p-1 rounded-1" name="Sube">
                            @foreach (DataRow satir in dtSubeler.Rows)
                            {
                                if (Convert.ToBoolean(satir["Yetki"]))
                                {
                                    <option value="@satir["Kod"]" @(ViewBag.Sube == Convert.ToString(satir["Kod"]) ? "selected" : "")>@satir["Isim"]</option>
                                }
                            }
                        </select>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="form-label fs-4 fw-bold text-gray-600 mb-2 pt-2 pe-2">Kategori 1</label>
                        <select id="Kategori1" class="form-control p-1 rounded-1" name="Kategori1" onchange="SecimKategori1();">
                            <option value="">Kategori Seçimi</option>
                            @foreach (DataRow satir in dtKategori1.Rows)
                            {
                                if (ViewBag.Kategori1 == Convert.ToString(satir["Kategori1"]))
                                {

                                }
                                <option value="@satir["Kategori1"]" @(ViewBag.Kategori1 == Convert.ToString(satir["Kategori1"]) ? "selected" : "")>@satir["Kategori1"]</option>
                            }
                        </select>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="form-label fs-6 fw-bold text-gray-600 mb-2 pt-2 pe-2">Kategori 2</label>
                        <select id="Kategori2" class="form-control p-1 rounded-1" name="Kategori2" onchange="SecimKategori2();">
                        </select>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="form-label fs-6 fw-bold text-gray-600 mb-2 pt-2 pe-2">Kategori 3</label>
                        <select id="Kategori3" class="form-control p-1 rounded-1" name="Kategori3">
                        </select>
                    </div>

                </div>
            </div>
            <div class="row mb-2">

                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="form-label fs-6 fw-bold text-gray-600 mb-2 pt-2 pe-2">Aranacak Kelime</label>
                        <input type="text" value="" class="form-control p-1 rounded-1" id="AranacakKelime" name="AranacakKelime" />
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="form-group mt-6">

                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="form-group mt-6">

                    </div>

                </div>
                <div class="col-lg-3 text-end">
                    <div class="form-group mt-6">
                        <input type="submit" name="name" value="Getir" class="btn btn-primary btn-sm" />
                        <input type="button" name="btnKaydet" id="btnKaydet" value="Kaydet" class="btn btn-primary  btn-sm" onclick="Kaydet();" />
                    </div>

                </div>
            </div>




        </form>
    </div>
</div>






<div style="clear:both;"></div>

<div class="container-fluid mt-6 ">
    <div class="col-lg-12">
        <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
            <!--begin::Post-->
            <div class="post d-flex flex-column-fluid overflow-hidden" id="kt_post">
                <!--begin::Container-->
                <div id="kt_content_container p-0" class="container-fluid p-0 m-0">
                    <div class="card card-flush">
                        <div class="card-header align-items-center py-5 gap-2 gap-md-5 px-4">
                            <div class="card-title">
                                <!--begin::Search-->
                                <div class="d-flex align-items-center position-relative my-1">
                                    <i class="ki-duotone ki-magnifier fs-3 position-absolute m-4">
                                        <span class="path1 text-gray-500"></span>
                                        <span class="path2 text-gray-500"></span>
                                    </i>
                                    <input type="text" data-kt-filter="search" class="form-control  w-250px py-1 ps-14" placeholder="Kişi Ara" />
                                </div>
                                <!--end::Search-->
                                <!--begin::Export buttons-->
                                <div id="kt_datatable_example_1_export" class="d-none"></div>
                                <!--end::Export buttons-->
                            </div>
                            <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
                                <!--begin::Export dropdown-->
                                <button type="button" class="btn btn-light-primary btn-sm fw-bold" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                                    <i class="ki-duotone ki-exit-down fs-2"><span class="path1"></span><span class="path2"></span></i>
                                    Dışarı aktar
                                </button>
                                <!--begin::Menu-->
                                <div id="kt_datatable_example_export_menu" class="menu menu-sub menu-sub-dropdown menu-column menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-200px p-0" data-kt-menu="true">
                                    <!--begin::Menu item-->
                                    <div class="menu-item p-0">
                                        <a href="#" class="menu-link px-2 py-0" data-kt-export="copy">
                                            Panoya Kopyala
                                        </a>
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item p-0">
                                        <a href="#" class="menu-link px-2 py-0" data-kt-export="excel">
                                            Excel olarak dışarı aktar
                                        </a>
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item p-0">
                                        <a href="#" class="menu-link px-2 py-0" data-kt-export="csv">
                                            CSV olarak dışarı aktar
                                        </a>
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item p-0">
                                        <a href="#" class="menu-link px-2 py-0" data-kt-export="pdf">
                                            PDF olarak dışarı aktar
                                        </a>
                                    </div>
                                    <!--end::Menu item-->
                                </div>
                                <!--end::Menu-->
                                <!--end::Export dropdown-->
                                <!--begin::Hide default export buttons-->
                                <div id="kt_datatable_example_buttons" class="d-none"></div>
                                <!--end::Hide default export buttons-->

                            </div>
                        </div>

                        <div class="px-4 mt-4 scroll-x  w-100">
                            <div class=" w-100">
                                @if (Model != null)
                                {
                                    <table class="table align-middle rounded-0 table-row-dashed  fs-6 g-5" id="TabloListe">
                                        <thead>
                                            <!--begin::Table row-->
                                            <tr class="text-start" style="font-size:15px;">
                                                <th class="min-w-125px text-gray-600"><strong>Kategori1</strong></th>
                                                <th class="min-w-125px text-gray-600"><strong>Kod </strong></th>
                                                <th class="min-w-125px text-gray-600"><strong>İsim (@(sayi) kayıt mevcut.)</strong></th>
                                                <th class="min-w-125px text-gray-600"><strong>Stok</strong></th>
                                                <th class="min-w-125px text-gray-600"><strong>Talep Miktar</strong></th>
                                                <th class="min-w-125px text-gray-600"><strong>Açıklama</strong></th>
                                                <th class=" text-gray-600 d-none no-export"><strong>Dosya</strong></th>


                                            </tr>
                                            <!--end::Table row-->
                                        </thead>

                                        <tbody class="text-gray-600 fw-semibold">
                                            @foreach (DataRow satir in Model.Rows)
                                            {
                                                string renk = "";
                                                if (Model != null && Model.Rows.Count > 0)
                                                {
                                                    <tr>


                                                        <td>
                                                            @(string.IsNullOrEmpty(Convert.ToString(satir["Kategori1"])) ? "Veri Yok" : satir["Kategori1"])
                                                        </td>
                                                        <td>
                                                            @(string.IsNullOrEmpty(Convert.ToString(satir["StokKodu"])) ? "Veri Yok" : satir["StokKodu"])
                                                        </td>
                                                        <td>
                                                            @(string.IsNullOrEmpty(Convert.ToString(satir["StokAdi"])) ? "Veri Yok" : satir["StokAdi"])
                                                        </td>
                                                        <td> @(satir["Bakiye"] == DBNull.Value ? "Veri Yok" : String.Format("{0:N2} {1}", Convert.ToDecimal(satir["Bakiye"]), satir["OlcuBirimi"]))</td>
                                                        <td>
                                                            <div class="d-flex">
                                                                <input class="form-control p-1 rounded-1" style="width:50px;" type="text" data-id="@satir["ID"]" name="Miktar_@(Convert.ToString(satir["IDTresiz"]))" id="Miktar_@(Convert.ToString(satir["IDTresiz"]))" value="0" onchange="TutarKontroluYap(this);" />
                                                                <div class="ms-2">
                                                                    @satir["OlcuBirimi"]
                                                                </div>
                                                            </div>

                                                        </td>
                                                        <td> <textarea class="form-control p-1 rounded-1" rows="1" id="Aciklama_@(Convert.ToString(satir["IDTresiz"]))" name="Aciklama_@(Convert.ToString(satir["IDTresiz"]))"></textarea></td>
                                                        <td style="display: none;"><input type="file" name="Dosya_@(Convert.ToString(satir["IDTresiz"]))" id="Dosya_@(Convert.ToString(satir["IDTresiz"]))" value="" accept="image/png, image/gif, image/jpeg,application/pdf,application/vnd.ms-excel" /></td>

                                                    </tr>

                                                }
                                            }
                                        </tbody>
                                    </table>

                                }
                            </div>
                        </div>
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Post-->
            </div>

        </div>
    </div>
</div>


@*<div class="card card-flush w-100 p-6 mt-10">
    @if (Model != null)
    {
        foreach (DataRow satir in Model.Rows)
        {
            string renk = "";
            if (Model != null && Model.Rows.Count > 0)
            {
                <div class="row align-items-center justify-content-center text-align-center grid gap-3">
                    <div class="col-lg-1">
                        <label class="form-label fs-6 fw-bold text-gray-600 mb-3 pt-2 border-bottom border-secondary px-3 w-100">Kategori 1</label>
                        <div class="px-3">

                            @(string.IsNullOrEmpty(Convert.ToString(satir["Kategori1"])) ? "Veri Yok" : satir["Kategori1"])
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <label class="form-label fs-6 fw-bold text-gray-600 mb-3 pt-2 border-bottom border-secondary px-3 w-100">Kod</label>
                        <div class="px-3">
                            @(string.IsNullOrEmpty(Convert.ToString(satir["StokKodu"])) ? "Veri Yok" : satir["StokKodu"])

                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label class="form-label fs-6 fw-bold text-gray-600 mb-3 pt-2 border-bottom border-secondary px-3 w-100">İsim (@(sayi) kayıt mevcut.)</label>
                        <div class="px-3">
                            @(string.IsNullOrEmpty(Convert.ToString(satir["StokAdi"])) ? "Veri Yok" : satir["StokAdi"])
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <label class="form-label fs-6 fw-bold text-gray-600 mb-3 pt-2 border-bottom border-secondary px-3 w-100">Stok</label>
                        <div class="px-3">
                            @(satir["Bakiye"] == DBNull.Value ? "Veri Yok" : String.Format("{0:N2} {1}", Convert.ToDecimal(satir["Bakiye"]), satir["OlcuBirimi"]))
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <label class="form-label fs-6 fw-bold text-gray-600 mb-3 pt-2 border-bottom border-secondary px-3 w-100">Talep Miktarı</label>
                        <div class="d-flex align-items-center justify-content-center text-align-center">
                            <input class="form-control p-2 rounded-1" type="text" data-id="@satir["ID"]" name="Miktar_@(Convert.ToString(satir["IDTresiz"]))" id="Miktar_@(Convert.ToString(satir["IDTresiz"]))" value="0" onchange="TutarKontroluYap(this);" />
                            <div class="ms-2">
                                @satir["OlcuBirimi"]
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label class="form-label fs-6 fw-bold text-gray-600 mb-3 pt-2 border-bottom border-secondary px-3 w-100">Açıklama</label>
                        <textarea class="form-control p-2 rounded-1" rows="1" id="Aciklama_@(Convert.ToString(satir["IDTresiz"]))" name="Aciklama_@(Convert.ToString(satir["IDTresiz"]))"></textarea>
                    </div>
                    <div class="">
                        <label class="form-label fs-6 fw-bold text-gray-600 mb-3 pt-2 border-bottom border-secondary px-3 w-100 d-none">Dosya</label>
                        <input type="file" class="d-none" name="Dosya_@(Convert.ToString(satir["IDTresiz"]))" id="Dosya_@(Convert.ToString(satir["IDTresiz"]))" value="" accept="image/png, image/gif, image/jpeg,application/pdf,application/vnd.ms-excel" />
                    </div>
                </div>

            }
            else
            {
                <div class="alert alert-warning text-center">
                    Veri bulunamadı.
                </div>
            }


        }

    }
</div>*@

@section scripts {

    <script type="text/javascript">


            function Kaydet() {
            $("#btnKaydet").val("Bekleyin...");
            var table = document.getElementById("TabloListe");
                var SonucBilgilendirme = "";
             for (var i = 1, row; row = table.rows[i]; i++)
             {
                 //satırları dönüyoruz 1 satır veri olduğu için veri satırını dönüyoruz
                 for (var j = 1, col; col = row.cells[j]; j++)
                 {
                     //kolonları dönüyoruz
                     if (col.querySelector('input') != null) {
                         var MiktarID = col.querySelector('input').getAttribute("id");
                         var Miktar = $("#Miktar_" + MiktarID.split("_")[1]).val();
                         Miktar = Miktar.toString().replace(",", ".");

                         var Aciklama = $("#Aciklama_" + MiktarID.split("_")[1]).val();
                         var SubeKodu = $("#Sube").val();
                         if (Miktar > 0) {
                             var formData = null;// new FormData(document.getElementById("Dosya_" + MiktarID.split("_")[1]));
                             var formData = new FormData();
                             //formData.append('id', MiktarID.split("_")[1]);
                             formData.append('id', col.querySelector('input').getAttribute("data-id"));
                             formData.append('SubeKodu', SubeKodu);
                             formData.append('miktar', Miktar);
                             formData.append('aciklama', Aciklama);
                             formData.append('Dosya', $('#Dosya_' + MiktarID.split("_")[1])[0].files[0]);

                             $.ajax({
                                 type: "POST",
                                 url: '/Satinalma/YKSatinalma/TalepKaydet',
                                 data: formData,
                                 dataType: "json",
                                 enctype: 'multipart/form-data',
                                 async: false,
                                 contentType: false,
                                 processData: false,
                                 //contentType: "application/json; charset=utf-8",
                                 //dataFilter: function (data) { return data; },
                                 success: function (data) {
                                     if (data.SonucKodu == "1") {
                                         if (SonucBilgilendirme.indexOf(data.Aciklama) < 0) {
                                             SonucBilgilendirme += data.Aciklama;
                                         }
                                         $("#Miktar_" + MiktarID.split("_")[1]).val("0");
                                         $("#Aciklama_" + MiktarID.split("_")[1]).val("");
                                         $("#Dosya_" + MiktarID.split("_")[1]).val("");
                                     } else {
                                         Swal.fire({
                                             position: "center",
                                             icon: "error",
                                             title: data.Aciklama,
                                             showConfirmButton: true,
                                             //timer: 3000
                                         });
                                         return;
                                     }
                                 },
                                 error: function (msg) {

                                     Swal.fire({
                                         position: "center",
                                         icon: "error",
                                         title: msg,
                                         showConfirmButton: false,
                                         timer: 1500
                                     });
                                     return;
                                 }
                             });
                         }

                     }
                 }
                }
                if (SonucBilgilendirme == "" || SonucBilgilendirme == null) {
                    SonucBilgilendirme = "Talepler başarıyla kaydedildi.";
                }
             Swal.fire({
                 position: "center",
                 icon: "success",
                 title: SonucBilgilendirme,
                 showConfirmButton: true,
                 //timer: 3000
             });
            $("#btnKaydet").val("Kaydet");
        }



        function SecimKategori1() {
            var Kategori1 = $("#Kategori1").val();
            var SecilenKategori2 = "@(ViewBag.Kategori2)";

            $.ajax({
                async: false,
                cache: false,
                type: "GET",
                url: "/Satinalma/YKSatinalma/JsonGetirKategori2",
                data: { "Kategori1": Kategori1 },
                success: function (data2) {

                    $('#Kategori2').empty();
                    $('#Kategori2')
                        .append($("<option></option>")
                            .attr("value", "")
                            .text("Kategori Seçimi"));
                    $.each(data2.Data, function (data3, key, value) {
                        $('#Kategori2')
                            .append($("<option " + (SecilenKategori2 == key.Isim ? "selected" : "")+"></option>")
                                .attr("value", key.Isim)
                                .text(key.Isim));
                    });
                    SecimKategori2();
                },
                error: function (data) {
                }
            });
        }

        function SecimKategori2() {
            var Kategori1 = $("#Kategori1").val();
            var Kategori2 = $("#Kategori2").val();
            var SecilenKategori3 = "@(ViewBag.Kategori3)";

            $.ajax({
                async: false,
                cache: false,
                type: "GET",
                url: "/Satinalma/YKSatinalma/JsonGetirKategori3",
                data: { "Kategori1": Kategori1, "Kategori2": Kategori2 },
                success: function (data2) {

                    $('#Kategori3').empty();
                    $('#Kategori3')
                        .append($("<option></option>")
                            .attr("value", "")
                            .text("Kategori Seçimi"));
                    $.each(data2.Data, function (data3, key, value) {
                        $('#Kategori3')
                            .append($("<option " + (SecilenKategori3 == key.Isim ? "selected" : "") +"></option>")
                                .attr("value", key.Isim)
                                .text(key.Isim));
                    });
                },
                error: function (data) {
                }
            });
        }

        SecimKategori1();
            SecimKategori2();


            // Class definition
            var KTDatatablesExample = function () {
                // Shared variables
                var table;
                var datatable;

                // Private functions
                var initDatatable = function () {
                    // Set date data order
                    const tableRows = table.querySelectorAll('tbody tr');

                    // Init datatable --- more info on datatables: https://datatables.net/manual/
                    datatable = $(table).DataTable({
                        "info": false,

                        'order': [],
                        paging: false,
                        columnDefs: [
                            {
                                targets: [0, 6],
                                className: 'noVis'
                            },
                        ]

                    });

                    datatable.on('columns-reordered', function (e, settings, details) {
                        KTMenu.createInstances();
                    });
                }

                // Hook export buttons
                var exportButtons = () => {
                    const documentTitle = 'TabloListe-' + moment(new Date()).format("DD-MM-YYYY");
                    var buttons = new $.fn.dataTable.Buttons(table, {
                        buttons: [
                            {
                                extend: 'copyHtml5',
                                title: documentTitle,
                                exportOptions: {
                                    columns: ['th:not(.no-export)'],
                                }
                            },
                            {
                                extend: 'excelHtml5',
                                title: documentTitle,
                                exportOptions: {
                                    columns: ['th:not(.no-export)'],
                                }
                            },
                            {
                                extend: 'csvHtml5',
                                title: documentTitle,
                                exportOptions: {
                                    columns: ['th:not(.no-export)'],
                                }
                            },
                            {
                                extend: 'pdfHtml5',
                                title: documentTitle,
                                exportOptions: {
                                    columns: ['th:not(.no-export)'],
                                }
                            }
                        ]
                    }).container().appendTo($('#kt_datatable_example_buttons'));

                    // Hook dropdown menu click event to datatable export buttons
                    const exportButtons = document.querySelectorAll('#kt_datatable_example_export_menu [data-kt-export]');
                    exportButtons.forEach(exportButton => {
                        exportButton.addEventListener('click', e => {
                            e.preventDefault();

                            // Get clicked export value
                            const exportValue = e.target.getAttribute('data-kt-export');
                            const target = document.querySelector('.dt-buttons .buttons-' + exportValue);

                            // Trigger click event on hidden datatable export buttons
                            target.click();
                        });
                    });
                }

                // Search Datatable --- official docs reference: https://datatables.net/reference/api/search()
                var handleSearchDatatable = () => {
                    const filterSearch = document.querySelector('[data-kt-filter="search"]');
                    filterSearch.addEventListener('keyup', function (e) {
                        datatable.search(e.target.value).draw();
                    });
                }

                // Public methods
                return {
                    init: function () {
                        table = document.querySelector('#TabloListe');

                        if (!table) {
                            return;
                        }

                        initDatatable();
                        exportButtons();
                        handleSearchDatatable();
                    }
                };
            }();

            // On document ready
            KTUtil.onDOMContentLoaded(function () {
                KTDatatablesExample.init();
            });
    </script>

}

