
@using System.Data
@{
    ViewBag.Title = "Depo Otomasyonu";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string KullaniciID = Request.Cookies["KullaniciID"].Value;

    DataTable dt = new DataTable();
    if (ViewBag.dtDetay != null)
    {
       dt= ViewBag.dtDetay as DataTable;
    }
}

<div style="padding:20px;text-align:center;">

    <form action="@Url.Content("~/Depo/NetsisDepo/NetsisStokEkbilgiDuzenle")" method="get">
        <table border="0" style="width:100%;">
            <tr>
                <td>
                    <label>Stok Kodu</label>
                </td>
                <td colspan="2">
                    <input type="text" name="Belge_Barkod" value="@(dt.Rows.Count > 0 ?  Convert.ToString( dt.Rows[0]["STOK_KODU"]) : "")" class="form-control" style="font-size:10px;width:100%;" autofocus />
                </td>
            </tr>        
        </table>
        <hr />
        <h4><span style="color:red;">@ViewBag.Uyarı</span></h4>
    </form>
    <form action="@Url.Content("~/Depo/NetsisDepo/NetsisStokEkBilgi_Guncelle")" method="post">

        <input type="hidden" name="Stok_Kodu" value="@(dt.Rows.Count > 0 ?  Convert.ToString( dt.Rows[0]["STOK_KODU"]) : "")" class="form-control" style="font-size:10px;width:100%;" />
        <table border="0" style="width:100%;">
            <tr>
                <td>
                    <label> Stok Adı</label>
                </td>
                <td colspan="2">
                    <input type="text" disabled name="Stok_Adi" value="@(dt.Rows.Count > 0 ?  Convert.ToString( dt.Rows[0]["STOK_ADI"]) : "")" class="form-control" style="font-size:10px;width:100%;" />
                </td>
            </tr>
            <tr>
                <td>
                    <label> Raf 1 </label>
                </td>
                <td colspan="2">
                    <input type="text" name="Okutma_Kull1" value="@(dt.Rows.Count > 0 ?  Convert.ToString( dt.Rows[0]["KULL1S"]) : "")" class="form-control" style="font-size:10px;width:100%;" />
                </td>
            </tr>
            <tr>
                <td>
                    <label> Raf 2 </label>
                </td>
                <td colspan="2">
                    <input type="text" name="Okutma_Kull2" value="@(dt.Rows.Count > 0 ?  Convert.ToString( dt.Rows[0]["KULL2S"]) : "")" class="form-control" style="font-size:10px;width:100%;" />
                </td>
            </tr>
            <tr>
                <td>
                    <label> Raf 3 </label>
                </td>
                <td colspan="2">
                    <input type="text" name="Okutma_Kull3" value="@(dt.Rows.Count > 0 ?  Convert.ToString( dt.Rows[0]["KULL3S"]) : "")" class="form-control" style="font-size:10px;width:100%;" />
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <hr />
                <td>
            </tr>
            
            <tr>
                <td colspan="2">
                </td>
                <td >
                    <input type="submit" name="name" value="Kaydet" class="btn btn-block btn-default" />
                </td>
            </tr>
        </table>

    </form>



</div>