@using System.Data
@{
    ViewBag.Title = "Depo Otomasyonu";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string KullaniciID = Request.Cookies["KullaniciID"].Value;

    DataTable dt = new DataTable();
    if (ViewBag.dtDetay != null)
    {
        dt = ViewBag.dtDetay as DataTable;
    }
}

<div style="padding:20px;text-align:center;">

    <form action="@Url.Content("~/Depo/NetsisDepo/NetsisStokEkbilgiDuzenle")" method="get">
        <table border="0" style="width:100%;">
            <tr>
                <td>
                    <label>Stok Kodu</label>
                </td>
                <td colspan="2">
                    <input type="text" name="Belge_Barkod" id="Belge_Barkod" value="@(dt.Rows.Count > 0 ?  Convert.ToString( dt.Rows[0]["STOK_KODU"]) : "")" class="form-control" style="font-size:10px;width:100%;" autofocus />
                </td>
            </tr>
        </table>
        <hr />
        <h4><span style="color:red;">@ViewBag.Uyarı</span></h4>
    </form>
    <form action="@Url.Content("~/Depo/NetsisDepo/NetsisStokEkBilgi_Guncelle")" method="post">

        <input type="hidden" name="Stok_Kodu" id="Stok_Kodu" value="@(dt.Rows.Count > 0 ?  Convert.ToString( dt.Rows[0]["STOK_KODU"]) : "")" class="form-control" style="font-size:10px;width:100%;" />
        <table border="0" style="width:100%;">
            <tr>
                <td>
                    <label> Stok Adı</label>
                </td>
                <td colspan="2">
                    <input type="text" disabled name="Stok_Adi" value="@(dt.Rows.Count > 0 ?  Convert.ToString( dt.Rows[0]["STOK_ADI"]) : "")" class="form-control" style="font-size:10px;width:100%;" />
                </td>
            </tr>
            <tr>
                <td>
                    <label> Raf 1 </label>
                </td>
                <td colspan="2">
                    <input type="text" name="Okutma_Kull1" value="@(dt.Rows.Count > 0 ?  Convert.ToString( dt.Rows[0]["KULL1S"]) : "")" class="form-control" style="font-size:10px;width:100%;" />
                </td>
            </tr>
            <tr>
                <td>
                    <label> Raf 2 </label>
                </td>
                <td colspan="2">
                    <input type="text" name="Okutma_Kull2" value="@(dt.Rows.Count > 0 ?  Convert.ToString( dt.Rows[0]["KULL2S"]) : "")" class="form-control" style="font-size:10px;width:100%;" />
                </td>
            </tr>
            <tr>
                <td>
                    <label> Raf 3 </label>
                </td>
                <td colspan="2">
                    <input type="text" name="Okutma_Kull3" value="@(dt.Rows.Count > 0 ?  Convert.ToString( dt.Rows[0]["KULL3S"]) : "")" class="form-control" style="font-size:10px;width:100%;" />
                </td>
            </tr>

            <tr>
                <td>
                    <label> Barkod </label>
                </td>
                <td colspan="2">
                    <input type="text" name="Okutma_Barkod1" value="@(dt.Rows.Count > 0 ?  Convert.ToString( dt.Rows[0]["BARKOD1"]) : "")" class="form-control" style="font-size:10px;width:100%;" />
                </td>
            </tr>
            <tr>
                <td>
                    <label> Üretim Tarihi</label>
                </td>
                <td colspan="2">
                    <input type="text" name="Okutma_Barkod2" value="@(dt.Rows.Count > 0 ?  Convert.ToString( dt.Rows[0]["BARKOD2"]) : "")" class="form-control" style="font-size:10px;width:100%;" />
                </td>
            </tr>

            <tr>
                <td>
                    <label> Raf</label>
                </td>
                <td colspan="2">
                    <input type="text" name="Okutma_OncekiKod" value="@(dt.Rows.Count > 0 ?  Convert.ToString( dt.Rows[0]["ONCEKI_KOD"]) : "")" class="form-control" style="font-size:10px;width:100%;" />
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <hr />
                <td>
            </tr>
            <tr>
                <td style="text-align:left;">

                    <strong><span id="Bilgilendirme" name="Bilgilendirme"></span></strong>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                </td>
                <td>
                    <input type="submit" name="name" value="Kaydet" class="btn btn-block btn-default" />
                </td>
            </tr>
        </table>
        <table class="table">
            <tr>
                <td>Şube</td>
                <td>Depo</td>
                <td>Bakiye</td>
            </tr>
            @if (ViewBag.dtBakiyeler != null)
            {
                foreach (DataRow dr in ((DataTable)ViewBag.dtBakiyeler).Rows)
                {
        <tr>
            <td>@dr["SUBE_KODU"]</td>
            <td>@dr["DEPO_KODU"]</td>
            <td>@String.Format("{0:N2}",Convert.ToDecimal(dr["Bakiye"]))</td>
        </tr>
                }
            }
        </table>
    </form>

    @section Scripts {
        <script type="text/javascript">
            function BakiyeGetir() {

                $.ajax({
                    url: '/Stok/SelectStokDepoBakiye',
                    data: "{ StokID: '" + $("#Belge_Barkod").val() + "' }",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataFilter: function (data2) { return data2; },
                    success: function (data3) {
                        console.log("Bakiyeler" + data3.Data.length);
                        $('#Bilgilendirme').html("");
                        var deger = "";
                        var KayitCalisacak = false;
                        for (var i = 0; i < data3.Data.length; i++) {
                            deger += "" + data3.Data[i].Depo + " nolu depo bakiyesi : " + data3.Data[i].Bakiye + "</br>";

                        }
                        $('#Bilgilendirme').html(deger);
                    },
                    error: function (msg) {
                        console.log("HATA!" + msg.m);
                    }
                });
            }
            BakiyeGetir();
        </script>

    }
</div>