@model System.Data.DataTable
@{
    ViewBag.Title = "Duzenle";
    Layout = "~/Views/Shared/_LayoutTab.cshtml";
}


<div class="container">
    <form id="kt_modal_add_user_form" class="form container" action="@Url.Action("Duzenle","MailKaliplari",null)" method="post">
        <div class="d-flex flex-column mt-10">
            <input type="hidden" name="ID" value="@(Convert.ToString(Model.Rows[0]["ID"]))" />
            <!--begin::Row Input group-->
            <div class="row mb-7">
                <!--begin::Input group-->
                <div class="col-lg-6">
                    <!--begin::Label-->
                    <label class="fw-bold fs-6 mb-2">Kod</label>
                    <!--end::Label-->
                    <!--begin::Input-->
                    <input type="text" name="Kod" class="form-control  p-2 mb-3 mb-lg-0" placeholder="Kod" required value="@(Convert.ToString(Model.Rows[0]["Kod"]))" />

                    <!--end::Input-->
                </div>
                <!--end::Input group-->
                <!--begin::Input group-->
                <div class="col-lg-6">
                    <!--begin::Label-->
                    <label class="fw-bold fs-6 mb-2">İsim</label>
                    <!--end::Label-->
                    <!--begin::Input-->
                    <input type="text" name="Isim" class="form-control p-2 mb-3 mb-lg-0" autofocus required value="@(Convert.ToString(Model.Rows[0]["Isim"]))" />
                    <!--end::Input-->
                </div>
                <!--end::Input group-->
            </div>
            <!--end::Row Input group-->
            <!--begin::Row Input group-->
            <div class="row">
                <!--begin::Input group-->
                <div class="col-lg-12">
                    <!--begin::Label-->
                    <label class="fw-bold fs-6 mb-2">Icerik</label>
                    <!--end::Label-->
                    <!--begin::Input-->
                    <textarea name="Icerik" id="Icerik" class="form-control  p-2 mb-3 mb-lg-0">@(HttpUtility.HtmlDecode(Convert.ToString(Model.Rows[0]["Icerik"])))</textarea>

                    <!--end::Input-->
                </div>
                <!--end::Input group-->

            </div>
            <!--end::Row Input group-->

        </div>
        <!--begin::Actions-->
        <div class="pt-10">
            <a onclick="history.back()" class="btn btn-light btn-sm fw-bold me-3" data-kt-users-modal-action="cancel">Geri</a>
            <button type="submit" class="btn btn-primary btn-sm fw-bold" data-kt-users-modal-action="Kaydet">
                <span class="indicator-label">Kaydet</span>
                <span class="indicator-progress">
                    Lütfen Bekleyin...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
            </button>
        </div>
        <!--end::Actions-->
    </form>


</div>

@section Scripts {

    <script src="~/Tema/plugins/custom/tinymce/tinymce.min.js"></script>


    <script>

        $(document).ready(function () {
            var AciklamaEditorOptions = {
                selector: "#Icerik",
                height: 200,
                promotion: false
            };

            if (typeof KTThemeMode !== 'undefined') { // KTThemeMode varsa kontrol et
                if (KTThemeMode.getMode() === "dark") {
                    AciklamaEditorOptions["skin"] = "oxide-dark";
                    AciklamaEditorOptions["content_css"] = "dark";
                }
            }

            // tinyMCE init
            tinymce.init(AciklamaEditorOptions);


        });

    </script>

}