@using YKPortal.Models.Dto
@{
    ViewBag.Title = "Stok Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w-100">
    <div class="card container mt-8">

        <div class="card-body p-8">
            <form method="post" action="/Stok/Ekle">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="d-flex align-items-center mt-4 col-lg-4">
                                <div class="form-check ">
                                    <input class="form-check-input" type="checkbox" value="true" id="Durumu" name="Durumu" checked />
                                    <label class="form-check-label" for="Durumu">
                                        Durumu
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-4 form-group mt-4">
                                <label for="Kod" class=" form-label">Kod</label>
                                <input type="text" id="Kod" name="Kod" class="form-control p-2 rounded-1" placeholder="" />
                            </div>
                            <div class="col-lg-4 form-group mt-4">
                                <label for="Isim" class=" form-label">Kısa İsim</label>
                                <input type="text" id="Isim" name="Isim" class="form-control p-2 rounded-1" placeholder="" required />
                            </div>
                            <div class="col-lg-4 form-group mt-4">
                                <label for="Barkod" class="form-label">Barkod</label>
                                <input type="text" name="Barkod" class="form-control p-2 rounded-1" id="Barkod">
                            </div>
                            <div class="col-lg-4 form-group mt-4">
                                <label for="OlcuBirimi" class="form-label">Ölçü Birimi</label>
                                <input type="text" name="OlcuBirimi" class="form-control p-2 rounded-1" id="OlcuBirimi" value="Adet">
                            </div>
                            <div class="form-group col-lg-4 mt-4">
                                <label for="KdvAlis" class=" form-label">Kdv Alış</label>
                                <input type="text" name="KdvAlis" class="form-control p-2 rounded-1" placeholder="" id="KdvAlis" step="any" value="20" />
                            </div>
                            <div class="form-group col-lg-4 mt-4">
                                <label for="KdvSatis" class=" form-label">Kdv Satış</label>
                                <input type="text" name="KdvSatis" class="form-control p-2 rounded-1" placeholder="" id="KdvSatis" step="any" value="20" />
                            </div>
                            <div class="form-group col-lg-4 mt-4">
                                <label for="Otv" class=" form-label">Otv</label>
                                <input type="text" name="Otv" class="form-control p-2 rounded-1" placeholder="" id="Otv" step="any" value="0" />
                            </div>
                            <div class="form-group col-lg-4 mt-4">
                                <label for="OtvFiyat" class="form-label">Otv Fiyat</label>
                                <input type="text" name="OtvFiyat" class="form-control p-2 rounded-1" placeholder="" id="OtvFiyat" step="any" value="0" />
                            </div>
                            <div class="form-group col-lg-4 mt-4">
                                <label for="Oiv" class=" form-label">Oiv</label>
                                <input type="text" name="Oiv" class="form-control p-2 rounded-1" placeholder="" id="Oiv" step="any" value="0" />
                            </div>
                            <div class="form-group col-lg-4 mt-4">
                                <label for="TevkifatPay" class=" form-label">Tevkifat Pay</label>
                                <input type="text" name="TevkifatPay" class="form-control p-2 rounded-1" placeholder="" id="TevkifatPay" step="any" value="0" />
                            </div>
                            <div class="form-group col-lg-4 mt-4">
                                <label for="TevkifatPayda" class=" form-label">Tevkifat Payda</label>
                                <input type="text" name="TevkifatPayda" class="form-control p-2 rounded-1" placeholder="" id="TevkifatPayda" step="any" value="0" />
                            </div>
                            <div class="form-group col-lg-4 mt-4">
                                <label for="IskontoSatis1" class=" form-label">Iskonto Satış 1</label>
                                <input type="text" name="IskontoSatis1" class="form-control p-2 rounded-1" placeholder="" id="IskontoSatis1" step="any" value="0" />
                            </div>
                            <div class="form-group col-lg-4 mt-4">
                                <label for="VadeGunu" class=" form-label">Vade Günü</label>
                                <input type="text" name="VadeGunu" class="form-control p-2 rounded-1" placeholder="" id="VadeGunu" step="any" value="0" />
                            </div>
                            <div class="form-group col-lg-4 mt-4">
                                <label for="MinimumStok" class=" form-label">Minimum Stok</label>
                                <input type="text" name="MinimumStok" class="form-control p-2 rounded-1" placeholder="" id="MinimumStok" step="any" value="0" />
                            </div>
                            <div class="form-group col-lg-4 mt-4">
                                <label for="MaxsimumStok" class=" form-label">Maxsimum Stok</label>
                                <input type="text" name="MaxsimumStok" class="form-control p-2 rounded-1" placeholder="" id="MaxsimumStok" step="any" value="0" />
                            </div>

                            <div class="form-group col-lg-4 mt-4">
                                <label for="GrupKodu1ID" class="form-label">Grup Kodu 1</label>
                                <select class="form-select p-2 rounded-1" data-control="select2" name="GrupKodu1ID" id="GrupKodu1ID"
                                        aria-label="Floating label select example">
                                    <option value="">Lütfen Seçim Yapınız</option>
                                    @foreach (GrupKoduDto stokGrupKodlari1 in ViewBag.StokGrupKodlari1)
                                    {
                                        <option value="@stokGrupKodlari1.ID">@stokGrupKodlari1.Deger</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-lg-4 mt-4">
                                <label for="GrupKodu2ID" class="form-label">Grup Kodu 2</label>
                                <select class="form-select p-2 rounded-1" data-control="select2" name="GrupKodu2ID" id="GrupKodu2ID"
                                        aria-label="Floating label select example">
                                    <option value="">Lütfen Seçim Yapınız</option>
                                    @foreach (GrupKoduDto stokGrupKodlari2 in ViewBag.StokGrupKodlari2)
                                    {
                                        <option value="@stokGrupKodlari2.ID">@stokGrupKodlari2.Deger</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-lg-4 mt-4">
                                <label for="GrupKodu3ID" class="form-label">Grup Kodu 3</label>
                                <select class="form-select p-2 rounded-1" data-control="select2" name="GrupKodu3ID" id="GrupKodu3ID"
                                        aria-label="Floating label select example">
                                    <option value="">Lütfen Seçim Yapınız</option>
                                    @foreach (GrupKoduDto stokGrupKodlari3 in ViewBag.StokGrupKodlari3)
                                    {
                                        <option value="@stokGrupKodlari3.ID">@stokGrupKodlari3.Deger</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-lg-4 mt-4">
                                <label for="GrupKodu4ID" class="form-label">Grup Kodu 4</label>
                                <select class="form-select p-2 rounded-1" data-control="select2" name="GrupKodu4ID" id="GrupKodu4ID"
                                        aria-label="Floating label select example">
                                    <option value="">Lütfen Seçim Yapınız</option>
                                    @foreach (GrupKoduDto stokGrupKodlari4 in ViewBag.StokGrupKodlari4)
                                    {
                                        <option value="@stokGrupKodlari4.ID">@stokGrupKodlari4.Deger</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-lg-4 mt-4">
                                <label for="GrupKodu5ID" class="form-label">Grup Kodu 5</label>
                                <select class="form-select p-2 rounded-1" data-control="select2" name="GrupKodu5ID" id="GrupKodu5ID"
                                        aria-label="Floating label select example">
                                    <option value="">Lütfen Seçim Yapınız</option>
                                    @foreach (GrupKoduDto stokGrupKodlari5 in ViewBag.StokGrupKodlari5)
                                    {
                                        <option value="@stokGrupKodlari5.ID">@stokGrupKodlari5.Deger</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-lg-4 mt-4">
                                <label for="GrupKodu6ID" class="form-label">Grup Kodu 6</label>
                                <select class="form-select p-2 rounded-1" data-control="select2" name="GrupKodu6ID" id="GrupKodu6ID"
                                        aria-label="Floating label select example">
                                    <option value="">Lütfen Seçim Yapınız</option>
                                    @foreach (GrupKoduDto stokGrupKodlari6 in ViewBag.StokGrupKodlari6)
                                    {
                                        <option value="@stokGrupKodlari6.ID">@stokGrupKodlari6.Deger</option>
                                    }
                                </select>
                            </div>
                            <div class="mt-4 col-lg-2 d-flex align-items-end">
                                <div class="form-check ">
                                    <input class="form-check-input" type="checkbox" value="true" id="LimitUyarisi" name="LimitUyarisi" />
                                    <label class="form-check-label" for="LimitUyarisi">
                                        Limit Uyarısı
                                    </label>
                                </div>
                            </div>
                            <div class="mt-4 col-lg-2 d-flex align-items-end">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="true" id="LimitDisindaIslemiDurdur" name="LimitDisindaIslemiDurdur" />
                                    <label class="form-check-label" for="LimitDisindaIslemiDurdur">
                                        Limit Dışında İşlemi Durdur
                                    </label>
                                </div>
                            </div>
                            <div class="mt-4 col-lg-2 d-flex align-items-end">
                                <div class="form-check ">
                                    <input class="form-check-input" type="checkbox" value="true" id="EksiBakiyeUyarisi" name="EksiBakiyeUyarisi" />
                                    <label class="form-check-label" for="EksiBakiyeUyarisi">
                                        Eksi Bakiye Uyarısı
                                    </label>
                                </div>
                            </div>
                            <div class="mt-4 col-lg-2 d-flex align-items-end">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="true" id="EksiBakiyedeIslemiDurdur" name="EksiBakiyedeIslemiDurdur" />
                                    <label class="form-check-label" for="EksiBakiyedeIslemiDurdur">
                                        Eksi Bakiyede İşlemi Durdur
                                    </label>
                                </div>
                            </div>
                            <div class="mt-4 col-lg-2 d-flex align-items-end">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="true" id="StokKilitle" name="StokKilitle" />
                                    <label class="form-check-label" for="StokKilitle">
                                        Stok Kilitle
                                    </label>
                                </div>
                            </div>
                            <div class="mt-4 col-lg-12">
                                <div class="form-group">
                                    <label class="form-label" for="Aciklama">Açıklama</label>
                                    <textarea class="form-control" id="Aciklama" name="Aciklama" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <!--begin::Actions-->
                    <div class="col-12">
                        <div class="pt-10">
                            <a href="/Stok/Liste" class="btn btn-light me-3" data-kt-users-modal-action="cancel">Geri</a>
                            <button type="submit" class="btn btn-primary" data-kt-users-modal-action="Ekle">
                                <span class="indicator-label">Kaydet</span>
                                <span class="indicator-progress">
                                    Lütfen Bekleyin...
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                    <!--end::Actions-->
                </div>
            </form>
        </div>

    </div>
</div>

@section Styles {
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
}