@{
    ViewBag.Title = "Excel ile İçe Aktar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div class="row">
        <div class="mt-8">
            <div class="card card-flush">
                <div class="px-6 py-4">
                    <a href="~/Tema/excel/ornek-stok-listesi.xlsx" class="btn btn-light-primary btn-sm fw-bold" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                        <i class="ki-duotone ki-minus-folder fs-2">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>

                        Stok Aktarım Şablonu
                    </a>
                </div>

                <div class="scroll ps-6 pe-6">
                    <table class="table table-bordered border-gray-200 rounded-m">
                        <thead>
                            <tr class="fw-bold fs-6">
                                <th class="px-3 py-2 text-gray-600">Durum</th>
                                <th class="px-3 py-2 text-gray-600">Stok Kodu</th>
                                <th class="px-3 py-2 text-gray-600">İsim</th>
                                <th class="px-3 py-2 text-gray-600">Açıklama</th>
                                <th class="px-3 py-2 text-gray-600">Barkod</th>
                                <th class="px-3 py-2 text-gray-600">Ölçü Birimi</th>
                                <th class="px-3 py-2 text-gray-600">KDV Alış</th>
                                <th class="px-3 py-2 text-gray-600">KDV Satış</th>
                                <th class="px-3 py-2 text-gray-600">Oiv</th>
                                <th class="px-3 py-2 text-gray-600">ÖTV</th>
                                <th class="px-3 py-2 text-gray-600">ÖTV Fiyat</th>
                                <th class="px-3 py-2 text-gray-600">Tevkifat Pay</th>
                                <th class="px-3 py-2 text-gray-600">Tevkifat Payda</th>
                                <th class="px-3 py-2 text-gray-600">Vade Günü</th>
                                <th class="px-3 py-2 text-gray-600">Minimum Stok</th>
                                <th class="px-3 py-2 text-gray-600">Maksimum Stok</th>
                                <th class="px-3 py-2 text-gray-600">Limit Uyarısı</th>
                                <th class="px-3 py-2 text-gray-600">Limit Dışında İşlemi Durdur</th>
                                <th class="px-3 py-2 text-gray-600">Eksi Bakiye Uyarısı</th>
                                <th class="px-3 py-2 text-gray-600">Eksi Bakiyede İşlemi Durdur</th>
                                <th class="px-3 py-2 text-gray-600">Stok Kilitle</th>
                                <th class="px-3 py-2 text-gray-600">İskonto Satış 1</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.SimulasyonListesi != null)
                            {
                                foreach (YKPortal.Models.Dto.StokDto stokDto in ViewBag.SimulasyonListesi)
                                {
                                    <tr>
                                        <td class="px-3 py-2">@stokDto.Durumu</td>
                                        <td class="px-3 py-2">@stokDto.Isim</td>
                                        <td class="px-3 py-2">@stokDto.Kod</td>
                                        <td class="px-3 py-2">@stokDto.Oiv</td>
                                        <td class="px-3 py-2">@stokDto.Aciklama</td>
                                        <td class="px-3 py-2">@stokDto.Barkod</td>
                                        <td class="px-3 py-2">@stokDto.OlcuBirimi</td>
                                        <td class="px-3 py-2">@stokDto.GrupKodu1ID</td>
                                        <td class="px-3 py-2">@stokDto.GrupKodu2ID</td>
                                        <td class="px-3 py-2">@stokDto.GrupKodu3ID</td>
                                        <td class="px-3 py-2">@stokDto.GrupKodu4ID</td>
                                        <td class="px-3 py-2">@stokDto.GrupKodu5ID</td>
                                        <td class="px-3 py-2">@stokDto.GrupKodu6ID</td>
                                        <td class="px-3 py-2">@stokDto.KdvAlis</td>
                                        <td class="px-3 py-2">@stokDto.KdvSatis</td>
                                        <td class="px-3 py-2">@stokDto.Otv</td>
                                        <td class="px-3 py-2">@stokDto.OtvFiyat</td>
                                        <td class="px-3 py-2">@stokDto.TevkifatPay</td>
                                        <td class="px-3 py-2">@stokDto.TevkifatPayda</td>
                                        <td class="px-3 py-2">@stokDto.VadeGunu</td>
                                        <td class="px-3 py-2">@stokDto.MinimumStok</td>
                                        <td class="px-3 py-2">@stokDto.LimitUyarisi</td>
                                        <td class="px-3 py-2">@stokDto.LimitDisindaIslemiDurdur</td>
                                        <td class="px-3 py-2">@stokDto.EksiBakiyeUyarisi</td>
                                        <td class="px-3 py-2">@stokDto.EksiBakiyedeIslemiDurdur</td>
                                        <td class="px-3 py-2">@stokDto.StokKilitle</td>
                                        <td class="px-3 py-2">@stokDto.IskontoSatis1</td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
                <div>
                    <form id="iceAktarFormu" action="/Stok/ExcelIceAktar" method="post" class="px-8 py-4" enctype="multipart/form-data">
                        <div>
                            <label for="file" class="form-label fs-5 fw-bold text-gray-700">Bir Dosya Seçin</label>
                            <input class="form-control mt-2 p-2" type="file" name="file" />
                        </div>
                        <!--begin::Actions-->
                        <div>
                            <input type="checkbox" class="hidden" id="kaydet" name="tip" value="kaydet" checked />
                            <input type="checkbox" class="hidden" id="simulasyon" name="tip" value="simulasyon" />
                        </div>
                        <div class="col-12">
                            <div class="d-flex pt-6">
                                <div class="me-4">
                                    <button type="submit" id="kaydetButonu" class="btn btn-primary btn-sm fw-bold" data-kt-users-modal-action="ExcelIceAktar">
                                        <span class="indicator-label">İçe Aktar</span>
                                    </button>
                                </div>
                                <div>
                                    <button type="submit" id="simulasyonButonu" class="btn btn-light btn-sm fw-bold" data-kt-users-modal-action="ExcelIceAktar">
                                        <span class="indicator-label">Simüle Et</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!--end::Actions-->
                    </form>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid px-4 mt-8">
        <div class="row ">
            <div class="card card-flush col-12">
                <div class="card-header p-4">
                    <div class="d-flex flex-column">
                        <span><strong>Aktarılan Kayıt Sayısı:</strong> @(ViewBag.AktarilanKayitSayisi)</span>
                        <span><strong>Hatalı Kayıt Sayısı:</strong> @(ViewBag.AktarilanHataliKayitSayisi)</span>
                    </div>
                </div>
                <div class="card-body">
                    @if (ViewBag.AktarilanKayitSayisi != null && ViewBag.AktarilanKayitSayisi > 0)
                    {
                        <div class="alert alert-success">
                            Aktarılan Kayıt Sayısı: @ViewBag.AktarilanKayitSayisi
                        </div>

                    }
                    @if (ViewBag.AktarilanHataliKayitSayisi != null && ViewBag.AktarilanHataliKayitSayisi > 0)
                    {
                        <div class="table-danger fw-bold px-3 py-2" style="background: #fed4de; border-left: 1px solid #e5bfc8; border-right: 1px solid #e5bfc8; border-top: 1px solid #e5bfc8; ">Hata içeriği</div>
                        <div class="table-responsive scroll " style="height: 500px;">
                            <table class="table table-danger table-bordered">
                                <tbody>
                                    @foreach (string hata in ViewBag.HataliKayitListesi)
                                    {
                                        <tr>
                                            <td class="px-3 py-2">@hata</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>





</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#kaydetButonu').on('click', function (event) {
                event.preventDefault();
                $('input[name="tip"]#kaydet').prop('checked', true);
                $('input[name="tip"]#simulasyon').prop('checked', false);

                $('#iceAktarFormu').submit();
            });

            $('#simulasyonButonu').on('click', function (event) {
                event.preventDefault();

                $('input[name="tip"]#kaydet').prop('checked', false);
                $('input[name="tip"]#simulasyon').prop('checked', true);

                $('#iceAktarFormu').submit();
            });
        });
    </script>
}