
@{
    ViewBag.Title = "Duzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <form id="kt_modal_add_user_form" class="form container" action="@Url.Action("Duzenle","Depo",new { UyelikID = Convert.ToString(Model.Rows[0]["UyelikID"]), ID = Convert.ToString(Model.Rows[0]["ID"]) } )" method="post">
        <div class="d-flex flex-column mt-10">

            <!--begin::Row Input group-->
            <div class="row mb-7">
                <!--begin::Input group-->
                <div class="col-lg-6">
                    <!--begin::Label-->
                    <label class="fw-semibold fs-6 mb-2">Kod</label>
                    <!--end::Label-->
                    <!--begin::Input-->
                    <input type="text" name="Kod" class="form-control p-2 mb-3 mb-lg-0" placeholder="Kod" value="@(Convert.ToString(Model.Rows[0]["Kod"]))" required />

                    <!--end::Input-->
                </div>
                <!--end::Input group-->
                <!--begin::Input group-->
                <div class="col-lg-6">
                    <!--begin::Label-->
                    <label class="fw-semibold fs-6 mb-2">İsim</label>
                    <!--end::Label-->
                    <!--begin::Input-->
                    <input type="text" name="Isim" class="form-control p-2 mb-3 mb-lg-0" autofocus value="@(Convert.ToString(Model.Rows[0]["Isim"]))" required />
                    <!--end::Input-->
                </div>
                <!--end::Input group-->
            </div>
            <!--end::Row Input group-->
            <!--begin::Row Input group-->
            <div class="row">
                <!--begin::Input group-->
                <div class="col-lg-6">
                    <!--begin::Label-->
                    <label class="fw-semibold fs-6 mb-2">Adres</label>
                    <!--end::Label-->
                    <!--begin::Input-->
                    <input type="text" name="Adres" class="form-control p-2 mb-3 mb-lg-0" value="@(Convert.ToString(Model.Rows[0]["Adres"]))" />

                    <!--end::Input-->
                </div>
                <!--end::Input group-->
                <!--begin::Input group-->
                <div class="col-lg-6">
                    <!--begin::Label-->
                    <label class="fw-semibold fs-6 mb-2">Telefon</label>
                    <!--end::Label-->
                    <!--begin::Input-->
                    <input type="text" id="Telefon" name="Telefon" class="form-control p-2 mb-3 mb-lg-0" autofocus value="@(Convert.ToString(Model.Rows[0]["Telefon"]))" />
                    <!--end::Input-->
                </div>
                <!--end::Input group-->
            </div>
            <!--end::Row Input group-->

        </div>
        <!--begin::Actions-->
        <div class="pt-10">
            <a onclick="history.back()" class="btn btn-light me-3" data-kt-users-modal-action="cancel">Geri</a>
            <button type="submit" class="btn btn-primary" data-kt-users-modal-action="Kaydet">
                <span class="indicator-label">Kaydet</span>
                <span class="indicator-progress">
                    Lütfen Bekleyin...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
            </button>
        </div>
        <!--end::Actions-->
    </form>

</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {

            Inputmask({
                "mask": "(999) 999-9999"
            }).mask("#Telefon");

        });

    </script>
}