
@{
    ViewBag.Title = "Stoklar";
    Layout = "~/Areas/E/Views/Shared/_Layout.cshtml";

    var Slaytlar = new List<YKPortal.Areas.E.Models.Dto.ETicaretSlaytDto>();

    if (ViewBag.Slaytlar != null)
    {
        Slaytlar = ViewBag.Slaytlar as List<YKPortal.Areas.E.Models.Dto.ETicaretSlaytDto>;
    }
}


<main class="main">

    <div class="home-slider slide-animate owl-carousel owl-theme show-nav-hover nav-big mb-2 text-uppercase" data-owl-options="{
	'loop': false
}">

        @foreach (var slayt in Slaytlar)
        {
            <div class="home-slide home-slide1 banner" data-click="@slayt.Link">

                <img class="slide-bg" src="@slayt.ResimYolu" alt="slider image" style="width:100%; height:400px; object-fit:cover;">
                <div class="container d-flex align-items-center">
                    <div class="banner-layer appear-animate" data-animation-name="fadeInUpShorter">
                        <h4 class="text-transform-none m-b-3">@Html.Raw(HttpUtility.HtmlDecode(slayt.Text))</h4>
                        <h2 class="text-transform-none mb-0">Summer Sale</h2>
                        <h3 class="m-b-3">70% Off</h3>
                        <h5 class="d-inline-block mb-0">
                            <span>Starting At</span>
                            <b class="coupon-sale-text text-white bg-secondary align-middle">
                                <sup>$</sup><em class="align-text-top">199</em><sup>99</sup>
                            </b>
                        </h5>
                        <a href="category.html" class="btn btn-dark btn-lg">Shop Now!</a>
                    </div>
                    <!-- End .banner-layer -->
                </div>
            </div>
            <!-- End .home-slide -->
        }
    </div>
    <!-- End .home-slider -->

    <div class="container-fluid">


        <div class="row">
            <div class="col-lg-10 main-content">
                <nav class="toolbox sticky-header" data-sticky-options="{'mobile': true}">
                    <div class="toolbox-right">
                        <div class="toolbox-item toolbox-show">
                            <label>Show:</label>

                            <div class="select-custom">
                                <select name="count" class="form-control">
                                    <option value="12">12</option>
                                    <option value="24">24</option>
                                    <option value="36">36</option>
                                </select>
                            </div>
                            <!-- End .select-custom -->
                        </div>
                        <!-- End .toolbox-item -->

                        <div class="toolbox-item layout-modes">
                            <a href="category.html" class="layout-btn btn-grid active" title="Grid">
                                <i class="icon-mode-grid"></i>
                            </a>
                            <a href="category-list.html" class="layout-btn btn-list" title="List">
                                <i class="icon-mode-list"></i>
                            </a>
                        </div>
                        <!-- End .layout-modes -->
                    </div>
                    <!-- End .toolbox-right -->
                </nav>

                <div class="row">

                    @foreach (YKPortal.Areas.E.Models.Dto.ETicaretStokDto.ETicaretStokSonucDto stokSonucDto in ViewBag.Stoklar)
                    {
                        <div class="col-12 col-sm-3" style="">
                            <div class="product-default">
                                <figure>
                                    <a href="/E/ETicaretStok/StokDetay?StokID=@stokSonucDto.StokID">
                                        <img src="/Uploads/Dosyalar/@stokSonucDto.Resim1" class="ov-brand-image" alt="@stokSonucDto.Isim" />
                                        <img class="ov-brand-image" src="/Uploads/Dosyalar/@stokSonucDto.Resim1" data-zoom-image="/Uploads/Dosyalar/@stokSonucDto.Resim1" alt="@stokSonucDto.Isim" />
                                    </a>
                                </figure>

                                <div class="product-details">
                                    <div class="category-wrap">
                                        <div class="category-list">
                                            <div>
                                                @(
                                                   string.IsNullOrEmpty(stokSonucDto.Kategoriler.Kategori1)
                                                   ? "Kategori 1 Bulunamadı"
                                                   : stokSonucDto.Kategoriler.Kategori1
                                                )
                                            </div>
                                        </div>
                                    </div>

                                    <h3 class="product-title">
                                        <a href="/E/ETicaretStok/StokDetay?StokID=@stokSonucDto.StokID">
                                            @stokSonucDto.Isim
                                        </a>
                                    </h3>

                                    <div class="ratings-container">
                                        <div class="product-ratings">
                                            <span class="ratings" style="width:100%"></span>
                                            <!-- End .ratings -->
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                        <!-- End .product-ratings -->
                                    </div>
                                    <!-- End .product-container -->

                                    <div class="price-box">
                                        <span class="product-price">@stokSonucDto.Fiyat</span>
                                    </div>
                                    <!-- End .price-box -->

                                    <div class="product-action">
                                        <a href="wishlist.html" class="btn-icon-wish" title="wishlist">
                                            <i class="icon-heart"></i>
                                        </a>
                                        <div class="product-single-qty">
                                            <input class="horizontal-quantity form-control" type="text" id="UrunSayisi" value="1" data-input="quantity">
                                        </div><!-- End .product-single-qty -->
                                        <button id="SepeteEkle" href="javascript:;" class="btn-icon btn-add-cart" data-click="SepeteEkle" data-id="@stokSonucDto.StokID">
                                            <span>
                                                <i class="fa fa-arrow-right"></i>
                                                SEPETE EKLE
                                            </span>
                                        </button>

                                    </div>

                                </div>
                                <!-- End .product-details -->
                            </div>
                        </div>
                    }

                </div>
                <!-- End .row -->

                <nav class="toolbox toolbox-pagination">
                    <div class="toolbox-item toolbox-show">
                        <label>Show:</label>

                        <div class="select-custom">
                            <select name="count" class="form-control">
                                <option value="12">12</option>
                                <option value="24">24</option>
                                <option value="36">36</option>
                            </select>
                        </div>
                        <!-- End .select-custom -->
                    </div>
                    <!-- End .toolbox-item -->

                    <ul class="pagination toolbox-item">
                        <li class="page-item disabled">
                            <a class="page-link page-link-btn" href="#"><i class="icon-angle-left"></i></a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><span class="page-link">...</span></li>
                        <li class="page-item">
                            <a class="page-link page-link-btn" href="#"><i class="icon-angle-right"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- End .col-lg-9 -->

            <div class="sidebar-overlay"></div>
            <aside class="sidebar-shop col-lg-2 order-lg-first mobile-sidebar">
                <div class="sidebar-wrapper">
                    <div class="widget">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="#widget-body-3" role="button" aria-expanded="true" aria-controls="widget-body-3">Price</a>
                        </h3>
                        <div class="collapse show" id="widget-body-3">
                            <div class="widget-body pb-0">
                                <form method="get" action="/E/ETicaretStok/Stoklar" class="filter-form">
                                    <div class="price-slider-wrapper">
                                        <div id="price-slider"></div>
                                        <!-- End #price-slider -->
                                    </div>
                                    <!-- End .price-slider-wrapper -->

                                    <div class="filter-price-action d-flex align-items-center justify-content-between flex-wrap">
                                        <div class="filter-price-text">
                                            Fiyat Aralığı:
                                            <span id="filter-price-range"></span>
                                            <input type="hidden" id="price-min" name="PriceMin" value="0">
                                            <input type="hidden" id="price-max" name="PriceMax" value="1000">
                                        </div>
                                        <!-- End .filter-price-text -->
                                        <button type="submit" class="btn btn-primary">Filtrele</button>
                                    </div>

                                    <div class="filter-categories">
                                        <h5>Kategoriler</h5>
                                        <select name="Kategori1" id="kategori" class="form-control">
                                            <option value="">Tüm Kategoriler</option>
                                            @foreach (var kategori in ViewBag.Kategoriler as List<YKPortal.Areas.E.Models.Dto.ETicaretKategorilerDto>)
                                            {
                                                <option value="@kategori.Kategori1">@kategori.Kategori1</option>
                                            }
                                        </select>
                                    </div>
                                    <!-- End .filter-price-action -->
                                </form>
                            </div>
                            <!-- End .widget-body -->
                        </div>
                        <!-- End .collapse -->
                    </div>
                    <div class="widget">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="#widget-body-2" role="button" aria-expanded="true" aria-controls="widget-body-2">Categories</a>
                        </h3>
                        <div class="collapse show" id="widget-body-2">

                            @if (ViewBag.Kategoriler != null)
                            {
                                var kategoriler = ViewBag.Kategoriler as List<YKPortal.Areas.E.Models.Dto.ETicaretKategorilerDto>;
                                if (kategoriler != null && kategoriler.Any())
                                {
                                    foreach (var kategori in kategoriler.Select((m, i) => new { m, i }))
                                    {
                                        if (!string.IsNullOrEmpty(kategori.m.Kategori1))
                                        {
                                            <div class="widget-body">
                                                <ul class="cat-list">
                                                    <li>
                                                        <a href="#widget-category-@(kategori.i)" class="collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="widget-category-@(kategori.i)">
                                                            @kategori.m.Kategori1<span class="products-count">(3)</span>
                                                            <span class="toggle"></span>
                                                        </a>
                                                        <div class="collapse" id="widget-category-@(kategori.i)">
                                                            <ul class="cat-sublist">
                                                                @if (!string.IsNullOrEmpty(kategori.m.Kategori1))
                                                                {
                                                                    <li><a style="font-weight: bold;" href="/E/ETicaretStok/Stoklar?Kategori1=@kategori.m.Kategori1">@kategori.m.Kategori1</a></li>
                                                                }
                                                                @if (!string.IsNullOrEmpty(kategori.m.Kategori2))
                                                                {
                                                                    <li><a href="/E/ETicaretStok/Stoklar?Kategori1=@kategori.m.Kategori1&Kategori2=@kategori.m.Kategori2">@kategori.m.Kategori2</a></li>
                                                                }
                                                                @if (!string.IsNullOrEmpty(kategori.m.Kategori3))
                                                                {
                                                                    <li><a href="/E/ETicaretStok/Stoklar?Kategori1=@kategori.m.Kategori1&Kategori3=@kategori.m.Kategori3">@kategori.m.Kategori3</a></li>
                                                                }
                                                                @if (!string.IsNullOrEmpty(kategori.m.Kategori4))
                                                                {
                                                                    <li><a href="/E/ETicaretStok/Stoklar?Kategori1=@kategori.m.Kategori1&Kategori4=@kategori.m.Kategori4">@kategori.m.Kategori4</a></li>
                                                                }
                                                                @if (!string.IsNullOrEmpty(kategori.m.Kategori5))
                                                                {
                                                                    <li><a href="/E/ETicaretStok/Stoklar?Kategori1=@kategori.m.Kategori1&Kategori5=@kategori.m.Kategori5">@kategori.m.Kategori5</a></li>
                                                                }
                                                                @if (!string.IsNullOrEmpty(kategori.m.Kategori6))
                                                                {
                                                                    <li><a href="/E/ETicaretStok/Stoklar?Kategori1=@kategori.m.Kategori1&Kategori6=@kategori.m.Kategori6">@kategori.m.Kategori6</a></li>
                                                                }
                                                            </ul>
                                                        </div>
                                                    </li>

                                                </ul>
                                            </div>
                                            <!-- End .widget-body -->
                                        }
                                    }
                                }
                            }

                        </div>




                        <div class="collapse show" id="widget-body-2">
                            <div class="widget-body">



                                <ul class="menu">
                                    @if (ViewBag.Kategoriler != null)
                                    {
                                        var kategoriler = ViewBag.Kategoriler as List<YKPortal.Areas.E.Models.Dto.ETicaretKategorilerDto>;
                                        if (kategoriler != null && kategoriler.Any())
                                        {
                                            foreach (var kategori in kategoriler)
                                            {
                                                if (!string.IsNullOrEmpty(kategori.Kategori1))
                                                {

                                                    <li>
                                                        <a href="/E/ETicaretStok/Stoklar?Kategori1=@kategori.Kategori1">@kategori.Kategori1</a>
                                                        <div class="megamenu megamenu-fixed-width">
                                                            <div>

                                                                <div class="">
                                                                    <ul class="submenu">

                                                                        @if (!string.IsNullOrEmpty(kategori.Kategori2))
                                                                        {
                                                                            <li><a href="/E/ETicaretStok/Stoklar?Kategori1=@kategori.Kategori1&Kategori2=@kategori.Kategori2">@kategori.Kategori2</a></li>
                                                                        }
                                                                        @if (!string.IsNullOrEmpty(kategori.Kategori3))
                                                                        {
                                                                            <li><a href="/E/ETicaretStok/Stoklar?Kategori1=@kategori.Kategori1&Kategori3=@kategori.Kategori3">@kategori.Kategori3</a></li>
                                                                        }
                                                                        @if (!string.IsNullOrEmpty(kategori.Kategori4))
                                                                        {
                                                                            <li><a href="/E/ETicaretStok/Stoklar?Kategori1=@kategori.Kategori1&Kategori4=@kategori.Kategori4">@kategori.Kategori4</a></li>
                                                                        }
                                                                        @if (!string.IsNullOrEmpty(kategori.Kategori5))
                                                                        {
                                                                            <li><a href="/E/ETicaretStok/Stoklar?Kategori1=@kategori.Kategori1&Kategori5=@kategori.Kategori5">@kategori.Kategori5</a></li>
                                                                        }
                                                                        @if (!string.IsNullOrEmpty(kategori.Kategori6))
                                                                        {
                                                                            <li><a href="/E/ETicaretStok/Stoklar?Kategori1=@kategori.Kategori1&Kategori6=@kategori.Kategori6">@kategori.Kategori6</a></li>
                                                                        }

                                                                    </ul>
                                                                </div>


                                                            </div>

                                                        </div>
                                                    </li>

                                                }
                                            }
                                        }
                                    }

                                </ul>

                            </div>
                            <!-- End .widget-body -->
                        </div>
                        <!-- End .collapse -->
                    </div>
                    <!-- End .widget -->

                    <div class="widget">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="#widget-body-3" role="button" aria-expanded="true" aria-controls="widget-body-3">Price</a>
                        </h3>

                        <div class="collapse show" id="widget-body-3">
                            <div class="widget-body pb-0">
                                <form action="#">
                                    <div class="price-slider-wrapper">
                                        <div id="price-slider"></div>
                                        <!-- End #price-slider -->
                                    </div>
                                    <!-- End .price-slider-wrapper -->

                                    <div class="filter-price-action d-flex align-items-center justify-content-between flex-wrap">
                                        <div class="filter-price-text">
                                            Price:
                                            <span id="filter-price-range"></span>
                                        </div>
                                        <!-- End .filter-price-text -->

                                        <button type="submit" class="btn btn-primary">Filter</button>
                                    </div>
                                    <!-- End .filter-price-action -->
                                </form>
                            </div>
                            <!-- End .widget-body -->
                        </div>
                        <!-- End .collapse -->
                    </div>
                    <!-- End .widget -->

                    <div class="widget widget-color">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="#widget-body-4" role="button" aria-expanded="true" aria-controls="widget-body-4">Color</a>
                        </h3>

                        <div class="collapse show" id="widget-body-4">
                            <div class="widget-body pb-0">
                                <ul class="config-swatch-list">
                                    <li class="active">
                                        <a href="#" style="background-color: #000;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #0188cc;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #81d742;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #6085a5;"></a>
                                    </li>
                                    <li>
                                        <a href="#" style="background-color: #ab6e6e;"></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End .widget-body -->
                        </div>
                        <!-- End .collapse -->
                    </div>
                    <!-- End .widget -->

                    <div class="widget widget-size">
                        <h3 class="widget-title">
                            <a data-toggle="collapse" href="#widget-body-5" role="button" aria-expanded="true" aria-controls="widget-body-5">Sizes</a>
                        </h3>

                        <div class="collapse show" id="widget-body-5">
                            <div class="widget-body pb-0">
                                <ul class="config-size-list">
                                    <li class="active"><a href="#">XL</a></li>
                                    <li><a href="#">L</a></li>
                                    <li><a href="#">M</a></li>
                                    <li><a href="#">S</a></li>
                                </ul>
                            </div>
                            <!-- End .widget-body -->
                        </div>
                        <!-- End .collapse -->
                    </div>
                    <!-- End .widget -->

                    <div class="widget widget-featured">
                        <h3 class="widget-title">Featured</h3>

                        <div class="widget-body">
                            <div class="owl-carousel widget-featured-products">
                                <div class="featured-col">
                                    <div class="product-default left-details product-widget">
                                        <figure>
                                            <a href="product.html">
                                                <img src="~/Tema/ETicaret/images/products/small/product-4.jpg" width="75" height="75" alt="product" />
                                                <img src="~/Tema/ETicaret/images/products/small/product-4-2.jpg" width="75" height="75" alt="product" />
                                            </a>
                                        </figure>
                                        <div class="product-details">
                                            <h3 class="product-title">
                                                <a href="product.html">
                                                    Blue Backpack for
                                                    the Young - S
                                                </a>
                                            </h3>
                                            <div class="ratings-container">
                                                <div class="product-ratings">
                                                    <span class="ratings" style="width:100%"></span>
                                                    <!-- End .ratings -->
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <!-- End .product-ratings -->
                                            </div>
                                            <!-- End .product-container -->
                                            <div class="price-box">
                                                <span class="product-price">$49.00</span>
                                            </div>
                                            <!-- End .price-box -->
                                        </div>
                                        <!-- End .product-details -->
                                    </div>
                                    <div class="product-default left-details product-widget">
                                        <figure>
                                            <a href="product.html">
                                                <img src="~/Tema/ETicaret/images/products/small/product-5.jpg" width="75" height="75" alt="product" />
                                                <img src="~/Tema/ETicaret/images/products/small/product-5-2.jpg" width="75" height="75" alt="product" />
                                            </a>
                                        </figure>
                                        <div class="product-details">
                                            <h3 class="product-title">
                                                <a href="product.html">
                                                    Casual Spring Blue
                                                    Shoes
                                                </a>
                                            </h3>
                                            <div class="ratings-container">
                                                <div class="product-ratings">
                                                    <span class="ratings" style="width:100%"></span>
                                                    <!-- End .ratings -->
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <!-- End .product-ratings -->
                                            </div>
                                            <!-- End .product-container -->
                                            <div class="price-box">
                                                <span class="product-price">$49.00</span>
                                            </div>
                                            <!-- End .price-box -->
                                        </div>
                                        <!-- End .product-details -->
                                    </div>
                                    <div class="product-default left-details product-widget">
                                        <figure>
                                            <a href="product.html">
                                                <img src="~/Tema/ETicaret/images/products/small/product-6.jpg" width="75" height="75" alt="product" />
                                                <img src="~/Tema/ETicaret/images/products/small/product-6-2.jpg" width="75" height="75" alt="product" />
                                            </a>
                                        </figure>
                                        <div class="product-details">
                                            <h3 class="product-title">
                                                <a href="product.html">
                                                    Men Black Gentle
                                                    Belt
                                                </a>
                                            </h3>
                                            <div class="ratings-container">
                                                <div class="product-ratings">
                                                    <span class="ratings" style="width:100%"></span>
                                                    <!-- End .ratings -->
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <!-- End .product-ratings -->
                                            </div>
                                            <!-- End .product-container -->
                                            <div class="price-box">
                                                <span class="product-price">$49.00</span>
                                            </div>
                                            <!-- End .price-box -->
                                        </div>
                                        <!-- End .product-details -->
                                    </div>
                                </div>
                                <!-- End .featured-col -->

                                <div class="featured-col">
                                    <div class="product-default left-details product-widget">
                                        <figure>
                                            <a href="product.html">
                                                <img src="~/Tema/ETicaret/images/products/small/product-1.jpg" width="75" height="75" alt="product" />
                                                <img src="~/Tema/ETicaret/images/products/small/product-1-2.jpg" width="75" height="75" alt="product" />
                                            </a>
                                        </figure>
                                        <div class="product-details">
                                            <h3 class="product-title">
                                                <a href="product.html">
                                                    Ultimate 3D
                                                    Bluetooth Speaker
                                                </a>
                                            </h3>
                                            <div class="ratings-container">
                                                <div class="product-ratings">
                                                    <span class="ratings" style="width:100%"></span>
                                                    <!-- End .ratings -->
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <!-- End .product-ratings -->
                                            </div>
                                            <!-- End .product-container -->
                                            <div class="price-box">
                                                <span class="product-price">$49.00</span>
                                            </div>
                                            <!-- End .price-box -->
                                        </div>
                                        <!-- End .product-details -->
                                    </div>
                                    <div class="product-default left-details product-widget">
                                        <figure>
                                            <a href="product.html">
                                                <img src="~/Tema/ETicaret/images/products/small/product-2.jpg" width="75" height="75" alt="product" />
                                                <img src="~/Tema/ETicaret/images/products/small/product-2-2.jpg" width="75" height="75" alt="product" />
                                            </a>
                                        </figure>
                                        <div class="product-details">
                                            <h3 class="product-title">
                                                <a href="product.html">
                                                    Brown Women Casual
                                                    HandBag
                                                </a>
                                            </h3>
                                            <div class="ratings-container">
                                                <div class="product-ratings">
                                                    <span class="ratings" style="width:100%"></span>
                                                    <!-- End .ratings -->
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <!-- End .product-ratings -->
                                            </div>
                                            <!-- End .product-container -->
                                            <div class="price-box">
                                                <span class="product-price">$49.00</span>
                                            </div>
                                            <!-- End .price-box -->
                                        </div>
                                        <!-- End .product-details -->
                                    </div>
                                    <div class="product-default left-details product-widget">
                                        <figure>
                                            <a href="product.html">
                                                <img src="~/Tema/ETicaret/images/products/small/product-3.jpg" width="75" height="75" alt="product" />
                                                <img src="~/Tema/ETicaret/images/products/small/product-3-2.jpg" width="75" height="75" alt="product" />
                                            </a>
                                        </figure>
                                        <div class="product-details">
                                            <h3 class="product-title">
                                                <a href="product.html">
                                                    Circled Ultimate
                                                    3D Speaker
                                                </a>
                                            </h3>
                                            <div class="ratings-container">
                                                <div class="product-ratings">
                                                    <span class="ratings" style="width:100%"></span>
                                                    <!-- End .ratings -->
                                                    <span class="tooltiptext tooltip-top"></span>
                                                </div>
                                                <!-- End .product-ratings -->
                                            </div>
                                            <!-- End .product-container -->
                                            <div class="price-box">
                                                <span class="product-price">$49.00</span>
                                            </div>
                                            <!-- End .price-box -->
                                        </div>
                                        <!-- End .product-details -->
                                    </div>
                                </div>
                                <!-- End .featured-col -->
                            </div>
                            <!-- End .widget-featured-slider -->
                        </div>
                        <!-- End .widget-body -->
                    </div>
                    <!-- End .widget -->

                    <div class="widget widget-block">
                        <h3 class="widget-title">Custom HTML Block</h3>
                        <h5>This is a custom sub-title.</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non placerat mi. Etiam non tellus </p>
                    </div>
                    <!-- End .widget -->
                </div>
                <!-- End .sidebar-wrapper -->
            </aside>
            <!-- End .col-lg-3 -->
        </div>
        <!-- End .row -->
    </div>
    <!-- End .container -->

    <div class="mb-4"></div>
    <!-- margin -->
</main>
@section Scripts {
    <script>
        $(function () {
            const sepeteEkleButon = $('#SepeteEkle');
            const urunSayisiInput = $('#UrunSayisi');

            sepeteEkleButon.on('click', function () {
                var data = {
                    Miktar: parseInt(urunSayisiInput.val()),
                    StokId: $('[data-stokId]').attr('data-stokId')
                }

                $.ajax({
                    type: "POST",
                    url: '/E/ETicaretSepet/SepeteEkle',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(data),
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (msg) {
                        console.log("HATA! ", msg);
                    }
                });
            });
        })
        $(document).ready(function () {
            $("#price-slider").slider({
                range: true,
                min: 0,
                max: 1000,
                values: [0, 1000],
                slide: function (event, ui) {
                    $("#filter-price-range").text(ui.values[0] + " - " + ui.values[1] + " TL");
                    $("#price-min").val(ui.values[0]);
                    $("#price-max").val(ui.values[1]);
                }
            });
            $("#filter-price-range").text($("#price-slider").slider("values", 0) + " - " + $("#price-slider").slider("values", 1) + " TL");
        });

        $(function () {
            $(document).on('click', '[data-click]', function () {
                if (!!$(this).data('click')) {
                    window.open($(this).data('click'), '_self');
                }
               
            });
        });
    </script>
    <div id="price-slider"></div>
}