@using YKPortal.Extensions
@using YKPortal.Areas.E.Models.Dto;
@{
    var sepetBilgileri = ViewBag.SepetBilgileri as List<YKPortal.Areas.E.Models.Dto.ETicaretSepetDto.ETicaretSepetListeSonucDto>;
    if (sepetBilgileri == null)
    {
        sepetBilgileri = new List<YKPortal.Areas.E.Models.Dto.ETicaretSepetDto.ETicaretSepetListeSonucDto>();
    }
    Tarayici tarayici = Html.TasayiciBilgisiGetir(Request.UserAgent);
}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @foreach (YKPortal.Models.Dto.GrupKoduDto grupKodu in ViewBag.ETicaretFirmaAdi)
    {
        <title>@grupKodu.Deger</title>
        <meta name="keywords" content="@grupKodu.Deger" />
        <meta name="description" content="@grupKodu.Deger">
        <meta name="author" content="@grupKodu.Deger">
    }
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/Tema/ETicaret/assets/images/icons/favicon.png">


    <script>
        WebFontConfig = {
            google: {
                families: ['Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700,800', 'Oswald:300,400,500,600,700,800']
            }
        };
        (function (d) {
            var wf = d.createElement('script'),
                s = d.scripts[0];
            wf.src = '/Tema/ETicaret/assets/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="~/Tema/ETicaret/assets/css/bootstrap.min.css">

    <!-- Main CSS File -->
    <link href="~/Tema/ETicaret/assets/css/style.css" rel="stylesheet" />
    <link href="~/Tema/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Tema/ETicaret/assets/vendor/fontawesome-free/css/all.min.css">
    <link href="https://cdn.datatables.net/v/bs4/jq-3.7.0/jszip-3.10.1/dt-2.1.8/af-2.7.0/b-3.2.0/b-colvis-3.2.0/b-html5-3.2.0/b-print-3.2.0/cr-2.0.4/date-1.5.4/fc-5.0.4/fh-4.0.1/kt-2.12.1/r-3.0.3/rg-1.5.1/rr-1.5.0/sc-2.4.3/sb-1.8.1/sp-2.3.3/sl-2.1.0/sr-1.4.1/datatables.min.css" rel="stylesheet">
    <link href="~/Tema/ETicaret/assets/css/override.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>

<body style="background-color: #fcfcfc;">
    <div class="page-wrapper">


        <header class="header " style="background-color: #ffffff;">
            <div class="header-top d-flex align-items-center justify-content-center bg-light" style="height:40px;">
                <div class="container d-flex" style="height: 100%;">
                    <div class="d-flex justify-content-between" style="width:100%;height: 100%;">
                        <div class="d-flex header-dropdowns w-sm-100">
                            <div class="header-dropdown dropdown-expanded d-none d-lg-block" style="height: 100%;">
                                <a href="#">Links</a>
                                <div class="header-menu d-flex">
                                    <ul>
                                        <li><a href="dashboard.html">Hesabım</a></li>
                                        <li><a href="about.html">İletişim</a></li>
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="wishlist.html">istek Listem</a></li>

                                        @if (ViewBag.GirisYapildi)
                                        {
                                            <li>
                                                <form action="/E/ETicaretYetkilendirme/Cikis" method="POST">
                                                    <button type="submit" class="btn btn-link text-muted  font-weight-bold" style="font-size:12px; font-weight:500;">Çıkış Yap</button>
                                                </form>

                                            </li>
                                            <li>  <span class="text-primary font-weight-bold ">Hoş geldiniz, @ViewBag.KullaniciIsim!</span></li>

                                        }
                                        else
                                        {
                                            <li>
                                                <a href="/E/ETicaretYetkilendirme/Giris">Giriş Yap</a>
                                            </li>
                                            <li>
                                                <a href="/E/ETicaretYetkilendirme/UyeOl">Üye Ol</a>
                                            </li>

                                        }
                                    </ul>

                                </div>
                                <!-- End .header-menu -->
                            </div>
                            <!-- End .header-dropown -->

                        </div>
                        <div class="d-flex">
                            <div class="header-dropdown">
                                <a href="#"><i class="flag-tr flag"></i>TR</a>
                                <div class="header-menu">
                                </div>
                            </div>
                            <!-- End .header-dropown -->

                            <div class="header-dropdown mr-auto mr-sm-3 mr-md-0">
                                <a href="#">TL</a>
                            </div>
                            <!-- End .header-dropown -->

                            <div class="social-icons">
                                <a href="#" class="social-icon social-facebook icon-facebook" target="_blank"></a>
                                <a href="#" class="social-icon social-twitter icon-twitter" target="_blank"></a>
                                <a href="#" class="social-icon social-instagram icon-instagram" target="_blank"></a>
                            </div>
                            <!-- End .social-icons -->
                        </div>
                    </div>

                    <!-- End .header-left -->
                    <!-- End .header-right -->
                </div>
                <!-- End .container -->
            </div>
            <!-- End .header-top -->

            <div class="header-middle sticky-header border-0" data-sticky-options="{'mobile': true}" style="height:80px;">
                <div class="container">
                    <div class="header-left col-lg-2 w-auto pl-0">
                        <button class="mobile-menu-toggler text-primary mr-2" type="button">
                            <i class="fas fa-bars"></i>
                        </button>
                        @foreach (YKPortal.Models.Dto.GrupKoduDto grupKodu in ViewBag.ETicaretLogo)
                        {
                            <a href="/E/ETicaretSite/Anasayfa" class="">
                                <img src="~/Uploads/ETicaret/@grupKodu.Deger" style="height: 50px;width: 100px;object-fit: contain;" alt="@ViewBag.ETicaretFirmaAdi[0].Deger">
                            </a>
                        }

                    </div>
                    <!-- End .header-left -->

                    <div class="header-right w-lg-max">
                        <div class="header-icon header-search header-search-inline header-search-category w-lg-max text-right mt-0">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search-3"></i></a>
                            <form action="/E/ETicaretStok/Stoklar" method="get">
                                <div class="header-search-wrapper">
                                    <input type="search" class="form-control" name="aranacakKelime" id="searchQuery" placeholder="Ürün ara..." required>
                                    <div class="select-custom ">
                                        @if (ViewBag.Kategoriler != null && ViewBag.Kategoriler.Count > 0)
                                        {
                                            <select class="p-1" id="cat" name="cat">

                                                <option value="">Tüm Kategoriler</option>
                                                @foreach (var kategori in ViewBag.Kategoriler)
                                                {
                                                    <option value="@kategori.Kategori1">@kategori.Kategori1</option>
                                                    if (!string.IsNullOrEmpty(kategori.Kategori2))
                                                    {
                                                        <option class="search-categories-option-area" value="@kategori.Kategori2">@kategori.Kategori2</option>
                                                    }
                                                }
                                            </select>


                                        }
                                        else
                                        {
                                            <p>Kategori yok</p>
                                        }

                                    </div>
                                    <!-- End .select-custom -->
                                    <button class="btn icon-magnifier p-0" title="search" type="submit"></button>
                                </div>
                                <!-- End .header-search-wrapper -->
                            </form>

                        </div>
                        <!-- End .header-search -->
                        @foreach (YKPortal.Models.Dto.GrupKoduDto grupKodu in ViewBag.ETicaretTelefon)
                        {
                            <div class="header-contact d-none d-lg-flex pl-4 pr-4">
                                <img alt="phone" src="~/Tema/ETicaret/assets/images/phone.png" width="30" height="30" class="pb-1">
                                <h6><span>Bize ulaşın</span><a href="tel:@grupKodu.Deger" class="text-dark font1">@grupKodu.Deger</a></h6>
                            </div>
                        }


                        <a href="@Url.Action("Profil","ETicaretKullanici",new { Area = "E" })" class="header-icon" title="login"><i class="icon-user-2"></i></a>

                        <a href="wishlist.html" class="header-icon" title="wishlist"><i class="icon-wishlist-2"></i></a>

                        <div class="dropdown cart-dropdown">
                            <a href="#" title="Cart" class="dropdown-toggle dropdown-arrow cart-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="minicart-icon"></i>
                                @if (sepetBilgileri != null && sepetBilgileri.Count > 0)
                                {

                                    <span data-id="SepetBildirimi" class="notification hidden cart-count badge-circle position-absolute top-0 start-50 hidden">@sepetBilgileri.Count</span>
                                }
                            </a>

                            <div class="cart-overlay"></div>

                            <div class="dropdown-menu mobile-cart">
                                <a href="#" title="Close (Esc)" class="btn-close">×</a>

                                <div class="dropdownmenu-wrapper custom-scrollbar">
                                    <div class="dropdown-cart-header">Shopping Cart</div>
                                    <!-- End .dropdown-cart-header -->

                                    <div class="dropdown-cart-products">
                                        @foreach (var stok in sepetBilgileri)
                                        {
                                            <div class="product">
                                                <div class="product-details">
                                                    <div>

                                                    </div>
                                                    <h4 class="product-title">
                                                        <a href="">@stok.Isim</a>
                                                    </h4>

                                                    <span class="cart-product-info">
                                                        <span class="cart-product-qty">@stok.Miktar</span> × @stok.Fiyat
                                                    </span>
                                                </div>
                                                <!-- End .product-details -->

                                                <figure class="product-image-container">
                                                    <a href="product.html" class="product-image">
                                                        <img src="/Uploads/Dosya/@stok.Resim1" alt="product" width="80" height="80">
                                                    </a>

                                                    <a href="#" class="btn-remove" title="Remove Product"><span>×</span></a>
                                                </figure>
                                            </div>
                                            <!-- End .product -->

                                        }


                                        <div class="dropdown-cart-total">
                                            <span>SUBTOTAL:</span>

                                            <span class="cart-total-price float-right">$134.00</span>
                                        </div>
                                        <!-- End .dropdown-cart-total -->

                                        <div class="dropdown-cart-action">
                                            <a href="/E/ETicaretSepet/SepetBilgileri" class="btn btn-gray btn-block view-cart">
                                                Sepete Git                                            
                                            </a>
                                            <a href="checkout.html" class="btn btn-dark btn-block">Checkout</a>
                                        </div>
                                        <!-- End .dropdown-cart-total -->
                                    </div>
                                    <!-- End .dropdownmenu-wrapper -->
                                </div>
                                <!-- End .dropdown-menu -->
                            </div>
                            <!-- End .dropdown -->
                        </div>
                        <!-- End .header-right -->
                    </div>
                    <!-- End .container -->
                </div>
                <!-- End .header-middle -->
            </div>
            <div class="header-bottom sticky-header d-none d-lg-block" data-sticky-options="{'mobile': false}">


                <div class="container">
                    <!-- Dropdown Kullanımı -->
                    <!-- MegaMenu Kullanımı -->
                    <nav class="main-nav w-100">
                        <ul class="menu">
                            @if (ViewBag.Kategoriler != null)
                            {
                                var kategoriler = ViewBag.Kategoriler as List<YKPortal.Areas.E.Models.Dto.ETicaretKategorilerDto>;
                                if (kategoriler != null && kategoriler.Any())
                                {
                                    foreach (var kategori in kategoriler)
                                    {
                                        if (!string.IsNullOrEmpty(kategori.Kategori1))
                                        {

                                            <li>
                                                <a href="/E/ETicaretStok/Stoklar?Kategori1=@kategori.Kategori1">@kategori.Kategori1</a>
                                                <div class="megamenu">
                                                    <div>

                                                        <div class="">
                                                            <ul class="submenu">

                                                                @if (!string.IsNullOrEmpty(kategori.Kategori2))
                                                                {
                                                                    <li><a href="/E/ETicaretStok/Stoklar?Kategori1=@kategori.Kategori1&Kategori2=@kategori.Kategori2">@kategori.Kategori2</a></li>
                                                                }
                                                                @if (!string.IsNullOrEmpty(kategori.Kategori3))
                                                                {
                                                                    <li><a href="/E/ETicaretStok/Stoklar?Kategori1=@kategori.Kategori1&Kategori3=@kategori.Kategori3">@kategori.Kategori3</a></li>
                                                                }
                                                                @if (!string.IsNullOrEmpty(kategori.Kategori4))
                                                                {
                                                                    <li><a href="/E/ETicaretStok/Stoklar?Kategori1=@kategori.Kategori1&Kategori4=@kategori.Kategori4">@kategori.Kategori4</a></li>
                                                                }
                                                                @if (!string.IsNullOrEmpty(kategori.Kategori5))
                                                                {
                                                                    <li><a href="/E/ETicaretStok/Stoklar?Kategori1=@kategori.Kategori1&Kategori5=@kategori.Kategori5">@kategori.Kategori5</a></li>
                                                                }
                                                                @if (!string.IsNullOrEmpty(kategori.Kategori6))
                                                                {
                                                                    <li><a href="/E/ETicaretStok/Stoklar?Kategori1=@kategori.Kategori1&Kategori6=@kategori.Kategori6">@kategori.Kategori6</a></li>
                                                                }

                                                            </ul>
                                                        </div>


                                                    </div>

                                                </div>
                                            </li>

                                        }
                                    }
                                }
                            }

                        </ul>
                    </nav>
                </div>

                <!-- End .container -->
            </div>
            <!-- End .header-bottom -->
        </header>
        <!-- End .header -->
        <div class="container-fluid shadow-sm p-2 bg-white rounded ">
            <ol class="breadcrumb  container">

                @if (ViewBag.Title == "Anasayfa")
                {
                    <li class="breadcrumb-item "><a href="/E/ETicaretSite/Anasayfa"><i class="fas fa-home "></i></a></li>
                    <li class="breadcrumb-item active " aria-current="page">@ViewBag.Title</li>

                }
                else
                {

                }


            </ol>
        </div>
        <div class="container-fluid">
            @RenderBody()
        </div>

        <!-- End .main -->

        <footer class="footer bg-dark">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="widget">
                                <h4 class="widget-title">İLETİŞİM BİLGİLERİ</h4>
                                <ul class="contact-info">
                                    <li>
                                        <span class="contact-info-label">Adres:</span>@(ViewBag.ETicaretAdres.Count > 0 ? ViewBag.ETicaretAdres[0].Deger : "")

                                    </li>
                                    @foreach (YKPortal.Models.Dto.GrupKoduDto grupKodu in ViewBag.ETicaretTelefon)
                                    {
                                        <li>
                                            <span class="contact-info-label">Telefon:</span><a href="tel:@grupKodu.Deger">
                                                @grupKodu.Deger
                                            </a>
                                        </li>
                                    }

                                    @foreach (YKPortal.Models.Dto.GrupKoduDto grupKodu in ViewBag.ETicaretEmail)
                                    {
                                        <li>
                                            <span class="contact-info-label">EPosta Adresi:</span> <a href="mailto:@grupKodu.Deger">@grupKodu.Deger</a>
                                        </li>
                                    }
                                </ul>
                                <div class="social-icons">
                                    <a href="#" class="social-icon social-facebook icon-facebook" target="_blank" title="Facebook"></a>
                                    <a href="#" class="social-icon social-twitter icon-twitter" target="_blank" title="Twitter"></a>
                                    <a href="#" class="social-icon social-instagram icon-instagram" target="_blank" title="Instagram"></a>
                                </div>
                                <!-- End .social-icons -->
                            </div>
                            <!-- End .widget -->
                        </div>
                        <!-- End .col-lg-3 -->

                        <div class="col-lg-3 col-sm-6">
                            <div class="widget">
                                <h4 class="widget-title">SAYFALAR</h4>
                                <ul class="links">
                                    <li><a href="/E/ETicaretSite/Anasayfa">Ana Sayfa</a></li>
                                    <li><a href="/E/ETicaretBilgiler/GenelBilgiler">Genel Bilgiler</a></li>
                                    @foreach (ETicaretSabitSayfalarDto sabitSayfa in ViewBag.SabitSayfalar as List<ETicaretSabitSayfalarDto>)
                                    {
                                        <li><a href="/E/ETicaretSabitSayfalar/Sayfa/@(sabitSayfa.UrlAd)">@(sabitSayfa.Ad)</a></li>
                                    }
                                </ul>
                            </div>
                            <!-- End .widget -->
                        </div>
                        <!-- End .col-lg-3 -->

                        <div class="col-lg-3 col-sm-6">
                            <div class="widget">
                                <h4 class="widget-title">Popüler Etiketler</h4>

                                <div class="tagcloud">
                                    <a href="#">Bag</a>
                                    <a href="#">Black</a>
                                    <a href="#">Blue</a>
                                    <a href="#">Clothes</a>
                                    <a href="#">Fashion</a>
                                    <a href="#">Hub</a>
                                    <a href="#">Shirt</a>
                                    <a href="#">Shoes</a>
                                    <a href="#">Skirt</a>
                                    <a href="#">Sports</a>
                                    <a href="#">Sweater</a>
                                </div>
                            </div>
                            <!-- End .widget -->
                        </div>
                        <!-- End .col-lg-3 -->

                        <div class="col-lg-3 col-sm-6">
                            <div class="widget widget-newsletter">
                                <h4 class="widget-title">Bültene abone olun</h4>
                                <p>
                                    Etkinlikler, indirimler ve tekliflerle ilgili en son bilgileri alın. Bültene Kayıt Olun:
                                </p>
                                <form action="#" class="mb-0">
                                    <input type="email" class="form-control m-b-3" placeholder="Email adresiniz" required>

                                    <input type="submit" class="btn btn-primary shadow-none" value="Bültene Kayıt Ol">
                                </form>
                            </div>
                            <!-- End .widget -->
                        </div>
                        <!-- End .col-lg-3 -->
                    </div>
                    <!-- End .row -->
                </div>
                <!-- End .container -->
            </div>
            <!-- End .footer-middle -->

            <div class="container">
                <div class="footer-bottom">
                    <div class="container d-sm-flex align-items-center">
                        <div class="footer-left">
                            <span class="footer-copyright">@(ViewBag.ETicaretFirmaAdi.Count > 0 ? ViewBag.ETicaretFirmaAdi[0].Deger : ""). @DateTime.Now.Year. Tüm Hakları Saklıdır</span>
                        </div>

                        @*<div class="footer-right ml-auto mt-1 mt-sm-0"> ODEME İKONLARI
                                <div class="payment-icons">
                                    <span class="payment-icon visa" style="background-image: url(/Tema/ETicaret/assets/images/payments/payment-visa.svg)"></span>
                                    <span class="payment-icon paypal" style="background-image: url(/Tema/ETicaret/assets/images/payments/payment-paypal.svg)"></span>
                                    <span class="payment-icon stripe" style="background-image: url(/Tema/ETicaret/assets/images/payments/payment-stripe.png)"></span>
                                    <span class="payment-icon verisign" style="background-image: url(/Tema/ETicaret/assets/images/payments/payment-verisign.svg)"></span>
                                </div>
                            </div>*@
                    </div>
                </div>
                <!-- End .footer-bottom -->
            </div>
            <!-- End .container -->
        </footer>
        <!-- End .footer -->
    </div>
    <!-- End .page-wrapper -->

    <div class="loading-overlay">
        <div class="bounce-loader">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <div class="mobile-menu-overlay"></div>
    <!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="fa fa-times"></i></span>
            <nav class="mobile-nav" id="menuContainer">
                <form class="search-wrapper mb-2" action="#">
                    <input type="text" id="MobileNavsearchInput" class="form-control mb-0" placeholder="Arayın..." required />
                    <button class="btn icon-search text-white bg-transparent p-0" type="submit"></button>
                </form>
                <div class="search-area"></div>
                <ul class="mobile-menu">
                    <li><a href="/E/ETicaretSite/Anasayfa">ANASAYFA</a></li>
                    <li>
                        <a href="#">KATEGORİLER</a>
                        @if (ViewBag.Kategoriler != null)
                        {
                            var kategoriler = ViewBag.Kategoriler as List<YKPortal.Areas.E.Models.Dto.ETicaretKategorilerDto>;
                            if (kategoriler != null && kategoriler.Any())
                            {
                                foreach (var kategori in kategoriler)
                                {
                                    <div class="col-lg-4">
                                        <ul class="submenu">
                                            @if (!string.IsNullOrEmpty(kategori.Kategori1))
                                            {
                                                <li><a href="/ETicaretStok/Stoklar?Kategori1=@kategori.Kategori1">@kategori.Kategori1</a></li>
                                            }
                                            @if (!string.IsNullOrEmpty(kategori.Kategori2))
                                            {
                                                <li><a href="/E/ETicaretKategori/KategoriDetay?kategori=@kategori.Kategori2">@kategori.Kategori2</a></li>
                                            }
                                            @if (!string.IsNullOrEmpty(kategori.Kategori3))
                                            {
                                                <li><a href="/E/ETicaretKategori/KategoriDetay?kategori=@kategori.Kategori3">@kategori.Kategori3</a></li>
                                            }
                                            @if (!string.IsNullOrEmpty(kategori.Kategori4))
                                            {
                                                <li><a href="/E/ETicaretKategori/KategoriDetay?kategori=@kategori.Kategori4">@kategori.Kategori4</a></li>
                                            }
                                            @if (!string.IsNullOrEmpty(kategori.Kategori5))
                                            {
                                                <li><a href="/E/ETicaretKategori/KategoriDetay?kategori=@kategori.Kategori5">@kategori.Kategori5</a></li>
                                            }
                                            @if (!string.IsNullOrEmpty(kategori.Kategori6))
                                            {
                                                <li><a href="/E/ETicaretKategori/KategoriDetay?kategori=@kategori.Kategori6">@kategori.Kategori6</a></li>
                                            }

                                        </ul>
                                    </div>
                                }
                            }
                            else
                            {
                                <p>Kategori Yok</p>
                            }
                        }
                    </li>
                    <li>
                        <a href="/E/ETicaretStok/Stoklar">ÜRÜNLER</a>
                    </li>
                </ul>

                <ul class="mobile-menu">
                    @if (ViewBag.GirisYapildi)
                    {
                        <li><a href="#">Hesabım</a></li>
                        <li><a href="/E/ETicaretKullanici/Profil">Profil</a></li>
                        <li><a href="#">İstek Listem</a></li>
                    }
                    else
                    {

                    }

                    @if (ViewBag.GirisYapildi)
                    {
                        <li>
                            <form class="m-0" action="/E/ETicaretYetkilendirme/Cikis" method="POST">
                                <button type="submit" class="btn btn-link text-white p-4" style="font-size:12px; font-weight:500;">ÇIKIŞ YAP</button>
                            </form>

                        </li>


                    }
                    else
                    {

                        <li><a href="/E/ETicaretYetkilendirme/Giris" class="login-link">Giriş Yap</a></li>

                        <li>
                            <a href="/E/ETicaretYetkilendirme/UyeOl">Üye Ol</a>
                        </li>

                    }

                </ul>
            </nav>
            <!-- End .mobile-nav -->
            <div class="social-icons">
                <a href="#" class="social-icon social-facebook icon-facebook" target="_blank">
                </a>
                <a href="#" class="social-icon social-twitter icon-twitter" target="_blank">
                </a>
                <a href="#" class="social-icon social-instagram icon-instagram" target="_blank">
                </a>
            </div>
        </div>
        <!-- End .mobile-menu-wrapper -->
    </div>


    <a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>

    <!-- Plugins JS File -->

    <script src="~/Tema/ETicaret/assets/js/jquery.min.js"></script>
    <script src="~/Tema/ETicaret/assets/js/jquery.plugin.min.js"></script>
    <script src="~/Tema/ETicaret/assets/js/jquery.countdown.min.js"></script>
    <script src="~/Tema/ETicaret/assets/js/plugins/moment-with-locales.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/v/bs4/jq-3.7.0/jszip-3.10.1/dt-2.1.8/af-2.7.0/b-3.2.0/b-colvis-3.2.0/b-html5-3.2.0/b-print-3.2.0/cr-2.0.4/date-1.5.4/fc-5.0.4/fh-4.0.1/kt-2.12.1/r-3.0.3/rg-1.5.1/rr-1.5.0/sc-2.4.3/sb-1.8.1/sp-2.3.3/sl-2.1.0/sr-1.4.1/datatables.min.js"></script>
    <script src="~/Tema/ETicaret/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/Tema/ETicaret/assets/js/optional/isotope.pkgd.min.js"></script>
    <script src="~/Tema/ETicaret/assets/js/plugins.min.js"></script>
    <script src="~/Tema/ETicaret/assets/js/jquery.appear.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.8/jquery.inputmask.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
    <script src="~/SignalR/Hubs"></script>
    <script src="~/Tema/plugins/custom/tinymce/tinymce.min.js"></script>
    <!-- Main JS File -->
    <script src="~/Tema/ETicaret/assets/js/main.js"></script>
    <script>
        function sweetalert(message = "", type = "success") {
            Swal.fire({
                text: message,
                icon: type,
                buttonsStyling: false,
                confirmButtonText: "Anladım!",
                customClass: {
                    confirmButton: "btn btn-primary"
                }
            });
        }

        $(function () {


            const menuSearch = function () {
                const searchInput = document.getElementById('MobileNavsearchInput');
                const menuItems = document.querySelectorAll('#menuContainer a'); // Tüm menü bağlantılarını seç

                var menuTemplate = (links) => `
                                    <ul class="mobile-menu">
                                        ${links.map(link => '<li><a href="' + link.href + '">' + link.content + '</a></li>')}
                                    </ul>
                                `;

                searchInput.addEventListener('keyup', function () {
                    const searchTerm = searchInput.value.toLowerCase();
                    const links = [];
                    if (searchTerm.length > 0) {
                        menuItems.forEach(item => {
                            const text = item.textContent.toLowerCase(); // Menüdeki metni küçük harfe çevir

                            if ($(item).attr('href') != "#") {
                                if (text.includes(searchTerm)) {
                                    links.push({
                                        href: $(item).attr('href'),
                                        content: item.textContent
                                    });
                                }
                            }
                        });

                        if (links.length > 0) {
                            var template = menuTemplate(links);
                            $('.search-area').html(template);

                            $('#menuContainer > .mobile-menu').css('display', 'none');
                        }
                    } else {
                        $('.search-area').html('');
                        $('#menuContainer > .mobile-menu').css('display', 'block');
                    }
                });
                return {}
            }

            menuSearch();

            var searchQuery = $('input#searchQuery');
            var searchCategory = $('select#cat');
            var uriParse = window.location.href.split("?");

            if (uriParse.length > 1) {
                var parameters = Object.fromEntries((new URLSearchParams(uriParse[1])).entries());

                if (Object.keys(parameters).filter(e => e == "aranacakKelime").length > 0) {
                    searchQuery.val(parameters["aranacakKelime"]);
                }

                if (Object.keys(parameters).filter(e => e == "cat").length > 0) {
                    searchCategory.find('option').each(function () {
                        if ($(this).val() == parameters["cat"]) {
                            $(this).attr("selected", true);
                        }
                    })
                }
            }

        });


        const sepeteEkleButonlar = $('[data-click="SepeteEkle"]').each(function () {
            console.log(this);
            $(this).on('click', function (e) {
                e.preventDefault();
                var data = {
                    Miktar: parseInt($(this).parent().find('[data-input="quantity"]').val()),
                    StokId: $(this).attr('data-id')
                }

                $.ajax({
                    type: "POST",
                    url: '/E/ETicaretSepet/SepeteEkle',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(data),
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (msg) {
                        console.log("HATA! ", msg);
                    }
                });
            })
        });


  //SIGNAL R-START

        function bildirimHubBaglantisi() {
            console.log($.connection.eTicaretBildirimHub);
            const bildirimHub = $.connection.eTicaretBildirimHub;

            bildirimHub.client.receiveNotification = function (count) {
                let counter = parseInt($('[data-id="SepetBildirimi"]').html());

                counter = counter + parseInt(count);
                $('[data-id="SepetBildirimi"]').html(counter)
             };

             const hubOptions = [];

            @if (tarayici == Tarayici.Firefox)
            {
                @Html.Raw("hubOptions.push('webSockets', 'serverSentEvents');"); // Firefox için
            }
            else
            {
                @Html.Raw("hubOptions.push('webSockets','serverSentEvents', 'longPolling');"); // Diğer tarayıcılar için
            }



            $.connection.hub.start({ transport: hubOptions, connectionTimeout: 20000 }).done(function () {
                $('[data-click="SepeteEkle"]').on("click", function () {
                    const count = $(this).parent().find('#UrunSayisi').val();
                    $.connection.eTicaretBildirimHub.server.bildirimGonder(count).done(function () {

                    })
                });
            }).fail(function (error) {
                console.log('Could not connect: ' + error);
            });

        }

        $(function () {
            bildirimHubBaglantisi();
        });

        //SIGNAL R-END
    </script>
    <script>var hostUrl = "~/Tema/ETicaret";</script>
    @RenderSection("Scripts", required: false)


</body>

</html>