@using System.Data
@model System.Data.DataTable
@{
    ViewBag.Title = "AnaSayfa";
    Layout = "~/Areas/E/Views/Shared/_Layout.cshtml";

    var Slaytlar = new List<YKPortal.Areas.E.Models.Dto.ETicaretSlaytDto>();


    if (ViewBag.Slaytlar != null)
    {
        Slaytlar = ViewBag.Slaytlar as List<YKPortal.Areas.E.Models.Dto.ETicaretSlaytDto>;
    }

}

@*<a href="@Url.Action("AnaSayfa","Site",new { Area = "E" })">
        E-Ticaret Ana Sayfa
    </a>*@
<div class="page-wrapper">
    <main class="main">
        <div class="home-slider slide-animate owl-carousel owl-theme show-nav-hover nav-big mb-2 text-uppercase" data-owl-options="{
		'loop': false
	}">

            @foreach (var slayt in Slaytlar)
            {
                <div class="home-slide home-slide1 banner" data-click="@slayt.Link">

                    <img class="slide-bg" src="@slayt.ResimYolu" alt="slider image" style="width:100%; height:700px; object-fit:cover;">
                    <div class="container d-flex align-items-center">
                        <div class="banner-layer appear-animate" data-animation-name="fadeInUpShorter">
                            <h4 class="text-transform-none m-b-3">@Html.Raw(HttpUtility.HtmlDecode(slayt.Text))</h4>
                            <h2 class="text-transform-none mb-0">Summer Sale</h2>
                            <h3 class="m-b-3">70% Off</h3>
                            <h5 class="d-inline-block mb-0">
                                <span>Starting At</span>
                                <b class="coupon-sale-text text-white bg-secondary align-middle">
                                    <sup>$</sup><em class="align-text-top">199</em><sup>99</sup>
                                </b>
                            </h5>
                            <a href="category.html" class="btn btn-dark btn-lg">Shop Now!</a>
                        </div>
                        <!-- End .banner-layer -->
                    </div>
                </div>
                <!-- End .home-slide -->
            }



        </div>
        <!-- End .home-slider -->

        <div class="container-fluid">
            <div class="info-boxes-slider owl-carousel owl-theme mb-2" data-owl-options="{
			'dots': false,
			'loop': false,
			'responsive': {
				'576': {
					'items': 2
				},
				'992': {
					'items': 3
				}
			}
		}">
                <div class="info-box info-box-icon-left">
                    <i class="icon-shipping"></i>

                    <div class="info-box-content">
                        <h4>FREE SHIPPING &amp; RETURN</h4>
                        <p class="text-body">Free shipping on all orders over $99.</p>
                    </div>
                    <!-- End .info-box-content -->
                </div>
                <!-- End .info-box -->

                <div class="info-box info-box-icon-left">
                    <i class="icon-money"></i>

                    <div class="info-box-content">
                        <h4>MONEY BACK GUARANTEE</h4>
                        <p class="text-body">100% money back guarantee</p>
                    </div>
                    <!-- End .info-box-content -->
                </div>
                <!-- End .info-box -->

                <div class="info-box info-box-icon-left">
                    <i class="icon-support"></i>

                    <div class="info-box-content">
                        <h4>ONLINE SUPPORT 24/7</h4>
                        <p class="text-body">Lorem ipsum dolor sit amet.</p>
                    </div>
                    <!-- End .info-box-content -->
                </div>
                <!-- End .info-box -->
            </div>
            <!-- End .info-boxes-slider -->

            <div class="banners-container mb-2">
                <div class="banners-slider owl-carousel owl-theme" data-owl-options="{
				'dots': false
			}">
                    <div class="banner banner1 banner-sm-vw d-flex align-items-center appear-animate" style="background-color: #ccc;" data-animation-name="fadeInLeftShorter" data-animation-delay="500">
                        <figure class="w-100">
                            <img src="~/Tema/ETicaret/assets/images/demoes/demo4/banners/banner-1.jpg" alt="banner" width="380" height="175" />
                        </figure>
                        <div class="banner-layer">
                            <h3 class="m-b-2">Porto Watches</h3>
                            <h4 class="m-b-3 text-primary"><sup class="text-dark"><del>20%</del></sup>30%<sup>OFF</sup></h4>
                            <a href="category.html" class="btn btn-sm btn-dark">Shop Now</a>
                        </div>
                    </div>
                    <!-- End .banner -->

                    <div class="banner banner2 banner-sm-vw text-uppercase d-flex align-items-center appear-animate" data-animation-name="fadeInUpShorter" data-animation-delay="200">
                        <figure class="w-100">
                            <img src="~/Tema/ETicaret/assets/images/demoes/demo4/banners/banner-2.jpg" style="background-color: #ccc;" alt="banner" width="380" height="175" />
                        </figure>
                        <div class="banner-layer text-center">
                            <div class="row align-items-lg-center">
                                <div class="col-lg-7 text-lg-right">
                                    <h3>Deal Promos</h3>
                                    <h4 class="pb-4 pb-lg-0 mb-0 text-body">Starting at $99</h4>
                                </div>
                                <div class="col-lg-5 text-lg-left px-0 px-xl-3">
                                    <a href="category.html" class="btn btn-sm btn-dark">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End .banner -->

                    <div class="banner banner3 banner-sm-vw d-flex align-items-center appear-animate" style="background-color: #ccc;" data-animation-name="fadeInRightShorter" data-animation-delay="500">
                        <figure class="w-100">
                            <img src="~/Tema/ETicaret/assets/images/demoes/demo4/banners/banner-3.jpg" alt="banner" width="380" height="175" />
                        </figure>
                        <div class="banner-layer text-right">
                            <h3 class="m-b-2">Handbags</h3>
                            <h4 class="m-b-2 text-secondary text-uppercase">Starting at $99</h4>
                            <a href="category.html" class="btn btn-sm btn-dark">Shop Now</a>
                        </div>
                    </div>
                    <!-- End .banner -->
                </div>
            </div>
        </div>
        <!-- End .container -->

        <section class="featured-products-section">
            <div class="container-fluid" style="max-width: 1514px!important;">
                <h2 class="mt-4 section-title categories-section-title heading-border border-0 ls-0 appear-animate">Yeni Gelen Ürünler</h2>
                <div class="row mt-2">
                    @foreach (YKPortal.Areas.E.Models.Dto.ETicaretStokDto.ETicaretStokSonucDto stokSonucDto in ViewBag.Stoklar)
                    {
                        <div class="col-12 col-sm-3">
                            <div class="product-default appear-animate" data-animation-name="fadeInRightShorter">
                                <figure>
                                    <a href="/E/ETicaretStok/StokDetay?StokID=@stokSonucDto.StokID">
                                        <img src="/Uploads/Dosyalar/@stokSonucDto.Resim1" class="ov-brand-image" alt="@stokSonucDto.Isim" />
                                        <img class="ov-brand-image" src="/Uploads/Dosyalar/@stokSonucDto.Resim1" alt="@stokSonucDto.Isim" />
                                    </a>
                                </figure>

                                <div class="product-details">
                                    <div class="category-wrap">
                                        <div class="category-list">
                                            <a href="category.html" class="product-category">category</a>
                                        </div>
                                    </div>

                                    <h3 class="product-title">
                                        <a href="/E/ETicaretStok/StokDetay?StokID=@stokSonucDto.StokID">
                                            @stokSonucDto.Isim
                                        </a>
                                    </h3>

                                    <div class="ratings-container">
                                        <div class="product-ratings">
                                            <span class="ratings" style="width:100%"></span>
                                            <!-- End .ratings -->
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                        <!-- End .product-ratings -->
                                    </div>
                                    <!-- End .product-container -->

                                    <div class="price-box">
                                        <span class="product-price">@stokSonucDto.Fiyat</span>
                                    </div>
                                    <!-- End .price-box -->

                                    <div class="product-action">
                                        <a href="wishlist.html" class="btn-icon-wish" title="wishlist">
                                            <i class="icon-heart"></i>
                                        </a>
                                        <div class="product-single-qty">
                                            <input class="horizontal-quantity form-control" type="text" id="UrunSayisi" value="1" data-input="quantity">
                                        </div><!-- End .product-single-qty -->
                                        <button id="SepeteEkle" href="javascript:;" class="btn-icon btn-add-cart" data-click="SepeteEkle" data-id="@stokSonucDto.StokID">
                                            <i class="fa fa-arrow-right"></i><span>
                                                SEPETE EKLE
                                            </span>
                                        </button>
                                        <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View"><i class="fas fa-external-link-alt"></i></a>
                                    </div>

                                </div>
                                <!-- End .product-details -->
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>

        <section class="new-products-section">
            <div class="container">
                <h2 class="mt-4 section-title categories-section-title heading-border border-0 ls-0 appear-animate">En Çok Satan Ürünler</h2>
                <div class="row mt-2">
                    @foreach (YKPortal.Areas.E.Models.Dto.ETicaretStokDto.ETicaretStokSonucDto stokSonucDto in ViewBag.Stoklar)
                    {
                        <div class="col-6 col-sm-4" style="height:600px;">
                            <div class="product-default appear-animate" data-animation-name="fadeInRightShorter">
                                <figure>
                                    <a href="/E/ETicaretStok/StokDetay?StokID=@stokSonucDto.StokID">
                                        <img src="/Uploads/Dosyalar/@stokSonucDto.Resim1" alt="product" />
                                        <img class="product-single-image" src="/Uploads/Dosyalar/@stokSonucDto.Resim1" data-zoom-image="/Uploads/Dosyalar/@stokSonucDto.Resim1" alt="Ürün Fotoğrafı" />
                                    </a>
                                </figure>

                                <div class="product-details">
                                    <div class="category-wrap">
                                        <div class="category-list">
                                            <a href="category.html" class="product-category">category</a>
                                        </div>
                                    </div>

                                    <h3 class="product-title">
                                        <a href="/E/ETicaretStok/StokDetay?StokID=@stokSonucDto.StokID">
                                            @stokSonucDto.Isim
                                        </a>
                                    </h3>

                                    <div class="ratings-container">
                                        <div class="product-ratings">
                                            <span class="ratings" style="width:100%"></span>
                                            <!-- End .ratings -->
                                            <span class="tooltiptext tooltip-top"></span>
                                        </div>
                                        <!-- End .product-ratings -->
                                    </div>
                                    <!-- End .product-container -->

                                    <div class="price-box">
                                        <span class="product-price">@stokSonucDto.Fiyat</span>
                                    </div>
                                    <!-- End .price-box -->

                                    <div class="product-action">
                                        <a href="wishlist.html" class="btn-icon-wish" title="wishlist">
                                            <i class="icon-heart"></i>
                                        </a>
                                        <div class="product-single-qty">
                                            <input class="horizontal-quantity form-control" type="text" id="UrunSayisi" value="1">
                                        </div><!-- End .product-single-qty -->
                                        <button id="SepeteEkle" href="javascript:;" class="btn-icon btn-add-cart" data-click="SepeteEkle">
                                            <span>
                                                <i class="fa fa-arrow-right"></i>
                                                SEPETE EKLE
                                            </span>
                                        </button>

                                        <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View"><i class="fas fa-external-link-alt"></i></a>
                                    </div>

                                </div>
                                <!-- End .product-details -->
                            </div>
                        </div>
                    }

                </div>

                <div class="banner banner-big-sale appear-animate" data-animation-delay="200" data-animation-name="fadeInUpShorter" style="background: #2A95CB center/cover url('/Tema/ETicaret/assets/images/demoes/demo4/banners/banner-4.jpg');">
                    <div class="banner-content row align-items-center mx-0">
                        <div class="col-md-9 col-sm-8">
                            <h2 class="text-white text-uppercase text-center text-sm-left ls-n-20 mb-md-0 px-4">
                                <b class="d-inline-block mr-3 mb-1 mb-md-0">Big Sale</b> All new fashion brands items up to 70% off
                                <small class="text-transform-none align-middle">Online Purchases Only</small>
                            </h2>
                        </div>
                        <div class="col-md-3 col-sm-4 text-center text-sm-right">
                            <a class="btn btn-light btn-white btn-lg" href="category.html">View Sale</a>
                        </div>
                    </div>
                </div>

                <h2 class="section-title categories-section-title heading-border border-0 ls-0 appear-animate mt-4" data-animation-delay="100" data-animation-name="fadeInUpShorter">
                    İlgi Çeken Kategoriler
                </h2>

                <div class="categories-slider owl-carousel owl-theme show-nav-hover nav-outer">
                    <div class="product-category appear-animate" data-animation-name="fadeInUpShorter">
                        <a href="category.html">
                            <figure>
                                <img src="~/Tema/ETicaret/assets/images/demoes/demo4/products/categories/category-1.jpg" alt="category" width="280" height="240" />
                            </figure>
                            <div class="category-content">
                                <h3>Dress</h3>
                                <span><mark class="count">3</mark> products</span>
                            </div>
                        </a>
                    </div>

                    <div class="product-category appear-animate" data-animation-name="fadeInUpShorter">
                        <a href="category.html">
                            <figure>
                                <img src="~/Tema/ETicaret/assets/images/demoes/demo4/products/categories/category-2.jpg" alt="category" width="220" height="220" />
                            </figure>
                            <div class="category-content">
                                <h3>Watches</h3>
                                <span><mark class="count">3</mark> products</span>
                            </div>
                        </a>
                    </div>

                    <div class="product-category appear-animate" data-animation-name="fadeInUpShorter">
                        <a href="category.html">
                            <figure>
                                <img src="~/Tema/ETicaret/assets/images/demoes/demo4/products/categories/category-3.jpg" alt="category" width="220" height="220" />
                            </figure>
                            <div class="category-content">
                                <h3>Machine</h3>
                                <span><mark class="count">3</mark> products</span>
                            </div>
                        </a>
                    </div>

                    <div class="product-category appear-animate" data-animation-name="fadeInUpShorter">
                        <a href="category.html">
                            <figure>
                                <img src="~/Tema/ETicaret/assets/images/demoes/demo4/products/categories/category-4.jpg" alt="category" width="220" height="220" />
                            </figure>
                            <div class="category-content">
                                <h3>Sofa</h3>
                                <span><mark class="count">3</mark> products</span>
                            </div>
                        </a>
                    </div>

                    <div class="product-category appear-animate" data-animation-name="fadeInUpShorter">
                        <a href="category.html">
                            <figure>
                                <img src="~/Tema/ETicaret/assets/images/demoes/demo4/products/categories/category-6.jpg" alt="category" width="220" height="220" />
                            </figure>
                            <div class="category-content">
                                <h3>Headphone</h3>
                                <span><mark class="count">3</mark> products</span>
                            </div>
                        </a>
                    </div>

                    <div class="product-category appear-animate" data-animation-name="fadeInUpShorter">
                        <a href="category.html">
                            <figure>
                                <img src="~/Tema/ETicaret/assets/images/demoes/demo4/products/categories/category-5.jpg" alt="category" width="220" height="220" />
                            </figure>
                            <div class="category-content">
                                <h3>Sports</h3>
                                <span><mark class="count">3</mark> products</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="feature-boxes-container">
            <div class="container appear-animate" data-animation-name="fadeInUpShorter">
                <div class="row">
                    <div class="col-md-4">
                        <div class="feature-box px-sm-5 feature-box-simple text-center">
                            <div class="feature-box-icon">
                                <i class="icon-earphones-alt"></i>
                            </div>

                            <div class="feature-box-content p-0">
                                <h3>Customer Support</h3>
                                <h5>You Won't Be Alone</h5>

                                <p>We really care about you and your website as much as you do. Purchasing Porto or any other theme from us you get 100% free support.</p>
                            </div>
                            <!-- End .feature-box-content -->
                        </div>
                        <!-- End .feature-box -->
                    </div>
                    <!-- End .col-md-4 -->

                    <div class="col-md-4">
                        <div class="feature-box px-sm-5 feature-box-simple text-center">
                            <div class="feature-box-icon">
                                <i class="icon-credit-card"></i>
                            </div>

                            <div class="feature-box-content p-0">
                                <h3>Fully Customizable</h3>
                                <h5>Tons Of Options</h5>

                                <p>With Porto you can customize the layout, colors and styles within only a few minutes. Start creating an amazing website right now!</p>
                            </div>
                            <!-- End .feature-box-content -->
                        </div>
                        <!-- End .feature-box -->
                    </div>
                    <!-- End .col-md-4 -->

                    <div class="col-md-4">
                        <div class="feature-box px-sm-5 feature-box-simple text-center">
                            <div class="feature-box-icon">
                                <i class="icon-action-undo"></i>
                            </div>
                            <div class="feature-box-content p-0">
                                <h3>Powerful Admin</h3>
                                <h5>Made To Help You</h5>

                                <p>Porto has very powerful admin features to help customer to build their own shop in minutes without any special skills in web development.</p>
                            </div>
                            <!-- End .feature-box-content -->
                        </div>
                        <!-- End .feature-box -->
                    </div>
                    <!-- End .col-md-4 -->
                </div>
                <!-- End .row -->
            </div>
            <!-- End .container-->
        </section>
        <!-- End .feature-boxes-container -->

        <section class="promo-section bg-dark" data-parallax="{'speed': 2, 'enableOnMobile': true}" data-image-src="/Tema/ETicaret/assets/images/demoes/demo4/banners/banner-5.jpg">
            <div class="promo-banner banner container text-uppercase">
                <div class="banner-content row align-items-center text-center">
                    <div class="col-md-4 ml-xl-auto text-md-right appear-animate" data-animation-name="fadeInRightShorter" data-animation-delay="600">
                        <h2 class="mb-md-0 text-white">Top Fashion<br>Deals</h2>
                    </div>
                    <div class="col-md-4 col-xl-3 pb-4 pb-md-0 appear-animate" data-animation-name="fadeIn" data-animation-delay="300">
                        <a href="category.html" class="btn btn-dark btn-black ls-10">View Sale</a>
                    </div>
                    <div class="col-md-4 mr-xl-auto text-md-left appear-animate" data-animation-name="fadeInLeftShorter" data-animation-delay="600">
                        <h4 class="mb-1 mt-1 font1 coupon-sale-text p-0 d-block ls-n-10 text-transform-none">
                            <b>
                                Exclusive
                                COUPON
                            </b>
                        </h4>
                        <h5 class="mb-1 coupon-sale-text text-white ls-10 p-0"><i class="ls-0">UP TO</i><b class="text-white bg-secondary ls-n-10">$100</b> OFF</h5>
                    </div>
                </div>
            </div>
        </section>


    </main>
</div>


@section Styles {

}


@section Scripts {
    <script>
        $(function () {
            $(document).on('click', '[data-click]', function () {
                if (!!$(this).data('click')) {
                    window.open($(this).data('click'), '_self');
                }

            });
        });
    </script>
}


