@using YKPortal.Models.Dto

@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <div class="d-flex ">
                @if (ViewBag.AnaSayfaAktifCari == true)
                {
                    <div class="card card-flush p-1 w-100" style="text-align: center; background-image: url('/Tema/media/Photo/aktif_cari.jpg'); background-repeat: no-repeat; background-size: 100% 100%; ">
                        <a href="@Url.Action("Liste", "Cari", new { Area = "" })">
                            <p class="fs-1 fw-bold text-gray-700">@String.Format("{0:N0}", ViewBag.Bilgiler.Cari)</p>
                            <h3 class="text-primary">Aktif Cari</h3>
                        </a>
                    </div>
                }
                @if (ViewBag.AnaSayfaAktifStok == true)
                {
                    <div class="card card-flush p-1 w-100 ms-4" style="text-align: center; background-image: url('/Tema/media/Photo/aktif_stok.jpg'); background-repeat: no-repeat; background-size: 100% 100%;">
                        <a href="@Url.Action("Liste","Stok",new { Area = "" })">
                            <p class="fs-1 fw-bold text-gray-700">@String.Format("{0:N0}", ViewBag.Bilgiler.Stok)</p>
                            <h3 class="text-primary">Aktif Stok</h3>
                        </a>
                    </div>
                }
                @if (ViewBag.AnaSayfaAktifSiparis == true)
                {
                    <div class="card card-flush p-1 w-100 ms-4" style="text-align: center; background-image: url('/Tema/media/Photo/aktif_siparis.jpg'); background-repeat: no-repeat; background-size: 100% 100%;">
                        <a href="@Url.Action("Liste", "SatisSiparisi", new { Area = "", Tip = "SS" })">
                            <p class="fs-1 fw-bold text-gray-700">@String.Format("{0:N0}", ViewBag.Bilgiler.Belge)</p>
                            <h3 class="text-primary">Aktif Sipariş</h3>
                        </a>
                    </div>
                }
            </div>
            @if (ViewBag.AnaSayfaTakvim == true)
            {

                <div class="card border-0 mt-4">
                    <div class="card-custom">
                        <div class="card-header">
                            <div class="card-title">
                                <h3 class="card-label">Takvim</h3>
                            </div>
                            <form id="Not-Ekle">
                                <div class="card-toolbar">
                                    <button type="button" class="btn btn-flex btn-primary btn-sm" data-kt-calendar="add" data-bs-toggle="modal" data-bs-target="#TakvimEtkinlikModal">
                                        <i class="ki-duotone ki-plus fs-2"></i>
                                        Ekle
                                    </button>
                                </div>
                            </form>

                        </div>



                        <div id="kt_app_content_container" class="app-container card-body">
                            <div id="Takvim">

                            </div> <!-- Takvim alanı -->
                            <!-- Modal Yapısı -->

                        </div>


                    </div>

                </div>


            }

        </div>
        <div class="col-sm-4">
            @if (ViewBag.AnaSayfaBekleyenGorevSayisi == true)
            {
                <div class="card card-flush px-4 pt-2 pb-0 mb-2 object-fit-contain" style="text-align: center; object-fit: contain; background-image: url('/Tema/media/Photo/bekleyen_gorev_sayisi.jpg'); background-size: 542px;">
                    <a href="@Url.Action("GorevListe", "Gorev", new { Area = "" })">
                        <p class="fs-1 fw-bold text-gray-700 p-0">@String.Format("{0:N0}", ViewBag.Bilgiler.Gorev)</p>
                        <h3 class="text-primary">Bekleyen Görev Sayısı</h3>
                    </a>
                </div>
            }
            <!--begin::Col-->
            @if (ViewBag.AnaSayfaSonAktiviteler == true)
            {
                <div class="mt-4">
                    <div>

                        <!--begin::Timeline widget 3-->
                        <div class="card h-md-100">
                            <!--begin::Header-->
                            <div class="card-header border-0 pt-5 px-4">
                                <h3 class="card-title align-items-start flex-column">
                                    <span class="card-label fs-4 fw-bold text-gray-900">Son Aktiviteleri</span>
                                    <span class="text-muted mt-1 fw-semibold fs-7">En son yapılan işlemler</span>
                                </h3>
                            </div>
                            <!--end::Header-->
                            <!--begin::Body-->
                            <div class="card-body pt-4 px-0 overflow-x-hidden overflow-y-auto" style="max-height:480px;">

                                <!--begin::Tab Content (ishlamayabdi)-->
                                <div class="tab-content mb-0 px-4">
                                    @foreach (var sonAktivite in ViewBag.SonAktiviteler)
                                    {
                                        <!--begin::Tap pane-->
                                        <div class="tab-pane fade show active" id="kt_timeline_widget_3_tab_content_4">
                                            <!--begin::Wrapper-->
                                            <div class="d-flex align-items-center mb-4">

                                                <!--begin::Bullet-->
                                                <span data-kt-element="bullet" class="bullet bullet-vertical d-flex rounded align-items-center min-h-80px h mh-80 me-4 bg-primary"></span>
                                                <!--end::Bullet-->
                                                <!--begin::Info-->
                                                <div class="flex-grow-1 me-0">
                                                    <!--begin::Link-->
                                                    <div class="d-flex m-0 p-0">
                                                        <a class="text-primary fw-semibold fs-5">Modül : @(sonAktivite.Modul)</a>
                                                    </div>
                                                    <div class="d-flex m-0 p-0">
                                                        <div class="text-gray-700 fw-semibold fs-6">İşlem : @(sonAktivite.Aciklama1)</div>
                                                    </div>
                                                    <!--begin::Description-->
                                                    @if (sonAktivite.Aciklama1 != "Kullanıcı Girişi")
                                                    {
                                                        <div class="d-flex m-0 p-0">
                                                            <div class="text-gray-700 fw-semibold fs-6">Açıklama : @(sonAktivite.Aciklama2)</div>
                                                        </div>
                                                    }
                                                    <!--end::Description-->
                                                </div>
                                                <!--end::Info-->
                                                <!--begin::Action-->
                                                <div class="d-flex m-0 p-0">
                                                    <div class="text-gray-700 fw-semibold fs-6">
                                                        @{
                                                            TimeSpan tarihFarki = DateTime.Now - Convert.ToDateTime(sonAktivite.Tarih);
                                                            string tarihBilgisi = "";
                                                            if (tarihFarki.Days > 0)
                                                            {
                                                                tarihBilgisi += tarihFarki.Days + " gün önce ";
                                                            }
                                                            else if (tarihFarki.Hours > 0)
                                                            {
                                                                tarihBilgisi += tarihFarki.Hours + " saat önce ";
                                                            }
                                                            else if (tarihFarki.Minutes > 0)
                                                            {
                                                                tarihBilgisi += tarihFarki.Minutes + " dakika önce ";
                                                            }
                                                            else
                                                            {
                                                                tarihBilgisi += " şimdi ";
                                                            }
                                                        }
                                                        @if (sonAktivite.Modul == "Kullanıcı" && sonAktivite.Aciklama1 == "Kullanıcı Girişi")
                                                        {

                                                            <span>@(sonAktivite.Aciklama2)</span><br />
                                                            <span>@(tarihBilgisi)</span><br />
                                                        }
                                                        else
                                                        {
                                                            <span>@(sonAktivite.Kullanici)</span><br />
                                                            <span>@(tarihBilgisi)...</span><br />
                                                        }
                                                    </div>
                                                    <!--end::Action-->
                                                </div>
                                                <!--end::Wrapper-->

                                            </div>
                                            <!--end::Tap pane-->



                                        </div>
                                    }
                                    <!--end::Tab Content-->
                                    <!--begin::Action-->
                                    <div class="float-end d-none">
                                        <a href="#" class="btn btn-sm btn-light me-2" data-bs-toggle="modal" data-bs-target="#kt_modal_create_project">Add Lesson</a>
                                        <a href="#" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#kt_modal_create_app">Call Sick for Today</a>
                                    </div>
                                    <!--end::Action-->
                                </div>
                                <!--end: Card Body-->
                            </div>
                            <!--end::Timeline widget 3-->
                        </div>


                    </div>
                    <!--end::Col-->
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="TakvimEtkinlikModal" tabindex="-1" aria-hidden="true" data-bs-focus="false">
    <div class="modal-dialog modal-dialog-centered mw-650px">
        <div class="modal-content">
            <!-- Form Yapısı -->
            <form class="form" action="/YK/TakvimKaydet" method="post" id="takvimKaydetForm">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h2 class="fw-bold" data-takvimModalBaslik></h2>
                    <button type="button" class="btn btn-icon btn-sm btn-active-icon-primary" data-bs-dismiss="modal">
                        <i class="ki-duotone ki-cross fs-1"></i>
                    </button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body py-10 px-lg-17">
                    <input type="hidden" name="ID" id="TakvimID" value="" />
                    <!-- Etkinlik Adı -->
                    <div class="fv-row mb-9">
                        <label class="fs-6 fw-semibold required mb-2">Etkinlik Adı</label>
                        <input type="text" id="TakvimBaslik" class="form-control form-control-solid" name="Baslik" placeholder="Etkinlik Adı" />
                    </div>

                    <!-- Açıklama -->
                    <div class="fv-row mb-9">
                        <label class="fs-6 fw-semibold mb-2">Açıklama</label>
                        <textarea name="Aciklama" id="TakvimAciklama" class="form-control form-control form-control-solid" data-kt-autosize="true" placeholder="Açıklama"></textarea>
                    </div>

                    <!-- Durum Seçimi -->
                    <div class="row mt-4">
                        <div class="col-lg-12">
                            <div class="form-group d-flex flex-column">
                                <label for="TakvimDurumu" class="form-label">Durumu</label>
                                <select class="form-control form-control-solid p-2 rounded-1"  name="Durumu" id="TakvimDurumu">
                                    <option value="">Lütfen Seçim Yapınız</option>
                                    @foreach (var takvimDurumu in ViewBag.TakvimDurumlari)
                                    {
                                        <option value="@takvimDurumu.Deger">@takvimDurumu.Deger</option>
                                    }

                                </select>
                                <div data-error="TakvimDurumu"></div>

                            </div>
                        </div>
                    </div>

                    <!-- Tarih Seçimi -->
                    <div class="row mt-4">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="fs-6 fw-semibold mb-2 required">Tarihi</label>
                                <input type="datetime-local" class="form-control form-control-solid" name="Tarih" id="TakvimTarih" value="@(DateTime.Now.ToString("yyyy-MM-ddTHH:mm"))" />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer flex-center">
                    <button type="button" class="EtkinlikSil btn btn-sm btn-danger" data-bs-dismiss="modal" style="display: none;">Sil</button>
                    <button type="reset" class="btn btn-light me-3 btn-sm" data-bs-dismiss="modal">Vazgeç</button>
                    <button type="submit" id="kt_modal_add_event_submit" class="btn btn-primary btn-sm">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />

}
@section Scripts {

    @* Türkçe desteği *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/tr.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.7/js/dataTables.min.js"></script>

    <script>

      


        $(document).ready(function () {
            $('#TakvimEtkinlikModal').on('hidden.bs.modal', function () {
                $('button.EtkinlikSil').hide();
            })
            var TakvimModulu = function () {

                var calendar; // calendar değişkeni global olarak bu modülde tanımlandı

                var exampleBasic = function () {
                    var todayDate = moment().startOf('day');
                    var TODAY = todayDate.format('YYYY-MM-DD');

                    var calendarEl = document.getElementById('Takvim');
                    calendar = new FullCalendar.Calendar(calendarEl, {
                        headerToolbar: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
                        },
                        locale: 'tr',  // Takvimi Türkçe yapar
                        height: 600,
                        contentHeight: 580,
                        aspectRatio: 3,
                        nowIndicator: true,
                        now: TODAY + 'T09:25:00',
                        views: {
                            dayGridMonth: { buttonText: 'Ay' }, // Türkçe dilinde ay görünümü
                            timeGridWeek: { buttonText: 'Hafta' }, // Hafta görünümü
                            timeGridDay: { buttonText: 'Gün' } // Gün görünümü
                        },
                        initialView: 'dayGridMonth',
                        initialDate: TODAY,
                        editable: true,
                        dayMaxEvents: true,
                        navLinks: true,
                        events: function (dateRange, callback) {
                            $.ajax({
                                url: '/YK/Takvim',
                                dataType: 'json',
                                data: {
                                    start: dateRange.startStr, 
                                    end: dateRange.endStr, 
                                },
                                success: function (response) {
                                    callback(response);
                                },
                                error: function (err) {
                                    toastr("Takvim Hatası", "Takvim bilgileri getirilemedi.")
                                }
                            });
                        },
                        eventClick: function (info) {
                            console.log(info.event);
                            // Tıklanan etkinlikte açıklama ve başlık gösterimi
                            $('[data-takvimModalBaslik]').text(info.event.title + " Düzenle");  // Etkinlik başlığını modal başlığına koyuyoruz
                            //$('#eventModalDescription').text(info.event.extendedProps.description);  // Açıklamayı modal içeriğine koyuyoruz
                            $('button.EtkinlikSil').show()
                            $('#TakvimEtkinlikModal').modal('show');  // Modalı açıyoruz
                            $("#TakvimDurumu option").each(function () {
                                if ($(this).val() == info.event.extendedProps.customStatus) {
                                    $(this).attr('selected', true);
                                } else {
                                    $(this).attr('selected', false);
                                }
                            })
                            $('#TakvimID').val(info.event.id);
                            $('#TakvimBaslik').val(info.event.title);
                            $('#TakvimAciklama').val(info.event.extendedProps.description);
                            setDateTimeInput('#TakvimTarih', info.event.start)
                      
                            //$('#EventID').val(info.event.id);
                        },

                        eventDidMount: function (info) {
                            // Tooltip eklemek için
                            $(info.el).tooltip({
                                title: info.event.extendedProps.description,  // Açıklamayı tooltip olarak göster
                                placement: 'top',
                                trigger: 'hover',
                                container: 'body'
                            });
                        }
                    });

                    calendar.render();
                }

                return {
                    init: function () {
                        exampleBasic(); // Takvimi başlat
                    },
                    updateCalendarEvents: function () {
                        calendar.refetchEvents(); // Takvimi yeniden yükleyerek etkinlikleri günceller
                    },
                    saveCalendarEvent: function () {
                        const Durumu = $('#TakvimDurumu option:selected');

                        let isValidated = true;
                        const message = {
                            Durumu: [],

                        };


                        if (Durumu.val() === "") {
                            isValidated = false;
                            message.Durumu.push("Lütfen bir durum seçiniz.")
                        }

                        if (!isValidated) {
                            document.querySelector('[data-error="TakvimDurumu"]').innerHTML = message.Durumu.map(error => `<div class="text-danger">${error}</div>`).join("");
                            return;
                        }

                        var _data = {
                            Baslik: $('#TakvimBaslik').val(),
                            Aciklama: $('#TakvimAciklama').val(),
                            Durumu: $('#TakvimDurumu option:selected').val(),
                            Tarih: moment($('#TakvimTarih').val()).toISOString() // Sadece başlangıç tarihi göndermek
                        };

                        if ($("input#TakvimID").val() && $("input#TakvimID").val().length > 0) {
                            _data.Id = $("input#TakvimID").val()
                        }

                        var temizle = function () {
                            $('#TakvimID').val('')
                            $('#TakvimBaslik').val('')
                            $('#TakvimAciklama').val('')

                            $('#TakvimDurumu option').each(function () {
                                $(this).attr('selected', false)
                                if ($(this).val() == "") {
                                    $(this).attr("selected", true);
                                }

                                setDateTimeInput("#TakvimTarih");
                            });

                            $('button.EtkinlikSil').hide();
                        }

                        console.log(_data); // Verileri kontrol etme

                        // AJAX isteği ile verileri gönderme
                        $.ajax({
                            url: '/YK/TakvimKaydet',
                            type: 'POST',
                            data: JSON.stringify(_data),  // JSON formatına dönüştürülmüş veri
                            contentType: "application/json",
                            dataType: "json",
                            success: function (response) {
                                if (response.Success) {
                                    $('#TakvimEtkinlikModal').modal('hide');
                                    temizle();
                                    TakvimModulu.updateCalendarEvents();  // Takvimi güncelle
                                } else {
                                    console.error('Kaydetme işleminde hata oluştu:', response.Message);
                                }
                            },
                            error: function (xhr, status, error) {
                                console.error('Kaydetme hatası:', status, error);
                            }
                        });
                    },
                    refetchEvents: () => {
                        if (calendar) {
                            calendar.refetchEvents();
                        }
                    }

                };
            }();
            // Takvim modülünü başlat
            TakvimModulu.init();

            $(document).on('click', '.EtkinlikSil', function () {
                // Etkinlik ID'sini butonun data-id özelliğinden alıyoruz.
                var etkinlikID = $('#TakvimID').val();
                console.log(etkinlikID);

                // Kullanıcıdan onay alma
                if (confirm("Bu etkinliği silmek istediğinizden emin misiniz?")) {
                    $.ajax({
                        type: "POST",
                        url: '/YK/TakvimEtkinlikSil',  // Silme işlemi yapacak olan sunucu tarafı endpoint
                        data: { id: etkinlikID },  // Silinecek etkinliğin ID'si
                        success: function (response) {
                            if (response.SonucKodu === 200) {
                                // Başarılı olduğunda, ilgili etkinliği DOM'dan kaldırıyoruz
                                $('#etkinlik-' + etkinlikID).remove();
                                alert('Etkinlik başarıyla silindi.');
                                TakvimModulu.refetchEvents();
                                $('button.EtkinlikSil').hide();
                            } else {
                                // Eğer silme işlemi başarısız olursa
                                alert('Etkinlik silinemedi. Lütfen tekrar deneyin.');
                            }
                        },
                        error: function () {
                            // AJAX isteğinde bir hata oluştuğunda
                            alert('Bir hata oluştu, etkinlik silinemedi.');
                        }
                    });
                }
            });

            // Form submit işlemi
            $('#takvimKaydetForm').on('submit', function (event) {
                event.preventDefault(); // Formun doğal submit işlemini durdurur
                TakvimModulu.saveCalendarEvent();
            });

            $('button[data-bs-target="#TakvimEtkinlikModal"]').on('click', function () {
                $('[data-takvimModalBaslik]').html('Etkinlik Ekle');
            })

        });
    </script>

}
