@model System.Data.DataTable
@{
    ViewBag.Title = "Üyelik Düzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--begin::Form-->
<form id="kt_modal_add_user_form" class="form mt-7" action="@Url.Action("UyelikDuzenle","YK",null)" method="post" enctype="multipart/form-data">
    <h3>@ViewBag.Bilgi</h3>
    <!--begin::Scroll-->
    <div class="d-flex flex-column scroll-y px-5 px-lg-10 container">
        <!--begin::Input group-->
        <div class="fv-row mb-7">
            <!--begin::Label-->
            <label class="d-block fw-semibold fs-6 mb-5">LOGO</label>
            <!--end::Label-->
            <!--begin::Image placeholder-->
            <style>
                .image-input-placeholder {
                    background-image: url('assets/media/svg/files/blank-image.svg');
                }

                [data-bs-theme="dark"] .image-input-placeholder {
                    background-image: url('assets/media/svg/files/blank-image-dark.svg');
                }
            </style>
            <!--end::Image placeholder-->
            <!--begin::Image input-->
            <div class="image-input image-input-outline image-input-placeholder" data-kt-image-input="true">
                <!--begin::Preview existing avatar-->
                <div class="image-input-wrapper w-125px h-125px" style="background-image: url(@(Convert.ToString(Model.Rows[0]["Resim"])));"></div>
                <!--end::Preview existing avatar-->
                <!--begin::Label-->
                <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Profil Resmi Seç">
                    <i class="ki-duotone ki-pencil fs-7">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                    <!--begin::Inputs-->
                    <input type="file" name="Resim" accept=".png, .jpg, .jpeg" />
                    <input type="hidden" name="avatar_remove" />
                    <!--end::Inputs-->
                </label>
                <!--end::Label-->
                <!--begin::Cancel-->
                <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Profil Resmini Kaldır">
                    <i class="ki-duotone ki-cross fs-2">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                </span>
                <!--end::Cancel-->
                <!--begin::Remove-->
                <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Profil Resmini Kaldır">
                    <i class="ki-duotone ki-cross fs-2">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                </span>
                <!--end::Remove-->
            </div>
            <!--end::Image input-->
            <!--begin::Hint-->
            <div class="form-text">Kabul edilen dosya türleri : png, jpg, jpeg.</div>
            <!--end::Hint-->
        </div>
        <!--end::Input group-->
        <!--begin::Row Input group-->
        <div class="row mb-7">
            <!--begin::Input group-->
            <input type="hidden" id="ID" name="ID" value="@(Convert.ToString(Model.Rows[0]["ID"]))" />
            <div class="col-lg-6">
                <!--begin::Label-->
                <label class="required fw-semibold fs-6 mb-2">İsim</label>
                <!--end::Label-->
                <!--begin::Input-->
                <input type="text" name="Isim" id="Isim" class="form-control p-2 mb-3 mb-lg-0" placeholder="İsim" value="@(Convert.ToString(Model.Rows[0]["Isim"]))" />
                <!--end::Input-->
            </div>
            <!--end::Input group-->
            <!--begin::Input group-->
            <div class="col-lg-6">
                <!--begin::Label-->
                <label class="required fw-semibold fs-6 mb-2">Ünvan</label>
                <!--end::Label-->
                <!--begin::Input-->
                <input type="text" name="Unvan" id="Unvan" class="form-control p-2 mb-3 mb-lg-0" placeholder="Ünvan" value="@(Convert.ToString(Model.Rows[0]["Unvan"]))" />
                <!--end::Input-->
            </div>
            <!--end::Input group-->
        </div>
        <!--begin::Row Input group-->
        <!--begin::Row Input group-->
        <div class="row mb-7">
            <!--begin::Input group-->
            <div class="col-lg-6 d-flex justify-content-start align-items-center ">
                <div class="col-lg-6 pe-3">
                    <!--begin::Label-->
                    <label class="required fw-semibold fs-6 mb-2">Vergi Numarası</label>
                    <!--end::Label-->
                    <!--begin::Input-->
                    <input type="text" name="VergiNumarasi" id="VergiNumarasi" class="form-control @(ViewData.ModelState.ContainsKey("VergiNumarasi") ? "is-invalid" : "")  mb-3 p-2 mb-lg-0" placeholder="Vergi Numarası" value="@(Convert.ToString(Model.Rows[0]["VergiNumarasi"]))" />
                    <!--end::Input-->
                    @if (ViewData.ModelState.ContainsKey("VergiNumarasi") && ViewData.ModelState["VergiNumarasi"].Errors.Count() > 0)
                    {
                        foreach (var error in ViewData.ModelState["VergiNumarasi"].Errors)
                        {
                            <div class="">@error.ErrorMessage</div>
                        }
                    }
                </div>
                <div class="col-lg-6 ps-3">
                    <!--begin::Label-->
                    <label class="required fw-semibold fs-6 mb-2">Vergi Dairesi</label>
                    <!--end::Label-->
                    <!--begin::Input-->
                    <input type="text" name="VergiDairesi" class="form-control p-2 mb-3 mb-lg-0" placeholder="Vergi Dairesi" value="@(Convert.ToString(Model.Rows[0]["VergiDairesi"]))" />
                    <!--end::Input-->
                </div>

            </div>
            <div class="col-lg-6">
                <div>
                    <!--begin::Label-->
                    <label class="required fw-semibold fs-6 mb-2">Adres</label>
                    <!--end::Label-->
                    <!--begin::Input-->
                    <input type="text" name="Adres" class="form-control p-2 mb-3 mb-lg-0" placeholder="Adres" value="@(Convert.ToString(Model.Rows[0]["Adres"]))" />
                    <!--end::Input-->
                </div>
            </div>

        </div>
        <!--begin::Row Input group-->
        <div class="row mb-7">
            <div class="col-lg-6">
                <label class="required fw-semibold fs-6 mb-2">İletişim</label>
                <input class="form-control p-2" name="Iletisim" id="Iletisim" value="@(Convert.ToString(Model.Rows[0]["Iletisim"]))" />
            </div>
            <div class="col-lg-6">
                <label class="required fw-semibold fs-6 mb-2">E-Mail</label>
                <input class="form-control p-2" name="EMail" id="EMail" value="@(Convert.ToString(Model.Rows[0]["EMail"]))" />
            </div>
        </div>
        <div class="row mb-7">
            <div class="col-lg-3">
                <label class="required fw-semibold fs-6 mb-2">Başlangıç Tarihi</label>
                <input type="date" class="form-control p-2" name="UyelikBaslangicTarihi" id="UyelikBaslangicTarihi" value="@(Convert.ToDateTime(Model.Rows[0]["UyelikBaslangicTarihi"]).ToString("yyyy-MM-dd"))" />
            </div>
            <div class="col-lg-3">
                <label class="required fw-semibold fs-6 mb-2">Bitiş Tarihi</label>
                <input type="date" class="form-control p-2" name="UyelikBitisTarihi" id="UyelikBitisTarihi" value="@(Convert.ToDateTime(Model.Rows[0]["UyelikBitisTarihi"]).ToString("yyyy-MM-dd"))" />
            </div>
            <div class="col-lg-3">
                <label class="required fw-semibold fs-6 mb-2">Api URL</label>
                <input class="form-control p-2" name="ApiUrl" id="ApiUrl" value="@(Convert.ToString(Model.Rows[0]["ApiUrl"]))" />
            </div>
            <div class="col-lg-3">
                <label class="required fw-semibold fs-6 mb-2">Açılış Sayfası</label>
                <input class="form-control p-2" name="AcilisSayfasi" id="AcilisSayfasi" value="@(Convert.ToString(Model.Rows[0]["AcilisSayfasi"]))" />
            </div>
        </div>
        <!--begin::Actions-->
        <div class="pt-4">
            <a onclick="history.back()" class="btn btn-light me-3" data-kt-users-modal-action="cancel">Geri</a>
            <button type="submit" class="btn btn-primary" data-kt-users-modal-action="Duzenle">
                <span class="indicator-label">Duzenle</span>
            </button>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#Uyelik-silme">
                <span class="indicator-label">Sil</span>
            </button>
        </div>
        <!--end::Actions-->
    </div>
    <!--end::Scroll-->
    
</form>
<!--end::Form-->


<div class="modal fade" id="Uyelik-silme" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Üye Silme İşlemi</h3>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                <p>Üyeyi silmek istediğinize emin misiniz?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light btn-sm fw-bold" data-bs-dismiss="modal">Vazgeç</button>
                <form method="post" id="silme-formu" action="@Url.Action("UyelikSil","YK",null)">
                    <input type="hidden" name="ID" value="@(Convert.ToString(Model.Rows[0]["ID"]))" />
                    <button type="submit" class="btn btn-danger btn-sm fw-bold">Sil</button>
                </form>
            </div>
        </div>
    </div>
</div>