@using YKPortal.Models.Dto
@model System.Data.DataTable
@{
    ViewBag.Title = "Üye Ol";
    Layout = null;

    if (ViewBag.Form == null)
    {
        ViewBag.Form = new YKPortal.Models.Dto.UyelikDto();
    }

    string Bilgilendirme = Convert.ToString(ViewBag.Mesaj);
}

<!DOCTYPE html>
<html lang="tr">
<!--begin::Head-->
<head>
    <title>@ViewBag.Title - @System.Configuration.ConfigurationManager.AppSettings["FirmaAdi"]</title>
    <meta charset="utf-8" />
    <meta name="description" content="YK Portal - Siz hayal edin biz yazalım." />
    <meta name="keywords" content="YK YAZILIM, yk, yazılım, erp, muhasebe, stok, cari, kasa, fatura, e-devlet, e-fatura, sipariş, teklif, banka, crm, müşteri" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="YK Portal - Siz hayal edin biz yazalım." />
    <meta property="og:url" content="https://keenthemes.com/metronic" />
    <meta property="og:site_name" content="YK YAZILIM" />
    <link rel="canonical" href="http://authentication/layouts/corporate/sign-in.html" />
    <link rel="apple-touch-icon" sizes="57x57" href="/Tema/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/Tema/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Tema/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Tema/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Tema/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Tema/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Tema/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Tema/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/Tema/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/Tema/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Tema/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/Tema/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Tema/favicons/favicon-16x16.png">
    <link rel="manifest" href="/Tema/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/Tema/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--begin::Fonts(mandatory for all pages)-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
    <link href="/Tema/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/Tema/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="/Tema/css/override.css" rel="stylesheet" type="text/css" />
    <!--end::Global Stylesheets Bundle-->
</head>
<!--end::Head-->
<!--begin::Body-->

<body id="kt_body" class="auth-bg">
    <!--begin::Theme mode setup on page load-->
    <script>var defaultThemeMode = "light"; var themeMode; if (document.documentElement) { if (document.documentElement.hasAttribute("data-bs-theme-mode")) { themeMode = document.documentElement.getAttribute("data-bs-theme-mode"); } else { if (localStorage.getItem("data-bs-theme") !== null) { themeMode = localStorage.getItem("data-bs-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-bs-theme", themeMode); }</script>
    <!--end::Theme mode setup on page load-->
    <!--begin::Main-->
    <!--begin::Root-->
    <div class="d-flex flex-root">
        <!--begin::Authentication - Sign-in -->
        <div class="d-flex flex-column flex-lg-row flex-column-fluid w-lg-50">
            <!--begin::Body-->
            <div class="d-flex flex-column flex-lg-row-fluid  p-10 order-2 order-lg-1">
                <!--begin::Form-->
                <div class="d-flex flex-center flex-column flex-lg-row-fluid">
                    <!--begin::Wrapper-->
                    <div class="w-lg-700px p-10">

                        @if (Bilgilendirme != null && Bilgilendirme != "")
                        {
                            <h2 class="ms-3 lh-sm text-gray-700">@Bilgilendirme</h2>
                            <a href="~/YK/Giris" class="btn btn-light btn-sm ms-3 mt-10" data-kt-users-modal-action="cancel">Giriş Yap</a>

                        }
                        else
                        {
                            <form id="user_form" class="form w-100 Uye-Ol-Form" action="@Url.Action("UyeOl", "YK", null)" method="post" enctype="multipart/form-data">
                                <!--begin::Heading-->
                                <div class="text-center mb-11">
                                    <!--begin::Title-->
                                    <h1 class="text-gray-900 fw-bolder mb-3">Yeni Üyelik</h1>
                                    <!--end::Title-->

                                </div>
                                <!--begin::Heading-->

                                @if (Model != null)
                                {
                                    if (Model.Rows.Count > 0)
                                    {
                                        string ID = Convert.ToString(Model.Rows[0]["ID"]);
                                        string Bilgi = Convert.ToString(Model.Rows[0]["Bilgi"]);
                                        if (ID == "0")
                                        {
                                            <!--begin::Alert-->
                                            <div class="alert alert-danger d-flex align-items-center p-5">
                                                <!--begin::Icon-->
                                                <i class="ki-duotone ki-shield-tick fs-2hx text-danger me-4"><span class="path1"></span><span class="path2"></span></i>
                                                <!--end::Icon-->
                                                <!--begin::Wrapper-->
                                                <div class="d-flex flex-column">
                                                    <!--begin::Content-->
                                                    <span>@Bilgi</span>
                                                    <!--end::Content-->
                                                </div>
                                                <!--end::Wrapper-->
                                            </div>
                                            <!--end::Alert-->
                                        }
                                    }
                                }

                                
                                <div class="d-flex flex-column px-5 px-lg-10 container ">
                                    <!--begin::Row Input group-->
                                    <div class="row mb-6">
                                        <input type="hidden" name="ID" value="" />
                                        <!--begin::Input group-->
                                        <div class="col-lg-6">
                                            <!--begin::Label-->
                                            <label class="required fw-semibold fs-6 mb-2">Firma Kısa Adı</label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input type="text" name="Isim" class="form-control p-2 mb-3 mb-lg-0" placeholder="Firma Kısa Adı" required />

                                            <!--end::Input-->
                                        </div>
                                        <!--end::Input group-->
                                        <!--begin::Input group-->
                                        <div class="col-lg-6">
                                            <!--begin::Label-->
                                            <label class="required fw-semibold fs-6 mb-2">Ünvan</label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input type="text" name="Unvan" class="form-control p-2 mb-3 mb-lg-0" placeholder="Ünvan" value="@ViewBag.Form.Unvan" required />

                                            <!--end::Input-->

                                        </div>
                                        <!--end::Input group-->
                                    </div>
                                    <!--begin::Row Input group-->
                                    <!--begin::Row Input group-->
                                    <div class="row mb-6">
                                        <!--begin::Input group-->
                                        <div class="col-lg-6  ">
                                            <div>
                                                <!--begin::Label-->
                                                <label class="required fw-semibold fs-6 mb-2">E-Mail/Kullanıcı Adı</label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="email" name="EMail" class=" Inputmask form-control p-2 mb-3 mb-lg-0" placeholder="E-Mail" value="@ViewBag.Form.EMail" required />
                                                <!--end::Input-->

                                            </div>
                                        </div>
                                        <div class="col-lg-6 ">
                                            <!--begin::Label-->
                                            <label class="required fw-semibold fs-6 mb-2">Parola</label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input type="password" name="Parola" class="form-control p-2 mb-3 mb-lg-0" placeholder="Parola" value="@ViewBag.Form.Parola" required />
                                            <!--end::Input-->

                                        </div>
                                    </div>
                                    <!--begin::Row Input group-->
                                    <!--begin::Row Input group-->
                                    <div class="row mb-6">
                                        <!--begin::Input group-->
                                        <div class="col-lg-6">
                                            <!--begin::Label-->
                                            <label class="required fw-semibold fs-6 mb-2">Ad</label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input class="form-control p-2" name="Ad" placeholder="Ad" id="exampleFormControlTextarea1" value="@ViewBag.Form.Ad" required />

                                            <!--end::Input-->
                                        </div>
                                        <!--end::Input group-->
                                        <!--begin::Input group-->
                                        <div class="col-lg-6">
                                            <!--begin::Label-->
                                            <label class="required fw-semibold fs-6 mb-2">Soyad</label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input class="form-control p-2" name="Soyad" placeholder="Soyad" id="exampleFormControlTextarea1" value="@ViewBag.Form.Soyad" required />

                                            <!--end::Input-->
                                        </div>
                                        <!--end::Input group-->
                                        <!--begin::Input group-->
                                    </div>
                                    <!--end::Input group-->
                                    <!--begin::Row Input group-->
                                    <div class="row mb-6">
                                        <!--begin::Input group-->
                                        <div class="col-lg-6">
                                            <!--begin::Label-->
                                            <label class="required fw-semibold fs-6 mb-2">Vergi Dairesi</label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input class="form-control p-2" name="VergiDairesi" placeholder="VergiDairesi" id="exampleFormControlTextarea1" value="@ViewBag.Form.VergiDairesi" required />

                                            <!--end::Input-->
                                        </div>
                                        <!--end::Input group-->
                                        <!--begin::Input group-->
                                        <div class="col-lg-6">
                                            <!--begin::Label-->
                                            <label class="required fw-semibold fs-6 mb-2">Vergi Numarası</label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input type="text" id="VergiNumarasi" name="VergiNumarasi" class="form-control  p-2 rounded-1" placeholder="" required value="@ViewBag.Form.VergiNumarasi" />
                                            <!--end::Input-->
                                            <div data-error="VergiNumarasi"></div>
                                        </div>
                                        <!--end::Input group-->
                                        <!--begin::Input group-->
                                    </div>
                                    <!--end::Input group-->
                                    <!--begin::Row Input group-->
                                    <div class="row mb-6">
                                        <!--begin::Input group-->
                                        <div class="col-lg-6">
                                            <!--begin::Label-->
                                            <label class="required fw-semibold fs-6 mb-2">İletişim Numarası</label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input type="text" class="form-control p-2" name="Iletisim" placeholder="İletişim Numarası" id="Iletisim" value="@ViewBag.Form.Iletisim" required />

                                        </div>
                                        <!--end::Input group-->
                                        <!--begin::Input group-->
                                        <div class="col-lg-6">
                                            <!--begin::Label-->
                                            <label class="required fw-semibold fs-6 mb-2">Adres</label>
                                            <!--end::Label-->
                                            <!--begin::Input-->
                                            <input class="form-control p-2" name="Adres" placeholder="Adres" id="exampleFormControlTextarea1" value="@ViewBag.Form.Adres" required />

                                            <!--end::Input-->
                                        </div>
                                        <!--end::Input group-->
                                        <!--begin::Input group-->
                                    </div>
                                    <!--end::Input group-->
                                    <!--begin::Row Input group-->
                                    <div class="row">
                                        <!--begin::Input group-->
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="Il" class=" form-label">İl</label>
                                                <select class="form-control p-2 rounded-1" name="Il" data-control="select2" id="Il"
                                                        aria-label="Floating label select example">
                                                    <option value="">Lütfen Seçim Yapınız</option>
                                                    @foreach (GrupKoduDto il in ViewBag.Iller)
                                                    {
                                                        <option value="@il.ID">@il.Deger</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="d-flex flex-column col-lg-12">
                                                <label class="required fw-semibold fs-6 mb-2">İlçe</label>
                                                <input type="text" class="form-control  p-2" name="Ilce" placeholder="İlçe" id="exampleFormControlTextarea1" value="@ViewBag.Form.Ilce" required />
                                            </div>
                                        </div>
                                        <!--end::Input group-->

                                    </div>
                                    <!--end::Input group-->
                                </div>
                                <!--begin::Actions-->
                                <div class="text-center pt-10">

                                    <button type="submit" class="btn btn-primary btn-sm ms-3 ps-8 pe-8" data-kt-users-modal-action="UyeOl">
                                        <span class="indicator-label btn-sm fw-bold">Üye Ol</span>

                                    </button>
                                    <a href="~/YK/Giris" class="btn btn-light btn-sm fw-bold ms-3" data-kt-users-modal-action="cancel">Giriş Yap</a>
                                </div>

                                <!--end::Actions-->
                            </form>
                        }
                    </div>
                    
                </div>
                <!--end::Wrapper-->
            </div>
            <!--end::Form-->

        </div>
        <!--end::Body-->
        <!--begin::Aside-->
        <div class="d-flex flex-lg-row-fluid w-lg-50 bgi-size-cover w-100 h-100 bgi-position-center order-1 order-lg-2" style="background-image: url(/Tema/media/misc/auth-bg.png)">
            <!--begin::Content-->
            <div class="d-flex flex-column flex-center w-100 h-100">

                <!--begin::Image-->
                <img class="auth-right-bg-image w-100 h-100"  src="~/Tema/media/Photo/800x800.png" alt="" />
                <!--end::Image-->

            </div>
            <!--end::Content-->
        </div>
        <!--end::Aside-->
    </div>
    <!--end::Authentication - Sign-in-->
    <!--end::Root-->
    <!--end::Main-->
    <script src="~/Tema/plugins/global/plugins.bundle.js"></script>
    <script src="~/Tema/plugins/custom/datatables/datatables.min.js"></script>
    <script src="~/Tema/js/scripts.bundle.js"></script>
    <script src="~/Tema/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
    <script src="~/Tema/plugins/custom/vis-timeline/vis-timeline.bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
       $(document).ready(function () {

           Inputmask({
               "mask": "(999) 999-9999"
           }).mask("#Iletisim");

           const VergiNumarasi = document.getElementById('VergiNumarasi')
           const form = document.getElementById('user_form')

           const onlyNumbers = /^\d+$/; // REGEX - Düzenli İfadeler : Bu ifadeler ile bir string içerisinde specific arama ve kontrol yapabiliyoruz.

           form.addEventListener('submit', (e) => {
               e.preventDefault();

               let isValidated = true;
               const message = {
                   VergiNumarasi: [],
               };
                
               if (!VergiNumarasi.value) {
                   isValidated = false;
                   message.VergiNumarasi.push("Vergi numarası boş olamaz.")
               }

               if (!(VergiNumarasi.value.length == 10)) {
                   isValidated = false;
                   message.VergiNumarasi.push("Vergi numarası 10 haneli olmalıdır.")
               }

               if (!(onlyNumbers.test(VergiNumarasi.value))) {
                   isValidated = false;
                   message.VergiNumarasi.push("Vergi numarasında sadece rakamlar kullanılabilir.");
               }

               if (isValidated) {
                   form.submit();
               } else {
                document.querySelector('[data-error="VergiNumarasi"]').innerHTML = message.VergiNumarasi.map(error => `<div class="text-danger">${error}</div>`).join("");
                }
            });

       });

    </script>
</body>
</html>
