@using System.Data
@model System.Data.DataTable
@{
    ViewBag.Title = "Cari Ekstre";
    Layout = "~/Views/Shared/_LayoutSade.cshtml";
    decimal bakiye = 0;
}

<div style="margin:5px;">
    @if (Session["B2BLogo_CariKodu"] != null)
    {
        <div style="text-align:center;font-size:20px;margin:5px;"><strong>Cari Kodu : <span>@Session["B2BLogo_CariKodu"]</span> - Cari Adı : <span>@Session["B2BLogo_CariAdi"]</span></strong></div>
    }
    <a href="/B2BLogo/B2BLogo/AnaSayfa" class="btn btn-primary">Geri</a>
    <table class="table">
        <thead>
            <tr>
                <th><strong>Tarih</strong></th>
                <th><strong>Belge No</strong></th>
                <th><strong>Açıklama</strong></th>
                <th style="text-align:right;padding-right:10px;"><strong>Borç</strong></th>
                <th style="text-align:right;padding-right:10px;"><strong>Alacak</strong></th>
                <th style="text-align:right;padding-right:10px;"><strong>Bakiye</strong></th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow satir in Model.Rows)
            {
                bakiye += Convert.ToDecimal(satir["Borc"]) - Convert.ToDecimal(satir["Alacak"]);
                <tr>
                    <td>@Convert.ToDateTime(satir["Tarih"]).ToString("dd-MM-yyyy")</td>
                    <td>@satir["BelgeNo"]</td>
                    <td>@satir["Aciklama"]</td>
                    <td style="text-align: right; padding-right: 10px;">@String.Format("{0:N2}", Convert.ToDecimal(satir["Borc"]))</td>
                    <td style="text-align: right; padding-right: 10px;">@String.Format("{0:N2}", Convert.ToDecimal(satir["Alacak"]))</td>
                    <td style="text-align: right; padding-right: 10px;">@String.Format("{0:N2}", bakiye)</td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align: right; padding-right: 10px;"><strong>Bakiye</strong></td>
                <td style="text-align: right; padding-right: 10px;"><strong>@String.Format("{0:N2}", bakiye)</strong></td>
            </tr>
        </tbody>
    </table>
</div>
@section Styles {

    <style>
        table, th, td {
            border-bottom: 1px solid rgba(128, 128, 128, 0.356);
        }

        tr:hover {
            background-color: lightgray;
            color: white;
        }
    </style>
}
@section scripts {



}

