@using System.Data
@model System.Data.DataTable
@{
    ViewBag.Title = "Sepetim";
    Layout = "~/Views/Shared/_LayoutSade.cshtml";
    decimal toplam = 0;
}

<div style="margin:5px;">

    @if (Session["B2BLogo_CariKodu"] != null)
    {
        <div style="text-align:center;font-size:20px;margin:5px;"><strong>Cari Kodu : <span>@Session["B2BLogo_CariKodu"]</span> - Cari Adı : <span>@Session["B2BLogo_CariAdi"]</span></strong></div>
    }
    <h3>@ViewBag.Bilgi</h3>
    <a href="/B2BLogo/B2BLogo/AnaSayfa" class="btn btn-primary">Geri</a>
    <table class="table">
        <thead>
            <tr>
                <th><strong>Stok Kodu</strong></th>
                <th><strong>Stok Adı</strong></th>
                <th style="text-align:right;padding-right:10px;"><strong>Miktar</strong></th>
                <th><strong>Ölçü Birimi</strong></th>
                <th style="text-align:right;padding-right:10px;"><strong>Fiyat</strong></th>
                <th style="text-align:right;padding-right:10px;"><strong>Tutar</strong></th>
                <th><strong>İşlem</strong></th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow satir in Model.Rows)
            {
                toplam += Convert.ToDecimal(satir["Tutar"]);
                <tr>
                    <td>@satir["StokKodu"]</td>
                    <td>@satir["StokAdi"]</td>
                    <td style="text-align: right; padding-right: 10px;">@String.Format("{0:N2}", Convert.ToDecimal(satir["Miktar"]))</td>
                    <td>@satir["OlcuBirimi"]</td>
                    <td style="text-align: right; padding-right: 10px;">@String.Format("{0:N2}", Convert.ToDecimal(satir["Fiyat"]))</td>
                    <td style="text-align: right; padding-right: 10px;">@String.Format("{0:N2}", Convert.ToDecimal(satir["Tutar"]))</td>
                    <td><a href="/B2BLogo/B2BLogo/SepetSil/?KayitID=@(satir["ID"])" onclick="return confirm('Silmek istediğinizden emin misiniz?')">Sil</a></td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align:right;"><strong>TOPLAM</strong></td>
                <td style="text-align: right; padding-right: 10px;"><strong>@String.Format("{0:N2}", toplam)</strong></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div style="text-align:right;">
        <a href="/B2BLogo/B2BLogo/SiparisOlustur" class="btn btn-primary">Sipariş Oluştur</a>
    </div>
</div>
@section Styles {

    <style>
        table, th, td {
            border-bottom: 1px solid rgba(128, 128, 128, 0.356);
        }

        tr:hover {
            background-color: lightgray;
            color: white;
        }
    </style>
}
@section scripts {



}

