
@model YKPortal.Areas.E.Models.Dto.ETicaretSlaytDto
@{
    ViewBag.Title = "Slayt Düzenle";
    Layout = "~/Areas/E/Views/Shared/_Layout.cshtml";

    Dictionary<string, string> tipler = ViewBag.Tipler as Dictionary<string, string>;
}


<div class="container">

    <form class="mt-4" action="/E/ETicaretSlayt/SlaytDuzenle" method="post" enctype="multipart/form-data">
        <input type="hidden" name="SlaytID" value="@Model.SlaytID" />
        <div class="row">
            <div class="col-lg-12">
                <h3 class="">Slayt Düzenle</h3>
                <img class="mb-2" src="@Model.ResimYolu" alt="Slayt @Model.Siralama" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label for="ResimYolu">Resim Yolu:</label>
                <input type="file" id="ResimYolu" name="Dosya" class="form-wide form-input-new p-3 mb-2" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label for="Link">Link:</label>
                <input type="text" id="Link" name="Link" value="@Model.Link" class="form-wide form-input-new p-3 mb-2" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mb-2">
                <label for="Text">Metin:</label>
                <textarea class="form-wide form-input-new p-3 mb-2" name="Text" id="Text">@(HttpUtility.HtmlDecode(Model.Text))</textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label for="Siralama">Sıralama:</label>
                <input type="number" name="Siralama" class="form-wide form-input-new p-3 mb-2" value="@Model.Siralama" />
            </div>
            <div class="col-lg-6">
                <label for="Tip">Tip:</label>
                <select class="form-input-new  form-wide p-3" data-control="select2" name="Tip" id="tipSelect" required
                        aria-label="Floating label select example">
                    <option value="">Lütfen Seçim Yapınız</option>
                    @foreach (var tip in tipler)
                    {
                        <option value="@tip.Key" @(tip.Key == Model.Tip ? "selected" : "")>@tip.Value</option>
                    }
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <label for="Aktif">Aktif:</label>
                <input type="checkbox" id="Aktif" name="Aktif" value="true" @(Model != null && Model.Aktif ? "checked" : "") />
            </div>
            <button type="submit" class="form-button btn btn-dark btn-ellipse btn-sm mt-1">Kaydet</button>
        </div>
    </form>
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/Tema/plugins/custom/tinymce/tinymce.min.js"></script>

    <script>

        $(document).ready(function () {
            var IcerikEditorOptions = {
                selector: "#Text",
                height: 500,
                promotion: false
            };

            if (typeof KTThemeMode !== 'undefined') { // KTThemeMode varsa kontrol et
                if (KTThemeMode.getMode() === "dark") {
                    IcerikEditorOptions["skin"] = "oxide-dark";
                    IcerikEditorOptions["content_css"] = "dark";
                }
            }
            // tinyMCE init
            tinymce.init(IcerikEditorOptions);
        });
    </script>


}