@using System.Data
@using System.Data.SqlClient
@using YKPortal.Models
@model System.Data.DataTable
@{
    ViewBag.Title = "Ziyaret Takibi";
    Layout = "~/Views/Shared/_Layout.cshtml";


    string idler = "NULL,";

    if (Model != null)
    {
        foreach (DataRow item in Model.Rows)
        {
            idler += item["id"] + ",";
        }
    }
    idler = idler.Substring(0, idler.Length - 1);

    DataTable dtDosyalar = new DataTable();
    {
        SqlCommand cmd = new SqlCommand();
        cmd.CommandText = "select * from dosyalar Where KayitID IN (select A1.ID from ziyaretler as A1 Where A1.ID in (" + idler + ")) order by ID desc";
        dtDosyalar = (DataTable)IDVeritabani.Sorgula(cmd, SorgulaTuru.Tablo);

    }
    int sira = 0;

    int sira_1 = 0;
    int sira_2 = 0;
    int sira_3 = 0;

}
<div class="conteiner-fluid mt-10">
    <div class="row state-overview">
        <div class="col-lg-3 col-sm-6">
            <section class="card d-flex align-items-center flex-column py-6" >
                <div class="symbol terques">
                    <i class=" fa fa-user fs-2" style="color:#17d5db;"></i>
                </div>
                <div class="value d-flex align-items-center flex-column">
                    <p class="count text-gray-700 mb-1 fs-4 fw-bold my-0">
                        0
                    </p>
                    <p class="text-gray-700 fw-bold fs-4 my-0">Müşteri</p>
                </div>
            </section>
        </div>
        <div class="col-lg-3 col-sm-6 ">
            <section class="card d-flex align-items-center flex-column py-6">
                <div class="symbol mb-1">
                    <i class=" text-danger fs-2 fa fa-tags"></i>
                </div>
                <div class="value d-flex align-items-center flex-column">
                    <p class="fs-4 text-gray-700 mb-1 fw-bold my-0 count2">
                        0
                    </p>
                    <p class="fs-4 text-gray-700 fw-bold my-0">Ziyaret</p>
                </div>
            </section>
        </div>
        <div class="col-lg-3 col-sm-6">
            <section class="card d-flex align-items-center flex-column py-6">
                <div class="symbol mb-1">
                    <i class="text-warning fs-2 fa fa-shopping-cart"></i>
                </div>
                <div class="value d-flex align-items-center flex-column">
                    <p class="fs-4 text-gray-700 mb-1 fw-bold my-0 my-0 count3">
                        0
                    </p>
                    <p class="fs-4 text-gray-700 fw-bold my-0 my-0">Teklif</p>
                </div>
            </section>
        </div>

        <div class="col-lg-3 col-sm-6">
            <section class="card d-flex align-items-center flex-column" style="height:118px;">
                <div class="symbol mb-1">
                    <i class="text-primary fa fa-bar-chart-o"></i>
                </div>
                <div class="value d-flex align-items-center flex-column text-gray-700 fs-4 fw-bold">
                    <p class=" count4 fs-4 mb-1 my-0 ">
                        0
                    </p>
                    <p class="fs-4 text-gray-700 fw-bold my-0">Toplam İşlem</p>
                </div>
            </section>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-4">
            <section class="card p-0 ">
                <header class="card-header text-gray-700 pt-4 fs-4 fw-semibold">
                    Günlük Planlamalar<br />
                    <span class="fs-4 text-gray-700 fs-4 fw-semibold">(son 30 gün)</span>
                </header>
                <div class="list-group">
                    @if (ViewBag.dtGrup1 != null)
                    {
                        foreach (DataRow item in ((DataTable)ViewBag.dtGrup1).Rows)
                        {
                            sira_1++;
                            <a class="list-group-item" href="@Url.Action("GunlukIslemler","Home",new { Baslangic = Convert.ToDateTime(item["tarih"]).ToString("yyyy-MM-dd"),Bitis = Convert.ToDateTime(item["tarih"]).ToString("yyyy-MM-dd") , Personel = "" })"><strong>@((sira_1 + ".    ").Substring(0, 4)) @Convert.ToDateTime(item["tarih"]).ToString("dd.MM.yyyy")</strong> tarihinde <strong>@item["adet"]</strong> adet</a>
                        }

                    }
                    <!--<a class="list-group-item active" href="javascript:;">Dapibus ac facilisis in</a>-->
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            <section class="card p-0">
                <header class="card-header text-gray-700 pt-4 fs-4 fw-semibold">
                    Günlük Teklifler<br />
                    <span class="fs-4 text-gray-700 fs-4 fw-semibold">(son 30 gün)</span>
                </header>
                <div class="list-group">
                    @if (ViewBag.dtGrup3 != null)
                    {
                        foreach (DataRow item in ((DataTable)ViewBag.dtGrup3).Rows)
                        {
                            sira_3++;
                            <a class="list-group-item" href="@Url.Action("TeklifVerilenler","Home",new { Baslangic = Convert.ToDateTime(item["tarih"]).ToString("yyyy-MM-dd"),Bitis = Convert.ToDateTime(item["tarih"]).ToString("yyyy-MM-dd") })"><strong>@((sira_3 + ".    ").Substring(0, 4)) @Convert.ToDateTime(item["tarih"]).ToString("dd.MM.yyyy")</strong> tarihinde <strong>@item["adet"]</strong> adet</a>
                        }
                    }
                </div>
            </section>
        </div>

        <div class="col-lg-4">
            <section class="card p-0">
                <header class="card-header text-gray-700 pt-4 fs-4 fw-semibold">
                    Genel Bilgiler<br />
                    <span class="fs-4 text-gray-700 fs-4 fw-semibold">Bekleyenler Kayıtları İçermektedir</span>
                </header>
                <div class="list-group">
                    @if (Convert.ToInt32(@ViewBag.ToplamGecikmis) > 0)
                    {
                        <a href="@Url.Action("BekleyenZiyaretler","Home",new { Baslangic = DateTime.Today.AddYears(-2).ToString("yyyy-MM-dd"),Bitis = DateTime.Today.AddDays(-1).ToString("yyyy-MM-dd") })" class="list-group-item active" style="background-color:red;" id="pulsate-regular"> <strong>Geçikmiş Kayıtlar : @ViewBag.ToplamGecikmis </strong> adet</a>
                    }
                    @if (ViewBag.dtGrupGecikenler != null)
                    {
                        foreach (DataRow item in ((DataTable)ViewBag.dtGrupGecikenler).Rows)
                        {
                            <a class="list-group-item" href="@Url.Action("BekleyenZiyaretler","Home",new { Baslangic = Convert.ToDateTime(item["tarih"]).ToString("yyyy-MM-dd"),Bitis = Convert.ToDateTime(item["tarih"]).ToString("yyyy-MM-dd"), ZiyaretTipi = "" })"><strong>@(Convert.ToString(item["tarih"])) @item["adet"]</strong> adet</a>
                        }
                    }
                    <a class="list-group-item active" href="@Url.Action("BekleyenZiyaretler","Home",new { Baslangic = DateTime.Today.AddYears(-2).ToString("yyyy-MM-dd"),Bitis = DateTime.Today.AddYears(2).ToString("yyyy-MM-dd") })"><strong>Toplam Bekleyen : @ViewBag.ToplamBekleyen</strong> adet</a>

                    @if (ViewBag.dtGrup4 != null)
                    {
                        foreach (DataRow item in ((DataTable)ViewBag.dtGrup4).Rows)
                        {
                            <a class="list-group-item" href="@Url.Action("BekleyenZiyaretler","Home",new { Baslangic = DateTime.Today.AddYears(-2).ToString("yyyy-MM-dd"),Bitis = DateTime.Today.AddYears(2).ToString("yyyy-MM-dd"), ZiyaretTipi = (Convert.ToString(item["ZiyaretTipi"]) == "" ? "Diğer" : Convert.ToString(item["ZiyaretTipi"])) })"><strong>@(Convert.ToString(item["ZiyaretTipi"]) == "" ? "Diğer" : Convert.ToString(item["ZiyaretTipi"])) @item["adet"]</strong> adet</a>
                        }
                    }

                </div>
            </section>
        </div>
    </div>
</div>




<div class="row">    
        <!--timeline start-->
        <section class="card p-0">
            <div class="card-body">
                <div class="text-center mbot30">
                    <h3 class="timeline-title">Zaman Tüneli</h3>
                    <p class="t-info text-gray-700 fs-5 fw-semibold" >en son ziyaret en üstte gelecek şekilde listelenmiştir (son 150 kayıt)</p>
                </div>

                <div class="timeline">

                    @if (Model != null)
                    {
                        foreach (DataRow ziyaret in Model.Rows)
                        {
                            sira++;
                            <article class="timeline-item @(sira % 2 == 0 ? "alt" : "")">
                                <div class="timeline-desk">
                                    <div class="card">
                                        <div class="card-body">
                                            <span class="arrow"></span>
                                            <span class="timeline-icon @(Convert.ToInt32(ziyaret["tamamlandi"]) == 1 ? "green" : "red")"></span>
                                            <span class="timeline-date">
                                                @Convert.ToDateTime(ziyaret["tarih"]).ToString("dd.MM.yyyy ") @Convert.ToDateTime(ziyaret["kayittarihi"]).ToString("HH:ss") #@ziyaret["id"]
                                                <br /><span style="color:red;font-size:10px;"><strong>Kaydı Açan : </strong>@ziyaret["kayityapankullanici"]</span>
                                                @(Convert.ToString(ziyaret["duzenlemeyapankullanici"]).Trim().Length > 0 ? Html.Raw("<br /><span style='color:green;font-size:10px;'><strong>Kaydı Kapatan : </strong>" + ziyaret["duzenlemeyapankullanici"] + "</span>") : Html.Raw(""))
                                            </span>
                                            <p style="font-size:16px;color:#007bff;"><a href="@Url.Action("Ziyaret", "Home", new { id = ziyaret["musteriid"] })"><strong>@ziyaret["Isim"]</strong></a></p>
                                            <h1 class="yellow">@(Convert.ToString(ziyaret["ZiyaretTipi"]).Trim().Length > 0 ? Html.Raw("<span><a href='#' style='color:orange;'>" + ziyaret["ZiyaretTipi"] + "</a></span>") : Html.Raw(""))</h1>

                                            <h1 class="red">@(Convert.ToString(ziyaret["Urun"]).Trim().Length > 0 ? Html.Raw("<span><a href='#' class='red'>" + ziyaret["Urun"] + "</a></span>") : Html.Raw(""))</h1>
                                            <h1 class="red">@(Convert.ToInt32(ziyaret["teklifverildi"]) == 1 ? Html.Raw("<span><a href='#' class='blue'>Teklif Verildi</a></span>") : Html.Raw(""))</h1>
                                            <p><strong>Planlanan : </strong>@ziyaret["Aciklama"]</p>
                                            <p><strong>Gerçekleşen : </strong>@ziyaret["Aciklama2"]</p>

                                            <div class="album">
                                                @if (dtDosyalar.Select(" KayitID = " + ziyaret["id"] + " ").Count() > 0)
                                                {
                                                    foreach (DataRow dosya in dtDosyalar.Select(" KayitID = " + ziyaret["id"] + " "))
                                                    {
                                                        if (Convert.ToString(dosya["DosyaUzantisi"]).Contains(".jpeg") ||
                                                            Convert.ToString(dosya["DosyaUzantisi"]).Contains(".jpg") ||
                                                            Convert.ToString(dosya["DosyaUzantisi"]).Contains(".png") ||
                                                            Convert.ToString(dosya["DosyaUzantisi"]).Contains(".gif"))
                                                        {
                                                            <a href="@Url.Content("~/Content/" + dosya["Dosya"])" target="_blank">
                                                                <img alt="@dosya["Isim"]" src="@Url.Content("~/Content/" + dosya["Dosya"])" style="width:25px;">
                                                            </a>
                                                        }
                                                        else if (Convert.ToString(dosya["DosyaUzantisi"]).Contains(".pdf"))
                                                        {
                                                            <a href="@Url.Content("~/Content/" + dosya["Dosya"])" target="_blank">
                                                                <i class="fa fa-3x fa-file-text"></i>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a href="@Url.Content("~/Content/" + dosya["Dosya"])" target="_blank">


                                                                <i class="fa fa-3x fa-file"></i>
                                                            </a>
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        }
                    }
                </div>

                <div class="clearfix">&nbsp;</div>
            </div>
        </section>
        <!--timeline end--> 
</div>






@section Styles {

}
@section scripts {
    <script>

        countUp(@ViewBag.MusteriSayisi);
        countUp2(@ViewBag.ZiyaretSayisi);
        countUp3(@ViewBag.TeklifVerildi);
        countUp4(@ViewBag.ToplamIslem);




    </script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.pulsate.min.js")"></script>
    <script src="@Url.Content("~/Content/js/pulstate.js")" type="text/javascript"></script>


}

