@model System.Data.DataTable
@using System.Data;
@{
    ViewBag.Title = "BekleyenZiyaretler";
    Layout = "~/Areas/Ziyaret/Views/Shared/_Layout.cshtml";
}

<section class="card">
    <header class="card-header">
        <strong>Tamamlanan Ziyaretler</strong> | Toplam @Model.Rows.Count adet tamamlanan işlem listelenmektedir.
        <br /><br />
        <form action="@Url.Action("TamamlananZiyaretler","Home", null)" method="post">
            <label>Başlangıç : <input type="date" name="Baslangic" id="Baslangic" value="@ViewBag.Baslagic" /></label>
            <label>Bitiş : <input type="date" name="Bitis" id="Bitis" value="@ViewBag.Bitis" /></label>
            <label>
                Teklif : <select name="Teklif" id="Teklif">
                    <option value="0">Tümü</option>
                    <option value="1">Teklif Verildi</option>
                </select>
            </label>
            <label><input type="submit" name="name" value="Getir" /></label>
        </form>
    </header>
    <table class="table table-striped table-advance table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th nowrap>Tarih</th>
                <th nowrap>T.Tarih</th>
                <th>Firma</th>
                <th>Başlık</th>
                <th>Planlanan</th>
                <th>Gerçekleşen</th>
                <th>Teklif Verildi</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (System.Data.DataRow item in Model.Rows)
                {
            <tr href="@Url.Action("Ziyaret","Home",new { id = item["musteriid"] })">
                <td><a href="@Url.Action("Ziyaret", "Home", new { id = item["musteriid"] })">@item["id"]</a></td>
                <td nowrap class="hidden-phone">@Convert.ToDateTime(item["Tarih"]).ToString("dd-MM-yyyy")</td>
                <td nowrap>@(item["DuzenlemeTarihi"] == DBNull.Value ? "" : Convert.ToDateTime(item["DuzenlemeTarihi"]).ToString("dd-MM-yyyy"))</td>
                <td><span class="badge badge-warning label-mini">@item["Isim"]</span></td>
                <td>@item["Baslik"]</td>
                <td>@item["Aciklama"]</td>
                <td>@item["Aciklama2"]</td>
                <td class="hidden-phone">@item["TeklifVerildi"]</td>
            </tr>
                }
            }
        </tbody>
    </table>
    <p style="padding:3px;">Sıralama müşteri kartındaki seviye bilgisi ve sonrasında tarihe göre sıralanmıştır.</p>
</section>

