@model System.Data.DataTable
@using System.Data;
@{
    ViewBag.Title = "Bekleyen Ziyaretler";
    Layout = "~/Areas/Ziyaret/Views/Shared/_Layout.cshtml";
}

<section class="card">
    <header class="card-header">
        <strong>Teklif Verilenler</strong> | Toplam @Model.Rows.Count adet teklif listelenmiştir.
        <br /><br />
        <form action="@Url.Action("TeklifVerilenler","Ziyaret", new { area = "Ziyaret" })" method="post">
            <label>Başlangıç : <input type="date" name="Baslangic" id="Baslangic" value="@ViewBag.Baslagic" /></label>
            <label>Bitiş : <input type="date" name="Bitis" id="Bitis" value="@ViewBag.Bitis" /></label>
            <label><input type="submit" name="name" value="Getir" /></label>
        </form>
    </header>
    <table class="table table-striped table-advance table-hover">
        <thead>
            <tr>
                <th style="display:none;">ID</th>
                <th nowrap>P.Tarih</th>
                <th nowrap>T.Tarih</th>
                <th>Firma</th>
                <th>Başlık</th>
                <th>Açıklama</th>
                <th>Kullanıcı</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (System.Data.DataRow item in Model.Rows)
                {
                    <tr>
                        <td style="display:none;"><a href="@Url.Action("Ziyaret", "Ziyaret", new { area = "Ziyaret", id = item["CariKodu"] })">@item["ID"]</a></td>
                        <td nowrap>@Convert.ToDateTime(item["Tarih"]).ToString("dd-MM-yyyy")</td>
                        <td nowrap class="hidden-phone">@(item["KapanisTarih"] == DBNull.Value ? "" : Convert.ToDateTime(item["KapanisTarih"]).ToString("dd-MM-yyyy"))</td>
                        <td><a href="@Url.Action("Ziyaret","Ziyaret",new { area = "Ziyaret", id = item["CariKodu"] })"><span class="badge badge-warning label-mini">@item["Isim"]</span></a></td>
                        <td> @item["Baslik"]</td>
                        <td> @item["Aciklama"]</td>
                        <td> K.:@item["KaydiAcan"] <br />T.:@item["KaydiKapatan"] </td>
                        <td>
                            @if (Convert.ToBoolean(item["Tamamlandi"]) == false)
                            {
                                <a href="#myModal_id_@item["ID"]" data-toggle="modal" class="btn btn-default btn-sm" style="color:white;">
                                    <span class='badge badge-warning label-mini'>Kaydı Kapat</span>
                                </a>

                                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal_id_@item["ID"]" class="modal fade">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Ziyaret Tamamla</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form role="form" action="@Url.Action("ZiyaretKaydet", "Ziyaret", new { area = "Ziyaret", Tip = "BekleyenZiyaretler" })" method="post" enctype="multipart/form-data">
                                                    <input type="hidden" name="musteriid" value="@item["CariKodu"]" />
                                                    <input type="hidden" name="id" value="@(item["ID"])" />
                                                    <input type="hidden" name="Baslangic" value="@ViewBag.Baslagic" />
                                                    <input type="hidden" name="Bitis" value="@ViewBag.Bitis" />
                                                    <div class="form-group">
                                                        <label for="exampleInputPassword1">Açıklama</label>
                                                        <textarea rows="5" class="form-control" name="Aciklama"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputFile">Dosya</label>
                                                        <input type="file" id="exampleInputFile3" multiple name="Dosya">
                                                        <p class="help-block">birden fazla dosya seçebilirsiniz</p>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="TeklifVerildi" @(Convert.ToString(item["TeklifVerildi"]) == "1" ? "checked" : "")> Teklif Verildi
                                                        </label>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputFile">Ürün</label>
                                                        <select class="form-control" name="Urun">
                                                            <option value=""></option>
                                                            @foreach (System.Data.DataRow item2 in ((System.Data.DataTable)ViewBag.Urunler).Rows)
                                                            {
                                                                <option value="@item2["Deger"]">@item2["Deger"]</option>
                                                            }
                                                        </select>
                                                        <p class="help-block">ürün teslim ettiyseniz işaretleyiniz</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputFile">Yeni Ziyaret Tarihi</label>
                                                        <input type="date" class="form-control" id="exampleInputEmail3" placeholder="Tarih" value="" name="YeniTarih">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputFile">Yeni Ziyaret Başlığı</label>
                                                        <select class="form-control" name="YeniBaslik">
                                                            @foreach (System.Data.DataRow item2 in ((System.Data.DataTable)ViewBag.ZiyaretTipi).Rows)
                                                            {
                                                                <option value="@item2["Deger"]" @(Convert.ToString(item2["Deger"]) == "Ziyaret Edilecek" ? "selected" : "")>@item2["Deger"]</option>
                                                            }
                                                        </select>
                                                        <p class="help-block">Lütfen ziyaret tipi seçiniz.</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputPassword1">Yeni Ziyaret Açıklaması</label>
                                                        <textarea rows="5" class="form-control" name="YeniAciklama"></textarea>
                                                    </div>
                                                    <button type="submit" class="btn btn-default">Kaydet</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <p style="padding:3px;">Sıralama müşteri kartındaki seviye bilgisi ve sonrasında tarihe göre sıralanmıştır.</p>
</section>

