@using YKPortal.Models.Dto
@model System.Data.DataTable
@{
    ViewBag.Title = "Duzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid"> 
    <div class="row">
        @Html.Partial("~/Views/Cari/_CariMenu.cshtml", new ViewDataDictionary { { "CariID", Convert.ToString(ViewBag.CariID) } })

        <form method="post" id="cariDuzenleFormu"  class="col-lg-10" action="@Url.Action("Duzenle","Cari",null)">
            <div class="container py-4">
                <div class="row">
                    <div class="col-lg-10">
                        <input type="hidden" name="ID" value="@(Convert.ToString(Model.Rows[0]["ID"]))" />


                        <div class="card-body">
                            <!--begin::Nav-->
                            <ul class="nav nav-pills nav-pills-custom row position-relative mx-0 mb-9">
                                <!--begin::Item-->
                                <li class="nav-item col-4 mx-0 p-0">
                                    <!--begin::Link-->
                                    <a class="nav-link active d-flex justify-content-center w-100 border-0 h-100" data-bs-toggle="pill" href="#kt_list_widget_10_tab_1">
                                        <!--begin::Subtitle-->
                                        <span class="nav-text text-gray-800 fw-bold fs-6 mb-3">Genel Bilgiler</span>
                                        <!--end::Subtitle-->
                                        <!--begin::Bullet-->
                                        <span class="bullet-custom position-absolute z-index-2 bottom-0 w-100 h-4px bg-primary rounded"></span>
                                        <!--end::Bullet-->
                                    </a>
                                    <!--end::Link-->
                                </li>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <li class="nav-item col-4 mx-0 px-0">
                                    <!--begin::Link-->
                                    <a class="nav-link d-flex justify-content-center w-100 border-0 h-100" data-bs-toggle="pill" href="#kt_list_widget_10_tab_2">
                                        <!--begin::Subtitle-->
                                        <span class="nav-text text-gray-800 fw-bold fs-6 mb-3">Ticari Bilgiler</span>
                                        <!--end::Subtitle-->
                                        <!--begin::Bullet-->
                                        <span class="bullet-custom position-absolute z-index-2 bottom-0 w-100 h-4px bg-primary rounded"></span>
                                        <!--end::Bullet-->
                                    </a>
                                    <!--end::Link-->
                                </li>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <li class="nav-item col-4 mx-0 px-0">
                                    <!--begin::Link-->
                                    <a class="nav-link d-flex justify-content-center w-100 border-0 h-100" data-bs-toggle="pill" href="#kt_list_widget_10_tab_3">
                                        <!--begin::Subtitle-->
                                        <span class="nav-text text-gray-800 fw-bold fs-6 mb-3">Açıklamalar</span>
                                        <!--end::Subtitle-->
                                        <!--begin::Bullet-->
                                        <span class="bullet-custom position-absolute z-index-2 bottom-0 w-100 h-4px bg-primary rounded"></span>
                                        <!--end::Bullet-->
                                    </a>
                                    <!--end::Link-->
                                </li>
                                <!--end::Item-->
                                <!--begin::Bullet-->
                                <span class="position-absolute z-index-1 bottom-0 w-100 h-4px bg-light rounded"></span>
                                <!--end::Bullet-->
                            </ul>
                            <!--end::Nav-->
                            <!--begin::Tab Content-->
                            <div class="tab-content">
                                <!--begin::Tap pane-->
                                <div class="tab-pane fade show active" id="kt_list_widget_10_tab_1">

                                    <div class="row">
                                        <div class="col-lg-2 d-flex align-items-center">
                                            <div class="form-check">
                                                <input class="form-check-input" name="Aktif" type="checkbox" value="true" id="Aktif" @(Convert.ToBoolean(Model.Rows[0]["Aktif"]) ? "checked" : "") />
                                                <label class="form-check-label user-select-none cursor-pointer" for="Aktif">
                                                    Aktif
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 d-flex align-items-center mt-4 mt-lg-0">
                                            <div class="form-check">
                                                <input class="form-check-input" name="Alici" type="checkbox" value="true" id="Alici" @(Convert.ToBoolean(Model.Rows[0]["Alici"]) ? "checked" : "") />
                                                <label class="form-check-label user-select-none cursor-pointer" for="Alici">
                                                    Alıcı
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 d-flex align-items-center mt-4 mt-lg-0">
                                            <div class="form-check">
                                                <input class="form-check-input" name="Satici" type="checkbox" value="true" id="Satici" @(Convert.ToBoolean(Model.Rows[0]["Satici"]) ? "checked" : "") />
                                                <label class="form-check-label user-select-none cursor-pointer" for="Satici">
                                                    Satıcı
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 d-flex align-items-center mt-4 mt-lg-0">
                                            <div class="form-check">
                                                <input class="form-check-input" name="Personel" type="checkbox" value="true" id="Personel" @(Convert.ToBoolean(Model.Rows[0]["Personel"]) ? "checked" : "") />
                                                <label class="form-check-label user-select-none cursor-pointer" for="Personel">
                                                    Personel
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 d-flex align-items-center mt-4 mt-lg-0">
                                            <div class="form-check">
                                                <input class="form-check-input" name="ServisPersoneli" type="checkbox" value="true" id="ServisPersoneli" @(Convert.ToBoolean(Model.Rows[0]["ServisPersoneli"]) ? "checked" : "") />
                                                <label class="form-check-label user-select-none cursor-pointer" for="ServisPersoneli">
                                                    Servis Personeli
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 d-flex align-items-center mt-4 mt-lg-0">
                                            <div class="form-group w-100">
                                                <label for="KayitTarihi" class=" form-label">Kayıt Tarihi</label>
                                                @* Varsayilan gun tarihini cagirdik ve toString ile formatladik. bu format sayesinde input value degerini de atamis olduk *@
                                                <input type="date" value="@(DateTime.Parse(Convert.ToString(Model.Rows[0]["KayitTarihi"])).ToString("yyyy-MM-dd"))" name="KayitTarihi" id="KayitTarihi" class="form-control p-2 rounded-1" placeholder="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="Kod" class=" form-label">Kod</label>
                                                <input type="text" id="Kod" name="Kod" class="form-control p-2 rounded-1" value="@(Convert.ToString(Model.Rows[0]["Kod"]))" placeholder="" />
                                            </div>
                                        </div>
                                        <div class="col-lg-8 mt-4 mt-lg-0">
                                            <div class="form-group">
                                                <label for="Isim" class=" form-label">Kısa İsim</label>
                                                <input type="text" id="Isim" name="Isim" class="form-control p-2 rounded-1" value="@(Convert.ToString(Model.Rows[0]["Isim"]))" placeholder="" required />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-lg-12 ">
                                            <div class="form-group">
                                                <label for="Unvan" class=" form-label">Ünvan</label>
                                                <input type="text" id="Unvan" name="Unvan" class="form-control p-2 rounded-1" value="@(Convert.ToString(Model.Rows[0]["Unvan"]))" placeholder="" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!--end::Tap pane-->
                                <!--begin::Tap pane-->
                                <div class="tab-pane fade" id="kt_list_widget_10_tab_2">



                                    <div class="row mt-4">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label for="Adres" class=" form-label">Adres</label>
                                                <textarea type="text" id="Adres" name="Adres" class="form-control p-2 rounded-1" placeholder="">@(Convert.ToString(Model.Rows[0]["Adres"]))</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="Bolge" class=" form-label">Bölge</label>
                                                <input type="text" id="Bolge" name="Bolge" class="form-control p-2 rounded-1" value="@(Convert.ToString(Model.Rows[0]["Bolge"]))" placeholder="" />
                                            </div>
                                        </div>
                                        <div class="col-lg-3 mt-4 mt-lg-0">
                                            <div class="form-group">
                                                <label for="Ulke" class=" form-label">Ülke</label>
                                                <select class="form-select form-select-solid p-2 rounded-1" data-control="select2" name="Ulke" id="Ulke"
                                                        aria-label="Floating label select example">
                                                    <option value="">Lütfen Seçim Yapınız</option>

                                                    @foreach (GrupKoduDto ulke in ViewBag.Ulkeler)
                                                    {
                                                        <option @(Convert.ToString(Model.Rows[0]["Ulke"]) == ulke.ID ? "selected" : "") value="@ulke.ID">@ulke.Deger</option>
                                                    }

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3  mt-4 mt-lg-0">
                                            <div class="form-group">
                                                <label for="Il" class=" form-label">İl</label>
                                                <select class="form-select form-select-solid p-2 rounded-1" name="Il" data-control="select2" id="Il"
                                                        aria-label="Floating label select example">
                                                    <option value="">Lütfen Seçim Yapınız</option>

                                                    @foreach (GrupKoduDto il in ViewBag.Iller)
                                                    {
                                                        <option @(Convert.ToString(Model.Rows[0]["Il"]) == il.ID ? "selected" : "") value="@il.ID">@il.Deger</option>
                                                    }

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-3  mt-4 mt-lg-0">
                                            <div class="form-group">
                                                <label for="Ilce" class=" form-label">İlçe</label>
                                                <input type="text" id="Ilce" name="Ilce" class="form-control p-2 rounded-1" value="@(Convert.ToString(Model.Rows[0]["Ilce"]))" placeholder="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="PostaKodu" class=" form-label">Posta Kodu</label>
                                                <input type="text" id="PostaKodu" name="PostaKodu" class="form-control  p-2 rounded-1" value="@(Convert.ToString(Model.Rows[0]["PostaKodu"]))" placeholder="" />
                                            </div>
                                        </div>
                                        <div class="col-lg-3 mt-4 mt-lg-0">
                                            <div class="form-group">
                                                <label for="TCKimlikNo" class=" form-label">TC Kimlik No</label>
                                                <input type="text" step="0.01" id="TCKimlikNo" name="TCKimlikNo" class="form-control p-2 rounded-1" value="@(Convert.ToString(Model.Rows[0]["TCKimlikNo"]))" placeholder="" />
                                                <div data-error="TCKimlikNo"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 mt-4 mt-lg-0">
                                            <div class="form-group">
                                                <label for="VergiNumarasi" class=" form-label">Vergi Numarası</label>
                                                <input type="text" id="VergiNumarasi" name="VergiNumarasi" class="form-control  p-2 rounded-1" value="@(Convert.ToString(Model.Rows[0]["VergiNumarasi"]))" placeholder="" maxlength="11" />
                                                <div data-error="VergiNumarasi"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 mt-4 mt-lg-0">
                                            <div class="form-group">
                                                <label for="VergiDairesi" class=" form-label">Vergi Dairesi</label>
                                                <input type="text" id="VergiDairesi" name="VergiDairesi" class="form-control p-2 rounded-1" value="@(Convert.ToString(Model.Rows[0]["VergiDairesi"]))" placeholder="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="DovizID" class=" form-label">Döviz</label>
                                                <input id="DovizID" type="text" name="DovizID" class="form-control  p-2 rounded-1" value="@(Convert.ToString(Model.Rows[0]["DovizID"]))" placeholder="" />
                                            </div>
                                        </div>
                                        <div class="col-lg-3 mt-4 mt-lg-0">
                                            <div class="form-group">
                                                <label for="VadeGunu" class=" form-label">Vade Günü</label>
                                                <input id="VadeGunu" type="text" name="VadeGunu" class="form-control p-2 rounded-1" value="@(Convert.ToString(Model.Rows[0]["VadeGunu"]))" placeholder="" />
                                            </div>
                                        </div>
                                        <div class="col-lg-3 d-flex align-items-end pb-1 mt-4 mt-lg-0">
                                            <div class="form-check">
                                                <input class="form-check-input" name="Kilitli" type="checkbox" value="true" id="Kilitli" @(Convert.ToBoolean(Model.Rows[0]["Kilitli"]) ? "checked" : "") />
                                                <label class="form-check-label user-select-none cursor-pointer" for="Kilitli">
                                                    Kilitli
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 mt-4 mt-lg-0">
                                            <div class="form-group">
                                                <label for="KilitAciklamasi" class=" form-label">Kilit Açıklaması</label>
                                                <input id="KilitAciklamasi" type="text" name="KilitAciklamasi" class="form-control p-2 rounded-1" value="@(Convert.ToString(Model.Rows[0]["KilitAciklamasi"]))" placeholder="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="Limit" class=" form-label">Limit</label>
                                                <input type="text" name="Limit" class="form-control p-2 rounded-1" placeholder="" id="Limit" step="any" value="@(Convert.ToDecimal(Model.Rows[0]["Limit"]).ToString("F2"))" />
                                            </div>
                                        </div>
                                        <div class="col-lg-3 d-flex align-items-end pb-1 mt-4 mt-lg-0">
                                            <div class="form-check">
                                                <input class="form-check-input" name="LimitAsimindaUyar" type="checkbox" value="true" id="LimitAsimindaUyar" @(Convert.ToBoolean(Model.Rows[0]["LimitAsimindaUyar"]) ? "checked" : "") />
                                                <label class="form-check-label user-select-none cursor-pointer" for="LimitAsimindaUyar">
                                                    Limit Aşımında Uyar
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 d-flex align-items-end pb-1 mt-4 mt-lg-0">
                                            <div class="form-check">
                                                <input class="form-check-input" name="LimitAsimindaDurdur" type="checkbox" value="true" id="LimitAsimindaDurdur" @(Convert.ToBoolean(Model.Rows[0]["LimitAsimindaDurdur"]) ? "checked" : "") />
                                                <label class="form-check-label user-select-none cursor-pointer" for="LimitAsimindaDurdur">
                                                    Limit Aşımında Durdur
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 mt-4 mt-lg-0">
                                            <div class="form-group">
                                                <label for="Iskonto1" class=" form-label">İskonto 1</label>
                                                <input type="text" class="form-control p-2 rounded-1" name="Iskonto1" id="Iskonto1" step="any" value="@(Convert.ToDecimal(Model.Rows[0]["Iskonto1"]).ToString("F2"))" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="ListeFiyat" class=" form-label">Liste Fiyat</label>
                                                <input id="ListeFiyat" type="text" name="ListeFiyat" class="form-control p-2 rounded-1" placeholder="" step="any" value="@(Convert.ToDecimal(Model.Rows[0]["ListeFiyat"]).ToString("F2"))" />
                                            </div>
                                        </div>
                                        <div class="col-lg-4 mt-4 mt-lg-0">
                                            <div class="form-group">
                                                <label for="MuhasebeKodu" class=" form-label"> Muhasebe Kodu </label>
                                                <input id="MuhasebeKodu" type="text" name="MuhasebeKodu" class="form-control  p-2 rounded-1" placeholder="" value="@(Convert.ToString(Model.Rows[0]["MuhasebeKodu"]))" />
                                            </div>
                                        </div>
                                        <div class="col-lg-4 mt-4 mt-lg-0">
                                            <div class="form-group">
                                                <label for="RiskAciklama" class=" form-label ">Risk Açıklama</label>
                                                <input type="text" id="RiskAciklama" name="RiskAciklama" class="form-control p-2 rounded-1" placeholder="" value="@(Convert.ToString(Model.Rows[0]["RiskAciklama"]))" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-lg-4  mt-4 mt-lg-0">
                                            <div class="form-group">
                                                <label for="PlasiyerID" class=" form-label">Plasiyer</label>
                                                <select class="form-select form-select-solid p-2 rounded-1" data-control="select2" name="PlasiyerID" id="PlasiyerID"
                                                        aria-label="Floating label select example">
                                                    <option value="">Lütfen Seçim Yapınız</option>
                                                    @foreach (SatisPersoneliDto plasiyer in ViewBag.PlasiyerID)
                                                    {
                                                        <option @(Convert.ToString(Model.Rows[0]["PlasiyerID"]) == plasiyer.ID ? "selected" : "") value="@plasiyer.ID">@plasiyer.Isim</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 mt-4 mt-lg-0">
                                            <div class="form-group">
                                                <label for="AnaCariID" class=" form-label">Ana Cari</label>
                                                <select class="form-select form-select-solid p-2 rounded-1" name="AnaCariID" id="AnaCariID"
                                                        aria-label="Floating label select example" data-control="select2" data-placeholder="Lütfen Seçim Yapınız">
                                                    @if (ViewBag.AnaCari != null)
                                                    {
                                                        <option value="@ViewBag.AnaCari.ID" selected>@ViewBag.AnaCari.Isim</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 mt-4 mt-lg-0">
                                            <div class="form-group">
                                                <label for="exampleFormControlInput1" class=" form-label">Teslim Cari</label>
                                                <select class="form-select form-select-solid p-2 rounded-1" name="TeslimCariID" id="TeslimCariID"
                                                        aria-label="Floating label select example" data-control="select2" data-placeholder="Lütfen Seçim Yapınız">
                                                    @if (ViewBag.TeslimCari != null)
                                                    {
                                                        <option value="@ViewBag.TeslimCari.ID" selected>@ViewBag.TeslimCari.Isim</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-lg-3">
                                            <div class="form-group ">
                                                <label for="Telefon1" class="form-label">Telefon 1</label>
                                                <input type="text" name="Telefon1" class="form-control p-2 rounded-1" id="Telefon1" value="@(Convert.ToString(Model.Rows[0]["Telefon1"]))" />
                                            </div>
                                        </div>
                                        <div class="col-lg-3 mt-4 mt-lg-0">
                                            <div class="form-group">
                                                <label for="Telefon2" class="form-label">Telefon 2</label>
                                                <input type="text" name="Telefon2" class="form-control p-2 rounded-1" id="Telefon2" value="@(Convert.ToString(Model.Rows[0]["Telefon2"]))" />
                                            </div>
                                        </div>
                                        <div class="col-lg-3 mt-4 mt-lg-0">
                                            <div class="form-group">
                                                <label for="Faks" class="form-label">Faks</label>
                                                <input type="text" name="Faks" class="form-control p-2 rounded-1" id="Faks" value="@(Convert.ToString(Model.Rows[0]["Faks"]))" />
                                            </div>
                                        </div>
                                        <div class="col-lg-3 mt-4 mt-lg-0">
                                            <div class="form-group">
                                                <label for="CepTelefonu" class="form-label">Cep Telefonu</label>
                                                <input type="text" name="CepTelefonu" class="form-control p-2 rounded-1" id="CepTelefonu" value="@(Convert.ToString(Model.Rows[0]["CepTelefonu"]))" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-lg-3 ">
                                            <div class="form-group">
                                                <label for="KullaniciAdi" class=" form-label"> Kullanıcı Adı</label>
                                                <input id="KullaniciAdi" type="text" name="KullaniciAdi" class="form-control p-2 rounded-1" placeholder="" value="@(Convert.ToString(Model.Rows[0]["KullaniciAdi"]))"  />
                                            </div>
                                        </div>
                                        <div class="col-lg-3 mt-4 mt-lg-0">
                                            <div class="form-group">
                                                <label for="Parola" class=" form-label">Parola</label>
                                                <input id="Parola" type="password" name="Parola" class="form-control p-2 rounded-1" placeholder="" value="@(Convert.ToString(Model.Rows[0]["Parola"]))"  />
                                            </div>
                                        </div>
                                        <div class="col-lg-3 mt-4 mt-lg-0">
                                            <div class="form-group">
                                                <label for="EMail" class="form-label ">Email</label>
                                                <input type="text" name="EMail" class="form-control p-2 rounded-1" id="EMail" value="@(Convert.ToString(Model.Rows[0]["EMail"]))" />
                                            </div>
                                        </div>
                                        <div class="col-lg-3 mt-4 mt-lg-0">
                                            <div class="form-group">
                                                <label for="WebSite" class="form-label">Web Sitesi</label>
                                                <input type="text" name="WebSite" class="form-control p-2 rounded-1" id="WebSite" value="@(Convert.ToString(Model.Rows[0]["WebSite"]))" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!--end::Tap pane-->
                                <!--begin::Tap pane-->
                                <div class="tab-pane fade" id="kt_list_widget_10_tab_3">
                                    <div class="row mt-4">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="Aciklama1" class="form-label">Açıklama 1</label>
                                                <textarea type="text" name="Aciklama1" class="form-control p-2 rounded-1" id="Aciklama1">@(Convert.ToString(Model.Rows[0]["Aciklama1"]))</textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 mt-4 mt-lg-0">
                                            <div class="form-group">
                                                <label for="Aciklama2" class="form-label">Açıklama 2</label>
                                                <textarea type="text" name="Aciklama2" class="form-control p-2 rounded-1" id="Aciklama2">@(Convert.ToString(Model.Rows[0]["Aciklama2"]))</textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 mt-4 mt-lg-0">
                                            <div class="form-group">
                                                <label for="Aciklama3" class="form-label">Açıklama 3</label>
                                                <textarea type="text" name="Aciklama3" class="form-control p-2 rounded-1" id="Aciklama3">@(Convert.ToString(Model.Rows[0]["Aciklama3"]))</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label for="Aciklama4" class="form-label">Açıklama 4</label>
                                                <textarea type="text" name="Aciklama4" class="form-control p-2 rounded-1" id="Aciklama4">@(Convert.ToString(Model.Rows[0]["Aciklama4"]))</textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 mt-4 mt-lg-0">
                                            <div class="form-group">
                                                <label for="Aciklama5" class="form-label">Açıklama 5</label>
                                                <textarea type="text" name="Aciklama5" class="form-control p-2 rounded-1" id="Aciklama5">@(Convert.ToString(Model.Rows[0]["Aciklama5"]))</textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 mt-4 mt-lg-0">
                                            <div class="form-group">
                                                <label for="Aciklama6" class="form-label">Açıklama 6</label>
                                                <textarea type="text" name="Aciklama6" class="form-control p-2 rounded-1" id="Aciklama6">@(Convert.ToString(Model.Rows[0]["Aciklama6"]))</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Tap pane-->
                            </div>
                            <!--end::Tab Content-->
                        </div>




                        <div class="row mt-8">
                            <div class="col-12 d-flex align-items-center justify-content-start">
                                <a href="/Cari/Liste" class="btn btn-light btn-sm me-3" data-kt-users-modal-action="cancel">Geri</a>
                                <button type="submit" class="btn btn-primary btn-sm" data-kt-users-modal-action="Ekle">
                                    <span class="indicator-label">Kaydet</span>

                                </button>
                            </div>
                        </div>








                    </div>
                    <div class="col-lg-2 mt-4 mt-lg-0">
                        <div>
                            <label for="GrupKodu1ID" class="form-label">Grup Kodu 1</label>
                            <select class="form-select form-select-solid p-2 rounded-1" name="GrupKodu1ID" id="GrupKodu1ID" data-control="select2"
                                    aria-label="Floating label select example">
                                <option value="">Lütfen Seçim Yapınız</option>

                                @foreach (GrupKoduDto cariGrupKodlari1 in ViewBag.CariGrupKodlari1)
                                {
                                    <option @(Convert.ToString(Model.Rows[0]["GrupKodu1ID"]) == cariGrupKodlari1.ID ? "selected" : "") value="@cariGrupKodlari1.ID">@cariGrupKodlari1.Deger</option>
                                }

                            </select>
                        </div>
                        <div class="mt-4 ">
                            <label for="GrupKodu2ID" class="form-label">Grup Kodu 2</label>
                            <select class="form-select form-select-solid p-2 rounded-1" name="GrupKodu2ID" id="GrupKodu2ID" data-control="select2"
                                    aria-label="Floating label select example">
                                <option value="">Lütfen Seçim Yapınız</option>

                                @foreach (GrupKoduDto cariGrupKodlari2 in ViewBag.CariGrupKodlari2)
                                {
                                    <option @(Convert.ToString(Model.Rows[0]["GrupKodu2ID"]) == cariGrupKodlari2.ID ? "selected" : "") value="@cariGrupKodlari2.ID">@cariGrupKodlari2.Deger</option>
                                }

                            </select>
                        </div>

                        <div class="mt-4">
                            <label for="GrupKodu3ID" class="form-label">Grup Kodu 3</label>
                            <select class="form-select form-select-solid p-2 rounded-1" name="GrupKodu3ID" id="GrupKodu3ID" data-control="select2"
                                    aria-label="Floating label select example">
                                <option value="">Lütfen Seçim Yapınız</option>

                                @foreach (GrupKoduDto cariGrupKodlari3 in ViewBag.CariGrupKodlari3)
                                {
                                    <option @(Convert.ToString(Model.Rows[0]["GrupKodu3ID"]) == cariGrupKodlari3.ID ? "selected" : "") value="@cariGrupKodlari3.ID">@cariGrupKodlari3.Deger</option>
                                }

                            </select>
                        </div>
                        <div class="mt-4">
                            <label for="GrupKodu4ID" class="form-label">Grup Kodu 4</label>
                            <select class="form-select form-select-solid p-2 rounded-1" name="GrupKodu4ID" id="GrupKodu4ID" data-control="select2"
                                    aria-label="Floating label select example">
                                <option value="">Lütfen Seçim Yapınız</option>

                                @foreach (GrupKoduDto cariGrupKodlari4 in ViewBag.CariGrupKodlari4)
                                {
                                    <option @(Convert.ToString(Model.Rows[0]["GrupKodu4ID"]) == cariGrupKodlari4.ID ? "selected" : "") value="@cariGrupKodlari4.ID">@cariGrupKodlari4.Deger</option>
                                }

                            </select>
                        </div>

                        <div class="mt-4">
                            <label for="GrupKodu5ID" class="form-label">Grup Kodu 5</label>
                            <select class="form-select form-select-solid p-2 rounded-1" name="GrupKodu5ID" id="GrupKodu5ID" data-control="select2"
                                    aria-label="Floating label select example">
                                <option value="">Lütfen Seçim Yapınız</option>

                                @foreach (GrupKoduDto cariGrupKodlari5 in ViewBag.CariGrupKodlari5)
                                {
                                    <option @(Convert.ToString(Model.Rows[0]["GrupKodu5ID"]) == cariGrupKodlari5.ID ? "selected" : "") value="@cariGrupKodlari5.ID">@cariGrupKodlari5.Deger</option>
                                }

                            </select>
                        </div>
                        <div class="mt-4">
                            <label for="GrupKodu6ID" class="form-label">Grup Kodu 6</label>
                            <select class="form-select form-select-solid p-2 rounded-1" name="GrupKodu6ID" id="GrupKodu6ID" data-control="select2"
                                    aria-label="Floating label select example">
                                <option value="">Lütfen Seçim Yapınız</option>

                                @foreach (GrupKoduDto cariGrupKodlari6 in ViewBag.CariGrupKodlari6)
                                {
                                    <option @(Convert.ToString(Model.Rows[0]["GrupKodu6ID"]) == cariGrupKodlari6.ID ? "selected" : "") value="@cariGrupKodlari6.ID">@cariGrupKodlari6.Deger</option>
                                }

                            </select>
                        </div>
                    </div>
                </div>
               
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {

            Inputmask({
                "mask": "(999) 999-9999"
            }).mask("#CepTelefonu").mask("#Faks").mask("Telefon1").mask("Telefon2");

            const VergiNumarasi = document.getElementById('VergiNumarasi')
            const TCKimlikNo = document.getElementById('TCKimlikNo')
            const form = document.getElementById('cariDuzenleFormu')

            const onlyNumbers = /^\d+$/;

            form.addEventListener('submit', (e) => {
                e.preventDefault();

                let isValidated = true;
                const message = {
                    VergiNumarasi: [],
                    TCKimlikNo: []
                };

                //if (!VergiNumarasi.value) {
                //    isValidated = false;
                //    message.VergiNumarasi.push("Vergi numarası boş olamaz.")
                //}

                if (!(VergiNumarasi.value.length == 10) && VergiNumarasi.value.length > 0) {
                    isValidated = false;
                    message.VergiNumarasi.push("Vergi numarasi 10 haneli olmalıdır.")
                }

                if (!(onlyNumbers.test(VergiNumarasi.value)) && VergiNumarasi.value.length > 0) {
                    isValidated = false;
                    message.VergiNumarasi.push("Vergi numarasında sadece rakamlar kullanılabilir.");
                }

                //if (!TCKimlikNo.value) {
                //    isValidated = false;
                //    message.TCKimlikNo.push("TC Kimlik numarası boş olamaz.")
                //}

                if (!(TCKimlikNo.value.length == 11) && TCKimlikNo.value.length > 0) {
                    isValidated = false;
                    message.TCKimlikNo.push("TC Kimlik numarası 11 haneli olmalıdır.")
                }

                if (isValidated) {
                    form.submit();
                } else {
                    document.querySelector('[data-error="VergiNumarasi"]').innerHTML = message.VergiNumarasi.map(error => `<div class="text-danger">${error}</div>`).join("");
                    document.querySelector('[data-error="TCKimlikNo"]').innerHTML = message.TCKimlikNo.map(error => `<div class="text-danger">${error}</div>`).join("");
                }
            });

            const anaCariIdSelect = $('#AnaCariID').select2({
                ajax: {
                    url: "/Cari/SelectListe",
                    data: function (params) {
                        var query = {
                            search: params.term,
                        }

                        // Query parameters will be ?search=[term]&type=public
                        return query;
                    },
                    processResults: function (data) {
                        var results = [];
                        if (data && data.length > 0) {
                            data.forEach(function (item) {
                                results.push({ id: item.ID, text: item.Isim })
                            });
                        }

                        return {
                            results: results
                        };
                    },

                },
                delay: 250,
                minimumInputLength: 3,
                language: {
                    placeholder: function () {
                        return "Arama yapmak için en az 3 karakter girin";
                    },
                    inputTooShort: function () {
                        return "Lütfen en az 3 karakter girin";
                    }
                }
            });


        });
        $(function () {

            const teslimCariIdSelect = $('#TeslimCariID').select2({
                ajax: {
                    url: "/Cari/SelectListe",
                    data: function (params) {
                        var query = {
                            search: params.term,
                        }

                        // Query parameters will be ?search=[term]&type=public
                        return query;
                    },
                    processResults: function (data) {
                        var results = [];
                        if (data && data.length > 0) {
                            data.forEach(function (item) {
                                results.push({ id: item.ID, text: item.Isim })
                            });
                        }

                        return {
                            results: results
                        };
                    }
                },
                delay: 250,
                minimumInputLength: 3,
                language: {
                    placeholder: function () {
                        return "Arama yapmak için en az 3 karakter girin";
                    },
                    inputTooShort: function () {
                        return "En azLütfen en az 3 karakter girin";
                    }
                }
            });


        });
    </script>
}
