
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            <!--begin::Menu-->
            <div class="menu menu-rounded menu-column menu-title-gray-700 menu-icon-gray-500 menu-arrow-gray-500 menu-bullet-gray-500 menu-arrow-gray-500 menu-state-bg fw-semibold"
                 data-kt-menu="true">

                <div class="menu-item">
                    <a href="#" class="menu-link py-3">
                        <span class="menu-icon">
                            <i class="ki-duotone ki-home fs-3">
                                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span>
                            </i>
                        </span>
                        <span class="menu-title">Genel Bilgiler</span>
                    </a>
                </div>
                <div class="menu-item">
                    <a href="#" class="menu-link py-3">
                        <span class="menu-icon">
                            <i class="ki-duotone ki-people fs-3">
                                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span>
                            </i>
                        </span>
                        <span class="menu-title">Kişiler</span>
                    </a>
                </div>
                <div class="menu-item">
                    <a href="#" class="menu-link py-3">
                        <span class="menu-icon">
                            <i class="ki-duotone ki-book-open fs-3">
                                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span>
                            </i>
                        </span>
                        <span class="menu-title">Notlar</span>
                    </a>
                </div>
                <!--begin::Menu item-->
                <div class="menu-item">
                    <a href="#" class="menu-link py-3">
                        <span class="menu-icon">
                            <i class="ki-duotone ki-file fs-3">
                                <span class="path1"></span><span class="path2"></span>
                            </i>
                        </span>
                        <span class="menu-title">Dosyalar</span>
                    </a>
                </div>
                <!--end::Menu item-->
            </div>
            <!--end::Menu-->
        </div>
        <form class="col-lg-10 row" method="post" action="/Cari/Ekle">

            <div class="col-lg-10 row">
                <div class="d-flex align-items-center justify-content-between mt-5">
                    <div class="form-check">
                        <input class="form-check-input" name="Aktif" type="checkbox" value="true" id="Aktif" checked />
                        <label class="form-check-label user-select-none cursor-pointer" for="Aktif">
                            Aktif
                        </label>
                    </div>


                    <div class="form-check me-5">
                        <input class="form-check-input" name="Alici" type="checkbox" value="true" id="Alici" />
                        <label class="form-check-label user-select-none cursor-pointer" for="Alici">
                            Alıcı
                        </label>
                    </div>
                    <div class="form-check me-5">
                        <input class="form-check-input" name="Satici" type="checkbox" value="true" id="Satici" />
                        <label class="form-check-label user-select-none cursor-pointer" for="Satici">
                            Satıcı
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="Personel" type="checkbox" value="true" id="Personel" />
                        <label class="form-check-label user-select-none cursor-pointer" for="Personel">
                            Personel
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="ServisPersoneli" type="checkbox" value="true" id="ServisPersoneli" />
                        <label class="form-check-label user-select-none cursor-pointer" for="ServisPersoneli">
                            ServisPersoneli
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1" class="required form-label">Kayıt Tarihi</label>
                        @* Varsayilan gun tarihini cagirdik ve toString ile formatladik. bu format sayesinde input value degerini de atamis olduk *@
                        <input type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" name="KayitTarihi" class="form-control form-control-solid" placeholder="" />
                    </div>

                </div>
                <div class="col-3">
                    <label for="exampleFormControlInput1" class="required form-label">Kod</label>
                    <input type="text" name="Kod" class="form-control form-control-solid" placeholder="" />
                </div>
                <div class="col-9">
                    <label for="exampleFormControlInput1" class="required form-label">Kısa İsim</label>
                    <input type="text" name="Isim" class="form-control form-control-solid" placeholder="" required />
                </div>
                <div class="col-12">
                    <label for="exampleFormControlInput1" class="required form-label">Unvan</label>
                    <input type="text" name="Unvan" class="form-control form-control-solid" placeholder="" required />
                </div>
                <div class="col-12">
                    <label for="exampleFormControlInput1" class="required form-label">Adres</label>
                    <textarea type="text" name="Adres" class="form-control form-control-solid" placeholder="" required></textarea>
                </div>
                <div class="col-3">
                    <label for="exampleFormControlInput1" class="required form-label">Bölge</label>
                    <input type="text" name="Bolge" class="form-control form-control-solid" placeholder="" />
                </div>
                <div class="col-3">
                    <label for="floatingSelect" class="required form-label">Ülke</label>
                    <select class="form-select form-select-solid" name="Ulke" id="floatingSelect"
                            aria-label="Floating label select example">
                        <option value="">Lütfen Seçim Yapınız</option>
                        @foreach (var ulke in ViewBag.Ulkeler)
                        {
                            <option value="@ulke">@ulke</option>
                        }
                    </select>
                </div>
                <div class="col-3">
                    <label for="floatingSelect" class="required form-label">İl</label>
                    <select class="form-select form-select-solid" name="Il" id="floatingSelect"
                            aria-label="Floating label select example">
                        <option value="">Lütfen Seçim Yapınız</option>
                        @foreach (var il in ViewBag.Iller)
                        {
                            <option value="@il">@il</option>
                        }

                    </select>
                </div>
                <div class="col-3">
                    <label for="exampleFormControlInput1" class="required form-label">İlçe</label>
                    <input type="text" name="Ilce" class="form-control form-control-solid" placeholder="" />
                </div>




                <div class="col-3">
                    <div class="form-group">
                        <label for="exampleFormControlInput1" class="required form-label">Posta Kodu</label>
                        <input type="text" name="PostaKodu" class="form-control form-control-solid" placeholder="" />
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="exampleFormControlInput1" class="required form-label">TC No</label>
                        <input type="text" name="TCKimlikNo" class="form-control form-control-solid" placeholder="" />
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="exampleFormControlInput1" class="required form-label">Vergi Numarası</label>
                        <input type="text" name="VergiNumarasi" class="form-control form-control-solid" placeholder="" />
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label for="exampleFormControlInput1" class="required form-label">Vergi Dairesi</label>
                        <input type="text" name="VergiDairesi" class="form-control form-control-solid" placeholder="" />
                    </div>
                </div>





            </div>
                <div class="col-lg-2">
                    <br />

                    <div class="col-12">
                        <label for="floatingSelect" class="form-label">Grup Kodu 1</label>
                        <select class="form-select form-select-solid" name="GrupKodu1ID" id="floatingSelect"
                                aria-label="Floating label select example">
                            <option value="">Lütfen Seçim Yapınız</option>
                            @foreach (var cariGrupKodlari1 in ViewBag.CariGrupKodlari1)
                            {
                                <option value="@cariGrupKodlari1">@cariGrupKodlari1</option>
                            }
                        </select>
                    </div>
                    <div class="col-12">
                        <label for="floatingSelect" class="form-label">Grup Kodu 2</label>
                        <select class="form-select form-select-solid" name="GrupKodu2ID" id="floatingSelect"
                                aria-label="Floating label select example">
                            <option value="">Lütfen Seçim Yapınız</option>
                            @foreach (var cariGrupKodlari2 in ViewBag.CariGrupKodlari2)
                            {
                                <option value="@cariGrupKodlari2">@cariGrupKodlari2</option>
                            }
                        </select>
                    </div>

                    <div class="col-12">
                        <label for="floatingSelect" class="form-label">Grup Kodu 3</label>
                        <select class="form-select form-select-solid" name="GrupKodu3ID" id="floatingSelect"
                                aria-label="Floating label select example">
                            <option value="">Lütfen Seçim Yapınız</option>
                            @foreach (var cariGrupKodlari3 in ViewBag.CariGrupKodlari3)
                            {
                                <option value="@cariGrupKodlari3">@cariGrupKodlari3</option>
                            }
                        </select>
                    </div>
                    <div class="col-12">
                        <label for="floatingSelect" class="form-label">Grup Kodu 4</label>
                        <select class="form-select form-select-solid" name="GrupKodu4ID" id="floatingSelect"
                                aria-label="Floating label select example">
                            <option value="">Lütfen Seçim Yapınız</option>
                            @foreach (var cariGrupKodlari4 in ViewBag.CariGrupKodlari4)
                            {
                                <option value="@cariGrupKodlari4">@cariGrupKodlari4</option>
                            }
                        </select>
                    </div>

                    <div class="col-12">
                        <label for="floatingSelect" class="form-label">Grup Kodu 5</label>
                        <select class="form-select form-select-solid" name="GrupKodu5ID" id="floatingSelect"
                                aria-label="Floating label select example">
                            <option value="">Lütfen Seçim Yapınız</option>
                            @foreach (var cariGrupKodlari5 in ViewBag.CariGrupKodlari5)
                            {
                                <option value="@cariGrupKodlari5">@cariGrupKodlari5</option>
                            }
                        </select>
                    </div>
                    <div class="col-12">
                        <label for="floatingSelect" class="form-label">Grup Kodu 6</label>
                        <select class="form-select form-select-solid" name="GrupKodu6ID" id="floatingSelect"
                                aria-label="Floating label select example">
                            <option value="">Lütfen Seçim Yapınız</option>
                            @foreach (var cariGrupKodlari6 in ViewBag.CariGrupKodlari6)
                            {
                                <option value="@cariGrupKodlari6">@cariGrupKodlari6</option>
                            }
                        </select>
                    </div>


                </div>


                <div class="col-12 row">

                    <div class="col-2">
                        <div class="form-group">
                            <label for="exampleFormControlInput1" class="required form-label">Döviz Id</label>
                            <input type="text" name="DovizID" class="form-control form-control-solid" placeholder="" />
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="exampleFormControlInput1" class="required form-label">Vade Günü</label>
                            <input type="text" name="VadeGunu" class="form-control form-control-solid" placeholder="" />
                        </div>
                    </div>
                    <div class="col-2">
                        <br /><br />
                        <input class="form-check-input" name="Kilitli " type="checkbox" value="true" id="Kilitli " />
                        <label class="form-check-label user-select-none cursor-pointer" for="Kilitli ">
                            Kilitli
                        </label>
                    </div>

                    <div class="col-2">
                        <div class="form-group me-5">
                            <label for="exampleFormControlInput1" class="required form-label">KilitAciklamasi</label>
                            <input type="text" name="KilitAciklamasi" class="form-control form-control-solid" placeholder="" />
                        </div>
                    </div>

                    <div class="col-2">
                        <label for="Iskonto1" class="required form-label">Iskonto1</label>
                        <input type="text" class="form-control form-control-solid" name="Iskonto1" id="Iskonto1" step="any" />

                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label for="exampleFormControlInput1" class="required form-label">ListeFiyat</label>
                            <input type="text" name="ListeFiyat" class="form-control form-control-solid" placeholder="" step="any" />
                        </div>
                    </div>


                    <div class="col-12">
                        <div class="form-group">
                            <label for="exampleFormControlInput1" class="required form-label"> Muhasebe Kodu </label>
                            <input type="text" name="MuhasebeKodu" class="form-control form-control-solid" placeholder="" />
                        </div>
                    </div>

                    <div class="col-4">
                        <input class="form-check-input" name="LimitAsimindaUyar" type="checkbox" value="true" id="LimitAsimindaUyar " />
                        <label class="form-check-label user-select-none cursor-pointer" for="LimitAsimindaUyar ">
                            Limit Aşımında Uyar
                        </label><br /><br />
                        <input class="form-check-input" name="LimitAsimindaDurdur" type="checkbox" value="true" id="LimitAsimindaDurdur " />
                        <label class="form-check-label user-select-none cursor-pointer" for="LimitAsimindaDurdur">
                            Limit Aşımında Durdur
                        </label>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="Limit" class="required form-label">Limit</label>
                            <input type="text" name="Limit" class="form-control form-control-solid" placeholder="" id="Limit" step="any" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="exampleFormControlInput1" class="required form-label"> RiskAciklama </label>
                            <input type="text" name="RiskAciklama" class="form-control form-control-solid" placeholder="" />
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label for="exampleFormControlInput1" class="required form-label">PlasiyerID </label>
                            <input type="text" name="PlasiyerID " class="form-control form-control-solid" placeholder="" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="exampleFormControlInput1" class="required form-label"> AnaCariID </label>
                            <input type="text" name="AnaCariID" class="form-control form-control-solid" placeholder="" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="exampleFormControlInput1" class="required form-label">TeslimCariID</label>
                            <input type="text" name="TeslimCariID" class="form-control form-control-solid" placeholder="" />
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="form-group ">
                            <label for="floatingInput" class="form-label required">Telefon 1</label>
                            <input type="text" name="Telefon1" class="form-control form-control-solid" id="floatingInput" />
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="floatingInput" class="form-label">Telefon 2</label>
                            <input type="text" name="Telefon2" class="form-control form-control-solid" id="floatingInput" />
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="floatingInput" class="form-label">Faks</label>
                            <input type="text" name="Faks" class="form-control form-control-solid" id="floatingInput" />
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="floatingInput" class="form-label required">Cep Telefonu</label>
                            <input type="text" name="CepTelefonu" class="form-control form-control-solid" id="floatingInput" />
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="form-group">
                            <label for="exampleFormControlInput1" class="required form-label"> Kullanıcı Adı</label>
                            <input type="text" name="KullaniciAdi" class="form-control form-control-solid" placeholder="" required />
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="exampleFormControlInput1" class="required form-label">Parola</label>
                            <input type="password" name="Parola" class="form-control form-control-solid" placeholder="" required />
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="form-group">
                            <label for="floatingInput" class="form-label required">Email</label>
                            <input type="text" name="EMail" class="form-control form-control-solid" id="floatingInput" />
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="floatingInput" class="form-label">Web Sitesi</label>
                            <input type="text" name="WebSite" class="form-control form-control-solid" id="floatingInput" />
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group mt-5">
                            <label for="floatingInput" class="form-label">Açıklama 1</label>
                            <textarea type="text" name="Aciklama1" class="form-control form-control-solid" id="floatingInput"></textarea>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group mt-5">
                            <label for="floatingInput" class="form-label">Açıklama 2</label>
                            <textarea type="text" name="Aciklama2" class="form-control form-control-solid" id="floatingInput"></textarea>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group mt-5">
                            <label for="floatingInput" class="form-label">Açıklama 3</label>
                            <textarea type="text" name="Aciklama3" class="form-control form-control-solid" id="floatingInput"></textarea>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group mt-5">
                            <label for="floatingInput" class="form-label">Açıklama 4</label>
                            <textarea type="text" name="Aciklama4" class="form-control form-control-solid" id="floatingInput"></textarea>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group mt-5">
                            <label for="floatingInput" class="form-label">Açıklama 5</label>
                            <textarea type="text" name="Aciklama5" class="form-control form-control-solid" id="floatingInput"></textarea>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group mt-5">
                            <label for="floatingInput" class="form-label">Açıklama 6</label>
                            <textarea type="text" name="Aciklama6" class="form-control form-control-solid" id="floatingInput"></textarea>
                        </div>
                    </div>
                </div>
                <!--begin::Actions-->
                <div class="col-12">
                    <div class="text-center pt-10">
                        <button type="submit" class="btn btn-primary" data-kt-users-modal-action="Ekle">
                            <span class="indicator-label">Kaydet</span>
                            <span class="indicator-progress">
                                Lütfen Bekleyin...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <!--end::Actions-->
</form>
    </div>
</div>
