@{
    ViewBag.Title = "Excel ile İçe Aktar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="mt-8">
            <div class="card card-flush">
                <div class="px-6 py-4">
                    <a href="~/Tema/excel/ornek-cari-liste.xls" class="btn btn-light-primary btn-sm fw-bold" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                        <i class="ki-duotone ki-minus-folder fs-2">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>

                        Cari Aktarım Şablonu
                    </a>
                </div>

                <div class="scroll ps-6 pe-6">
                    <table class="table table-bordered border-gray-200 rounded-m">
                        <thead>
                            <tr class="fw-bold fs-6">
                                <th class="px-3 py-2 text-gray-600">Aktif</th>
                                <th class="px-3 py-2 text-gray-600">Isim</th>
                                <th class="px-3 py-2 text-gray-600">Unvan</th>
                                <th class="px-3 py-2 text-gray-600">Alici</th>
                                <th class="px-3 py-2 text-gray-600">Satici</th>
                                <th class="px-3 py-2 text-gray-600">Personel</th>
                                <th class="px-3 py-2 text-gray-600">ServisPersoneli</th>
                                <th class="px-3 py-2 text-gray-600">Adres</th>
                                <th class="px-3 py-2 text-gray-600">Bolge</th>
                                <th class="px-3 py-2 text-gray-600">Ulke</th>
                                <th class="px-3 py-2 text-gray-600">Il</th>
                                <th class="px-3 py-2 text-gray-600">Ilce</th>
                                <th class="px-3 py-2 text-gray-600">PostaKodu</th>
                                <th class="px-3 py-2 text-gray-600">TCKimlikNo</th>
                                <th class="px-3 py-2 text-gray-600">VergiNumarasi</th>
                                <th class="px-3 py-2 text-gray-600">VergiDairesi</th>
                                <th class="px-3 py-2 text-gray-600">VadeGunu</th>
                                <th class="px-3 py-2 text-gray-600">Limit</th>
                                <th class="px-3 py-2 text-gray-600">Telefon1</th>
                                <th class="px-3 py-2 text-gray-600">Telefon2</th>
                                <th class="px-3 py-2 text-gray-600">Faks</th>
                                <th class="px-3 py-2 text-gray-600">CepTelefonu</th>
                                <th class="px-3 py-2 text-gray-600">KullaniciAdi</th>
                                <th class="px-3 py-2 text-gray-600">Parola</th>
                                <th class="px-3 py-2 text-gray-600">EMail</th>
                                <th class="px-3 py-2 text-gray-600">WebSite</th>
                                <th class="px-3 py-2 text-gray-600">Aciklama1</th>
                                <th class="px-3 py-2 text-gray-600">Aciklama2</th>
                                <th class="px-3 py-2 text-gray-600">Aciklama3</th>
                                <th class="px-3 py-2 text-gray-600">Aciklama4</th>
                                <th class="px-3 py-2 text-gray-600">Aciklama5</th>
                                <th class="px-3 py-2 text-gray-600">Aciklama6</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.SimulasyonListesi != null)
                            {
                                foreach (YKPortal.Models.Dto.CariDto cariDto in ViewBag.SimulasyonListesi)
                                {
                                    <tr>
                                        <td class="px-3 py-2">@cariDto.Aktif</td>
                                        <td class="px-3 py-2">@cariDto.Isim</td>
                                        <td class="px-3 py-2">@cariDto.Unvan</td>
                                        <td class="px-3 py-2">@cariDto.Alici</td>
                                        <td class="px-3 py-2">@cariDto.Satici</td>
                                        <td class="px-3 py-2">@cariDto.Personel</td>
                                        <td class="px-3 py-2">@cariDto.ServisPersoneli</td>
                                        <td class="px-3 py-2">@cariDto.Adres</td>
                                        <td class="px-3 py-2">@cariDto.Bolge</td>
                                        <td class="px-3 py-2">@cariDto.Ulke</td>
                                        <td class="px-3 py-2">@cariDto.Il</td>
                                        <td class="px-3 py-2">@cariDto.Ilce</td>
                                        <td class="px-3 py-2">@cariDto.PostaKodu</td>
                                        <td class="px-3 py-2">@cariDto.TCKimlikNo</td>
                                        <td class="px-3 py-2">@cariDto.VergiNumarasi</td>
                                        <td class="px-3 py-2">@cariDto.VergiDairesi</td>
                                        <td class="px-3 py-2">@cariDto.VadeGunu</td>
                                        <td class="px-3 py-2">@cariDto.Limit</td>
                                        <td class="px-3 py-2">@cariDto.Telefon1</td>
                                        <td class="px-3 py-2">@cariDto.Telefon2</td>
                                        <td class="px-3 py-2">@cariDto.Faks</td>
                                        <td class="px-3 py-2">@cariDto.CepTelefonu</td>
                                        <td class="px-3 py-2">@cariDto.KullaniciAdi</td>
                                        <td class="px-3 py-2">@cariDto.Parola</td>
                                        <td class="px-3 py-2">@cariDto.EMail</td>
                                        <td class="px-3 py-2">@cariDto.WebSite</td>
                                        <td class="px-3 py-2">@cariDto.Aciklama1</td>
                                        <td class="px-3 py-2">@cariDto.Aciklama2</td>
                                        <td class="px-3 py-2">@cariDto.Aciklama3</td>
                                        <td class="px-3 py-2">@cariDto.Aciklama4</td>
                                        <td class="px-3 py-2">@cariDto.Aciklama5</td>
                                        <td class="px-3 py-2">@cariDto.Aciklama6</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div>
                    <form id="iceAktarFormu" action="/Cari/ExcelIceAktar" method="post" class="p-8" enctype="multipart/form-data">
                        <div>
                            <label for="file" class="form-label fs-5 fw-bold  text-gray-700">Bir Dosya Seçin</label>
                            <input class="form-control mt-2 p-2" type="file" name="file" />
                        </div>
                        <!--begin::Actions-->
                        <div>
                            <input type="checkbox" class="hidden" id="kaydet" name="tip" value="kaydet" checked />
                            <input type="checkbox" class="hidden" id="simulasyon" name="tip" value="simulasyon" />
                        </div>
                        <div class="col-12">
                            <div class="d-flex pt-6">
                                <div class="me-4">
                                    <button type="submit" id="kaydetButonu" class="btn btn-primary btn-sm fw-bold" data-kt-users-modal-action="ExcelIceAktar">
                                        <span class="indicator-label">İçe Aktar</span>
                                    </button>
                                </div>
                                <div>
                                    <button type="submit" id="simulasyonButonu" class="btn btn-light btn-sm fw-bold" data-kt-users-modal-action="ExcelIceAktar">
                                        <span class="indicator-label">Simüle Et</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!--end::Actions-->
                    </form>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid px-4 mt-8">
        <div class="row ">
            <div class="card card-flush col-12">
                <div class="card-header p-4">
                    <div class="d-flex flex-column">
                        <span><strong>Aktarılan Kayıt Sayısı:</strong> @(ViewBag.AktarilanKayitSayisi)</span>
                        <span><strong>Hatalı Kayıt Sayısı:</strong> @(ViewBag.AktarilanHataliKayitSayisi)</span>
                    </div>
                </div>
                <div class="card-body">
                    @if (ViewBag.AktarilanKayitSayisi != null && ViewBag.AktarilanKayitSayisi > 0)
                    {
                        <div class="alert alert-success">
                            Aktarılan Kayıt Sayısı: @ViewBag.AktarilanKayitSayisi
                        </div>

                    }
                    @if (ViewBag.AktarilanHataliKayitSayisi != null && ViewBag.AktarilanHataliKayitSayisi > 0)
                    {
                        <div class="table-danger fw-bold px-3 py-2" style="background: #fed4de; border-left: 1px solid #e5bfc8; border-right: 1px solid #e5bfc8; border-top: 1px solid #e5bfc8; ">Hata içeriği</div>
                        <div class="table-responsive scroll " style="height: 500px;">
                            <table class="table table-danger table-bordered">
                                <tbody>
                                    @foreach (string hata in ViewBag.HataliKayitListesi)
                                    {
                                        <tr>
                                            <td class="px-3 py-2">@hata</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>





</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#kaydetButonu').on('click', function (event) {
                event.preventDefault();
                $('input[name="tip"]#kaydet').prop('checked', true);
                $('input[name="tip"]#simulasyon').prop('checked', false);

                $('#iceAktarFormu').submit();
            });

            $('#simulasyonButonu').on('click', function (event) {
                event.preventDefault();

                $('input[name="tip"]#kaydet').prop('checked', false);
                $('input[name="tip"]#simulasyon').prop('checked', true);

                $('#iceAktarFormu').submit();
            });
        });
    </script>
}