@model YKPortal.Models.Dto.CariListeViewModel
@{
    ViewBag.Title = "Cari Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid p-0">
    <div class="row p-0 m-0">
        <div class="col-lg-12 p-0">
            <div class="content d-flex justify-center flex-column flex-column-fluid p-0" id="kt_content">
                <!--begin::Post-->
                <div class="post d-flex flex-column-fluid" id="kt_post">
                    <!--begin::Container-->
                    <div id="kt_content_container" class="container-fluid p-0 m-0">
                        <div class="card card-flush border-0 shadow-none m-0 p-0">
                            <div class="card-header align-items-center border-0 shadow-0 gap-2 gap-md-5 p-0 m-0">

                                <div class="card-title">
                                    <!--begin::Export buttons-->
                                    <div id="kt_datatable_example_1_export" class="d-none"></div>
                                    <!--end::Export buttons-->
                                </div>
                                <div class="card-toolbar flex-row-fluid justify-content-end gap-3">
                                    <button type="button" id="topluSilButon" class="btn btn-light-primary btn-sm fw-bold" onclick="$('#DivFiltre').toggle();">
                                        <span class="indicator-label fw-bold">Filtre</span>
                                        <i class="ki-duotone ki-filter">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                    </button>
                                    <div>
                                        <button type="button" id="topluSilButon" class="btn btn-light-primary btn-sm fw-bold" data-bs-toggle="modal" data-bs-target="#Cari-toplu-silme">
                                            <span class="indicator-label fw-bold">Toplu Sil</span>
                                        </button>
                                    </div>
                                    <button type="button" class="btn btn-light-primary btn-sm fw-bold" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                                        <i class="ki-duotone ki-exit-down fs-2"><span class="path1"></span><span class="path2"></span></i>
                                        Dışarı aktar
                                    </button>
                                    <!--begin::Menu-->
                                    <a class="btn btn-primary btn-sm fw-bold" href="/Cari/ExcelIceAktar">
                                        Excel içe aktar

                                    </a>
                                    <div id="kt_datatable_example_export_menu" class="menu menu-sub menu-sub-dropdown menu-column menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-200px" data-kt-menu="true">
                                        <!--begin::Menu item-->
                                        <div class="menu-item p-0">
                                            <a href="#" class="menu-link py-0  px-2" data-kt-export="copy">
                                                Panoya Kopyala
                                            </a>
                                        </div>
                                        <!--end::Menu item-->
                                        <!--begin::Menu item-->
                                        <div class="menu-item  p-0">
                                            <a href="#" class="menu-link py-0  px-2" data-kt-export="excel">
                                                Excel olarak dışarı aktar
                                            </a>
                                        </div>
                                        <!--end::Menu item-->
                                        <!--begin::Menu item-->
                                        <div class="menu-item  p-0">
                                            <a href="#" class="menu-link py-0  px-2" data-kt-export="csv">
                                                CSV olarak dışarı aktar
                                            </a>
                                        </div>
                                        <!--end::Menu item-->
                                        <!--begin::Menu item-->
                                        <div class="menu-item  p-0">
                                            <a href="#" class="menu-link py-0  px-2" data-kt-export="pdf">
                                                PDF olarak dışarı aktar
                                            </a>
                                        </div>
                                        <!--end::Menu item-->
                                    </div>
                                    <!--end::Menu-->
                                    <!--end::Export dropdown-->
                                    <!--begin::Hide default export buttons-->
                                    <div id="kt_datatable_example_buttons" class="d-none"></div>
                                    <!--end::Hide default export buttons-->
                                    <a href="/Cari/Ekle" class="btn btn-primary btn-sm fw-bold me-4">
                                        <i class="ki-duotone ki-plus fs-2"></i>Cari Ekle
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="container-fluid" id="DivFiltre" name="DivFiltre" style="display:none;">
                                <div class="card border-0 shadow-none">
                                    <div class="card-body">
                                        <!--begin::Filtreleme alanı-->
                                        <form method="POST" action="/Cari/Liste" class="content p-0" id="datatableFilters">
                                            <div class="d-flex">
                                                <h3 class="text-gray-600 fw-bold mb-4">Filtreler</h3>
                                                <i class="ki-duotone ki-filter-search fs-2">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                    <span class="path3"></span>
                                                </i>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <!--begin::Label-->
                                                    <label for="Kod" class="fw-bold fs-6 mb-2 text-gray-600">Kod</label>
                                                    <!--end::Label-->
                                                    <!--begin::Input-->
                                                    <input type="text" name="Kod" id="Kod" class="form-control form-control-solid px-2 py-1 mb-3 mb-lg-0" value="@(ViewBag.Filters.Kod)" />
                                                    <!--end::Input-->
                                                </div>
                                                <div class="col-lg-3">
                                                    <!--begin::Label-->
                                                    <label for="Isim" class="fw-bold fs-6 mb-2 text-gray-600">Kısa İsim</label>
                                                    <!--end::Label-->
                                                    <!--begin::Input-->
                                                    <input type="text" name="Isim" id="Isim" class="form-control form-control-solid px-2 py-1 mb-3 mb-lg-0" value="@(ViewBag.Filters.Isim)" />
                                                    <!--end::Input-->
                                                </div>
                                                <div class="col-lg-3">
                                                    <!--begin::Label-->
                                                    <label for="Unvan" class="fw-bold fs-6 mb-2 text-gray-600">Ünvan</label>
                                                    <!--end::Label-->
                                                    <!--begin::Input-->
                                                    <input type="text" name="Unvan" id="Unvan" class="form-control form-control-solid px-2 py-1 mb-3 mb-lg-0" value="@(ViewBag.Filters.Unvan)" />
                                                    <!--end::Input-->
                                                </div>
                                                <div class="col-lg-3">
                                                    <!--begin::Label-->
                                                    <label for="VergiNumarasi" class="fw-bold fs-6 mb-2 text-gray-600">VergiNumarasi</label>
                                                    <!--end::Label-->
                                                    <!--begin::Input-->
                                                    <input type="text" name="VergiNumarasi" id="VergiNumarasi" class="form-control form-control-solid px-2 py-1 mb-3 mb-lg-0" value="@(ViewBag.Filters.VergiNumarasi)" />
                                                    <!--end::Input-->
                                                </div>

                                            </div>
                                            <div class="row mt-4">

                                                <div class="col-lg-3">
                                                    <!--begin::Label-->
                                                    <label for="TCKimlikNo" class="fw-bold fs-6 mb-2 text-gray-600">TCKimlikNo</label>
                                                    <!--end::Label-->
                                                    <!--begin::Input-->
                                                    <input type="text" name="TCKimlikNo" id="TCKimlikNo" class="form-control form-control-solid px-2 py-1 mb-3 mb-lg-0" value="@(ViewBag.Filters.TCKimlikNo)" />
                                                    <!--end::Input-->
                                                </div>
                                                <div class="col-lg-3">
                                                    <!--begin::Label-->
                                                    <label for="GrupKodu2ID" class="fw-bold fs-6 mb-2 text-gray-600">Cep Telefonu</label>
                                                    <!--end::Label-->
                                                    <!--begin::Input-->
                                                    <input type="text" name="CepTelefonu" id="CepTelefonu" class="form-control form-control-solid px-2 py-1 mb-3 mb-lg-0" value="@(ViewBag.Filters.CepTelefonu)" />
                                                    <!--end::Input-->
                                                </div>
                                                <div class="col-lg-3 ">

                                                </div>
                                                <div class="col-lg-3 d-flex justify-content-end align-items-end">
                                                    <button type="button" id="filtreleriTemizle" class="btn btn-light btn-sm fw-bold me-3" data-kt-users-modal-action="cancel">Temizle</button>
                                                    <button type="submit" class="btn btn-primary btn-sm fw-bold" data-kt-users-modal-action="Ara">
                                                        <span class="indicator-label">Filtrele</span>
                                                    </button>
                                                </div>
                                            </div>

                                        </form>
                                        <!--end::Filtreleme alanı-->
                                    </div>
                                </div>
                            </div>
                            <style>
                                .max-w-250 {
                                    max-width: 250px !important;
                                }

                                .max-w-360 {
                                    max-width: 360px !important;
                                }
                            </style>
                            <div class="my-4 scroll-x">
                                <table class="table p-2 align-middle border rounded table-row-dashed fs-6 display nowrap w-100" id="Cari-datatable">

                                    <thead>

                                        <!--begin::Table row-->
                                        <tr class="text-start" style="font-size:15px;">
                                            <th id="select" class="min-w-40px max-w-40 no-export"></th>
                                            <th class="min-w-125px"><strong>Cari Kodu</strong></th>
                                            <th class="min-w-125px max-w-360"><strong>Cari İsmi</strong></th>
                                            <th class="min-w-125px max-w-360 no-export"><strong>Ünvan</strong></th>
                                            <th class="min-w-125px mt-8"><strong>Cep Telefonu</strong></th>
                                            <th class="min-w-125px mt-8"><strong>GrupKodu1</strong></th>
                                            <th class="min-w-125px"><strong>GrupKodu2</strong></th>
                                            <th class="text-end min-w-100px no-export"><strong>İşlemler</strong></th>
                                            <th class="text-end min-w-100px  no-export"><strong>ID</strong></th>
                                        </tr>
                                        <!--end::Table row-->
                                    </thead>
                                    <tbody class="text-gray-600 fw-semibold">
                                        @for (var i = 0; i < Model.Cari.Rows.Count; i++)
                                        {
                                            <tr>
                                                <td class="pt-4 pb-4">
                                                </td>

                                                <td class="pt-4 pb-4">
                                                    @(Convert.ToString(Model.Cari.Rows[i]["Kod"]))
                                                </td>
                                                <td class="pt-4 ">
                                                    <a href="/Cari/Duzenle/@(Convert.ToString(Model.Cari.Rows[i]["ID"]))">
                                                        <strong class="text-wrap max-w-360 d-block"> @(Convert.ToString(Model.Cari.Rows[i]["Isim"])) </strong>
                                                    </a>
                                                </td>
                                                <td class="pt-4 pb-4">
                                                    <span class="text-wrap max-w-360 d-block">
                                                        @(Convert.ToString(Model.Cari.Rows[i]["Unvan"]))
                                                    </span>

                                                </td> 
                                                <td class="pt-4 pb-4">
                                                    @(Convert.ToString(Model.Cari.Rows[i]["CepTelefonu"]))
                                                </td>
                                                <td class="pt-4 pb-4">
                                                    @(Convert.ToString(Model.Cari.Rows[i]["GrupKoduAdi1"]))
                                                </td>
                                                <td class="pt-4 pb-4">
                                                    @(Convert.ToString(Model.Cari.Rows[i]["GrupKoduAdi2"]))
                                                </td>
                                                <td class="text-end pt-4 pb-4">
                                                    <button class="dropdown btn btn-light btn-active-light-primary btn-flex btn-center btn-sm fw-bold" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                                                        İşlemler
                                                        <i class="ki-duotone ki-down fs-5 ms-1"></i>
                                                    </button>
                                                    <!--begin::Menu-->
                                                    <div class="menu menu-sub menu-sub-dropdown menu-column menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-125px py-0 px-0" data-kt-menu="true">
                                                        <!--begin::Menu item-->
                                                        @if (Model.Duzenle)
                                                        {
                                                            <div class="menu-item p-0">
                                                                <a href="/Cari/Duzenle/@(Convert.ToString(Model.Cari.Rows[i]["ID"]))" class="menu-link py-0  px-2">Düzenle</a>
                                                            </div>
                                                        }
                                                        <!--end::Menu item-->
                                                        <!--begin::Menu item-->

                                                        @if (Model.Sil)
                                                        {
                                                            <div class="menu-item p-0">
                                                                <button type="button" data-id="@(Convert.ToString(Model.Cari.Rows[i]["ID"]))" class="btn btn-sm rounded-0 w-100 menu-link py-0  px-2 btn-sil cari-silme" data-bs-toggle="modal" data-bs-target="#Cari-silme">
                                                                    Sil
                                                                </button>
                                                            </div>
                                                        }
                                                        
                                                        <!--end::Menu item-->
                                                        <!--begin::Menu item-->
                                                        
                                                        <!--end::Menu item-->
                                                        <!--begin::Menu item-->
                                                        <div class="menu-item p-0">
                                                            <a href="/Cari/KisiListe?CariID=@(Convert.ToString(Model.Cari.Rows[i]["ID"]))" class="menu-link py-0  px-2">Kişiler</a>
                                                        </div>
                                                        <!--end::Menu item-->
                                                        <!--begin::Menu item-->
                                                        <div class="menu-item">
                                                            <a href="/Cari/NotListe?CariID=@(Convert.ToString(Model.Cari.Rows[i]["ID"]))" class="menu-link py-0  px-2">Notlar</a>
                                                        </div>
                                                        <div class="menu-item p-0">
                                                            <a href="/Dosya/Liste?Modul=Cari&KayitID=@(Convert.ToString(Model.Cari.Rows[i]["ID"]))" class="menu-link py-0  px-2">Dosyalar</a>
                                                        </div>
                                                        <div class="menu-item p-0">
                                                            <a href="/Cari/ZiyaretListe?CariID=@(Convert.ToString(Model.Cari.Rows[i]["ID"]))" class="menu-link py-0  px-2">Aktiviteler</a>
                                                        </div>
                                                        <div class="menu-item p-0">
                                                            <a href="/Cari/YeniCariHareketKaydi?CariID=@(Convert.ToString(Model.Cari.Rows[i]["ID"]))" class="menu-link py-0  px-2">Yeni Cari Hareket</a>
                                                        </div>

                                                        <!--end::Menu item-->

                                                    </div>
                                                    <!--end::Menu-->
                                                </td>
                                                <td class="">@(Convert.ToString(Model.Cari.Rows[i]["ID"]))</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--end::Container-->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Cari-silme" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Cari Silme İşlemi</h3>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                <p>Cariyi silmek istediğinize emin misiniz?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light btn-sm fw-bold" data-bs-dismiss="modal">Vazgeç</button>
                <form method="post" id="silme-formu" action="@Url.Action("Sil","Cari",null)">
                    <input type="hidden" name="id" value="" />
                    <button type="submit" class="btn btn-danger btn-sm fw-bold">Sil</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Cari-toplu-silme" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Cari Silme İşlemi</h3>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                <p>Seçtiğiniz carileri silmek istediğinize emin misiniz?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Vazgeç</button>
                <button type="button" id="topluSilOnay" class="btn btn-danger">Sil</button>
            </div>
        </div>
    </div>
</div>
@section Styles {
}
@section Scripts {
    <script>

        function setCookie(name, value, days) {
            let expires = "";
            if (days) {
                let date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "") + expires + "; path=/";
        }

        function getCookie(name) {
            let nameEQ = name + "=";
            let ca = document.cookie.split(';');
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        var select = document.querySelectorAll("#select")


        document.addEventListener('DOMContentLoaded', function () {

            const cariDatatable = KTDatatablesExample.init();

            cariDatatable.loadDataTableSettingsFromCookie(cariDatatable.datatable);

            cariDatatable.datatable.on('column-visibility.dt', function (e, settings, column, state) {
                cariDatatable.saveDataTableColumnSettingsToCookie(cariDatatable.datatable, column, state)
            }); 

            document.querySelectorAll('.btn-sil').forEach(silButonu => {
                silButonu.addEventListener('click', function () {
                    document.querySelector('form#silme-formu input[name="id"]').value = silButonu.dataset.id;
                });
            });

            const filtreleriTemizle = document.querySelector("#filtreleriTemizle");

            if (filtreleriTemizle) {

                filtreleriTemizle.addEventListener("click", function (e) {
                    e.preventDefault();
                    document.querySelector("form#datatableFilters").querySelectorAll("input").forEach(input => {
                        input.value = ""
                    })
                    document.querySelector("form#datatableFilters").submit();
                });
            }

            $('#topluSilOnay').on('click', function () {
                topluSil();
            })

            function topluSil() {
                var idListesi = [];
                $('#Cari-datatable tr.selected .btn-sil.cari-silme').each(function (event) {
                    var id = $(this).attr('data-id');
                    idListesi.push(id);

                })
                $.ajax({
                    url: "/Cari/TopluSil",
                    method: "POST",
                    data: { idListesi: idListesi },
                    success: function (response) {
                        console.log("Success:", response);
                        window.location.reload();
                    },
                    error: function (xhr, status, error) {

                        console.log("Error:", xhr.responseText);
                    }
                })

            }

        });

        var colResize_options = {
            isEnabled: true,
            hoverClass: 'dt-colresizable-hover',
            hasBoundCheck: true,
            minBoundClass: 'dt-colresizable-bound-min',
            isResizable: function (column) { return true; },
            onResize: function (column) { },
            onResizeEnd: function (column) { },
            getMinWidthOf: function ($thNode) { }

        }
        var colReorder_options = {
            realtime: false
        }

        // Class definition
        var KTDatatablesExample = function () {
            // Shared variables
            var table;
            var datatable;


            // Private functions
            var initDatatable = function () {
                // Set date data order
                const tableRows = table.querySelectorAll('tbody tr');

                // Init datatable --- more info on datatables: https://datatables.net/manual/
                datatable = $(table).DataTable({
                    /* "info": false,*/
                    //scrollY: true,
                    //scrollX: "100%",
                    //scrollY: true,
                    scrollCollopse: true,
                    colResize: true,
                    colReorder: colReorder_options,
                    autoWidth: true,
                    caching: true,
                    select: {
                        style: "multi",
                        style: 'bootstrap',
                        selector: 'td:first-child'
                    },
                    order: [
                        [2, "asc"],
                    ],
                    ordering: true,
                    paging: true,
                    pageLength: 10,


                    language: { url: '/Tema/plugins/custom/datatables/languages/tr.json', },

                    columnDefs: [
                        {
                            targets: [8],// Sütunu seç

                            "visible": false, // Sütunu gizle
                            "searchable": false // Aranabilirlik özelliğini kapat (isteğe bağlı)
                        },
                        {
                            render: DataTable.render.select(),
                            targets: 0,
                            width: "40px",
                            visible: true,
                            orderable: false,
                            searchable: false,
                        },
                        {
                            targets: [0, 3, 8],
                            className: 'noVis'
                        },
                    ],

                    order: [[1, 'asc']],
                    layout: {
                        topStart: {
                            buttons: [
                                {
                                    extend: 'colvis',
                                    columns: ':not(.noVis)',
                                    popoverTitle: 'Görünecek Kolonları Seçiniz'
                                }

                            ],
                        },
                        topEnd: {
                            pageLength: {
                                menu: [
                                    [10, 20, 50, 100, -1],
                                    ['10 Adet', '20 Adet', '50 Adet', '100 Adet', "Tümü"]
                                ]
                            }
                        }
                    },


                });
                datatable.on('columns-reordered', function (e, settings, details) {
                    KTMenu.createInstances();
                });
            }


            // Hook export buttons
            var exportButtons = () => {
                const documentTitle = 'Cari-Listesi-' + moment(new Date()).format("DD-MM-YYYY");
                var buttons = new $.fn.dataTable.Buttons(table, {
                    buttons: [
                        {
                            extend: 'copyHtml5',
                            title: documentTitle,
                            exportOptions: {
                                columns: ['th:not(.no-export)'],
                            }
                        },
                        {
                            extend: 'excelHtml5',
                            title: documentTitle,
                            exportOptions: {
                                columns: ['th:not(.no-export)'],
                            }
                        },
                        {
                            extend: 'csvHtml5',
                            title: documentTitle,
                            exportOptions: {
                                columns: ['th:not(.no-export)'],
                            }
                        },
                        {
                            extend: 'pdfHtml5',
                            title: documentTitle,
                            exportOptions: {
                                columns: ['th:not(.no-export)'],
                            }
                        }
                    ]
                }).container().appendTo($('#kt_datatable_example_buttons'));

                // Hook dropdown menu click event to datatable export buttons
                const exportButtons = document.querySelectorAll('#kt_datatable_example_export_menu [data-kt-export]');
                exportButtons.forEach(exportButton => {
                    exportButton.addEventListener('click', e => {
                        e.preventDefault();

                        // Get clicked export value
                        const exportValue = e.target.getAttribute('data-kt-export');
                        const target = document.querySelector('.dt-buttons .buttons-' + exportValue);

                        // Trigger click event on hidden datatable export buttons
                        target.click();
                    });
                });
            }

            // Search Datatable --- official docs reference: https://datatables.net/reference/api/search()
            function getDataTableColumnSettings(table) {
                let columnSettings = [];
                table.columns().every(function () {
                    let column = this;

                    columnSettings.push({
                        index: column.index(),
                        visible: column.visible(),

                    });
                });
                return columnSettings;
            }
            // Kolonları aldıktan sonra Cari-datatable cookie'si içerisinde kaydedeceğiz.
            function saveDataTableSettingsToCookie(table) {
                let settings = getDataTableColumnSettings(table);
                setCookie('Cari-datatable', JSON.stringify(settings), 7);
            }

            function saveDataTableColumnSettingsToCookie(table, column, state) {
                var settings = getCookie("Cari-datatable");

                if (settings) {
                    settings = JSON.parse(settings);
                    settings = settings.map(setting => {
                        if (column == setting.index) {
                            setting.visible = state;
                        }

                        return setting;
                    })

                    //console.log(settings);

                    setCookie('Cari-datatable', JSON.stringify(settings), 365);
                }
            }

            function loadDataTableSettingsFromCookie(table) {
                let settings = getCookie('Cari-datatable');
                //console.log(table);
                if (settings) {
                    settings = JSON.parse(settings);
                    settings.forEach(function (setting) {
                        let column = table.column(setting.index);
                        column.visible(setting.visible);
                        // Burada başka kolon özelliklerini güncelleyebilirsiniz
                    });
                    table.columns.adjust().draw();
                } else {
                    saveDataTableSettingsToCookie(table);
                }
            }

            // Public methods
            return {
                init: function () {
                    table = document.querySelector('#Cari-datatable');

                    if (!table) {
                        return;
                    }

                    initDatatable();
                    exportButtons();

                    return {
                        // Datatable API ile kolon özelliklerini alacağız
                        loadDataTableSettingsFromCookie,
                        saveDataTableSettingsToCookie,
                        saveDataTableColumnSettingsToCookie,
                        datatable
                    }

                },

            };
        }();




        $('#Cari-datatable').on('click', 'thead th', function () {

            var index = table.column(this).index();

            alert(index);

        });



    </script>
}
