
@{
    ViewBag.Title = "Not Düzenle";
    Layout = "~/Views/Shared/_LayoutTab.cshtml";
}

<div class="container-fluid" id="kt_content">
    <div class="row">
        @Html.Partial("~/Views/Cari/_CariMenu.cshtml", new ViewDataDictionary { { "CariID", Convert.ToString(ViewBag.CariID) } })

        <!--begin::Post-->
        <div class="col-lg-10" id="kt_post">
            <!--begin::Form-->
            <form id="kt_modal_add_user_form" class="form" action="@Url.Action("NotDuzenle","Cari",null)" method="post" enctype="multipart/form-data">
                <!--begin::Scroll-->
                <div class="d-flex flex-column scroll-y px-5 px-lg-10 container mt-10">
                    <input type="hidden" name="CariID" value="@ViewBag.CariID" />
                    <input type="hidden" name="ID" value="@ViewBag.ID" />
                    <!--begin::Row Input group-->
                    <div class="row mb-12">
                        <!--begin::Input group-->
                        <div class="col-lg-6">
                            <!--begin::Label-->
                            <label for="Aciklama" class="fw-bold text-gray-800 fs-6 mb-2">Not</label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <textarea type="text" id="Aciklama" name="Aciklama" class="form-control" placeholder="Notunuzu Yazınız...">@(HttpUtility.HtmlDecode(Convert.ToString(Model.Rows[0]["Aciklama"])))</textarea>
                            <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                    </div>
                    <!--begin::Actions-->
                    <div class="pt-5">
                        <a onclick="history.back()" class="btn btn-light btn-sm me-3" data-kt-users-modal-action="cancel">Geri</a>
                        <button type="submit" class="btn btn-primary btn-sm" data-kt-users-modal-action="Duzenle">
                            <span class="indicator-label">Düzenle</span>
                            <span class="indicator-progress">
                                Lütfen Bekleyin...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                    </div>
                    <!--end::Actions-->
                </div>
            </form>
            <!--end::Form-->
        </div>
    </div>
</div>


@section Styles {
    <style>
        .tox-statusbar__branding {
            display: none !important;
        }
    </style>
}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/Tema/plugins/custom/tinymce/tinymce.min.js"></script>


    <script>

        $(document).ready(function () {
            var AciklamaEditorOptions = {
                selector: "#Aciklama",
                height: 200,
                promotion: false
            };

            if (typeof KTThemeMode !== 'undefined') { // KTThemeMode varsa kontrol et
                if (KTThemeMode.getMode() === "dark") {
                    AciklamaEditorOptions["skin"] = "oxide-dark";
                    AciklamaEditorOptions["content_css"] = "dark";
                }
            }

            // tinyMCE init
            tinymce.init(AciklamaEditorOptions);


        });

    </script>

}