@using YKPortal.Models.Dto

@model YKPortal.Models.Dto.CariHareketDto
@{
    ViewBag.Title = "YeniCariHareketKaydi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <form id="kt_modal_add_user_form" class="form" action="@Url.Action("YeniCariHareketKaydi","Cari",null)" method="post">
                <input type="hidden" name="ID" id="ID" value="@Model.ID" />
                <div class="d-flex flex-column container px-5 px-lg-10 mt-10">
                    <div class="row mb-7">
                        <div class="col-lg-6 ">
                            <div class="form-group">
                                <label for="CariID" class=" form-label">Cari İsim</label>
                                <select class="form-select form-select-solid p-2 rounded-1" name="CariID" id="CariID" required aria-label="Floating label select example" data-control="select2" data-placeholder="arama yapmak için birşeyler yazın...">
                                    @if (ViewBag.CariID != null)
                                    {
                                        <option value="@ViewBag.CariID" selected>@ViewBag.CariIsim</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="BelgeNo" class="fw-semibold fs-6 mb-2">Belge No</label>
                                <input type="text" name="BelgeNo" id="BelgeNo" value="@Model.BelgeNo" class="form-control p-2 mb-3 mb-lg-0" required" />
                            </div>
                        </div>

                    </div>

                    <div class="row mb-7">

                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="Tarih" class="fw-semibold fs-6 mb-2">Tarih</label>
                                <input type="date" value="@(Model.Tarih == null ? DateTime.Now.ToString("yyyy-MM-dd") : Model.Tarih.ToString("yyyy-MM-dd") )" name="Tarih" class="form-control p-2 mb-3 mb-lg-0" required" />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="VadeTarihi" class="fw-semibold fs-6 mb-2">Vade Tarihi</label>
                                <input type="date" value="@(Model.VadeTarihi == null ? DateTime.Now.ToString("yyyy-MM-dd") : Model.VadeTarihi.ToString("yyyy-MM-dd") )" name="VadeTarihi" id="VadeTarihi" class="form-control p-2 mb-3 mb-lg-0" required" />
                            </div>
                        </div>
                        <div class="col-lg-2">

                            <div class="form-group">
                                <label for="HareketTipi" class="fw-semibold fs-6 mb-2">Hareket Tipi/Türü</label>
                                <select class="form-control p-2 rounded-1" data-control="select2" name="HareketTipi" id="HareketTipi"
                                        aria-label="Floating label select example">

                                    @foreach (GrupKoduDto cariGrupKodlari5 in ViewBag.CariHareketTipleri)
                                    {
                                        <option value="@cariGrupKodlari5.Deger">@cariGrupKodlari5.Deger</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 mt-10">
                            <div class="flex">
                                <label class="form-label flex items-center gap-2.5 text-nowrap me-4">
                                    <input class="form-check-input" name="GC" type="radio" value="G" @(Model.GC == "" ? "checked" : (Model.GC == "G" ? "checked" : "") ) />
                                    Borç
                                </label>
                                <label class="form-label flex items-center gap-2.5 text-nowrap">
                                    <input class="form-check-input " name="GC" type="radio" value="C" @(Model.GC == "C" ? "checked" : "") />
                                    Alacak
                                </label>
                            </div>

                        </div>
                        <div class="col-lg-2">
                            <div class="form-group" style="text-align:right;">
                                <label for="Tutar" class="fw-semibold fs-6 mb-2">Tutar</label>
                                <input type="text" name="Tutar" id="Tutar" value="@String.Format("{0:N2}",Model.Tutar).Replace(".","")" class="form-control p-2 mb-3 mb-lg-0" autofocus required style="text-align:right;" />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="DovizTipi" class="fw-semibold fs-6 mb-2">Döviz Birimi</label>
                                <select class="form-control p-2 rounded-1" data-control="select2" name="DovizTipi" id="DovizTipi" required aria-label="Floating label select example">
                                    @foreach (GrupKoduDto grupKodu in ViewBag.DovizBirimleri)
                                    {
                                        <option value="@grupKodu.Deger" @(grupKodu.Deger == (Model.DovizTipi == "" ? "TL" : Model.DovizTipi) ? "selected" : "")>@grupKodu.Deger</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="Aciklama" class=" form-label ">Açıklama</label>
                                <textarea type="text" name="Aciklama" class="form-control p-2 rounded-1" id="Aciklama">@Model.BelgeNo</textarea>
                            </div>
                        </div>
                    </div>

                    <!--begin::Actions-->
                    <div class="pt-10">
                        <a onclick="history.back()" class="btn btn-light btn-sm fw-bold me-3" data-kt-users-modal-action="cancel">Geri</a>
                        <button type="submit" class="btn btn-primary btn-sm fw-bold" data-kt-users-modal-action="Kaydet">
                            <span class="indicator-label">Kaydet</span>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm fw-bold btn-sil Hareket-silme" data-bs-toggle="modal" data-bs-target="#Hareket-silme">
                            Sil
                        </button>
                    </div>
                    <!--end::Actions-->
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="Hareket-silme" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Hareket Silme İşlemi</h3>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span class="path2"></span></i>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                <p>Hareketi silmek istediğinize emin misiniz?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light btn-sm fw-bold" data-bs-dismiss="modal">Vazgeç</button>
                <form method="post" id="silme-formu" action="@Url.Action("HareketSil","Cari",null)">
                   
                    <button type="submit" class="btn btn-danger btn-sm fw-bold">Sil</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>

        $(function () {

            const CariIDSelect = $('#CariID').select2({
                ajax: {
                    url: "/Cari/SelectListe",
                    data: function (params) {
                        var query = {
                            search: params.term,
                        }

                        // Query parameters will be ?search=[term]&type=public
                        return query;
                    },
                    processResults: function (data) {
                        var results = [];
                        if (data && data.length > 0) {
                            data.forEach(function (item) {
                                results.push({ id: item.ID, text: item.Isim })
                            });
                        }

                        return {
                            results: results
                        };
                    }
                },
                delay: 250,
                minimumInputLength: 3,
                language: {
                    placeholder: function () {
                        return "Arama yapmak için en az 3 karakter girin";
                    },
                    inputTooShort: function () {
                        return "En az lütfen en az 3 karakter girin";
                    }
                }
            });


        });

    </script>
}
