@using YKPortal.Models.Dto
@{
    ViewBag.Title = "Aktiviteyi Kapat";
    Layout = "~/Views/Shared/_LayoutTab.cshtml";
}

<div class="container-fluid">
    <div class="row">
        @Html.Partial("~/Views/Cari/_CariMenu.cshtml", new ViewDataDictionary { { "CariID", Convert.ToString(ViewBag.CariID) } })
        <div class="col-lg-10">
            <form id="kt_modal_add_user_form" class="form container" action="@Url.Action("ZiyaretiKapat","Cari",null)" method="post">
                <div class="d-flex flex-column scroll-y px-5 px-lg-10 mt-10">
                    <input type="hidden" name="CariID" value="@ViewBag.CariID" />
                    <input type="hidden" name="ID" value="@ViewBag.ID" />
                    <div class="row mb-7">
                        <div class="col-lg-6">
                            <label for="Tarih" class="fw-semibold fs-6 mb-2">Tarih</label>
                            <input type="datetime-local" name="Tarih" value="@DateTime.Now.ToString("yyyy-MM-dd H:m:s")" class="form-control p-2 mb-3 mb-lg-0" required />
                        </div>
                        <div class="col-lg-6">
                            <label for="Aciklama" class="fw-semibold fs-6 mb-2">Aciklama</label>
                            <input type="text" name="Aciklama" class="form-control p-2 mb-3 mb-lg-0" autofocus required />
                        </div>
                    </div>
                    <div class="row mb-7">
                        <div class="col-lg-6 mt-4">
                            <label for="ZiyaretTipi" class="fw-semibold fs-6 mb-2">Aktivite Tipi</label>
                            <select type="text" name="ZiyaretTipi" class="form-select p-2 mb-3 mb-lg-0">
                                <option value="">Lütfen şeçiniz</option>
                                @foreach (GrupKoduDto ziyaretTipi in ViewBag.ZiyaretTipleri)
                                {
                                    <option value="@ziyaretTipi.ID">@ziyaretTipi.Deger</option>
                                }
                            </select>
                        </div>
                    </div>
                    <!--begin::Actions-->
                    <div class="pt-10">
                        <a onclick="history.back()" class="btn btn-light btn-sm fw-bold me-3" data-kt-users-modal-action="cancel">Geri</a>
                        <button type="submit" class="btn btn-primary btn-sm fw-bold" data-kt-users-modal-action="Kaydet">
                            <span class="indicator-label">Kaydet</span>
                            
                        </button>
                    </div>
                    <!--end::Actions-->
                </div>
            </form>
        </div>
    </div>
</div>


