@model YKPortal.Models.Dto.UyelikPaketleriViewModel
@{
    ViewBag.Title = "Üyelik Paketleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card-body p-lg-17">
        <!--begin::Plans-->
        <div class="d-flex flex-column">
            <!--begin::Heading-->
            <div class="mb-13 text-center">
                <h1 class="fs-2hx fw-bold mb-5">Ödeme Planınızı Seçin</h1>

                <div class="text-gray-600 fw-semibold fs-5">
                    Fiyatlandırmamız hakkında daha fazla bilgiye ihtiyacınız varsa, lütfen kontrol edin
                    <a href="#" class="link-primary fw-bold">Fiyatlandırma Yönergeleri</a>.
                </div>
            </div>
            <!--end::Heading-->
            <!--begin::Row-->

            <div class="container">


                <div class="row d-flex align-items-center justify-content-center">
                    @foreach (System.Data.DataRow row in Model.UyelikPaketleri.Rows)
                    {
                        <div class="col-xl-5">
                            <div class="d-flex h-100 align-items-center">
                                <div class="w-100 d-flex flex-column flex-center rounded-3 bg-light bg-opacity-75 py-15 px-10">
                                    <div class="mb-7 text-center">
                                        <input type="hidden" name="ID" value="@row["ID"].ToString()" />
                                        <h1 name="Isim" class="text-gray-900 mb-5 fw-bolder">@row["Isim"].ToString()</h1>
                                        <div name="Aciklama" class="text-gray-600 fw-semibold mb-5">@Html.Raw(row["Aciklama"])</div>
                                        <div name="ResimUrl">@row["ResimUrl"].ToString()</div>
                                        <div class="text-center">
                                            <span class="mb-2 text-primary fw-bold fs-3">₺</span>
                                            <span name="Tutar" class="fs-3x fw-bold text-primary">@row["Tutar"].ToString()</span>
                                            <span class="fs-4 fw-semibold opacity-50">/<span name="Ay">@row["Ay"].ToString()</span></span>
                                            <span class="fs-4 fw-semibold opacity-50">Ay</span>
                                        </div>
                                    </div>
                                    <div class="w-100 mb-10">
                                        <div class="d-flex align-items-center mb-5">
                                            <span class="fw-semibold fs-6 text-gray-800 flex-grow-1 pe-3">Up to 10 Active Users</span>
                                            <i class="ki-duotone ki-check-circle fs-1 text-success"><span class="path1"></span><span class="path2"></span></i>
                                        </div>
                                        <div class="d-flex align-items-center mb-5">
                                            <span class="fw-semibold fs-6 text-gray-800 flex-grow-1 pe-3">Up to 30 Project Integrations</span>
                                            <i class="ki-duotone ki-check-circle fs-1 text-success"><span class="path1"></span><span class="path2"></span></i>
                                        </div>
                                        <div class="d-flex align-items-center mb-5">
                                            <span class="fw-semibold fs-6 text-gray-800 flex-grow-1 pe-3">Analytics Module</span>
                                            <i class="ki-duotone ki-check-circle fs-1 text-success"><span class="path1"></span><span class="path2"></span></i>
                                        </div>
                                        <div class="d-flex align-items-center mb-5">
                                            <span class="fw-semibold fs-6 text-gray-600 flex-grow-1">Finance Module</span>
                                            <i class="ki-duotone ki-cross-circle fs-1"><span class="path1"></span><span class="path2"></span></i>
                                        </div>
                                        <div class="d-flex align-items-center mb-5">
                                            <span class="fw-semibold fs-6 text-gray-600 flex-grow-1">Accounting Module</span>
                                            <i class="ki-duotone ki-cross-circle fs-1"><span class="path1"></span><span class="path2"></span></i>
                                        </div>
                                        <div class="d-flex align-items-center mb-5">
                                            <span class="fw-semibold fs-6 text-gray-600 flex-grow-1">Network Platform</span>
                                            <i class="ki-duotone ki-cross-circle fs-1"><span class="path1"></span><span class="path2"></span></i>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <span class="fw-semibold fs-6 text-gray-600 flex-grow-1">Unlimited Cloud Space</span>
                                            <i class="ki-duotone ki-cross-circle fs-1"><span class="path1"></span><span class="path2"></span></i>
                                        </div>
                                    </div>
                                    <div>
                                        <a href="/POSAPI/UyelikOdemesi?paketID=@row["ID"].ToString()" class="btn btn-primary">Seç</a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    }
                </div>
            </div>
            <!--end::Row-->
        </div>
        <!--end::Plans-->
    </div>
</div>
