@model YKPortal.Models.Dto.UyelikPaketleriViewModel
@{
    ViewBag.Title = "Üyelik Paketleri";
    Layout = "~/Views/Shared/_LayoutTab.cshtml";
}

<div class="container">
    <div class="card-body p-lg-17">
        <div class="">

        </div>
        <!--begin::Plans-->
        <div class="d-flex flex-column">
            <!--begin::Heading-->
            <div class="mb-13 text-center">
                <h1 class="fs-2hx fw-bold mb-5">Ödeme Planınızı Seçin</h1>

                <div class="text-gray-600 fw-semibold fs-5">
                    Fiyatlandırmamız hakkında daha fazla bilgiye ihtiyacınız varsa, lütfen iletişime geçin
                    <a href="tel:8503099378" class="link-primary fw-bold">0 850 309 93 78</a>.
                </div>
            </div>
            <!--end::Heading-->
            <!--begin::Row-->

            <div class="container">


                <div class="row d-flex align-items-center justify-content-center">
                    @foreach (System.Data.DataRow row in Model.UyelikPaketleri.Rows)
                    {
                        <div class="col-xl-5">
                            <div class="d-flex h-100 align-items-center">
                                <div class="w-100 d-flex flex-column flex-center rounded-3 bg-light bg-opacity-75 py-15 px-10">
                                    <div class="mb-7 text-center">
                                        <input type="hidden" name="ID" value="@Convert.ToString(row["ID"])" />
                                        <h1 name="Isim" class="text-gray-900 mb-5 fw-bolder">@Convert.ToString(row["Isim"])</h1>
                                        <div name="Aciklama" class="text-gray-600 fw-semibold mb-5">@Html.Raw(Convert.ToString(row["Aciklama"]))</div>
                                        <div name="ResimUrl">@Convert.ToString(row["ResimUrl"])</div>
                                        <div class="text-center">
                                            <span class="mb-2 text-primary fw-bold fs-3">₺</span>
                                            <span name="Tutar" class="fs-3x fw-bold text-primary">@Convert.ToString(row["Tutar"])</span>
                                            <span class="fs-4 fw-semibold opacity-50">/<span name="Ay">@Convert.ToString(row["Ay"])</span></span>
                                            <span class="fs-4 fw-semibold opacity-50">Ay</span>
                                        </div>
                                    </div>
                                  
                                    <div>
                                        <a href="/POSAPI/UyelikOdemesi?paketID=@Convert.ToString(row["ID"])" class="btn btn-primary">Seç</a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    }
                </div>
            </div>
            <!--end::Row-->
        </div>
        <!--end::Plans-->
    </div>
</div>
