
@{
    ViewBag.Title = "Üyelik Ödemesi";
    Layout = "~/Views/Shared/_LayoutTab.cshtml";
}

<div class="container">
    <!--begin::Modal body-->
    <div class="row d-flex align-items-center justify-content-center mt-4">


        <div class="col-xl-8">
            <div class="d-flex h-100 align-items-center">
                <div class="w-100 d-flex flex-column flex-center rounded-3 bg-light bg-opacity-75 py-10 px-10">
                    <div class="mb-7 text-center">
                        <input type="hidden" name="ID" />
                        <h1 name="Isim" class="text-gray-900 mb-5 fw-bolder">@ViewBag.Paket.Isim</h1>
                        <div name="Uygulama" class="text-gray-600 fw-semibold mb-5"></div>
                        <div name="Durum"></div>
                        <div class="text-center">
                            <span class="mb-2 text-primary fw-bold fs-3">₺</span>
                            <span id="tTutar" name="Tutar" class="fs-3x fw-bold text-primary">@ViewBag.Paket.Tutar</span>
                            <span class="fs-4 fw-semibold opacity-50">/<span >@ViewBag.Paket.Ay</span></span>
                            <span class="fs-4 fw-semibold opacity-50">Ay</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="row d-flex justify-content-center align-items-center">
        <div class="card col-lg-8 p-20 mt-5">
            <div class="">
                <h2 class="mb-10 fw-bold text-gray-700 text-center">Ödeme İşlemi</h2>
                @if (ViewBag.Hata != null)
                {
                    <div class="bg-danger text-white">
                        @ViewBag.Hata
                    </div>
                }

                <!--begin::Form-->
                <form id="paymentForm" method="POST" action="/POSAPI/UyelikOdemesi" class="form fv-plugins-bootstrap5 fv-plugins-framework">
                    <input type="hidden" name="UyelikPaketID" value="@ViewBag.Paket.ID" />
                    <!--begin::Input group-->
                    <div class="d-flex flex-column mb-7 fv-row fv-plugins-icon-container">
                        <!--begin::Label-->
                        <label for="KrediKartIsim" class="d-flex align-items-center fs-6 fw-bold text-gray-700 form-label mb-2">Kart İsmi</label>
                        <!--end::Label-->

                        <input type="text" id="KrediKartIsim" class="form-control " placeholder="Kart İsmi" name="KrediKartIsim">
                        <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="d-flex flex-column mb-7 fv-row fv-plugins-icon-container">
                        <!--begin::Label-->
                        <label for="KrediKartNo" class="required fs-6 form-label fw-bold text-gray-700 mb-2">Kart Numarası</label>
                        <!--end::Label-->
                        <!--begin::Input wrapper-->
                        <div class="position-relative">
                            <!--begin::Input-->
                            <input id="KrediKartNo" type="text" class="form-control " placeholder="Kart Numarası" name="KrediKartNo" value="">
                            <!--end::Input-->
                            <!--begin::Card logos-->
                            <div class="position-absolute translate-middle-y top-50 end-0 me-5">
                                <img src="/metronic8/demo1/assets/media/svg/card-logos/visa.svg" alt="" class="h-25px">
                                <img src="/metronic8/demo1/assets/media/svg/card-logos/mastercard.svg" alt="" class="h-25px">
                                <img src="/metronic8/demo1/assets/media/svg/card-logos/american-express.svg" alt="" class="h-25px">
                            </div>
                            <!--end::Card logos-->
                        </div>
                        <!--end::Input wrapper-->
                        <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="row mb-10">
                        <!--begin::Col-->
                        <div class="col-md-8 fv-row">
                            <!--begin::Label-->
                            <label for="KrediKartiSonKullanimAy" class="required fs-6 fw-bold text-gray-700 form-label mb-2">KrediKartSonKullanim</label>
                            <!--end::Label-->
                            <!--begin::Row-->
                            <div class="row fv-row fv-plugins-icon-container">
                                <!--begin::Col-->
                                <div class="col-6">
                                    <select class="form-select form-select-solid p-2 rounded-1" data-control="select2" name="KrediKartiSonKullanimAy" id="KrediKartiSonKullanimAy" placeholder="Ay"
                                            aria-label="Floating label select example">
                                        <option value="">Lütfen Seçim Yapınız</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>

                                    </select>
                                  
                                </div>
                                <!--end::Col-->
                                <!--begin::Col-->
                                <div class="col-6">
                                    <select class="form-select form-select-solid p-2 rounded-1" data-control="select2" name="KrediKartiSonKullanimYil" id="KrediKartiSonKullanimYil" placeholder="Yıl" aria-label="Floating label select example">
                                        <option value="">Lütfen Seçim Yapınız</option>
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                        <option value="2026">2026</option>
                                        <option value="2027">2027</option>
                                        <option value="2028">2028</option>
                                        <option value="2029">2029</option>
                                        <option value="2030">2030</option>
                                        <option value="2031">2031</option>
                                        <option value="2032">2032</option>
                                        <option value="2033">2033</option>
                                        <option value="2034">2034</option>
                                    </select>
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Row-->
                        </div>
                        <!--end::Col-->
                        <!--begin::Col-->
                        <div class="col-md-4 fv-row fv-plugins-icon-container">
                            <!--begin::Label-->
                            <label for="cvv" class="d-flex align-items-center fs-6 fw-bold text-gray-700 form-label mb-2">
                                CVV
                                <span class="ms-1" data-bs-toggle="tooltip" aria-label="Enter a card CVV code" data-bs-original-title="Enter a card CVV code" data-kt-initialized="1">
                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                                </span>
                            </label>
                            <!--end::Label-->
                            <!--begin::Input wrapper-->
                            <div class="position-relative">
                                <!--begin::Input-->
                                <input id="KrediKartCVV" type="text" class="form-control p-2 " minlength="3" maxlength="4" placeholder="CVV" name="KrediKartCVV">
                                <!--end::Input-->
                                <!--begin::CVV icon-->
                                <div class="position-absolute translate-middle-y top-50 end-0 me-3">
                                    <i class="ki-duotone ki-credit-cart fs-2hx"><span class="path1"></span><span class="path2"></span></i>
                                </div>
                                <!--end::CVV icon-->
                            </div>
                            <!--end::Input wrapper-->
                            <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                        </div>
                        <!--end::Col-->
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="d-flex flex-stack">
                        <!--begin::Label-->
                        <div class="me-5">
                            <label class="fs-6 fw-semibold form-label fw-semibold text-gray-700">Kartınızı Kaydetmek ister misiniz?</label>
                            <div class="fs-7 fw-semibold text-muted">Daha fazla bilgiye ihtiyacınız varsa, lütfen bizlerle iletişime geçin.</div>
                        </div>
                        <!--end::Label-->
                        <!--begin::Switch-->
                        <label class="form-check form-switch form-check-custom form-check-solid">
                            <input class="form-check-input" type="checkbox" value="1" >
                            <span class="form-check-label fw-semibold text-muted">
                                Kartı Kaydet
                            </span>
                        </label>
                        <!--end::Switch-->
                    </div>
                    <!--end::Input group-->
                    <!--begin::Actions-->
                    <div class="pt-10">
                        <a onclick="history.back()" class="btn btn-light btn-sm me-3" data-kt-users-modal-action="cancel">Geri</a>
                        <button type="submit" id="kt_modal_new_card_submit" class="btn btn-primary">Kaydet</button>
                    </div>
                    <!--end::Actions-->
                </form>
                <!--end::Form-->
            </div>
        </div>

    </div>
    <!--end::Modal body-->
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>

    </script>
}