@using YKPortal.Models.Dto;
@model YKPortal.Models.Dto.KasaViewModel
@{
    ViewBag.Title = "KasaDuzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Container-fluid mt-10">
    <form id="kt_modal_add_user_form" class="form container" action="@Url.Action("KasaDuzenle","Tanimlamalar",null)" method="post">
        <div class="d-flex flex-column scroll-y px-5 px-lg-10">
            <input type="hidden" name="ID" value="@Model.ID" />
            <!--begin::Row Input group-->
            <div class="row mb-7 mt-4">

                <!--begin::Input group-->
                <div class="col-lg-6">
                    <!--begin::Label-->
                    <label for="Kod" class="required form-label fs-6 fw-bold text-gray-600 mb-3">Kod</label>
                    <!--end::Label-->
                    <!--begin::Input-->
                    <input type="text" name="Kod" id="Kod" class="form-control p-2 mb-3 mb-lg-0" required value="@Model.Kod" />

                    <!--end::Input-->
                </div>
                <!--end::Input group-->
                <!--begin::Input group-->
                <div class="col-lg-6">
                    <!--begin::Label-->
                    <label for="Isim" class="required form-label fs-6 fw-bold text-gray-600 mb-3">isim</label>
                    <!--end::Label-->
                    <!--begin::Input-->
                    <input type="text" name="Isim" id="Isim" class="form-control p-2 mb-3 mb-lg-0" value="@Model.Isim" />
                    <!--end::Input-->
                </div>
                <!--end::Input group-->
            </div>
            <div class="row">
                <!--begin::Input group-->
                <div class="col-lg-6">
                    <!--begin::Label-->
                    <label for="DovizID" class="required form-label fs-6 fw-bold text-gray-600 mb-3">DovizID</label>
                    <!--end::Label-->
                    <!--begin::Input-->
                    <select class="form-control p-2 rounded-1" data-control="select2" name="DovizID" id="DovizID"
                            aria-label="Floating label select example">
                        <option value="">Lütfen Seçim Yapınız</option>
                        @foreach (DovizBirimiDto doviz in ViewBag.Dovizler)
                        {
                            <option value="@doviz.ID" @(Model.DovizID == doviz.ID ? "selected" : "")>@doviz.Isim</option>
                        }
                    </select>

                    <!--end::Input-->
                </div>
                <!--begin::Input group-->
                <div class="col-lg-6">
                    <!--begin::Label-->
                    <label for="PersonelID" class="required form-label fs-6 fw-bold text-gray-600 mb-3">Personel</label>
                    <!--end::Label-->
                    <!--begin::Input-->
                    <select class="form-control p-2 rounded-1" data-control="select2" name="PersonelID" id="PersonelID"
                            aria-label="Floating label select example">
                        <option value="">Lütfen Seçim Yapınız</option>
                        @foreach (PersonelDto personel in ViewBag.Personeller)
                        {
                            <option value="@personel.ID" @(Model.PersonelID == personel.ID ? "selected" : "")>@personel.Isim</option>
                        }
                    </select>

                    <!--end::Input-->
                    <!--end::Input group-->
                </div>
            </div>
            <!--begin::Actions-->
            <div class="pt-10">
                <a onclick="history.back()" class="btn btn-light me-3" data-kt-users-modal-action="cancel">Geri</a>
                @if (ViewBag.Duzenle)
                {

                    <button type="submit" class="btn btn-primary" data-kt-users-modal-action="Kaydet">
                        <span class="indicator-label">Kaydet</span>
                    </button>
                }
            </div>
        </div>
        <!--end::Actions-->
    </form>
</div>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>

    </script>
}


