@model System.Data.DataTable
@using YKPortal.Models.Dto
@{
    ViewBag.Title = "Kullanıcı Düzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <!--begin::Form-->
        <form id="kt_modal_add_user_form" class="form" action="@Url.Action("Duzenle","Kullanici",null)" method="post" enctype="multipart/form-data">
            @if (ViewBag.ValidationError != null)
            {
                foreach (var valdiationError in (List<string>)ViewBag.ValidationError)
                {
                    <!--begin::Alert-->
                    <div class="alert alert-danger d-flex align-items-center p-5">
                        <!--begin::Icon-->
                        <i class="ki-duotone ki-shield-tick fs-2hx text-danger me-4"><span class="path1"></span><span class="path2"></span></i>
                        <!--end::Icon-->
                        <!--begin::Wrapper-->
                        <div class="d-flex flex-column">
                            <!--begin::Content-->
                            <span>@valdiationError</span>
                            <!--end::Content-->
                        </div>
                        <!--end::Wrapper-->
                    </div>
                    <!--end::Alert-->
                }
            }

            <!--begin::Scroll-->
            <div class="d-flex flex-column scroll-y px-5 px-lg-10 container">
                <!--begin::Input group-->
                <div class="fv-row mb-7">
                    <!--begin::Label-->
                    <label class="d-block fw-semibold fs-6 mb-5">Profil Resmi</label>
                    <!--end::Label-->
                    <!--begin::Image placeholder-->
                    <style>
                        .image-input-placeholder {
                            background-image: url('assets/media/svg/files/blank-image.svg');
                        }

                        [data-bs-theme="dark"] .image-input-placeholder {
                            background-image: url('assets/media/svg/files/blank-image-dark.svg');
                        }
                    </style>
                    <!--end::Image placeholder-->
                    <!--begin::Image input-->
                    <div class="image-input image-input-outline image-input-placeholder" data-kt-image-input="true">
                        <!--begin::Preview existing avatar-->
                        <div class="image-input-wrapper w-125px h-125px" style="background-image: url(@(Convert.ToString(Model.Rows[0]["Resim"])));"></div>
                        <!--end::Preview existing avatar-->
                        <!--begin::Label-->
                        <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Profil Resmi Seç">
                            <i class="ki-duotone ki-pencil fs-7">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                            <!--begin::Inputs-->
                            <input type="file" name="Resim" accept=".png, .jpg, .jpeg" />
                            <input type="hidden" name="avatar_remove" />
                            <!--end::Inputs-->
                        </label>
                        <!--end::Label-->
                        <!--begin::Cancel-->
                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Profil Resmini Kaldır">
                            <i class="ki-duotone ki-cross fs-2">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                        </span>
                        <!--end::Cancel-->
                        <!--begin::Remove-->
                        <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Profil Resmini Kaldır">
                            <i class="ki-duotone ki-cross fs-2">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                        </span>
                        <!--end::Remove-->
                    </div>
                    <!--end::Image input-->
                    <!--begin::Hint-->
                    <div class="form-text">Kabul edilen dosya türleri : png, jpg, jpeg.</div>
                    <!--end::Hint-->
                </div>
                <!--end::Input group-->
                <!--begin::Row Input group-->
                <div class="row mb-7">
                    <!--begin::Input group-->
                    <input type="hidden" name="ID" value="@(Convert.ToString(Model.Rows[0]["ID"]))" />
                    <div class="col-lg-6">
                        <!--begin::Label-->
                        <label class="required fw-semibold fs-6 mb-2">Kullanıcı Adı</label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input type="text" name="KullaniciAdi" id="KullaniciAdi" class="form-control p-2 mb-3 mb-lg-0" placeholder="Kullanıcı Adı" value="@(Convert.ToString(Model.Rows[0]["KullaniciAdi"]))" />
                        <!--end::Input-->
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="col-lg-6">
                        <!--begin::Label-->
                        <label class="required fw-semibold fs-6 mb-2">Parola</label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input type="password" name="Parola" id="Parola" class="form-control p-2 mb-3 mb-lg-0" placeholder="Parola" value="@(Convert.ToString(Model.Rows[0]["Parola"]))" />
                        <!--end::Input-->
                    </div>
                    <!--end::Input group-->
                </div>
                <!--begin::Row Input group-->
                <!--begin::Row Input group-->
                <div class="row mb-7">
                    <!--begin::Input group-->
                    <div class="col-lg-6 d-flex justify-content-start align-items-center ">
                        <div class="col-lg-6 pe-3">
                            <!--begin::Label-->
                            <label class="required fw-semibold fs-6 mb-2">Ad</label>
                            <!--end::Label-->
                            <!--begin::Input-->A
                            <input type="text" name="Ad" id="Ad" class="form-control p-2 mb-3 mb-lg-0" placeholder="Ad" value="@(Convert.ToString(Model.Rows[0]["Ad"]))" />
                            <!--end::Input-->
                        </div>
                        <div class="col-lg-6 ps-3">
                            <!--begin::Label-->
                            <label class="required fw-semibold fs-6 mb-2">Soyad</label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <input type="text" name="Soyad" class="form-control p-2 mb-3 mb-lg-0" placeholder="Soyad" value="@(Convert.ToString(Model.Rows[0]["Soyad"]))" />
                            <!--end::Input-->
                        </div>

                    </div>
                    <div class="col-lg-3">
                        <div>
                            <!--begin::Label-->
                            <label class="required fw-semibold fs-6 mb-2">Telefon</label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <input type="text" name="Telefon" class="form-control p-2 mb-3 mb-lg-0" value="@(Convert.ToString(Model.Rows[0]["Telefon"]))" />
                            <!--end::Input-->
                        </div>
                    </div>

                </div>
                <!--begin::Row Input group-->
                <!--begin::Row Input group-->
                <div class="row mb-7">
                    <!--begin::Input group-->
                    <div class="col-lg-6">
                        <!--begin::Label-->
                        <label class="required fw-semibold fs-6 mb-2">Adres</label>
                        <!--end::Label-->
                        <!--begin::Input-->
                        <input class="form-control p-2" name="Adres" value="@(Convert.ToString(Model.Rows[0]["Adres"]))" />
                        <!--end::Input-->
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="col-lg-6">
                        <div class="d-flex  ">
                            <div class="d-flex flex-column col-lg-6 pe-3">
                                <label class="required fw-semibold fs-6 mb-2">İl</label>
                                <select class="form-select form-select-solid p-2 rounded-1" name="Il" id="Il" data-control="select2"
                                        aria-label="Floating label select example">
                                    <option value="">Lütfen Seçim Yapınız</option>
                                    @foreach (GrupKoduDto il in ViewBag.Iller)
                                    {
                                        <option @(Convert.ToString(Model.Rows[0]["Il"]) == il.ID ? "selected" : "") value="@il.ID">@il.Deger</option>
                                    }

                                </select>
                            </div>

                            <div class="d-flex flex-column col-lg-6 ps-3">
                                <label class="required fw-semibold fs-6 mb-2">İlçe</label>
                                <input type="text" name="Ilce" id="Ilce" value="@(Convert.ToString(Model.Rows[0]["Ilce"]))" class="form-control p-2" placeholder="" />
                            </div>
                        </div>
                    </div>
                    <!--end::Input group-->
                </div>
                <!--end::Row Input group-->
                <div class="row mb-7">
                    <div class="col-lg-6">
                        <label class="required fw-semibold fs-6 mb-2">Açıklama 1</label>
                        <textarea name="Aciklama1" class="form-control " value="">@(Convert.ToString(Model.Rows[0]["Aciklama1"]))</textarea>
                    </div>
                    <div class="col-lg-6">
                        <label class="required fw-semibold fs-6 mb-2">Açıklama 2</label>
                        <textarea name="Aciklama2" class="form-control " value="">@(Convert.ToString(Model.Rows[0]["Aciklama2"]))</textarea>
                    </div>
                    <div class="col-lg-12 mt-7">
                        <label class="required fw-semibold fs-6 mb-2 ">Açıklama 3</label>
                        <textarea name="Aciklama3" class="form-control " value="">@(Convert.ToString(Model.Rows[0]["Aciklama3"]))</textarea>
                    </div>
                </div>
                <!--begin::Row Input group-->
                <div class="row mb-5">
                    <div class="col-lg-6">
                        <div class="form-check form-check-custom form-check-solid ">
                            <input @(Convert.ToBoolean(Model.Rows[0]["Aktif"]) ? "checked" : "") name="Aktif" class="form-check-input" type="checkbox" value="true" id="form_checkbox" />
                            <label class="form-check-label" for="form_checkbox" style="cursor: pointer;">
                                Aktif
                            </label>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div>
                            <!--begin::Input-->
                            <input @(Convert.ToBoolean(Model.Rows[0]["Onay"]) == true ? "checked" : "") name="Onay"  class="form-check-input" type="checkbox"  value="true" />
                            <!--end::Input-->
                            <label class="form-check-label" for="form_checkbox" style="cursor: pointer;">
                                Onay
                            </label>
                        </div>
                    </div>
                </div>
               
                <!--end::Row Input group-->
                <div class="pt-4">
                    <a onclick="history.back()"  class="btn btn-light me-3 btn-sm fw-bold" data-kt-users-modal-action="cancel">Geri</a>
                    <a href="/Kullanici/Sil/@(Convert.ToString(Model.Rows[0]["ID"]))" class="btn btn-danger btn-sm fw-bold me-3">Sil</a>
                    <button type="submit" class="btn btn-primary btn-sm fw-bold me-3" data-kt-users-modal-action="Düzenle">
                        <span class="indicator-label">Düzenle</span>

                    </button>
                    <a  href="/Kullanici/Yetkiler?KullaniciID=@(Convert.ToString(Model.Rows[0]["ID"]))" class="btn btn-light fw-bold btn-sm me-3" data-kt-users-modal-action="cancel">Yetkiler</a>
                </div>
            </div>
            <!--end::Scroll-->
            <!--begin::Actions-->
            <!--end::Actions-->
        </form>
        <!--end::Form-->
        </div>
    </div>
        @section Styles {
            <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        }

        @section Scripts {
            <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        }
