@model System.Data.DataTable
@using YKPortal.Models.Dto
@{
    ViewBag.Title = "Kullanıcı Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var kullaniciEkleDto = new KullaniciEkleDto();

    if (ViewBag.Form != null)
    {
        kullaniciEkleDto = (KullaniciEkleDto)ViewBag.Form;
    }
}
<div class="container">
    <div class="row mt-4">
        <!--begin::Form-->
        <form id="kt_modal_add_user_form" class="form" action="@Url.Action("Ekle","Kullanici",null)" method="post" enctype="multipart/form-data">

            @if (Model != null)
            {
                if (Model.Rows.Count > 0)
                {
                    string ID = Convert.ToString(Model.Rows[0]["ID"]);
                    string Bilgi = Convert.ToString(Model.Rows[0]["Bilgi"]);
                    if (ID == "0")
                    {
                        <!--begin::Alert-->
                        <div class="alert alert-danger d-flex align-items-center p-5">
                            <!--begin::Icon-->
                            <i class="ki-duotone ki-shield-tick fs-2hx text-danger me-4"><span class="path1"></span><span class="path2"></span></i>
                            <!--end::Icon-->
                            <!--begin::Wrapper-->
                            <div class="d-flex flex-column">
                                <!--begin::Content-->
                                <span>@Bilgi</span>
                                <!--end::Content-->
                            </div>
                            <!--end::Wrapper-->
                        </div>
                        <!--end::Alert-->
                    }
                }
            }

            <!--begin::Scroll-->
            <div class="d-flex flex-column scroll-y px-5 px-lg-10">
                <!--begin::Input group-->
                <div class="fv-row mb-7">
                    <div class="fv-row mb-7">
                        <!--begin::Label-->
                        <label class="d-block fw-semibold fs-6 mb-5 fw-bold">Profil Resmi</label>
                        <!--end::Label-->
                        <!--begin::Image placeholder-->
                        <style>
                            .image-input-placeholder {
                                background-image: url('assets/media/svg/files/blank-image.svg');
                            }

                            [data-bs-theme="dark"] .image-input-placeholder {
                                background-image: url('assets/media/svg/files/blank-image-dark.svg');
                            }
                        </style>
                        <!--end::Image placeholder-->
                        <!--begin::Image input-->
                        <div class="image-input image-input-outline image-input-placeholder " data-kt-image-input="true">
                            <!--begin::Preview existing avatar-->
                            <div class="image-input-wrapper w-125px h-125px" style="background-image: url(assets/media/avatars/300-6.jpg);"></div>
                            <!--end::Preview existing avatar-->
                            <!--begin::Label-->
                            <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Profil Resmi Seç">
                                <i class="ki-duotone ki-pencil fs-7">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>
                                <!--begin::Inputs-->

                                <input type="hidden" name="avatar_remove" />
                                <!--end::Inputs-->
                            </label>
                            <!--end::Label-->
                            <!--begin::Cancel-->
                            <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Profil Resmini Kaldır">
                                <i class="ki-duotone ki-cross fs-2">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>
                            </span>
                            <!--end::Cancel-->
                            <!--begin::Remove-->
                            <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">
                                <i class="ki-duotone ki-cross fs-2">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>
                            </span>
                            <!--end::Remove-->
                        </div>
                        <!--end::Image input-->
                        <!--begin::Hint-->
                        <div class="form-text">Kabul edilen dosya türleri : png, jpg, jpeg.</div>
                        <!--end::Hint-->
                    </div>
                    <!--end::Input group-->
                    <!--begin::Row Input group-->
                    <div class="row mb-7">
                        <!--begin::Input group-->
                        <div class="col-lg-6">
                            <!--begin::Label-->
                            <label for="KullaniciAdi" class="fw-semibold fs-6 mb-2">Kullanıcı Adı</label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <input type="text" name="KullaniciAdi" class="form-control p-2 mb-3 mb-lg-0" placeholder="Kullanıcı Adı" value="@kullaniciEkleDto.KullaniciAdi" required />

                            <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="col-lg-6">
                            <!--begin::Label-->
                            <label for="Parola" class="fw-semibold fs-6 mb-2">Parola</label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <input type="password" name="Parola" class="form-control p-2 mb-3 mb-lg-0" placeholder="Parola" value="@kullaniciEkleDto.Parola" required />
                            <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                    </div>
                    <!--begin::Row Input group-->
                    <!--begin::Row Input group-->
                    <div class="row mb-7">
                        <!--begin::Input group-->
                        <div class="col-lg-6 d-flex justify-content-start align-items-center ">
                            <div class="col-lg-6 pe-3">
                                <!--begin::Label-->
                                <label for="Ad" class="fw-semibold fs-6 mb-2">Ad</label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input type="text" name="Ad" class="form-control p-2 mb-3 mb-lg-0" placeholder="Ad" value="@kullaniciEkleDto.Ad" required />
                                <!--end::Input-->
                            </div>
                            <div class="col-lg-6 ps-3">
                                <!--begin::Label-->
                                <label for="Soyad" class="fw-semibold fs-6 mb-2">Soyad</label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input type="text" name="Soyad" class="form-control p-2 mb-3 mb-lg-0" placeholder="Soyad" value="@kullaniciEkleDto.Soyad" required />
                                <!--end::Input-->
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div>
                                <!--begin::Label-->
                                <label form="Telefon" for="Telefon" class="fw-semibold fs-6 mb-2">Telefon</label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input type="text" name="Telefon" id="Telefon" class="form-control p-2 mb-3 mb-lg-0" value="@kullaniciEkleDto.Telefon" />
                                <!--end::Input-->
                            </div>
                        </div>

                    </div>
                    <!--begin::Row Input group-->
                    <!--begin::Row Input group-->
                    <div class="row mb-7">
                        <!--begin::Input group-->
                        <div class="col-lg-6">
                            <!--begin::Label-->
                            <label for="Adres" class="fw-semibold fs-6 mb-2">Adres</label>
                            <!--end::Label-->
                            <!--begin::Input-->
                            <input class="form-control p-2" name="Adres" id="exampleFormControlTextarea1" />
                            <!--end::Input-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="col-lg-6">
                            <div class="d-flex">
                                <div class="d-flex flex-column col-lg-6">
                                    <label for="Il" class="fw-semibold fs-6 mb-2">İl</label>
                                    <select class="form-control p-2" name="Il" data-control="select2" id="Il"
                                            aria-label="Floating label select example">
                                        <option value="">Lütfen Seçim Yapınız</option>
                                        @foreach (GrupKoduDto il in ViewBag.Iller)
                                        {
                                            <option value="@il.ID">@il.Deger</option>
                                        }
                                    </select>
                                </div>

                                <div class="d-flex flex-column col-lg-6 ps-3">
                                    <label for="Ilce" class="required fw-semibold fs-6 mb-2">İlçe</label>
                                    <input type="text" id="Ilce" name="Ilce" class="form-control p-2 mb-3 mb-lg-0" placeholder="İlçe" value="@kullaniciEkleDto.Ilce" />
                                </div>
                            </div>
                        </div>
                        <!--end::Input group-->
                    </div>
                    <!--end::Row Input group-->
                    <div class="row mb-7">
                        <div class="col-lg-6">
                            <label for="Aciklama1" class="fw-semibold fs-6 mb-2">Firma</label>
                            <textarea name="Aciklama1" class="form-control ">@kullaniciEkleDto.Aciklama1</textarea>
                        </div>
                        <div class="col-lg-6">
                            <label for="Aciklama2" class="fw-semibold fs-6 mb-2">Açıklama 2</label>
                            <textarea name="Aciklama2" class="form-control ">@kullaniciEkleDto.Aciklama2</textarea>
                        </div>
                        <div class="col-lg-12 mt-7">
                            <label for="Aciklama3" class="required fw-semibold fs-6 mb-2 ">Açıklama 3</label>
                            <textarea name="Aciklama3" class="form-control ">@kullaniciEkleDto.Aciklama3</textarea>
                        </div>
                    </div>
                    <!--begin::Row Input group-->
                    <div class="row">
                        <div class="col-lg-1">
                            <div class="form-check form-check-custom form-check-solid ">
                                <input name="Aktif" class="form-check-input" type="checkbox" value="true" id="Aktif" @(kullaniciEkleDto.Aktif ? "checked" : "") />
                                <label class="form-check-label" for="Aktif" style="cursor: pointer;">
                                    Aktif
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-1">
                             <div class="form-check form-check-custom form-check-solid ">
                                <input name="Onay" class="form-check-input" type="checkbox" value="true" id="Onay" @(kullaniciEkleDto.Onay ? "checked" : "") />
                                <label class="form-check-label" for="Onay" style="cursor: pointer;">
                                    Onay
                                </label>
                            </div>
                        </div>
                        <!--end::Row Input group-->
                        <div class="pt-10">
                            <a onclick="history.back()" class="btn btn-light btn-sm me-3" data-kt-users-modal-action="cancel">Geri</a>
                            <button type="submit" class="btn btn-primary btn-sm" data-kt-users-modal-action="Kaydet">
                                <span class="indicator-label">Kaydet</span>

                            </button>
                        </div>
                    </div>
                <!--end::Scroll-->
                <!--begin::Actions-->
                <!--end::Actions-->
            </div>

        </form>
        <!--end::Form-->
    </div>
</div>



@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {

            Inputmask({
                "mask": "(999) 999-9999"
            }).mask("#Telefon");

        });

    </script>
}
