@using YKPortal.Models.Dto
@model System.Data.DataTable
@{
    ViewBag.Title = "PROFİL SAYFASI";
    Layout = "~/Areas/E/Views/Shared/_Layout.cshtml";
}


<div class="container mb-10">



    <div class="page-wrapper mt-2">
        <div class="card  container-lg User-card">
            <h3 class="title-form mb-2 font-weight-bold display-5">Profil</h3>
            <form id="uyelikDuzenlemeFormu" action="@Url.Action("Profil","ETicaretKullanici",new { Area = "E" })" class="mb-1" method="post">
                <input type="hidden" name="ID" value="@(Convert.ToString(Model.Rows[0]["ID"]))" />
                <input type="hidden" name="KullaniciID" value="" />
                <div class="row ">
                    <div class="col-lg-4">
                        <label class="fs-1 text-dark form-label text-xl-1" for="KullaniciAdi">
                            Kullanıcı Adı

                        </label>
                        <input type="email" class="form-wide form-input-new p-3 mb-2 " name="KullaniciAdi" id="KullaniciAdi" value="@(Convert.ToString(Model.Rows[0]["KullaniciAdi"]))" required="">
                    </div>
                    <div class="col-lg-4">
                        <label class="text-dark form-label" for="Parola">
                            Parola

                        </label>
                        <input type="password" class="form-input-new form-wide p-3 mb-2" name="Parola" id="Parola" value="@(Convert.ToString(Model.Rows[0]["Parola"]))" required="">
                    </div>
                    <div class="col-lg-4">
                        <label class="text-dark form-label" for="Isim">
                            İsim

                        </label>
                        <input type="text" class=" form-input-new form-wide p-3  mb-2" id="Isim" name="Isim" value="@(Convert.ToString(Model.Rows[0]["Isim"]))" required="">
                    </div>

                </div>
                <div class="row">

                    <div class="col-lg-6">
                        <label class="text-dark form-label" for="TCKimlikNoVergiNo">
                            TCKimlik numarası veya Vergi Numarası

                        </label>
                        <input type="text" class="form-input-new form-wide  p-3" name="TCKimlikNoVergiNo" id="TCKimlikNoVergiNo" value="@(Convert.ToString(Model.Rows[0]["TCKimlikNo"]) ?? Convert.ToString(Model.Rows[0]["VergiNumarasi"]))">
                        <div data-error="TCKimlikNoVergiNo"></div>
                    </div>
                    <div class="col-lg-6">
                        <label class="text-dark form-label" for="Unvan">
                            Unvan

                        </label>
                        <input type="text" class="form-input-new form-wide  mb-2 p-3" id="Unvan" name="Unvan" value="@(Convert.ToString(Model.Rows[0]["Unvan"]))" required="">
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <label class="text-dark form-label" for="VergiDairesi">
                            Vergi Dairesi

                        </label>
                        <input type="text" class="form-input-new form-wide  mb-2 p-3" name="VergiDairesi" id="VergiDairesi" value="@(Convert.ToString(Model.Rows[0]["VergiDairesi"]))" required="">
                    </div>
                    <div class="col-lg-6">
                        <label class="text-dark form-label" for="CepTelefonu">
                            CepTelefonu

                        </label>
                        <input type="text" class=" form-input-new form-wide mb-2 p-3" value="@(Convert.ToString(Model.Rows[0]["CepTelefonu"]))" id="CepTelefonu" name="CepTelefonu" placeholder="(___) ___-____">
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <label class="text-dark form-label" for="Adres">
                            Adres

                        </label>

                        <textarea class=" form-input-new  mb-2 p-3 form-wide" name="Adres" id="Adres" rows="4" placeholder="Adresinizi girin...">@(Convert.ToString(Model.Rows[0]["Adres"]))</textarea>


                    </div>


                </div>

                <div class="row ">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="Ulke" class=" form-label  text-dark">Ülke</label>

                            <select class="form-input-new  form-wide p-3" data-control="select2" name="Ulke" id="Ulke" required
                                    aria-label="Floating label select example">
                                <option value="">Lütfen Seçim Yapınız</option>
                                @foreach (GrupKoduDto ulke in ViewBag.Ulkeler)
                                {
                                    <option value="@ulke.ID" @(Convert.ToString(Model.Rows[0]["Ulke"]) == ulke.ID ? "selected" : "")>@ulke.Deger</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="Il" class=" form-label text-dark">İl</label>

                            <select class="form-input-new form-wide p-3" name="Il" data-control="select2" id="Il" required
                                    aria-label="Floating label select example">
                                <option value="">Lütfen Seçim Yapınız</option>
                                @foreach (GrupKoduDto il in ViewBag.Iller)
                                {
                                    <option value="@il.ID" @(Convert.ToString(Model.Rows[0]["Il"]) == il.ID ? "selected" : "")>@il.Deger</option>
                                }
                            </select>
                        </div>
                    </div>


                    <div class="col-lg-4 ">
                        <label class="text-dark form-label " for="PostaKodu">
                            Posta Kodu
                            
                        </label>
                        <input type="text" class="form-input-new  form-wide mb-2 p-3" name="PostaKodu" id="PostaKodu" value="@(Convert.ToString(Model.Rows[0]["PostaKodu"]))" required="">
                    </div>
                </div>




            </form>
            <div class="d-flex">
                <div>
                    <button type="submit" id="DuzenleButonu" class=" form-button btn btn-dark btn-ellipse btn-sm">
                        Düzenle
                    </button>
                </div>
                <div class="pl-3">
                    <button type="button" onclick="history.back()" class="form-button text-dark btn btn-default btn-ellipse btn-sm">
                        Geri
                    </button>
                </div>


            </div>
        </div>


    </div>
</div>

<script>var hostUrl = "~/Tema/ETicaret";</script>
<link href="~/Tema/ETicaret/assets/css/style.css" rel="stylesheet" />
<script src="~/Tema/ETicaret/assets/js/jquery.min.js"></script>
<script src="~/Tema/ETicaret/assets/js/bootstrap.bundle.min.js"></script>
<script src="~/Tema/ETicaret/assets/js/optional/isotope.pkgd.min.js"></script>
<script src="~/Tema/ETicaret/assets/js/plugins.min.js"></script>
<script src="~/Tema/ETicaret/assets/js/jquery.appear.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.9/jquery.inputmask.min.js" integrity="sha512-F5Ul1uuyFlGnIT1dk2c4kB4DBdi5wnBJjVhL7gQlGh46Xn0VhvD8kgxLtjdZ5YN83gybk/aASUAlpdoWUjRR3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- Main JS File -->
<script src="~/Tema/ETicaret/assets/js/main.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

    $(document).ready(function () {

        Inputmask({
            "mask": "(999) 999-9999"
        }).mask("#CepTelefonu");

        const onlyNumbers = /^\d+$/; // REGEX - Düzenli İfadeler : Bu ifadeler ile bir string içerisinde specific arama ve kontrol yapabiliyoruz.


        $('#DuzenleButonu').on('click', function (e) {
            e.preventDefault();

            let isValidated = true;
            if (isValidated) {
                $('#uyelikDuzenlemeFormu').submit();
            } else {
                console.log("Validasyon hataları var.");
            }
            const message = {
                TCKimlikNoVergiNo: [],
            };

            const TCKimlikNoVergiNo = $('#TCKimlikNoVergiNo').val();

            if (!TCKimlikNoVergiNo) {
                isValidated = false;
                message.TCKimlikNoVergiNo.push("TC Kimlik numarası boş olamaz.")
            }

            if (TCKimlikNoVergiNo.length != 10 && TCKimlikNoVergiNo.length != 11) {
                isValidated = false;
                message.TCKimlikNoVergiNo.push("TC Kimlik numarası 11 Vergi Numarası 10 haneli olmalıdır.")
            }

            if (!(onlyNumbers.test(TCKimlikNoVergiNo))) {
                isValidated = false;
                message.TCKimlikNoVergiNo.push("TC Kimlik numarasında sadece rakamlar kullanılabilir.");
            }

            if (isValidated) {
                $('#uyelikFormu').submit();
            } else {
                document.querySelector('[data-error="TCKimlikNoVergiNo"]').innerHTML = message.TCKimlikNoVergiNo.map(error => `<div class="text-danger">${error}</div>`).join("");
            }
        })
    });

</script>
