@using YKPortal.Models.Dto
@using System.Data
@model BelgeDto
@{
    ViewBag.Title = "Belge Detayı";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string Tip = Request.QueryString["Tip"];

    DataTable dtDepolar = ViewBag.Depolar as DataTable;
    bool YKIsMobileDevice = Request.Browser.IsMobileDevice;
}
<div class="d-flex flex-column flex-column-fluid">

    <!--begin::Toolbar-->
    <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">

        <!--begin::Content-->
        <div id="kt_app_content" class="app-content  flex-column-fluid ">

            <!--begin::Content container-->
            <div id="kt_app_content_container" class="app-container  container-fluid">
                <!--begin::Layout-->
                <div class="row">
                    <!--begin::Content-->
                    <!--begin::Card-->
                    <div class="card col-lg-12">
                        <!--begin::Card body-->
                        <div class="card-body">
                            <!--begin::Card body-->
                            <div class="card-body">
                                <!--begin::Form-->
                                <form method="post" action="@Url.Action("Detay","SatisFatura",new { Tip = Request.QueryString["Tip"] })">

                                    <input type="hidden" name="ID" id="ID" value="@(Model.ID)" />
                                    <table>
                                        <tr>
                                            <td>Belge No</td>
                                            <td>:</td>
                                            <td>
                                                <input type="text" name="BelgeNo" maxlength="16" id="BelgeNo" value="@(Convert.ToString(Model.BelgeNo))" class="form-control p-2 rounded-1" placeholder="" />
                                            </td>
                                            <td style="width:5px;"></td>
                                            <td>Cari</td>
                                            <td>:</td>
                                            <td style="width:200px;">
                                                <select class="form-select form-select-solid p-2 rounded-1" name="CariID" id="CariID"
                                                        aria-label="Floating label select example" data-control="select2" data-placeholder="Lütfen Seçim Yapınız">

                                                    @if (Model.CariID != "")
                                                    {
                                                        <option value="@Model.CariID" selected>@Model.CariAdi</option>
                                                    }
                                                </select>
                                            </td>
                                        </tr>
                                        <tr style="@(Tip == "AI" ? "display:none;" : "")">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td style="width:5px;"></td>
                                            <td>Çıkış Depo</td>
                                            <td>:</td>
                                            <td>
                                                <select class="form-select form-select-solid p-2 rounded-1" name="DepoCikisID" id="DepoCikisID"
                                                        aria-label="Floating label select example" data-control="select2" data-placeholder="Lütfen Seçim Yapınız">
                                                    @foreach (DataRow drDepo in dtDepolar.Rows)
                                                    {
                                                        <option value="@drDepo["ID"]" @(Model.DepoCikisID == drDepo["ID"].ToString() || Request.QueryString["CikisDepo"] == drDepo["ID"].ToString() ? "selected" : "")>@drDepo["Isim"]</option>
                                                    }
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Tarih</td>
                                            <td>:</td>
                                            <td>
                                                <input type="date" name="Tarih" id="Tarih" value="@(Convert.ToDateTime(Model.Tarih).ToString("yyyy-MM-dd"))" class="form-control form-control-solid p-2 rounded-1" placeholder="" />
                                            </td>
                                            <td style="width:5px;"></td>
                                            <td>Giriş Depo</td>
                                            <td>:</td>
                                            <td>
                                                <select class="form-select form-select-solid p-2 rounded-1" name="DepoGirisID" id="DepoGirisID"
                                                        aria-label="Floating label select example" data-control="select2" data-placeholder="Lütfen Seçim Yapınız">
                                                    @foreach (DataRow drDepo in dtDepolar.Rows)
                                                    {
                                                        <option value="@drDepo["ID"]" @(Model.DepoGirisID == drDepo["ID"].ToString()  || Request.QueryString["GirisDepo"] == drDepo["ID"].ToString() ? "selected" : "")>@drDepo["Isim"]</option>
                                                    }
                                                </select>
                                            </td>
                                        </tr>
                                    </table>



                                    <!--begin::Wrapper-->

                                    <div class="mb-0">


                                        <!--end::Row-->
                                        <!--begin::Table wrapper-->
                                        <div class="row p-3">
                                            <table class="table" id="TabloKalemler" name="TabloKalemler" border="1">
                                                <thead>
                                                    <tr style="padding:5px;">
                                                        @if (YKIsMobileDevice)
                                                        {
                                                            <td colspan="3" style="text-align:center;"><strong>ÜRÜN</strong></td>
                                                            <td colspan="2" style="text-align:center;"><strong>SERİ</strong></td>
                                                        }
                                                        else
                                                        {
                                                            <td class="me-4 text-gray-600"><strong>ÜRÜN</strong></td>
                                                            <td class="me-4 text-gray-600"><strong>SERİ</strong></td>
                                                            <td class="me-4 text-gray-600"><strong>BİRİM</strong></td>

                                                            <td class="me-4 text-gray-600"><strong>MİKTAR</strong></td>
                                                            <td class="me-4 text-gray-600"><strong>FİYAT</strong></td>
                                                            <td class="me-4 text-gray-600"><strong>TUTAR</strong></td>
                                                            <td><strong></strong></td>
                                                        }
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (BelgeKalemDto satir in Model.Kalemler)
                                                    {
                                                        string ID = satir.ID.Replace("-", "");
                                                        if (YKIsMobileDevice)
                                                        {

                                                            <tr data-ID="@satir.ID" data-ID2="@ID">
                                                                <td colspan="4">
                                                                    <table style="width:100%;margin-bottom:15px;">
                                                                        <tr>
                                                                            <td class="min-w-300px w-475px" colspan="3">
                                                                                <select class="form-select Depo-cikis form-select-solid p-2 rounded-1" name="StokID_@(ID)" id="StokID_@(ID)" style="width:100%;"
                                                                                        aria-label="Floating label select example" data-control="select2" data-placeholder="Lütfen Seçim Yapınız">
                                                                                    <option value="@satir.StokID" selected>@satir.StokAdi</option>
                                                                                </select>

                                                                            </td>

                                                                            <td>
                                                                                @if (Tip == "AI")
                                                                                {
                                                                                    <input type="text" name="Seri_@(ID)" id="Seri_@(ID)" value="@(satir.Seri)" class="form-control p-2" />
                                                                                }
                                                                                else if (Tip == " DT")
                                                                                {

                                                                                    <input type="text" name="Seri_@(ID)" id="Seri_@(ID)" value="@(satir.Seri)" class="form-control p-2" />
                                                                                }
                                                                                else
                                                                                {
                                                                                    <select class="form-select form-select-solid p-2 rounded-1" name="Seri_@(ID)" id="Seri_@(ID)"
                                                                                            aria-label="Floating label select example" data-control="select2" data-placeholder="Lütfen Seçim Yapınız">
                                                                                        <option value="@satir.Seri" selected>@satir.Seri</option>
                                                                                    </select>
                                                                                }
                                                                            </td>
                                                                        </tr>
                                                                        <tr>

                                                                            <td><strong>Birim</strong></td>
                                                                            <td style="text-align: right;"><strong>Miktar</strong></td>
                                                                            <td style="text-align: right;"><strong>Fiyat</strong></td>
                                                                            <td style="text-align: right;"><strong>Tutar</strong></td>
                                                                        </tr>
                                                                        <tr>

                                                                            <td>
                                                                                <input type="text" name="OlcuBirimi_@(ID)" id="OlcuBirimi_@(ID)" value="@(String.Format("{0:N2}",satir.OlcuBirimi))" class="form-control p-2 me-10" />
                                                                            </td>
                                                                            <td>
                                                                                <input type="text" name="Miktar_@(ID)" id="Miktar_@(ID)" value="@(String.Format("{0:N2}",satir.Miktar))" onchange="TutarHesapla('Miktar_@(ID)','Fiyat_@(ID)','Tutar_@(ID)');" class="form-control p-2 me-10" style="text-align:right;" />
                                                                            </td>
                                                                            <td>
                                                                                <input type="text" name="Fiyat_@(ID)" id="Fiyat_@(ID)" value="@(String.Format("{0:N2}",satir.Fiyat))" onchange="TutarHesapla('Miktar_@(ID)','Fiyat_@(ID)','Tutar_@(ID)');" class="form-control p-2 me-10" style="text-align:right;" />
                                                                            </td>
                                                                            <td>
                                                                                <input type="text" name="Tutar_@(ID)" id="Tutar_@(ID)" value="@(String.Format("{0:N2}",satir.Tutar))" onchange="TutarHesapla('Miktar_@(ID)','Fiyat_@(ID)','Tutar_@(ID)');" class="form-control p-2 me-10" style="text-align:right;" readonly />
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                                <td>
                                                                    <button type='button' class="deleteBtn pt-2" data-ID2="@(ID)">Sil</button>
                                                                </td>
                                                            </tr>
                                                        }
                                                        else
                                                        {
                                                            <tr class="border-bottom border-bottom-dashed" data-ID="@satir.ID" data-ID2="@ID">
                                                                <td class="pe-7">
                                                                    <select class="form-select form-select-solid p-2 rounded-1" name="StokID_@(ID)" id="StokID_@(ID)" style="min-width:150px;max-width:350px;"
                                                                            aria-label="Floating label select example" data-control="select2" data-placeholder="Lütfen Seçim Yapınız">
                                                                        <option value="@satir.StokID" selected>@satir.StokAdi</option>
                                                                    </select>

                                                                </td>
                                                                <td class="ps-0">
                                                                    @if (Tip == "AI")
                                                                    {
                                                                        <input type="text" name="Seri_@(ID)" id="Seri_@(ID)" value="@(satir.Seri)" class="form-control p-2" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <select class="form-select form-select-solid p-2 rounded-1" name="Seri_@(ID)" id="Seri_@(ID)"
                                                                                aria-label="Floating label select example" data-control="select2" data-placeholder="Lütfen Seçim Yapınız">
                                                                            <option value="@satir.Seri" selected>@satir.Seri</option>
                                                                        </select>
                                                                    }
                                                                </td>

                                                                <td style="max-width:200px;">
                                                                    <input type="text" name="OlcuBirimi_@(ID)" id="OlcuBirimi_@(ID)" value="@(String.Format("{0:N2}",satir.OlcuBirimi))" class="form-control p-2" />
                                                                </td>
                                                                <td style="max-width:200px;">
                                                                    <input type="text" name="Miktar_@(ID)" id="Miktar_@(ID)" value="@(String.Format("{0:N2}",satir.Miktar))" onchange="TutarHesapla('Miktar_@(ID)','Fiyat_@(ID)','Tutar_@(ID)');" class="form-control p-2 me-10" style="text-align:right;" />
                                                                </td>
                                                                <td class="text-end" style="max-width:150px;">
                                                                    <input type="text" name="Fiyat_@(ID)" id="Fiyat_@(ID)" value="@(String.Format("{0:N2}",satir.Fiyat))" onchange="TutarHesapla('Miktar_@(ID)','Fiyat_@(ID)','Tutar_@(ID)');" class="form-control p-2 me-10" style="text-align:right;" />
                                                                </td>
                                                                <td class="text-end" style="max-width:150px;">
                                                                    <input type="text" data-kt-element="tutar-data" name="Tutar_@(ID)" id="Tutar_@(ID)" value="@(String.Format("{0:N2}",satir.Tutar))" onchange="TutarHesapla('Miktar_@(ID)','Fiyat_@(ID)','Tutar_@(ID)');" class="form-control p-2 me-10" style="text-align:right;" readonly />
                                                                </td>
                                                                <td>
                                                                    <button type='button' class="deleteBtn pt-2" data-ID2="@(ID)">Sil</button>
                                                                </td>

                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                                <tfoot>
                                                    <tr class="border-top border-top-dashed align-top fs-6 fw-bold text-gray-700 pt-10">

                                                        <th colspan="1" class="py-2">
                                                            <div class="pe-4">
                                                                <button type="button" name="btnYeniSatir" id="btnYeniSatir" onclick="YeniSatirAc();" class="btn btn-primary" style="width:150px;">+ Yeni Satır Aç</button>
                                                            </div>
                                                        </th>
                                                </tfoot>
                                            </table>


                                        </div>
                                    </div>
                                </form>
                                <!--begin::Actions-->
                                <div class="col-lg-12">

                                    <table style="width:100%;">
                                        <tr>
                                            <td style="width:75px;">Açıklama</td>
                                            <td>:</td>
                                            <td colspan="5">
                                                <textarea type="text" rows="5" name="Aciklama" id="Aciklama" class="form-control p-2 rounded-1"> @(Convert.ToString(Model.Aciklama)) </textarea>
                                            </td>
                                        </tr>
                                    </table>

                                    <div class="" style="text-align:right;">
                                        <br />
                                        <a href="@Url.Content("~/Belge/Liste/?Tip="+Request.QueryString["Tip"])" class="btn btn-light me-3" data-kt-users-modal-action="cancel">Geri</a>
                                        <button type="submit" class="btn btn-success" data-kt-users-modal-action="Kaydet" id="Kaydet" name="Kaydet" onclick="Kaydet();">
                                            <span class="indicator-label">Belgeyi Kaydet</span>

                                        </button>
                                    </div>
                                </div>
                                <!--end::Actions-->
                                <!--end::Table-->
                            </div>
                            <!--end::Form-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Styles {
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>

        var Tip = "@(Tip)";


        $(".deleteBtn").click(function () {
            $(this).closest("tr").remove();
        });

        function SatirSil(SatirID) {
            $("#TR_" + SatirID).remove();
        }

        function TutarHesapla(miktarid, fiyatid, tutarid) {
            $("#" + tutarid).val((parseFloat($("#" + miktarid).val().replace(",", ".")) * parseFloat($("#" + fiyatid).val().replace(",", "."))).toFixed(2));
        }

        function YeniSatirAc() {
            var IsMobile = "@(YKIsMobileDevice == true ? "1" : "0")";
            var YeniID = IDGuidOlustur().replace(/-/g, "");

            var deger = "";
            if (IsMobile == "1") {

                deger += "<tr data-ID='' data-ID2='" + YeniID + "' id='TR_" + YeniID +"' name='TR_" + YeniID +"'>                                                                                                             ";
                           deger += "     <td colspan='4'>                                                                                                                               ";
                           deger += "         <table style='width:100%;margin-bottom:15px;'>                                                                                             ";
                           deger += "             <tr>                                                                                                                                   ";
                           deger += "                 <td colspan='3'>                                                                                                                   ";
                           deger += "                     <select class='form-select form-select-solid p-2 rounded-1' name='StokID_" + YeniID + "' id='StokID_" + YeniID + "' style='width:100%;'          ";
                           deger += "                             aria-label='Floating label select example' data-control='select2' data-placeholder='Lütfen Seçim Yapınız'>             ";
                           deger += "                                                                                   ";
                           deger += "                     </select>                                                                                                                      ";
                           deger += "                                                                                                                                                    ";
                           deger += "                 </td>                                                                                                                              ";
                           deger += "                 <td>                                                                                                                               ";
                            if (Tip == 'AI') {
                                deger += "                         <input type='text' name='Seri_" + YeniID + "' id='Seri_" + YeniID + "' value='' class='form-control p-2' />                         ";
                            } else {
                                deger += "                         <select name='Seri_" + YeniID + "' id='Seri_" + YeniID + "' class='form-control p-2' >         ";
                                deger += "                         </select>                                                                                                                  ";
                            }
                           deger += "                 </td>                                                                                                                              ";
                           deger += "             </tr>                                                                                                                                  ";
                deger += "             <tr>  ";
                           deger += "                 <td><strong>Birim</strong></td> ";
                           deger += "                 <td style='text-align: right;'><strong>Miktar</strong></td>                                                                        ";
                           deger += "                 <td style='text-align: right;'><strong>Fiyat</strong></td>                                                                         ";
                           deger += "                 <td style='text-align: right;'><strong>Tutar</strong></td>                                                                         ";
                           deger += "             </tr>                                                                                                                                  ";
                           deger += "             <tr>                                                                                                                                   ";


                deger += "                 <td><input type='text' name='OlcuBirimi_" + YeniID + "' id='OlcuBirimi_" + YeniID + "' value='Adet' class='form-control p-2' /></td>                   ";
                deger += "                 <td><input type='text' name='Miktar_" + YeniID + "' id='Miktar_" + YeniID + "' value='1' onchange='TutarHesapla(\"Miktar_" + YeniID + "\",\"Fiyat_" + YeniID + "\",\"Tutar_" + YeniID + "\");' class='form-control p-2' style='text-align:right;' /></td>              ";
                deger += "                 <td><input type='text' name='Fiyat_" + YeniID + "' id='Fiyat_" + YeniID + "' value='0' onchange='TutarHesapla(\"Miktar_" + YeniID + "\",\"Fiyat_" + YeniID + "\",\"Tutar_" + YeniID + "\");' class='form-control p-2' style='text-align:right;' /></td>                 ";
                deger += "                 <td><input type='text' name='Tutar_" + YeniID + "' id='Tutar_" + YeniID + "' value='0'  onchange='TutarHesapla(\"Miktar_" + YeniID + "\",\"Fiyat_" + YeniID + "\",\"Tutar_" + YeniID +"\");'  class='form-control p-2' style='text-align:right;' readonly /></td>        ";
                           deger += "             </tr>";
                           deger += "         </table>";
                deger += "     </td><td><button type='button' class='deleteBtn' onclick='SatirSil(\"" + YeniID +"\")' data-ID2='"+YeniID+"'>Sil</button></td>";
                           deger += " </tr>";


            } else {

                deger += "<tr data-ID='' data-ID2='" + YeniID + "' id='TR_" + YeniID + "' name='TR_" + YeniID +"'>";
                deger += "      <td id='TD_" + YeniID + "' name='TD_" + YeniID + "'>";
                deger += "      </td>";
                deger += "      <td>";
                if (Tip == "AI") {
                    deger += "              <input type='text' name='Seri_" + YeniID + "' id='Seri_" + YeniID + "' value='' class='form-control p-2' />";
                } else {
                    deger += "              <select  name='Seri_" + YeniID + "' id='Seri_" + YeniID + "' class='form-control p-2'>";
                    deger += "        </select>";
                    deger += "";
                }
                deger += "      </td>";


                deger += "      <td style='max-width:100px;'><input type='text' name='OlcuBirimi_" + YeniID + "' id ='OlcuBirimi_" + YeniID + "' value = 'Adet' class='form-control p-2' /></td > ";
                deger += "      <td style='max-width:100px;'><input type='text' name='Miktar_" + YeniID + "' id='Miktar_" + YeniID + "' value='1' onchange='TutarHesapla(\"Miktar_" + YeniID + "\",\"Fiyat_" + YeniID + "\",\"Tutar_" + YeniID + "\");' class='form-control p-2' style='text-align:right;' /></td>";
                deger += "      <td style='max-width:150px;'><input type='text' name='Fiyat_" + YeniID + "' id = 'Fiyat_" + YeniID + "' value = '0' onchange='TutarHesapla(\"Miktar_" + YeniID + "\",\"Fiyat_" + YeniID + "\",\"Tutar_" + YeniID + "\");' class='form-control p-2' style = 'text-align:right;' /></td > ";
                deger += "      <td style='max-width:150px;'><input type='text' name='Tutar_" + YeniID + "' id = 'Tutar_" + YeniID + "' value = '0' onchange='TutarHesapla(\"Miktar_" + YeniID + "\",\"Fiyat_" + YeniID + "\",\"Tutar_" + YeniID +"\");' class='form-control p-2' style = 'text-align:right;' readonly /></td > ";
                deger += "      <td><button type='button' class='deleteBtn' onclick='SatirSil(\""+YeniID+"\")' data-ID2='"+YeniID+"'>Sil</button></td></tr>";
            }
            var newSelect = $("<select class='form-select form-select-solid p-2 rounded-1 ' name='StokID_" + YeniID + "' id='StokID_" + YeniID + "' style='min-width:150px;max-width:350px;' aria-label='Floating label select example' data-control='select2' data-placeholder='Lütfen Seçim Yapınız' ></select>");

            $('#TabloKalemler tbody').append(deger);
            $("#TD_" + YeniID + "").append(newSelect);

            newSelect.select2();

            StokAramaOlustur("StokID_" + YeniID + "");
        }

        function Kaydet() {
            $("#Kaydet").text("Lütfen bekleyin....");
            if ($("#BelgeNo").val() == "" && Tip == "AI") {
                alert("Lütfen belge numarası yazınız.");
                $("#Kaydet").text("Kaydet");
                return;
            }
            if (($("#CariID").val() == "" || $("#CariID").val() == null) && Tip == "AI") {
                alert("Lütfen cari seçiniz.");
                $("#Kaydet").text("Kaydet");
                return;
            }
            // Kalemler verisinin toplanması
            var kalemler = [];
            $('#TabloKalemler tbody tr').each(function () {
                var $data = $(this).attr("data-ID2");
                var KalemID = $(this).attr("data-ID");
                if ($data != "" && $data != null) {
                    var StokID = $("#StokID_" + $data).val();
                    var Seri = $("#Seri_" + $data).val();
                    var Miktar = $("#Miktar_" + $data).val();
                    var Fiyat = $("#Fiyat_" + $data).val();

                    // Kalem objesini oluştur ve kalemler dizisine ekle
                    var kalem = {
                        ID: KalemID,
                        StokID: StokID,
                        Seri: Seri,
                        Miktar: Miktar,
                        Fiyat: Fiyat
                    };
                    kalemler.push(kalem);
                }
            });

            // En az bir kalem girilmiş mi kontrolü
            if (kalemler.length === 0) {
                alert("Lütfen kalem giriniz.");
                return;
            }

            // AJAX isteği için veri hazırlığı
            var _data = {
                Tip: Tip,
                ID: $("#ID").val(),
                BelgeNo: $("#BelgeNo").val(),
                Tarih: $("#Tarih").val(),
                CariID: $("#CariID").val(),
                DepoCikisID: $("#DepoCikisID").val(),
                DepoGirisID: $("#DepoGirisID").val(),
                Aciklama: $("#Aciklama").val(),
                Kalemler: kalemler // Kalemler dizisi burada atanmıştır
            };

            console.log(_data);

            // AJAX isteği gönderimi
            $.ajax({
                url: '/Belge/Kaydet',
                data: JSON.stringify(_data), // Veriyi JSON formatına dönüştür
                contentType: "application/json",
                dataType: "json",
                type: "POST",
                success: function (data) {
                    $("#Kaydet").text("Kaydet");
                    alert("Belge Kaydedildi!");
                    // Detay sayfasını aç
                    //window.open("/Belge/Detay/" + data.Data + "?Tip=@(Request.QueryString["Tip"])","_parent");
                    window.open("/Belge/Liste?Tip=@(Request.QueryString["Tip"])", "_parent");

                },
                error: function (msg) {
                    $("#Kaydet").text("Kaydet");
                    console.log(msg);
                }
            });
        }



        $(function () {

            const CariIDSelect = $('#CariID').select2({
                ajax: {
                    url: "/Cari/SelectListe",
                    data: function (params) {
                        var query = {
                            search: params.term,
                        }

                        // Query parameters will be ?search=[term]&type=public
                        return query;
                    },
                    processResults: function (data) {
                        var results = [];
                        if (data && data.length > 0) {
                            data.forEach(function (item) {
                                results.push({ id: item.ID, text: item.Isim })
                            });
                        }

                        return {
                            results: results
                        };
                    }
                },
                delay: 250,
                minimumInputLength: 1,
                language: {
                    placeholder: function () {
                        return "Arama yapmak için en az 1 karakter girin";
                    },
                    inputTooShort: function () {
                        return "En az lütfen en az 1 karakter girin";
                    }
                }
            });


        });

        function StokAramaOlustur(stokid) {
            $(function () {

                const StokIDSelect = $('#' + stokid).select2({
                    ajax: {
                        url: "/Stok/SelectListe",
                        data: function (params) {
                            var query = {
                                search: params.term,
                            }

                            // Query parameters will be ?search=[term]&type=public
                            return query;
                        },
                        processResults: function (data) {
                            var results = [];
                            if (data && data.length > 0) {
                                data.forEach(function (item) {
                                    results.push({ id: item.ID, text: item.Isim })
                                });
                            }

                            return {
                                results: results
                            };
                        }
                    },

                    delay: 250,
                    minimumInputLength: 1,
                    language: {
                        placeholder: function () {
                            return "Arama yapmak için en az 1 karakter girin";
                        },
                        inputTooShort: function () {
                            return "En az lütfen en az 1 karakter girin";
                        }
                    }
                });

                $('#' + stokid).on('select2:selecting', function (e) {
                    var stok_id = (e.params.args.data.id);

                    $.ajax({
                        url: '/Belge/SelectStokSeriListe',
                        data: "{ 'StokID': '" + stok_id + "', 'DepoID': '"+$("#DepoCikisID").val()+"' }",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                        // waitingDialog.hide();
                        $('#Seri_' + stokid.replace("StokID_", "")).find('option').remove();
                            var deger = "";
                        for (var i = 0; i < data.Data.length; i++) {
                            deger += "<option value='" + data.Data[i].SeriNo + "'>" + data.Data[i].SeriNo + ' - Bakiye : ' + data.Data[i].Bakiye.toFixed(0) + "</option>";
                        }
                        $('#Seri_' + stokid.replace("StokID_", "")).append(deger);

                    },
                        error: function (msg) {
                            console.log("HATA!"+msg);
                    }
                });

                });

            });
        }
    </script>

    @foreach (BelgeKalemDto satir in Model.Kalemler)
    {
        <script>


            $(function () {



                const StokIDSelect@(satir.ID.Replace("-","")) = $('#StokID_@(satir.ID.Replace("-",""))').select2({
                    ajax: {
                        url: "/Stok/SelectListe",
                        data: function (params) {
                            var query = {
                                search: params.term,
                            }

                            // Query parameters will be ?search=[term]&type=public
                            return query;
                        },
                        processResults: function (data) {
                            var results = [];
                            if (data && data.length > 0) {
                                data.forEach(function (item) {
                                    results.push({ id: item.ID, text: item.Isim })
                                });
                            }

                            return {
                                results: results
                            };
                        }
                    },
                    delay: 250,
                    minimumInputLength: 1,
                    language: {
                        placeholder: function () {
                            return "Arama yapmak için en az 1 karakter girin";
                        },
                        inputTooShort: function () {
                            return "En az lütfen en az 1 karakter girin";
                        }
                    }
                });


            });


            $('#StokID_@(satir.ID.Replace("-",""))').on('change', function () {

                $.ajax({
                    url: '/Stok/SelectStokSeriListe',
                    data: "{ StokID: '" + this.value + "' }",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataFilter: function (data) { return data; },
                    success: function (data) {
                        // waitingDialog.hide();

                            $('#Seri_@(satir.ID.Replace("-",""))').remove();
                            var deger = "";
                            for (var i = 0; i < data.length; i++) {
                                deger += "<option value='"+data[i].SeriNo+"'>" + data[i].SeriNo + "</option>";
                            }
                            $('#Seri_@(satir.ID.Replace("-",""))').append(deger);

                    },
                    error: function (msg) {
                        console.log(msg);
                    }
                });
            });

        </script>
    }
}
