@using YKPortal.Models.Dto
@using Newtonsoft.Json

@model YKPortal.Models.ComponentDto.BelgeEkleComponent

@{
    var jsonSettings = new Newtonsoft.Json.JsonSerializerSettings { ReferenceLoopHandling = ReferenceLoopHandling.Ignore };
    var personJson = JsonConvert.SerializeObject(Model, jsonSettings);
}
<div id="kt_app_content_container" class="app-container  container-fluid">
    <!--begin::Layout-->
    <div class="row">
        <!--begin::Content-->
        <!--begin::Card-->
        <div class="card col-lg-12">
            <!--begin::Card body-->
            <div class="card-body p-12">
                <!--begin::Form-->
                <form>
                    <!--begin::Wrapper-->
                    <div class="d-flex flex-column align-items-start flex-xxl-row">

                        <!--begin::Input group-->
                        <div class="d-flex flex-equal fw-row text-nowrap order-1 order-xxl-2 me-4" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-original-title="Enter invoice number" data-kt-initialized="1">
                            <span class="fs-2x fw-bold text-gray-700">@Model.Baslik #</span>

                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="d-flex align-items-center justify-content-end flex-equal order-3 fw-row" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-original-title="Specify invoice due date" data-kt-initialized="1">

                            <!--begin::Input-->
                            <div class="position-relative d-flex align-items-center w-150px">
                                <label for="Tarih" class="form-label fs-6 fw-bold text-gray-600 mb-3 pt-2 pe-2">Tarih</label>
                                <!--begin::Datepicker-->

                                <input type="date" name="Tarih" id="Tarih" value="@(DateTime.Now.ToString("yyyy-MM-dd"))" class="form-control form-control-solid p-2 rounded-1" placeholder="" />
                                <!--end::Datepicker-->

                            </div>
                            <!--end::Input-->
                        </div>

                        <!--end::Input group-->
                    </div>
                    <!--end::Top-->
                    <!--begin::Separator-->
                    <div class="separator separator-dashed my-2"></div>
                    <!--end::Separator-->
                    <!--begin::Wrapper-->

                    <div class="mb-0">
                        <!--begin::Row-->
                        <div class="row mb-4">
                            <!--begin::Col-->
                            <div class="d-flex align-items-center justify-content-between mt-5">
                                <input type="hidden" name="ID" id="ID" value="@(Model.BelgeDto.ID)" />
                            </div>
                            @if (Model.BelgeNoVarMi)
                            {
                                <div class="col-lg-4">
                                    <label for="BelgeNo" class="form-label fs-6 fw-bold text-gray-600 mb-3">Belge No</label>

                                    <!--begin::Input group-->
                                    <div class="mb-4">
                                        <input type="text" name="BelgeNo" id="BelgeNo" value="@(Convert.ToString(Model.BelgeDto.BelgeNo))" class="form-control p-2 rounded-1" placeholder="" />
                                    </div>
                                    <!--end::Input group-->
                                    <!--begin::Input group-->

                                </div>
                            }
                            <!--end::Col-->
                            <!--begin::Col-->
                            @if (Model.CariVarMi)
                            {
                                <div class="col-lg-4 col-12">

                                    <!--begin::Input group-->
                                    <div>
                                        <div class="" style="@(Model.Tip == "DT")">
                                            <div class="form-group ">
                                                <label for="CariID" class="form-label fs-6 fw-bold text-gray-600 mb-3 cari-select">Cari</label>
                                                <select class="form-select form-select-solid p-2 rounded-1" name="CariID" id="CariID"
                                                        aria-label="Floating label select example" data-control="select2" data-placeholder="Lütfen Seçim Yapınız">

                                                    @if (Model.BelgeDto.CariID != "")
                                                    {
                                                        <option value="@Model.BelgeDto.CariID" selected>@Model.BelgeDto.CariAdi</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            }
                            @if (Model.DurumuVarMi)
                            {
                                <div class="col-lg-4 col-12">
                                    <!--begin::Label-->
                                    <label for="Durumu" class="form-label fs-6 fw-bold text-gray-600 mb-3">Durumu</label>
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <select class="px-2 py-1 rounded-1 form-control form-control-solid" data-control="select2" name="Durumu" id="Durumu"
                                                aria-label="Floating label select example">
                                            <option value="">Lütfen Seçim Yapınız</option>
                                            <option value="Öneri" @(Model.BelgeDto.Durumu == "Öneri" ? "selected" : "")>Öneri</option>
                                            <option value="Onaylandı" @(Model.BelgeDto.Durumu == "Onaylandı" ? "selected" : "")>Onaylandı</option>
                                            <option value="Reddedildi" @(Model.BelgeDto.Durumu == "Reddedildi" ? "selected" : "")>Reddedildi</option>
                                        </select>
                                    </div>                            <!--end::Input-->
                                </div>
                            }

                        </div>
                        <div class="row mb-4">
                            @if (Model.SatisPersoneliVarMi)
                            {

                                <div class="col-lg-4 col-12">
                                    <div class="form-group">
                                        <!--begin::Label-->
                                        <label for="SatisPersonelID" class="required form-label fs-6 fw-bold text-gray-600 mb-3">Satış Personeli</label>
                                        <!--end::Label-->
                                        <select class="form-control p-2 rounded-1" data-control="select2" name="SatisPersonelID" id="SatisPersonelID" data-placeholder="Lütfen Seçim Yapınız"
                                                aria-label="Floating label select example">
                                            <option value=""></option>
                                            @foreach (SatisPersonelleriDto personel in Model.SatisPersonelleri)
                                            {
                                                <option value="@personel.ID">@personel.Isim</option>
                                            }
                                        </select>
                                        <!--end::Input group-->
                                    </div>
                                </div>

                            }

                            @if (Model.CikisDepoVarMi)
                            {
                                <div class="col-lg-4 col-12">
                                    <div class="form-group">
                                        <label for="DepoCikisID" class="form-label fs-6 fw-bold text-gray-600 mb-3">Çıkış Depo</label>
                                        <select class="form-select form-select-solid p-2 rounded-1" name="DepoCikisID" id="DepoCikisID"
                                                aria-label="Floating label select example" data-control="select2" data-placeholder="Lütfen Seçim Yapınız">
                                            @foreach (System.Data.DataRow drDepo in Model.Depolar.Rows)
                                            {
                                                if (Model.BelgeDto.DepoCikisID == drDepo["ID"].ToString())
                                                {
                                                    <option value="@drDepo["ID"]" selected>@drDepo["Isim"]</option>
                                                }
                                                else
                                                {
                                                    <option value="@drDepo["ID"]">@drDepo["Isim"]</option>
                                                }

                                                <!-- @drDepo["ID"] -->
                                            }
                                        </select>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="row">

                            @if (Model.AciklamaVarMi)
                            {
                                <div class="row mb-4">
                                    <div class="col-@(Model.Tip == "DT")">
                                        <label for="Aciklama" class="form-label fs-6 fw-bold text-gray-600 mb-3">Açıklama</label>
                                        <textarea type="text" name="Aciklama" id="Aciklama" class="form-control p-2 rounded-1"> @(Convert.ToString(Model.BelgeDto.Aciklama)) </textarea>
                                    </div>
                                </div>
                            }
                            <div class="my-8" style="text-align:center;vertical-align:middle;">
                                <div class="bg-gray-200" style="clear:both;height:1px;width:100%;"></div>
                                <h4 class="fw-bold text-gray-600 mt-3">KALEMLER</h4>
                                <div class="bg-gray-200" style="clear:both;height:1px;width:100%;"></div>
                            </div>
                        </div>
                        <!--end::Row-->
                        <!--begin::Table wrapper-->
                        <div class="row p-3 scroll-x">
                            <table class="table" id="TabloKalemler" name="TabloKalemler">
                                <thead>
                                    <tr style="padding:5px;">
                                        @if (Request.Browser.IsMobileDevice)
                                        {
                                            if (Model.KalemBilgileri.UrunVarMi)
                                            {
                                                <td colspan="3" style="text-align:center;"><strong>ÜRÜN</strong></td>
                                            }
                                            if (Model.KalemBilgileri.SeriVarMi)
                                            {
                                                <td colspan="2" style="text-align:center;"><strong>SERİ</strong></td>
                                            }
                                        }
                                        else
                                        {
                                            if (Model.KalemBilgileri.UrunVarMi)
                                            {
                                                <td class="me-4 text-gray-600"><strong>ÜRÜN</strong></td>
                                            }
                                            if (Model.KalemBilgileri.SeriVarMi)
                                            {
                                                <td class="me-4 text-gray-600"><strong>SERİ</strong></td>
                                            }
                                            if (Model.KalemBilgileri.BirimVarMi)
                                            {
                                                <td class="me-4 text-gray-600"><strong>BİRİM</strong></td>
                                            }
                                            if (Model.KalemBilgileri.KdvVarMi)
                                            {
                                                <td class="me-4 text-gray-600"><strong>KDV ORANI</strong></td>
                                            }
                                            if (Model.KalemBilgileri.MiktarVarMi)
                                            {
                                                <td class="me-4 text-gray-600"><strong>MİKTAR</strong></td>
                                            }
                                            if (Model.KalemBilgileri.FiyatVarMi)
                                            {
                                                <td class="me-4 text-gray-600"><strong>FİYAT</strong></td>
                                            }
                                            if (Model.KalemBilgileri.IskontoVarMi)
                                            {
                                                <td class="me-4 text-gray-600"><strong>İSKONTO ORANI</strong></td>
                                            }
                                            if (Model.KalemBilgileri.TutarVarMi)
                                            {
                                                <td class="me-4 text-gray-600"><strong>TUTAR</strong></td>
                                            }

                                            <td><strong></strong></td>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (BelgeKalemDto satir in Model.BelgeDto.Kalemler)
                                    {
                                        string ID = satir.ID.Replace("-", "");
                                        if (Request.Browser.IsMobileDevice)
                                        {

                                            <tr data-ID="@satir.ID" data-ID2="@ID">
                                                <td colspan="4">
                                                    <table style="width:100%;margin-bottom:15px;">
                                                        <tr>
                                                            @if (Model.KalemBilgileri.UrunVarMi)
                                                            {
                                                                <td class="min-w-300px w-475px" colspan="3">
                                                                    <select class="form-select Depo-cikis form-select-solid p-2 rounded-1" name="StokID_@(ID)" id="StokID_@(ID)" style="width:100%;"
                                                                            aria-label="Floating label select example" data-control="select2" data-placeholder="Lütfen Seçim Yapınız">
                                                                        <option value="@satir.StokID" selected>@satir.StokAdi</option>
                                                                    </select>

                                                                </td>
                                                            }
                                                            @if (Model.KalemBilgileri.SeriVarMi)
                                                            {
                                                                <td>

                                                                    @if (Model.Tip == "SF")
                                                                    {
                                                                        <input type="text" name="Seri_@(ID)" id="Seri_@(ID)" value="@(satir.Seri)" class="form-control p-2" />
                                                                    }
                                                                    else if (Model.Tip == " DT")
                                                                    {

                                                                        <input type="text" name="Seri_@(ID)" id="Seri_@(ID)" value="@(satir.Seri)" class="form-control p-2" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <select class="form-select form-select-solid p-2 rounded-1" name="Seri_@(ID)" id="Seri_@(ID)"
                                                                                aria-label="Floating label select example" data-control="select2" data-placeholder="Lütfen Seçim Yapınız">
                                                                            <option value="@satir.Seri" selected>@satir.Seri</option>
                                                                        </select>
                                                                    }

                                                                </td>
                                                            }
                                                        </tr>
                                                        <tr>

                                                            @if (Model.KalemBilgileri.BirimVarMi)
                                                            {
                                                                <td style="text-align: right;"><strong>Birim</strong></td>
                                                            }
                                                            @if (Model.KalemBilgileri.KdvVarMi)
                                                            {
                                                                <td style="text-align: right;"><strong>Kdv Oranı</strong></td>
                                                            }
                                                            @if (Model.KalemBilgileri.MiktarVarMi)
                                                            {
                                                                <td style="text-align: right;"><strong>Miktar</strong></td>
                                                            }
                                                            @if (Model.KalemBilgileri.FiyatVarMi)
                                                            {
                                                                <td style="text-align: right;"><strong>Fiyat</strong></td>
                                                            }
                                                            @if (Model.KalemBilgileri.IskontoVarMi)
                                                            {
                                                                <td style="text-align: right;"><strong>İskonto Oranı</strong></td>
                                                            }
                                                            @if (Model.KalemBilgileri.TutarVarMi)
                                                            {
                                                                <td style="text-align: right;"><strong>Tutar</strong></td>
                                                            }

                                                        </tr>
                                                        <tr>
                                                            @if (Model.KalemBilgileri.BirimVarMi)
                                                            {
                                                                <td>
                                                                    <input type="text" name="OlcuBirimi_@(ID)" id="OlcuBirimi_@(ID)" value="@(String.Format("{0:N2}",satir.OlcuBirimi))" class="form-control p-2 me-10" />
                                                                </td>
                                                            }
                                                            @if (Model.KalemBilgileri.KdvVarMi)
                                                            {
                                                                <td>
                                                                    <input type="text" data-kt-element="kdv-data" name="KdvOrani_@(ID)" id="KdvOrani_@(ID)" value="@(String.Format("{0:N2}",satir.KdvOrani))" onchange="TutarHesapla('Miktar_@(ID)','Fiyat_@(ID)','Tutar_@(ID)');" class="form-control p-2 me-10" style="text-align:right;" />
                                                                </td>
                                                            }
                                                            @if (Model.KalemBilgileri.MiktarVarMi)
                                                            {
                                                                <td>
                                                                    <input type="text" name="Miktar_@(ID)" id="Miktar_@(ID)" value="@(String.Format("{0:N2}",satir.Miktar))" onchange="TutarHesapla('Miktar_@(ID)','Fiyat_@(ID)','Tutar_@(ID)'); formatNumberWithSeparator('Miktar_@(ID)');" class="form-control p-2 me-10" style="text-align:right;" />
                                                                </td>
                                                            }
                                                            @if (Model.KalemBilgileri.FiyatVarMi)
                                                            {
                                                                <td>
                                                                    <input type="text" data-component='money-input' name="Fiyat_@(ID)" id="Fiyat_@(ID)" value="@(String.Format("{0:N2}",satir.Fiyat))" onchange="TutarHesapla('Miktar_@(ID)','Fiyat_@(ID)','Tutar_@(ID)');formatNumberWithSeparator('Fiyat_@(ID)');" class="form-control p-2 me-10" style="text-align:right;" />
                                                                </td>
                                                            }
                                                            @if (Model.KalemBilgileri.IskontoVarMi)
                                                            {
                                                                <td>
                                                                    <input type="text" data-component='money-input' data-kt-element="iskonto-data" name="IskontoOrani1_@(ID)" id="IskontoOrani1_@(ID)" value="@(String.Format("{0:N2}",satir.IskontoOrani1))" onchange="TutarHesapla('Miktar_@(ID)','Fiyat_@(ID)','Tutar_@(ID)');" class="form-control p-2 me-10" style="text-align:right;" />
                                                                </td>
                                                            }
                                                            @if (Model.KalemBilgileri.TutarVarMi)
                                                            {
                                                                <td>
                                                                    <input type="text" data-component='money-input' name="Tutar_@(ID)" id="Tutar_@(ID)" value="@(String.Format("{0:N2}",satir.Tutar))" onchange="TutarHesapla('Miktar_@(ID)', 'Fiyat_@(ID)', 'Tutar_@(ID)'); formatNumberWithSeparator('Tutar_@(ID)');" class="form-control p-2 me-10" style="text-align:right;" readonly />
                                                                </td>
                                                            }
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td>
                                                    <button type='button' class="deleteBtn btn-sm pt-2" data-ID2="@(ID)">Sil</button>
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr class="border-bottom border-bottom-dashed" data-ID="@satir.ID" data-ID2="@ID">
                                                @if (Model.KalemBilgileri.UrunVarMi)
                                                {
                                                    <td class="pe-7">
                                                        <select class="form-select form-select-solid p-2 rounded-1" name="StokID_@(ID)" id="StokID_@(ID)" style="min-width:150px;max-width:350px;"
                                                                aria-label="Floating label select example" data-control="select2" data-placeholder="Lütfen Seçim Yapınız">
                                                            <option value="@satir.StokID" selected>@satir.StokAdi</option>
                                                        </select>

                                                    </td>
                                                }
                                                @if (Model.KalemBilgileri.SeriVarMi)
                                                {
                                                    <td class="ps-0">
                                                        @if (Model.Tip == "SF")
                                                        {
                                                            <input type="text" name="Seri_@(ID)" id="Seri_@(ID)" value="@(satir.Seri)" class="form-control p-2" />
                                                        }
                                                        else
                                                        {
                                                            <select class="form-select form-select-solid p-2 rounded-1" name="Seri_@(ID)" id="Seri_@(ID)"
                                                                    aria-label="Floating label select example" data-control="select2" data-placeholder="Lütfen Seçim Yapınız">
                                                                <option value="@satir.Seri" selected>@satir.Seri</option>
                                                            </select>
                                                        }
                                                    </td>
                                                }
                                                @if (Model.KalemBilgileri.BirimVarMi)
                                                {
                                                    <td style="max-width:200px;">
                                                        <input type="text" name="OlcuBirimi_@(ID)" id="OlcuBirimi_@(ID)" value="@(String.Format("{0:N2}",satir.OlcuBirimi))" class="form-control p-2" />
                                                    </td>
                                                }
                                                @if (Model.KalemBilgileri.KdvVarMi)
                                                {
                                                    <td>
                                                        <input type="text" data-kt-element="kdv-data" name="KdvOrani_@(ID)" id="KdvOrani_@(ID)" value="@(String.Format("{0:N2}",satir.KdvOrani))" onchange="TutarHesapla('Miktar_@(ID)','Fiyat_@(ID)','Tutar_@(ID)');" class="form-control p-2 me-10" style="text-align:right;" />
                                                    </td>
                                                }
                                                @if (Model.KalemBilgileri.MiktarVarMi)
                                                {
                                                    <td style="max-width:200px;">
                                                        <input type="text" name="Miktar_@(ID)" id="Miktar_@(ID)" value="@(String.Format("{0:N2}",satir.Miktar))" onchange="TutarHesapla('Miktar_@(ID)','Fiyat_@(ID)','Tutar_@(ID)'); formatNumberWithSeparator('Miktar_@(ID)');" class="form-control p-2 me-10" style="text-align:right;" />
                                                    </td>
                                                }
                                                @if (Model.KalemBilgileri.FiyatVarMi)
                                                {
                                                    <td class="text-end" style="max-width:150px;">
                                                        <input type="text" data-component='money-input' name="Fiyat_@(ID)" id="Fiyat_@(ID)" value="@(String.Format("{0:N2}",satir.Fiyat))" onchange="TutarHesapla('Miktar_@(ID)','Fiyat_@(ID)','Tutar_@(ID)'); formatNumberWithSeparator('Fiyat_@(ID)');" class="form-control p-2 me-10" style="text-align:right;" />
                                                    </td>
                                                }
                                                @if (Model.KalemBilgileri.IskontoVarMi)
                                                {
                                                    <td>
                                                        <input type="text" data-component='money-input' data-kt-element="iskonto-data" name="IskontoOrani1_@(ID)" id="IskontoOrani1_@(ID)" value="@(String.Format("{0:N2}",satir.IskontoOrani1))" onchange="TutarHesapla('Miktar_@(ID)','Fiyat_@(ID)','Tutar_@(ID)');" class="form-control p-2 me-10" style="text-align:right;" />
                                                    </td>
                                                }
                                                @if (Model.KalemBilgileri.TutarVarMi)
                                                {
                                                    <td class="text-end" style="max-width:150px;">
                                                        <input type="text" data-component='money-input' data-kt-element="tutar-data" name="Tutar_@(ID)" id="Tutar_@(ID)" onchange="TutarHesapla('Miktar_@(ID)','Fiyat_@(ID)','Tutar_@(ID)'); formatNumberWithSeparator('Tutar_@(ID)');" value="@(String.Format("{0:N2}",satir.Tutar))" class="form-control p-2 me-10" style="text-align:right;" readonly />
                                                    </td>
                                                }

                                                <td>
                                                    <button type='button' class="deleteBtn btn-sm pt-2" data-ID2="@(ID)">Sil</button>
                                                </td>

                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>


                        </div>
                    </div>
                </form>

                <div class="col-lg-4">
                    <button type="button" name="btnYeniSatir" id="btnYeniSatir" onclick="YeniSatirAc();" class="btn btn-primary btn-sm" style="width:150px;">+ Yeni Satır Aç</button>
                </div>

                <div class="offset-lg-10 col-lg-2 fw-bold text-gray-600 fs-5">
                    <div class="d-flex align-items-center justify-content-between">
                        <div>Ara Toplam</div>
                        <div>
                            ₺<span data-kt-element="ara-toplam-tutari">
                                @if (Model.BelgeDto.Kalemler != null)
                                {
                                    <span>@(String.Format("{0:N2}", Model.BelgeDto.Kalemler.Select(m => m.Fiyat * m.Miktar).Sum()))</span>
                                }
                                else
                                {
                                    <span>0,00</span>
                                }
                            </span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div>İskonto Tutarı</div>
                        <div>
                            - ₺<span data-kt-element="iskonto-tutari">
                                @if (Model.BelgeDto.Kalemler != null)
                                {
                                    <span>@(String.Format("{0:N2}", Model.BelgeDto.Kalemler.Select(m => m.Fiyat * m.Miktar * m.IskontoOrani1 / 100).Sum()))</span>
                                }
                                else
                                {
                                    <span>0,00</span>
                                }
                            </span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div>KDV Tutarı</div>
                        <div>
                            ₺<span data-kt-element="kdv-tutari">
                                @if (Model.BelgeDto.Kalemler != null)
                                {
                                    <span>@(String.Format("{0:N2}", Model.BelgeDto.Kalemler.Select(m => (m.Fiyat * m.Miktar - (m.Fiyat * m.Miktar * m.IskontoOrani1 / 100)) * m.KdvOrani / 100).Sum()))</span>
                                }
                                else
                                {
                                    <span>0,00</span>
                                }
                            </span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div>Genel Toplam</div>
                        <div>
                            ₺<span data-kt-element="toplam-tutar">
                                @if (Model.BelgeDto.Kalemler != null)
                                {
                                    <span>@(String.Format("{0:N2}", Model.BelgeDto.Kalemler.Select(m => m.Fiyat * m.Miktar - (m.Fiyat * m.Miktar * m.IskontoOrani1 / 100) + ((m.Fiyat * m.Miktar - (m.Fiyat * m.Miktar * m.IskontoOrani1 / 100)) * m.KdvOrani / 100) ).Sum()))</span>
                                }
                                else
                                {
                                    <span>0,00</span>
                                }
                            </span>
                        </div>
                    </div>

                </div>

                <!--begin::Actions-->
                <div class="col-lg-12">
                    <div class="">
                        <a href="@Url.Content("~/SatisFatura/Liste/?Tip=+" + Model.Tip)" class="btn btn-light me-3 btn-sm" data-kt-users-modal-action="cancel">Geri</a>
                        <button type="submit" class="btn btn-primary btn-sm" data-kt-users-modal-action="Kaydet" onclick="Kaydet();">
                            <span class="indicator-label">Kaydet</span>

                        </button>
                    </div>
                </div>
                <!--end::Actions-->
                <!--end::Table-->
            </div>
            <!--end::Form-->
        </div>
        <!--end::Card body-->
        <!--begin::Sidebar-->
        <!--end::Sidebar-->
        <!--end::Card-->
    </div>
    <!--end::Content-->

</div>

<script>
    const belgeEkleCompenentValue = @Html.Raw(personJson);

</script>
<script src="~/Tema/js/app/belge.js"></script>

<script>
    var controllerName = '@ViewBag.ControllerName'; // Razor ile sayfa bazında controller adı
    var tip = '@ViewBag.Tip';

    function Kaydet() {
        kaydet(controllerName, tip);
    }
</script>