@using YKPortal.Models.Dto
@using Newtonsoft.Json

@model YKPortal.Models.ComponentDto.BelgeEkleComponent

@{
    var jsonSettings = new Newtonsoft.Json.JsonSerializerSettings { ReferenceLoopHandling = ReferenceLoopHandling.Ignore };
    var personJson = JsonConvert.SerializeObject(Model, jsonSettings);
}
<div id="kt_app_content_container" class="app-container  container-fluid">
    <!--begin::Layout-->
    <div class="row">
        <!--begin::Content-->
        <!--begin::Card-->
        <div class="card col-lg-12">
            <!--begin::Card body-->
            <div class="card-body p-12">
                <!--begin::Form-->
                <form>
                    <!--begin::Wrapper-->
                    <div class="d-flex flex-column align-items-start flex-xxl-row">

                        <!--begin::Input group-->
                        <div class="d-flex flex-equal fw-row text-nowrap order-1 order-xxl-2 me-4" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-original-title="Enter invoice number" data-kt-initialized="1">
                            <span class="fs-2x fw-bold text-gray-700">@Model.Baslik #</span>

                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="d-flex align-items-center justify-content-end flex-equal order-3 fw-row" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-original-title="Specify invoice due date" data-kt-initialized="1">

                            <!--begin::Input-->
                            <div class="position-relative d-flex align-items-center w-150px">
                                <label for="Tarih" class="form-label fs-6 fw-bold text-gray-600 mb-3 pt-2 pe-2">Tarih</label>
                                <!--begin::Datepicker-->

                                <input type="date" name="Tarih" id="Tarih" value="@(DateTime.Now.ToString("yyyy-MM-dd"))" class="form-control form-control-solid p-2 rounded-1" placeholder="" />
                                <!--end::Datepicker-->

                            </div>
                            <!--end::Input-->
                        </div>

                        <!--end::Input group-->
                    </div>
                    <!--end::Top-->
                    <!--begin::Separator-->
                    <div class="separator separator-dashed my-2"></div>
                    <!--end::Separator-->
                    <!--begin::Wrapper-->

                    <div class="mb-0">
                        <!--begin::Row-->
                        <div class="row mb-4">
                            <!--begin::Col-->
                            <div class="d-flex align-items-center justify-content-between mt-5">
                                <input type="hidden" name="ID" id="ID" value="@(Model.BelgeDto.ID)" />
                            </div>
                            @if (Model.BelgeNoVarMi)
                            {
                                <div class="col-lg-4">
                                    <label for="BelgeNo" class="form-label fs-6 fw-bold text-gray-600 mb-3">Belge No</label>

                                    <!--begin::Input group-->
                                    <div class="mb-4">
                                        <input type="text" name="BelgeNo" id="BelgeNo" value="@(Convert.ToString(Model.BelgeDto.BelgeNo))" class="form-control p-2 rounded-1" placeholder="" />
                                    </div>
                                    <!--end::Input group-->
                                    <!--begin::Input group-->

                                </div>
                            }
                            <!--end::Col-->
                            <!--begin::Col-->
                            @if (Model.CariVarMi)
                            {
                                <div class="col-lg-4 col-12">

                                    <!--begin::Input group-->
                                    <div>
                                        <div class="" style="@(Model.Tip == "DT")">
                                            <div class="form-group ">
                                                <label for="CariID" class="form-label fs-6 fw-bold text-gray-600 mb-3 cari-select">Cari</label>
                                                <select class="form-select form-select-solid p-2 rounded-1" name="CariID" id="CariID"
                                                        aria-label="Floating label select example" data-control="select2" data-placeholder="Lütfen Seçim Yapınız">

                                                    @if (Model.BelgeDto.CariID != "")
                                                    {
                                                        <option value="@Model.BelgeDto.CariID" selected>@Model.BelgeDto.CariAdi</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            }
                            @if (Model.SatisPersoneliVarMi)
                            {

                                <div class="col-lg-4 col-12">
                                    <div class="form-group">
                                        <!--begin::Label-->
                                        <label for="SatisPersonelID" class="required form-label fs-6 fw-bold text-gray-600 mb-3">Satış Personeli</label>
                                        <!--end::Label-->
                                        <select class="form-control p-2 rounded-1" data-control="select2" name="SatisPersonelID" id="SatisPersonelID" data-placeholder="Lütfen Seçim Yapınız"
                                                aria-label="Floating label select example">
                                            <option value=""></option>
                                            @foreach (SatisPersonelleriDto personel in Model.SatisPersonelleri)
                                            {
                                                <option value="@personel.ID" @(Model.BelgeDto.SatisPersonelID == personel.ID ? "selected" : "")>@personel.Isim</option>
                                            }
                                        </select>
                                        <!--end::Input group-->
                                    </div>
                                </div>

                            }


                        </div>
                        <div class="row mb-4">
                            @if (Model.DurumuVarMi)
                            {
                                <div class="col-lg-4 col-12">
                                    <!--begin::Label-->
                                    <label for="Durumu" class="form-label fs-6 fw-bold text-gray-600 mb-3">Durumu</label>
                                    <!--begin::Input-->
                                    <div class="form-group">
                                        <select class="px-2 py-1 rounded-1 form-control form-control-solid" data-control="select2" name="Durumu" id="Durumu" data-placeholder="Lütfen Seçim Yapınız"
                                                aria-label="Floating label select example">
                                            <option></option>
                                            <option value="Öneri" @(Model.BelgeDto.Durumu == "Öneri" ? "selected" : "")>Öneri</option>
                                            <option value="Onaylandı" @(Model.BelgeDto.Durumu == "Onaylandı" ? "selected" : "")>Onaylandı</option>
                                            <option value="Reddedildi" @(Model.BelgeDto.Durumu == "Reddedildi" ? "selected" : "")>Reddedildi</option>
                                        </select>
                                    </div>                            <!--end::Input-->
                                </div>
                            }

                            @if (Model.CikisDepoVarMi)
                            {
                                <div class="col-lg-4 col-12">
                                    <div class="form-group">
                                        <label for="DepoCikisID" class="form-label fs-6 fw-bold text-gray-600 mb-3">Çıkış Depo</label>
                                        <select class="form-select form-select-solid p-2 rounded-1" name="DepoCikisID" id="DepoCikisID"
                                                aria-label="Floating label select example" data-control="select2" data-placeholder="Lütfen Seçim Yapınız">
                                            <option></option>
                                            @foreach (System.Data.DataRow drDepo in Model.Depolar.Rows)
                                            {
                                                if (Model.BelgeDto.DepoCikisID == drDepo["ID"].ToString())
                                                {
                                                    <option value="@drDepo["ID"]" selected>@drDepo["Isim"]</option>
                                                }
                                                else
                                                {
                                                    <option value="@drDepo["ID"]">@drDepo["Isim"]</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="row mb-4">

                            @if (Model.AciklamaVarMi)
                            {
                                <div class="">
                                    <div class=" col-@(Model.Tip == "DT")">
                                        <label for="Aciklama" class="form-label fs-6 fw-bold text-gray-600 mb-3">Açıklama</label>
                                        <textarea type="text" name="Aciklama" id="Aciklama" class="form-control p-2 rounded-1"> @(Convert.ToString(Model.BelgeDto.Aciklama)) </textarea>
                                    </div>
                                </div>
                            }
                            <div class="my-8" style="text-align:center;vertical-align:middle;">
                                <div class="bg-gray-200" style="clear:both;height:1px;width:100%;"></div>
                                <h4 class="fw-bold text-gray-600 mt-3">KALEMLER</h4>
                                <div class="bg-gray-200" style="clear:both;height:1px;width:100%;"></div>
                            </div>
                        </div>
                        <!--end::Row-->
                        <!--begin::Table wrapper-->

                        <div>
                            <div id="TabloKalemler" name="TabloKalemler">
                                @foreach (BelgeKalemDto satir in Model.BelgeDto.Kalemler)
                                {
                                    string ID = satir.ID.Replace("-", "");
                                    <div class="row pb-4 tablo-satir" id="TR_@(ID)" data-id="@satir.ID" data-ID2="@ID">
                                        @if (Model.KalemBilgileri.UrunVarMi)
                                        {
                                            <div class="col-12 col-lg-2 d-flex flex-column mb-2 mb-lg-0">
                                                <label style="font-weight: bold; margin-bottom: 5px;">Ürün</label>
                                                <select class="form-select Depo-cikis form-select-solid p-2 rounded-1" name="StokID_@(ID)" id="StokID_@(ID)" aria-label="Floating label select example" data-control="select2" data-placeholder="Lütfen Seçim Yapınız">
                                                    <option value="@satir.StokID" selected>@satir.StokAdi</option>
                                                </select>
                                            </div>
                                        }
                                        @if (Model.KalemBilgileri.SeriVarMi)
                                        {
                                            <div class="col-12 col-lg-1 d-flex flex-column mb-2 mb-lg-0">
                                                <label style="font-weight: bold; margin-bottom: 5px;">Seri</label>
                                                <input type="text" name="Seri_@(ID)" id="Seri_@(ID)" value="@(satir.Seri)" class="form-control p-2" />
                                            </div>
                                        }
                                        @if (Model.KalemBilgileri.BirimVarMi)
                                        {
                                            <div class="col-12 col-lg-1 d-flex flex-column mb-2 mb-lg-0">
                                                <label style="font-weight: bold; margin-bottom: 5px;">Birim</label>
                                                <input type="text" name="OlcuBirimi_@(ID)" id="OlcuBirimi_@(ID)" value="@(String.Format("{0:N2}", satir.OlcuBirimi))" class="form-control p-2" />
                                            </div>
                                        }
                                        @if (Model.KalemBilgileri.KdvVarMi)
                                        {
                                            <div class="col-12 col-lg-1 d-flex flex-column mb-2 mb-lg-0">
                                                <label style="font-weight: bold; margin-bottom: 5px;">Kdv Oranı</label>
                                                <input type="text" data-component='money-input' data-kt-element="kdv-data" onchange="TutarHesapla('Miktar_@(ID)','Fiyat_@(ID)','Tutar_@(ID)'); formatNumberWithSeparator('Miktar_@(ID)');" name="KdvOrani_@(ID)" id="KdvOrani_@(ID)" value="@(String.Format("{0:N2}", satir.KdvOrani))" class="form-control p-2" />
                                            </div>
                                        }
                                        @if (Model.KalemBilgileri.MiktarVarMi)
                                        {
                                            <div class="col-12 col-lg-1 d-flex flex-column mb-2 mb-lg-0">
                                                <label style="font-weight: bold; margin-bottom: 5px;">Miktar</label>
                                                <input type="text" data-component='money-input' onchange="TutarHesapla('Miktar_@(ID)','Fiyat_@(ID)','Tutar_@(ID)'); formatNumberWithSeparator('Miktar_@(ID)');" name="Miktar_@(ID)" id="Miktar_@(ID)" value="@(String.Format("{0:N2}", satir.Miktar))" class="form-control p-2" />
                                            </div>
                                        }
                                        @if (Model.KalemBilgileri.FiyatVarMi)
                                        {
                                            <div class="col-12 col-lg-2 d-flex flex-column mb-2 mb-lg-0">
                                                <label style="font-weight: bold; margin-bottom: 5px;">Fiyat</label>
                                                <input type="text" data-component='money-input' onchange="TutarHesapla('Miktar_@(ID)','Fiyat_@(ID)','Tutar_@(ID)'); formatNumberWithSeparator('Miktar_@(ID)');" name="Fiyat_@(ID)" id="Fiyat_@(ID)" value="@(String.Format("{0:N2}", satir.Fiyat))" class="form-control p-2" />
                                            </div>
                                        }
                                        @if (Model.KalemBilgileri.IskontoVarMi)
                                        {
                                            <div class="col-12 col-lg-1 d-flex flex-column mb-2 mb-lg-0">
                                                <label style="font-weight: bold; margin-bottom: 5px;">İskonto Oranı</label>
                                                <input type="text" data-component='money-input' data-kt-element="iskonto-data" onchange="TutarHesapla('Miktar_@(ID)','Fiyat_@(ID)','Tutar_@(ID)'); formatNumberWithSeparator('Miktar_@(ID)');" name="IskontoOrani1_@(ID)" id="IskontoOrani1_@(ID)" value="@(String.Format("{0:N2}", satir.IskontoOrani1))" class="form-control p-2" />
                                            </div>
                                        }
                                        @if (Model.KalemBilgileri.TutarVarMi)
                                        {
                                            <div class="col-12 col-lg-2 d-flex flex-column mb-2 mb-lg-0">
                                                <label style="font-weight: bold; margin-bottom: 5px;">Tutar</label>
                                                <input type="text" data-component='money-input' data-kt-element="tutar-data" name="Tutar_@(ID)" id="Tutar_@(ID)" value="@(String.Format("{0:N2}", satir.Tutar))" class="form-control p-2" readonly />
                                            </div>
                                        }
                                        <div style="height:50px;" class="col-12 col-lg-1 mt-8 pt-lg-0">
                                            <div>
                                                <button type="button" class="deleteBtn btn-sm" onclick="SatirSil('@(ID)')" data-ID2='@(ID)'>Sil</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4">
                        <button type="button" onclick="YeniSatirAc('DT', '1')" name="btnYeniSatir" id="btnYeniSatir" class="btn btn-primary btn-sm " style="width:150px;">+ Yeni Satır Aç</button>
                    </div>

                </form>


                <div class="offset-lg-10 col-lg-2 py-md-5 fw-bold text-gray-600 fs-5 ">
                    <div class=" d-flex align-items-center justify-content-between">
                        <div>Ara Toplam</div>
                        <div>
                            ₺<span data-kt-element="ara-toplam-tutari">
                                @if (Model.BelgeDto.Kalemler != null)
                                {
                                    <span>@(String.Format("{0:N2}", Model.BelgeDto.Kalemler.Select(m => m.Fiyat * m.Miktar).Sum()))</span>
                                }
                                else
                                {
                                    <span>0,00</span>
                                }
                            </span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div>İskonto Tutarı</div>
                        <div>
                            - ₺<span data-kt-element="iskonto-tutari">
                                @if (Model.BelgeDto.Kalemler != null)
                                {
                                    <span>@(String.Format("{0:N2}", Model.BelgeDto.Kalemler.Select(m => m.Fiyat * m.Miktar * m.IskontoOrani1 / 100).Sum()))</span>
                                }
                                else
                                {
                                    <span>0,00</span>
                                }
                            </span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div>KDV Tutarı</div>
                        <div>
                            ₺<span data-kt-element="kdv-tutari">
                                @if (Model.BelgeDto.Kalemler != null)
                                {
                                    <span>@(String.Format("{0:N2}", Model.BelgeDto.Kalemler.Select(m => (m.Fiyat * m.Miktar - (m.Fiyat * m.Miktar * m.IskontoOrani1 / 100)) * m.KdvOrani / 100).Sum()))</span>
                                }
                                else
                                {
                                    <span>0,00</span>
                                }
                            </span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div>Genel Toplam</div>
                        <div>
                            ₺<span data-kt-element="toplam-tutar">
                                @if (Model.BelgeDto.Kalemler != null)
                                {
                                    <span>@(String.Format("{0:N2}", Model.BelgeDto.Kalemler.Select(m => m.Fiyat * m.Miktar - (m.Fiyat * m.Miktar * m.IskontoOrani1 / 100) + ((m.Fiyat * m.Miktar - (m.Fiyat * m.Miktar * m.IskontoOrani1 / 100)) * m.KdvOrani / 100) ).Sum()))</span>
                                }
                                else
                                {
                                    <span>0,00</span>
                                }
                            </span>
                        </div>
                    </div>

                </div>

                <!--begin::Actions-->
                <div class="col-lg-12">
                    <div class="d-flex">

                        <a onclick="history.back()" class="btn btn-light me-3 btn-sm" data-kt-users-modal-action="cancel">Geri</a>

                        @if (ViewBag.IsDuzenleSayfasi != null && ViewBag.IsDuzenleSayfasi == true)
                        {
                            <form action="/@ViewBag.ControllerName/PdfOlustur" method="post">
                                <input type="hidden" name="Tip" value="@ViewBag.Tip" />
                                <input type="hidden" name="id" value="@Model.BelgeDto.ID" />
                                <button type="submit" class="btn btn-sm btn-success me-3 yazdir">
                                    <span class="indicator-label">Yazdır</span>
                                </button>
                            </form>
                        }

                        <button type="submit" class="btn btn-primary btn-sm" data-kt-users-modal-action="Kaydet">
                            <span class="indicator-label">Kaydet</span>

                        </button>
                    </div>
                </div>
                <!--end::Actions-->
                <!--end::Table-->
            </div>
            <!--end::Form-->
        </div>
        <!--end::Card body-->
        <!--begin::Sidebar-->
        <!--end::Sidebar-->
        <!--end::Card-->
    </div>
    <!--end::Content-->

</div>

<script>
    const belgeEkleCompenentValue = @Html.Raw(personJson);
    const duzenleSayfasiMi = @(ViewBag.IsDuzenleSayfasi ? "true" : "false");
 console.log(belgeEkleCompenentValue);

</script>