@using YKPortal.Models.Dto
@using System.Data
@model System.Data.DataSet
@{
    ViewBag.Title = "Görev Düzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";

    DataTable dtKullanicilar = ViewBag.Kullanicilar as DataTable;
    string KullaniciID = Request.Cookies["KullaniciID"].Value;

}


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Form-->
            @if (Convert.ToString(Model.Tables[0].Rows[0]["KayitYapanKullanici"]) == KullaniciID)
            {
                <form id="kt_modal_add_user_form" class="form" action="@Url.Action("GorevDuzenle","Gorev",null)" method="post" enctype="multipart/form-data">
                    <!--begin::Scroll-->
                    <div class="d-flex flex-column scroll-y px-5 px-lg-10  mt-10">
                        <input type="hidden" name="ID" value="@ViewBag.ID" />

                        <!--begin::Row Input group-->
                        <div class="row mb-7">
                            <!--begin::Input group-->
                            <div class="col-lg-8">
                                <!--begin::Label-->
                                <label for="Aciklama" class="fw-semibold fs-6 mb-2">Açıklama</label>
                                <!--end::Label-->
                                <!--begin::texarea-->
                                <textarea type="text" id="Aciklama" name="Aciklama" class="form-control p-2 mb-3 mb-lg-0">@(HttpUtility.HtmlDecode(Convert.ToString(Model.Tables[0].Rows[0]["Aciklama"])))</textarea>
                                <!--end::Input-->
                            </div>
                            <div class="col-lg-4">
                                <label for="GorevTipiID" class="form-label">Görev Tipi</label>
                                <select class="form-control p-2 rounded-1" data-control="select2" name="GorevTipiID" id="GorevTipiID"
                                        aria-label="Floating label select example">
                                    <option value="">Lütfen Seçim Yapınız</option>
                                    @foreach (GrupKoduDto gorevTipi in ViewBag.GorevTipleri)
                                    {
                                        <option @(Convert.ToString(Model.Tables[0].Rows[0]["GorevTipiID"]) == gorevTipi.ID ? "selected" : "") value="@gorevTipi.ID">@gorevTipi.Deger</option>
                                    }
                                </select>
                                <br /><br /><br />
                                Durumu : @Convert.ToString(Model.Tables[0].Rows[0]["Durumu"])
                            </div>
                        </div>
                        <!--end::Input group-->
                        <div class="row">
                            <!--begin::Input group-->
                            <div class="col-lg-2">
                                <!--begin::Label-->
                                <label for="BaslangicTarihi" class=" fw-semibold fs-6 mb-2">Görev Tarihi</label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input type="datetime-local" name="BaslangicTarihi" id="BaslangicTarihi" value="@(DateTime.Parse(Convert.ToString(Model.Tables[0].Rows[0]["BaslangicTarihi"])).ToString("yyyy-MM-dd HH:mm"))" class="form-control p-2 mb-3 mb-lg-0" />
                                <!--end::Input-->
                            </div>
                            <!--end::Input group-->
                            <div class="col-lg-6">
                                <div class="d-flex justify-content-end align-items-center mt-10">
                                    <div class=" ms-16">
                                        <input class="form-check-input" type="radio" name="periyot" id="TekSeferlik" value="T"
                                               @(Convert.ToString(Model.Tables[0].Rows[0]["Periyot"]) == "T" ? "checked" : "")>
                                        <label class="form-check-label" for="TekSeferlik">
                                            Tek Seferlik
                                        </label>
                                    </div>
                                    <div class=" ms-16">
                                        <input class="form-check-input" type="radio" name="periyot" id="periyotGunluk" value="G"
                                               @(Convert.ToString(Model.Tables[0].Rows[0]["Periyot"]) == "G" ? "checked" : "")>
                                        <label class="form-check-label" for="periyotGunluk">
                                            Günlük
                                        </label>
                                    </div>
                                    <div class=" ms-16">
                                        <input class="form-check-input" type="radio" name="periyot" id="periyotHaftalik" value="H"
                                               @(Convert.ToString(Model.Tables[0].Rows[0]["Periyot"]) == "H" ? "checked" : "")>
                                        <label class="form-check-label" for="periyotHaftalik">
                                            Haftalık
                                        </label>
                                    </div>
                                    <div class=" ms-16">
                                        <input class="form-check-input" type="radio" name="periyot" id="periyotYillik" value="A"
                                               @(Convert.ToString(Model.Tables[0].Rows[0]["Periyot"]) == "A" ? "checked" : "")>

                                        <label class="form-check-label" for="periyotYillik">
                                            Aylık
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <br /><br />
                                <input type="file" name="file" id="file" value="" multiple />
                            </div>
                            <div class="col-lg-12">
                                <label for="Kullanicilar">Görev atanacak kullanıcılar</label>
                                <select id="Kullanicilar" name="Kullanicilar" class="form-control" style="height:200px;" multiple>
                                    @foreach (DataRow drKullanici in dtKullanicilar.Rows)
                                    {
                                        <option value="@drKullanici["ID"]" @(Model.Tables[1].Select(" KullaniciID = '" + drKullanici["ID"] + "' ").Count() > 0 ? "selected" : "")>@drKullanici["Ad"] @drKullanici["Soyad"] - @drKullanici["Aciklama1"]</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <!--begin::Actions-->
                        <div class="pt-10">
                            <a href="@Url.Content("~/Gorev/GorevListe")" class="btn btn-light btn-sm me-3" data-kt-users-modal-action="cancel">Geri</a>
                            <button type="submit" class="btn btn-primary btn-sm" data-kt-users-modal-action="Duzenle">
                                <span class="indicator-label">Düzenle</span>
                            </button>
                        </div>

                        <!--end::Actions-->
                    </div>

                </form>

            }

            @if (Convert.ToString(Model.Tables[0].Rows[0]["KayitYapanKullanici"]) != KullaniciID)
            {
                <br />
                <h2 style="text-align:center;">Kaydı Oluşturan : @(Model.Tables[0].Rows[0]["KaydiAcan"])  - Kayıt Tarihi : @(Convert.ToDateTime(Model.Tables[0].Rows[0]["KayitTarihi"]).ToString("dd-MM-yyyy HH:mm"))</h2>
                <table class="form-control tab-content" style="background-color:#226faa; color:white;">
                    <tr>
                        <td style="vertical-align:top;width:140px;">Başlangıç Tarihi</td>
                        <td style="vertical-align:top;padding-left:5px;padding-right:5px;">:</td>
                        <td><strong>@Convert.ToDateTime(Model.Tables[0].Rows[0]["BaslangicTarihi"]).ToString("dd-MM-yyyy HH:mm")</strong></td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top; width: 140px;">Görev Tipi</td>
                        <td style="vertical-align: top; padding-left: 5px; padding-right: 5px;">:</td>
                        <td><strong>@Convert.ToString(Model.Tables[0].Rows[0]["GorevtipiAdi"])</strong></td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top; width: 140px;">Durumu</td>
                        <td style="vertical-align: top; padding-left: 5px; padding-right: 5px;">:</td>
                        <td><strong>@Convert.ToString(Model.Tables[0].Rows[0]["Durumu"])</strong></td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top; width: 140px;">Atanan Kullanıcılar</td>
                        <td style="vertical-align: top; padding-left: 5px; padding-right: 5px;">:</td>
                        <td>
                            @foreach (DataRow kullanici in Model.Tables[1].Rows)
                            {
                                <span>@kullanici["Isim"]</span><br />
                            }
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top; width: 140px;">Açıklama</td>
                        <td style="vertical-align: top; padding-left: 5px; padding-right: 5px;">:</td>
                        <td>@HttpUtility.HtmlDecode(Convert.ToString(Model.Tables[0].Rows[0]["Aciklama"]))</td>
                    </tr>
                </table>

            }

            <div style="text-align:center;">
                @foreach (DataRow resim in Model.Tables[3].Rows)
                {
                    <div style="float: left;width:150px;">
                        @if (Convert.ToString(resim["Dosya"]).EndsWith(".jpg") ||
                             Convert.ToString(resim["Dosya"]).EndsWith(".jpeg") ||
                             Convert.ToString(resim["Dosya"]).EndsWith(".png") ||
                             Convert.ToString(resim["Dosya"]).EndsWith(".gif")
                            )
                        {
                            <img src="@Url.Content("~/Uploads/Dosyalar/"+resim["Dosya"])" style="height:150px;margin:3px;" alt="@(resim["Dosya"])" />

                        }
                        else
                        {
                            @resim["Isim"]
                        }
                        <br />
                        <a href="@Url.Content("~/Uploads/Dosyalar/"+resim["Dosya"])" target="_blank">İndir</a>

                        @if (Convert.ToString(Model.Tables[0].Rows[0]["KayitYapanKullanici"]) == KullaniciID)
                        {
                            <a href="@Url.Content("~/Gorev/DosyaSil/?GorevID="+resim["KayitID"]+"&KayitID="+resim["ID"])" onclick="return confirm('Silmek istediğinizden emin misiniz?')">Sil</a>
                        }
                    </div>
                }
            </div>

            <div style="clear:both;"></div>
            @if (Model.Tables[2].Rows.Count > 0)
            {
                <table class="form-control tab-content" style="background-color: #398439; color: white;">
                    <thead>
                        <tr>
                            <th style="padding: 5px;"><strong>KULLANICI</strong></th>
                            <th style="padding: 5px;"><strong>TARİH</strong></th>
                            <th style="padding: 5px;"><strong>AÇIKLAMA</strong></th>
                            <th style="padding: 5px;"><strong>Dosya</strong></th>
                        </tr>
                        <tr>
                            <th colspan="3"><hr /></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow sonuc in Model.Tables[2].Rows)
                        {
                            <tr>
                                <td style="padding: 5px; vertical-align:top;">@sonuc["KaydiKapatan"]</td>
                                <td style="padding: 5px; vertical-align: top;">@Convert.ToDateTime(sonuc["TamamlamaTarihi"]).ToString("dd-MM-yyyy HH:mm")</td>

                                <td style="padding: 5px; vertical-align: top;">
                                    @HttpUtility.HtmlDecode(Convert.ToString(sonuc["Aciklama"]))
                                    <hr />
                                </td>
                                <td style="padding:5px;vertical-align:top;">
                                    @if (Convert.ToString(sonuc["Dosya"]).EndsWith(".jpg") ||
                                 Convert.ToString(sonuc["Dosya"]).EndsWith(".jpeg") ||
                                 Convert.ToString(sonuc["Dosya"]).EndsWith(".png") ||
                                 Convert.ToString(sonuc["Dosya"]).EndsWith(".gif")
                                )
                                    {
                                        <img src="@Url.Content("~/Uploads/Dosyalar/"+sonuc["Dosya"])" style="height:150px;margin:3px;" alt="@(sonuc["Dosya"])" />

                                        <br />
                                        <a href="@Url.Content("~/Uploads/Dosyalar/"+sonuc["Dosya"])" target="_blank">İndir</a>
                                    }

                                </td>
                            </tr>
                        }
                        @foreach (DataRow sonuc in Model.Tables[1].Rows)
                        {
                            if (Model.Tables[2].Select(" KullaniciID = '" + sonuc["KullaniciID"] + "' ").Length == 0)
                            {
                                <tr style="padding:5px;color:white;">
                                    <td style="padding: 5px; vertical-align:top;">@sonuc["Isim"]</td>
                                    <td></td>
                                    <td>HENÜZ CEVAP GELMEDİ</td>
                                    <td></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
            @if (Convert.ToString(Model.Tables[0].Rows[0]["Durumu"]) != "Onaylandı")
            {
                <form id="" class="" action="@Url.Action("GorevTamamla","Gorev",new { GorevID = Model.Tables[0].Rows[0]["ID"] })" method="post" enctype="multipart/form-data">
                    <!--begin::Scroll-->

                    <div class="d-flex flex-column scroll-y px-5 px-lg-10  mt-10">
                        <h3>GÖREV SONUÇLANDIRMA</h3>

                        <!--begin::Row Input group-->
                        <div class="row mb-7">
                            <!--begin::Input group-->
                            <div class="col-lg-12">
                                <!--begin::Label-->
                                <label for="Aciklama" class="fw-semibold fs-6 mb-2">Açıklama</label>
                                <!--end::Label-->
                                <!--begin::texarea-->
                                <textarea type="text" id="Aciklama" name="Aciklama" class="form-control" placeholder=""></textarea>
                                <!--end::Input-->
                            </div>
                        </div>
                        <!--end::Input group-->
                        <div class="row">

                            <div class="col-lg-3">
                                <!--begin::Label-->
                                <label for="Aciklama" class="fw-semibold fs-6 mb-2">Durumu</label>
                                <!--end::Label-->
                                <!--begin::texarea-->
                                <select id="Durumu" name="Durumu" class="form-control">

                                    <option value="Cevaplandı" selected>Cevaplandı</option>
                                    <option value="Tamamlandı">Tamamlandı</option>
                                    @if (Convert.ToString(Model.Tables[0].Rows[0]["KayitYapanKullanici"]) == KullaniciID)
                                    {
                                        <option value="Onaylandı">Onaylandı</option>
                                    }
                                </select>
                                <!--end::Input-->
                            </div>
                            <!--begin::Input group-->
                            <div class="col-lg-3">
                                <!--begin::Label-->
                                <label for="BaslangicTarihi" class=" fw-semibold fs-6 mb-2">Tarih</label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input type="datetime-local" name="TamamlamaTarihi" id="TamamlamaTarihi" value="@(DateTime.Now.ToString("yyyy-MM-dd HH:mm"))" class="form-control p-2 mb-3 mb-lg-0" />
                                <!--end::Input-->
                            </div>

                            <div class="col-lg-3">
                                <br /><br />
                                <input type="file" name="file" id="file" value="" multiple />
                            </div>
                        </div>
                        <!--begin::Actions-->
                        <div class="pt-10">
                            <a href="@Url.Content("~/Gorev/GorevListe")" class="btn btn-light btn-sm me-3" data-kt-users-modal-action="cancel">Geri</a>
                            <button type="submit" class="btn btn-primary btn-sm" data-kt-users-modal-action="Duzenle">
                                <span class="indicator-label">Görevi Sonuçlandır</span>
                            </button>
                        </div>

                        <!--end::Actions-->
                    </div>

                </form>

            }
            else
            {
                <br />
                <a href="@Url.Content("~/Gorev/GorevListe")" class="btn btn-light btn-sm me-3" data-kt-users-modal-action="cancel">Geri</a>
            }
        </div>
        <!--begin::Row Input group-->
    </div>
    <!--end::Form-->
</div>

<!--end::Scroll-->





@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/Tema/plugins/custom/tinymce/tinymce.min.js"></script>


    <script>

        $(document).ready(function () {
            var AciklamaEditorOptions = {
                selector: "#Aciklama",
                height: 200,
                promotion: false
            };

            if (typeof KTThemeMode !== 'undefined') { // KTThemeMode varsa kontrol et
                if (KTThemeMode.getMode() === "dark") {
                    AciklamaEditorOptions["skin"] = "oxide-dark";
                    AciklamaEditorOptions["content_css"] = "dark";
                }
            }

            // tinyMCE init
            tinymce.init(AciklamaEditorOptions);


        });

    </script>

}
