@using System.Data
@model System.Data.DataTable
@{
    ViewBag.Title = "Alt Menü";
    Layout = "~/Views/Shared/_LayoutSade.cshtml";
    string KullaniciAdi = HttpUtility.UrlDecode(Request.Cookies["KullaniciAdi"].Value);

}

<div style="margin-left:auto;margin-right:auto;text-align:center;">
    <a href="/Crm2/Crm2/AnaSayfa" style="color: white;float:left;margin:0px;">
        <div class="tum-kenar-oval"
             style="width: 150px; height: 100px; text-align: center; background-color: #9F1D20; color: white; padding: 0px; font-size: 15px; padding-top: 10px; ">
            <img src="@Url.Content("~/Tema/media/flags/AnaSayfa.png")" style="height:50px;" />
            <br />
            Geri
        </div>
    </a>
    @if (ViewBag.Menu == "Tanimlar")
    {

        <a href="/Crm2/Crm2/GrupKodu?grupKodu=Crm2_ProjeTipi" style="color: white;float:left;margin:0px;">
            <div class="tum-kenar-oval"
                 style="width: 150px; height: 100px; text-align: center; background-color: #9F1D20; color: white; padding: 0px; font-size: 15px; padding-top: 10px;">
                <img src="@Url.Content("~/Tema/media/flags/Yeni.png")" style="height:50px;" />
                <br />
                Proje Tipleri
            </div>
        </a>
        <a href="/Crm2/Crm2/GrupKodu?grupKodu=Crm2_Gorevler" style="color: white;float:left;margin:0px;">
            <div class="tum-kenar-oval"
                 style="width: 150px; height: 100px; text-align: center; background-color: #9F1D20; color: white; padding: 0px; font-size: 15px; padding-top: 10px;">
                <img src="@Url.Content("~/Tema/media/flags/Yeni.png")" style="height:50px;" />
                <br />
                Görevler
            </div>
        </a>
        <a href="/Crm2/Crm2/GrupKodu?grupKodu=Crm2_UlasmaSekli" style="color: white;float:left;margin:0px;">
            <div class="tum-kenar-oval"
                 style="width: 150px; height: 100px; text-align: center; background-color: #9F1D20; color: white; padding: 0px; font-size: 15px; padding-top: 10px;">
                <img src="@Url.Content("~/Tema/media/flags/Yeni.png")" style="height:50px;" />
                <br />
                Ulaşma Şek.
            </div>
        </a>
        <a href="/Crm2/Crm2/GrupKodu?grupKodu=Il" style="color: white;float:left;margin:0px;">
            <div class="tum-kenar-oval"
                 style="width: 150px; height: 100px; text-align: center; background-color: #9F1D20; color: white; padding: 0px; font-size: 15px; padding-top: 10px;">
                <img src="@Url.Content("~/Tema/media/flags/Yeni.png")" style="height:50px;" />
                <br />
                İller
            </div>
        </a>
        <a href="/Crm2/Crm2/Kullanicilar?grupKodu=Il" style="color: white;float:left;margin:0px;">
            <div class="tum-kenar-oval"
                 style="width: 150px; height: 100px; text-align: center; background-color: #9F1D20; color: white; padding: 0px; font-size: 15px; padding-top: 10px;">
                <img src="@Url.Content("~/Tema/media/flags/Yeni.png")" style="height:50px;" />
                <br />
                Kullanicilar
            </div>
        </a>
    }
    else if (ViewBag.Menu == "Havuz")
    {
        <a href="/Crm2/Crm2/Cariler/?Tur=Havuzum" style="color: white;float:left;margin:0px;">
            <div class="tum-kenar-oval"
                 style="width: 150px; height: 100px; text-align: center; background-color: #9F1D20; color: white; padding: 0px; font-size: 15px; padding-top: 10px;">
                <img src="@Url.Content("~/Tema/media/flags/Uretim_Is_Emirleri.png")" style="height:50px;" />
                <br />
                Havuzum (@ViewBag.Havuzum)
            </div>
        </a>
        <a href="/Crm2/Crm2/Cariler/?Tur=BosHavuz" style="color: white;float:left;margin:0px;">
            <div class="tum-kenar-oval"
                 style="width: 150px; height: 100px; text-align: center; background-color: #9F1D20; color: white; padding: 0px; font-size: 15px; padding-top: 10px;">
                <img src="@Url.Content("~/Tema/media/flags/Uretim_Recete.png")" style="height:50px;" />
                <br />
                Boş Havuz (@ViewBag.BosHavuz)
            </div>
        </a>
        <a href="/Crm2/Crm2/Cariler/?Tur=SozlesmeHavuz" style="color: white;float:left;margin:0px;">
            <div class="tum-kenar-oval"
                 style="width: 150px; height: 100px; text-align: center; background-color: #9F1D20; color: white; padding: 0px; font-size: 15px; padding-top: 10px;">
                <img src="@Url.Content("~/Tema/media/flags/Uretim_Stok_Kontrol_Onayi.png")" style="height:50px;" />
                <br />
                Söz. Havuz (@ViewBag.Sozlesme)
            </div>
        </a>

        <a href="/Crm2/Crm2/Cariler2/?Tur=Tumu&Kullanici=True" style="color: white;float:left;margin:0px;">
            <div class="tum-kenar-oval"
                 style="width: 150px; height: 100px; text-align: center; background-color: #9F1D20; color: white; padding: 0px; font-size: 15px; padding-top: 10px;">
                <img src="@Url.Content("~/Tema/media/flags/Uretim_Stok_Kontrol_Onayi.png")" style="height:50px;" />
                <br />
                Tüm Havuz (@ViewBag.Tumu)
            </div>
        </a>
        if (ViewBag.KullaniciAciklama2 == "admin")
        {
            <a href="/Crm2/Crm2/Cariler/?Tur=Gun90" style="color: white;float:left;margin:0px;">
                <div class="tum-kenar-oval"
                     style="width: 150px; height: 100px; text-align: center; background-color: #9F1D20; color: white; padding: 0px; font-size: 15px; padding-top: 10px;">
                    <img src="@Url.Content("~/Tema/media/flags/Uretim_Stok_Kontrol_Onayi.png")" style="height:50px;" />
                    <br />
                    +90 Gün (@ViewBag.Gun90)
                </div>
            </a>
        }
    }
</div>


@section Styles {

    <style>
        .tum-kenar-oval {
            border: 2px solid #a1a1a1;
            padding: 10px 40px;
            background: green;
            width: 200px;
            height: 100px;
            border-radius: 15px;
            color: white;
            margin: 20px;
            float: left;
        }
    </style>
}
@section scripts {



}

