@using System.Data
@model System.Data.DataTable
@{
    ViewBag.Title = "Kayıt detayı";
    Layout = "~/Views/Shared/_LayoutSade.cshtml";
    string KullaniciAdi = HttpUtility.UrlDecode(Request.Cookies["KullaniciAdi"].Value);
    string KullaniciID = HttpUtility.UrlDecode(Request.Cookies["KullaniciID"].Value);

    DataTable dtProjeTipi = ViewBag.dtProjeTipi as DataTable;
    DataTable dtGorevler = ViewBag.dtGorevler as DataTable;
    DataTable dtUlasimSekli = ViewBag.dtUlasimSekli as DataTable;
    DataTable dtIl = ViewBag.dtIl as DataTable;
    DataTable dtDosyalar = ViewBag.dtDosyalar as DataTable;
    DataTable dtDosyalarSozlesme = ViewBag.dtDosyalarSozlesme as DataTable;
    DataTable dtNotlar = ViewBag.dtNotlar as DataTable;

    DateTime KabulTarihi = Convert.ToDateTime(Convert.ToDateTime(Model.Rows[0]["KabulTarihi"]).ToString("yyyy-MM-dd"));
    DateTime Tarih = DateTime.Today;
    double gunFarki = Tarih.Subtract(KabulTarihi).TotalDays;
}

<div style="width:100%;font-size:15px;">


    <input type="hidden" name="ID" id="ID" value="@Model.Rows[0]["ID"]" class="form-control" required />
    <table style="width:80%;margin-left:auto;margin-right:auto;">
        <tr>
            <td>
                <a href="@Url.Action("AnaSayfa","Crm2", new { Area = "Crm2" })" class="btn btn-primary" style="font-size:20px;">Ana Sayfa</a>
                @if (Convert.ToBoolean(Model.Rows[0]["Sozlesme"]) == false)
                {
                    if (Convert.ToString(Model.Rows[0]["AlanKullanici"]).Trim().Length > 0)
                    {

                        <a href="@Url.Action("Sozlesme", "Crm2", new { Area = "Crm2", KayitID = Model.Rows[0]["ID"] })" class="btn btn-success" style="font-size:20px;" onclick="return confirm('Kaydı sözleşmeye göndermek istediğinizden emin misiniz?')">Sözleşmeye Gönder</a>
                        if (gunFarki > 90)
                        {
                            <a href="@Url.Action("Reddet", "Crm2", new { Area = "Crm2", KayitID = Model.Rows[0]["ID"] })" class="btn btn-danger" style="font-size:20px;" onclick="return confirm('Kaydı boş havuzuna göndermek istediğinizden emin misiniz?')">Boş Havuzuna Gönder</a>
                        }
                        else
                        {
                            <br />
                            <span style="color:red;"><strong>90 gün geçmeden boş havuzunaa gönderemezsiniz! (@(gunFarki) gündür sizde)</strong></span>
                        }
                    }
                    if (Convert.ToString(Model.Rows[0]["AlanKullanici"]).Trim().Length == 0)
                    {
                        if (Convert.ToString(Model.Rows[0]["VerenKullanici"]) == KullaniciID && gunFarki <= 90)
                        {
                            <br />
                            <span style="color:red;"><strong>90 gün geçmeden havuzunuza alamazsınız! (@(gunFarki) gündür boşta)</strong></span>

                        }
                        else
                        {
                            <a href="@Url.Action("KabulEt", "Crm2", new { Area = "Crm2", KayitID = Model.Rows[0]["ID"] })" class="btn btn-success" style="font-size:20px;" onclick="return confirm('Kaydı kabul etmek istediğinizden emin misiniz?')">Havuzuma Al</a>

                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td><strong>Bayi Adı</strong></td>
        </tr>
        <tr>
            <td><input type="text" name="Bayi" id="Bayi" value="@Model.Rows[0]["Bayi"]" class="form-control" readonly /></td>
        </tr>
        <tr>
            <td>Tarih</td>
        </tr>
        <tr>
            <td><input type="date" name="Tarih" id="Tarih" value="@Convert.ToDateTime(Model.Rows[0]["Tarih"]).ToString("yyyy-MM-dd")" readonly class="form-control" /></td>
        </tr>
        <tr>
            <td>Proje Tipi</td>
        </tr>
        <tr>
            <td>
                <select class="form-control" name="ProjeTipi" id="ProjeTipi" readonly>
                    <option value="">Seçim yapınız...</option>
                    @foreach (DataRow satir in dtProjeTipi.Rows)
                    {
                        <option value="@satir["ID"]" @(Convert.ToString(Model.Rows[0]["ProjeTipi"]) == Convert.ToString(satir["ID"]) ? "selected" : "")>@satir["Deger"]</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>Blok Sayısı</td>
        </tr>
        <tr>
            <td><input type="text" name="BlokSayisi" id="BlokSayisi" value="@Model.Rows[0]["BlokSayisi"]" class="form-control" readonly /></td>
        </tr>
        <tr>
            <td>Miktar</td>
        </tr>
        <tr>
            <td><input type="number" name="Miktar" id="Miktar" value="@Model.Rows[0]["Miktar"]" class="form-control" readonly /></td>
        </tr>
        <tr>
            <td>Ünvan</td>
        </tr>
        <tr>
            <td><input type="text" name="Unvan" id="Unvan" value="@Model.Rows[0]["Unvan"]" class="form-control" readonly /></td>
        </tr>
        <tr>
            <td>Adı</td>
        </tr>
        <tr>
            <td><input type="text" name="Ad" id="Ad" value="@Model.Rows[0]["Ad"]" class="form-control" readonly /></td>
        </tr>
        <tr>
            <td>Soyadı</td>
        </tr>
        <tr>
            <td><input type="text" name="Soyad" id="Soyad" value="@Model.Rows[0]["Soyad"]" class="form-control" readonly /></td>
        </tr>
        <tr>
            <td>Telefonu 1</td>
        </tr>
        <tr>
            <td><input type="text" name="Telefon1" id="Telefon1" value="@Model.Rows[0]["Telefon1"]" class="form-control" readonly /></td>
        </tr>
        <tr>
            <td>Telefonu 2</td>
        </tr>
        <tr>
            <td><input type="text" name="Telefon2" id="Telefon2" value="@Model.Rows[0]["Telefon2"]" class="form-control" readonly /></td>
        </tr>
        <tr>
            <td>Görevi</td>
        </tr>
        <tr>
            <td>
                <select class="form-control" name="Gorev" id="Gorev" readonly>
                    <option value="">Seçim yapınız...</option>
                    @foreach (DataRow satir in dtGorevler.Rows)
                    {
                        <option value="@satir["ID"]" @(Convert.ToString(Model.Rows[0]["Gorev"]) == Convert.ToString(satir["ID"]) ? "selected" : "")>@satir["Deger"]</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>Ulaşma Şekli</td>
        </tr>
        <tr>
            <td>
                <select class="form-control" name="UlasimSekli" id="UlasimSekli" readonly>
                    <option value="">Seçim yapınız...</option>
                    @foreach (DataRow satir in dtUlasimSekli.Rows)
                    {
                        <option value="@satir["ID"]" @(Convert.ToString(Model.Rows[0]["UlasimSekli"]) == Convert.ToString(satir["ID"]) ? "selected" : "")>@satir["Deger"]</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>Projenin Adı</td>
        </tr>
        <tr>
            <td><input type="text" name="ProjeAdi" id="ProjeAdi" value="@Model.Rows[0]["ProjeAdi"]" class="form-control" readonly /></td>
        </tr>
        <tr>
            <td>İl</td>
        </tr>
        <tr>
            <td>
                <select class="form-control" name="Il" id="Il" readonly>
                    @foreach (DataRow satir in dtIl.Rows)
                    {
                        <option value="@satir["ID"]" @( (Convert.ToString(Model.Rows[0]["Il"]) == Convert.ToString(satir["ID"])) ? "selected" : "")>@satir["Deger"]</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>İlçe</td>
        </tr>
        <tr>
            <td><input type="text" name="Ilce" id="Ilce" value="@Model.Rows[0]["Ilce"]" class="form-control" readonly /></td>
        </tr>
        <tr>
            <td>Mahallesi</td>
        </tr>
        <tr>
            <td><input type="text" name="Muhalle" id="Mahalle" value="@Model.Rows[0]["Mahalle"]" class="form-control" readonly /></td>
        </tr>
        <tr>
            <td>Ada</td>
        </tr>
        <tr>
            <td><input type="text" name="Ada" id="Ada" value="@Model.Rows[0]["Ada"]" class="form-control" readonly /></td>
        </tr>
        <tr>
            <td>Parsel</td>
        </tr>
        <tr>
            <td><input type="text" name="Parsel" id="Parsel" value="@Model.Rows[0]["Parsel"]" class="form-control" readonly /></td>
        </tr>
        <tr>
            <td>Portal Numarası</td>
        </tr>
        <tr>
            <td><input type="text" name="PortalNumarasi" id="PortalNumarasi" value="@Model.Rows[0]["PortalNumarasi"]" class="form-control" readonly /></td>
        </tr>
        <tr>
            <td>Fotoğraf</td>
        </tr>
        <tr>
            <td>
                @if (dtDosyalar != null)
                {
                    foreach (DataRow item in dtDosyalar.Rows)
                    {
                        <div>
                            <a href="@Url.Content("~/Uploads/Dosyalar/" + item["Dosya"])" target="_blank">
                                <img src="@Url.Content("~/Uploads/Dosyalar/" + item["Dosya"])" alt="" style="height:100px;float:left;margin-right:5px;" />
                            </a>
                        </div>
                    }
                }
            </td>
        </tr>
        <tr>
            <td>Sonuç Tarihi</td>
        </tr>
        <tr>
            <td>
                @if (Model.Rows[0]["SonucTarihi"] == DBNull.Value)
                {
                    <input type="date" name="SonucTarihi" id="SonucTarihi" value="" class="form-control" readonly />
                }
                else
                {
                    <input type="date" name="SonucTarihi" id="SonucTarihi" value="@Convert.ToDateTime(Model.Rows[0]["SonucTarihi"]).ToString("yyyy-MM-dd")" class="form-control" readonly />
                }

            </td>
        </tr>
        @if (Convert.ToBoolean(Model.Rows[0]["Sozlesme"]) == true)
        {
            <tr>
                <td>
                    <h2>Sözleşme Belgeleri Kaydı</h2>
                </td>
            </tr>
            <tr>
                <td>
                    @if (dtDosyalarSozlesme != null)
                    {
                        foreach (DataRow item in dtDosyalarSozlesme.Rows)
                        {
                            <div>
                                <a href="@Url.Content("~/Uploads/Dosyalar/" + item["Dosya"])" target="_blank">
                                    <img src="@Url.Content("~/Uploads/Dosyalar/" + item["Dosya"])" alt="" style="height:100px;float:left;margin-right:5px;" />
                                </a>
                            </div>
                        }
                    }
                </td>
            </tr>
            <tr>
                <td><input type="file" name="Resim" id="Resim" value="" class="form-control" /></td>
            </tr>
            <tr>
                <td><input type="file" name="Resim2" id="Resim2" value="" class="form-control" /></td>
            </tr>
            <tr>
                <td><input type="file" name="Resim3" id="Resim3" value="" class="form-control" /></td>
            </tr>
            <tr>
                <td><input type="file" name="Resim4" id="Resim4" value="" class="form-control" /></td>
            </tr>
            <tr>
                <td><input type="file" name="Resim5" id="Resim5" value="" class="form-control" /></td>
            </tr>
            <tr>
                <td>
                    <input type="button" name="name" value="Sözleşme Belgelerini Kaydet" class="btn btn-success" onclick="Kaydet();" style="font-size:25px;" />
                </td>
            </tr>

        }
        <tr>
            <td>
                <hr />
                <h2>NOTLAR</h2>
            </td>
        </tr>
        <tr>
            <td>
                @if (Convert.ToString(Model.Rows[0]["AlanKullanici"]) == KullaniciID)
                {
                    <form action="@Url.Action("NotEkle", "Crm2", new { Area = "Crm2", KayitID = Model.Rows[0]["ID"] })" method="post">
                        <label for="Aciklama">Not</label>
                        <input type="text" name="Aciklama" id="Aciklama" value="" />
                        <input type="submit" name="name" value="Kaydet" />
                    </form>
                }
                else
                {
                    <span>Yeni not eklemek için kayıt sizin üzerinizde olması gerekiyor!</span>
                }
                <hr />
            </td>
        </tr>
        @foreach (DataRow item in dtNotlar.Rows)
        {
            <tr>
                <td>
                    <p><strong>@item["Aciklama"]</strong></p>
                    <p>
                        @item["Kullanici"] / @Convert.ToDateTime(item["KayitTarihi"]).ToString("dd-MM-yyyy HH:mm")
                    </p>
                    <hr />
                </td>
            </tr>
        }
    </table>

</div>


@section Styles {




}
@section scripts {

    <script>

        function Kaydet() {

            var formData = new FormData();
            formData.append('ID', $("#ID").val());
            formData.append('Resim', $('#Resim')[0].files[0]);
            formData.append('Resim2', $('#Resim2')[0].files[0]);
            formData.append('Resim3', $('#Resim3')[0].files[0]);
            formData.append('Resim4', $('#Resim4')[0].files[0]);
            formData.append('Resim5', $('#Resim5')[0].files[0]);

            $.ajax({
                type: "POST",
                url: '/Crm2/Crm2/SozlesmeYukle',
                data: formData,
                dataType: "json",
                enctype: 'multipart/form-data',
                async: false,
                contentType: false,
                processData: false,
                //contentType: "application/json; charset=utf-8",
                //dataFilter: function (data) { return data; },
                success: function (data) {
                    if (data.SonucKodu == "1") {

                        Swal.fire({
                            position: "center",
                            icon: "success",
                            title: data.Aciklama,
                            showConfirmButton: true,
                            //timer: 3000
                        });
                        setTimeout(() => window.location.href = '@Url.Action("AnaSayfa2", "Crm2", new { Area = "Crm2", Menu = "Havuz" })', 2000);


                    } else {
                        Swal.fire({
                            position: "center",
                            icon: "error",
                            title: data.Aciklama,
                            showConfirmButton: true,
                            //timer: 3000
                        });
                        return;
                    }
                },
                error: function (msg) {

                    Swal.fire({
                        position: "center",
                        icon: "error",
                        title: msg,
                        showConfirmButton: false,
                        timer: 1500
                    });
                    return;
                }
            });

        }
    </script>

}

