@{
    string UyelikIsim = HttpUtility.UrlDecode(Request.Cookies["UyelikIsim"].Value);
    string KullaniciAdi = HttpUtility.UrlDecode(Request.Cookies["KullaniciAdi"].Value);
    string Isim = HttpUtility.UrlDecode(Request.Cookies["Isim"].Value);
    string Resim = HttpUtility.UrlDecode(Request.Cookies["Resim"].Value);
    string KullaniciID = HttpUtility.UrlDecode(Request.Cookies["KullaniciID"].Value);
}
<!DOCTYPE html>
<html lang="tr">
<!--begin::Head-->
<head>
    <title>@ViewBag.Title - YK Yazılım</title>
    <meta charset="utf-8" />
    <meta name="description" content="YK YAZILIM ERP - Siz hayal edin biz yazalım." />
    <meta name="keywords" content="yk yazılım, ykyazılım, muhasebe, erp, stok, cari, kasa, fatura, efatura, irsaliye, sipariş, teklif, crm, üretim, müşteri, yazılım" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="YK YAZILIM" />
    <meta property="og:url" content="https://keenthemes.com/metronic" />
    <meta property="og:site_name" content="YK YAZILIM" />
    <link rel="canonical" href="http://index.html" />
    <link rel="canonical" href="http://authentication/layouts/corporate/sign-in.html" />
    <link rel="apple-touch-icon" sizes="57x57" href="/Tema/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/Tema/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Tema/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Tema/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Tema/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Tema/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Tema/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Tema/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/Tema/favicons/apple-icon-180x180.png">
    @*<link rel="icon" type="image/png" sizes="192x192" href="/Tema/favicons/android-icon-192x192.png">*@
    <link rel="icon" type="image/png" sizes="32x32" href="/Tema/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/Tema/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Tema/favicons/favicon-16x16.png">
    @*<link rel="manifest" href="/Tema/favicons/manifest.json">*@
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/Tema/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!--begin::Fonts(mandatory for all pages)-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Vendor Stylesheets(used for this page only)-->
    <link href="~/Tema/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/Tema/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Vendor Stylesheets-->
    <!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
    <link href="~/Tema/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/Tema/css/style.bundle.css" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", required: false)
    <link href="/Tema/css/override.css" rel="stylesheet" type="text/css" />
    <!--end::Global Stylesheets Bundle-->

    <script type="text/javascript">

        function IDGuidOlustur() {
            return "10000000-1000-4000-8000-100000000000".replace(/[018]/g, c =>
                (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
            );
        }

        function TutarKontroluYap(entity) {
            $(entity).val(entity.value.replace(",", "."));
        }
    </script>

    <script>// Frame-busting to prevent site from being loaded within a frame without permission (click-jacking) if (window.top != window.self) { window.top.location.replace(window.self.location.href); }</script>
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="aside-enabled">
    <!--begin::Theme mode setup on page load-->
    <script>var defaultThemeMode = "light"; var themeMode; if (document.documentElement) { if (document.documentElement.hasAttribute("data-bs-theme-mode")) { themeMode = document.documentElement.getAttribute("data-bs-theme-mode"); } else { if (localStorage.getItem("data-bs-theme") !== null) { themeMode = localStorage.getItem("data-bs-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-bs-theme", themeMode); }</script>
    <!--end::Theme mode setup on page load-->
    <!--begin::Main-->
    <!--begin::Root-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Page-->
        <div class="page d-flex flex-row flex-column-fluid">

            <!--begin::Aside-->
            <div id="kt_aside" class="aside" data-kt-drawer="true" data-kt-drawer-direction="end" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_mobile_toggle">
                <!--begin::Aside Toolbarl-->
                <div class="aside-toolbar flex-column-auto" id="kt_aside_toolbar">
                    <!--begin::Aside user-->
                    <!--begin::User-->
                    <div class="aside-user d-flex align-items-sm-center justify-content-center py-5">
                        <!--begin:: Avatar -->
                        <div class="symbol symbol-circle symbol-50px overflow-hidden me-3">
                            <a href="/Kullanici/Duzenle?ID=@KullaniciID">
                                <div class="symbol-label">
                                    <img src="@(Resim)" alt="@(Isim)" class="w-100 h-100 object-fit-cover" />
                                </div>
                            </a>
                        </div>
                        <!--end::Avatar-->
                        <!--begin::Wrapper-->
                        <div class="aside-user-info flex-row-fluid flex-wrap ms-5">
                            <!--begin::Section-->
                            <div class="d-flex">
                                <!--begin::Info-->
                                <div class="flex-grow-1 me-2">
                                    <!--begin::Username-->
                                    <a href="#" class="text-white text-hover-primary fs-6 fw-bold">@(Isim)</a>
                                    <!--end::Username-->
                                    <!--begin::Description-->
                                    <span class="text-gray-600 fw-semibold d-block fs-8 mb-1">@(UyelikIsim)</span>
                                    <!--end::Description-->
                                    <!--begin::Label-->
                                    <div class="d-flex align-items-center text-success fs-9">
                                        <span class="bullet bullet-dot bg-success me-1"></span>online
                                    </div>
                                    <!--end::Label-->
                                </div>
                                <!--end::Info-->
                                <!--begin::User menu-->
                                <div class="me-n2">
                                    <!--begin::Action-->
                                    <a href="#" class="btn btn-icon btn-sm btn-active-color-primary mt-n2" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start" data-kt-menu-overflow="true">
                                        <i class="ki-duotone ki-setting-2 text-muted fs-1 ">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                    </a>
                                    <!--begin::User account menu-->
                                    <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-color fw-semibold p-0 fs-6 w-200px" data-kt-menu="true">


                                        <!--begin::Menu item-->
                                        <div class="menu-item">
                                            <a href="@Url.Action("Profil","Kullanici",null)" class="menu-link px-4 py-0">Profilime Git</a>
                                        </div>
                                        <!--end::Menu item-->
                                        <!--begin::Menu item-->
                                        <div class="menu-item">
                                            <a href="/YK/Cikis" class="menu-link px-4 py-0">Çıkış Yap</a>
                                        </div>
                                        <!--end::Menu item-->
                                    </div>
                                    <!--end::User account menu-->
                                    <!--end::Action-->
                                </div>
                                <!--end::User menu-->
                            </div>
                            <!--end::Section-->
                        </div>
                        <!--end::Wrapper-->
                    </div>
                    <!--end::User-->
                </div>
                <!--end::Aside Toolbarl-->
                <!--begin::Aside menu-->
                <div class="aside-menu flex-column-fluid">
                    <!--begin::Aside Menu-->
                    <div class="hover-scroll-overlay-y mx-3 my-5 my-lg-5" id="kt_aside_menu_wrapper" data-kt-scroll="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="{default: '#kt_aside_toolbar, #kt_aside_footer', lg: '#kt_header, #kt_aside_toolbar, #kt_aside_footer'}" data-kt-scroll-wrappers="#kt_aside_menu" data-kt-scroll-offset="5px">


                        <!--begin::Menu-->
                        <div class="menu menu-column menu-title-gray-800 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500" id="#kt_aside_menu" data-kt-menu="true">
                            <!--begin:Menu item-->
                            <div class="d-flex align-items-center position-relative my-1">

                                <input type="text" id="searchInNavigation" class="form-control px-2 py-0 w-230px rounded-xs" placeholder="Ara" />
                            </div>
                            <div id="navigation">

                            </div>

                            @if (KullaniciAdi.EndsWith("@ykyazilim.com.tr"))
                            {
                                <div class="menu-item"><!--begin:Menu link--><a class="menu-link" href="@Url.Action("UyelikListesi", "YK", null)"><span class="menu-icon"><i class="ki-duotone ki-exit-left fs-2"><span class="path1"></span><span class="path2"></span></i></span><span class="menu-title">Üyelikler</span></a><!--end:Menu link--></div>
                            }

                            <div class="menu-item"><!--begin:Menu link--><a class="menu-link" href="@Url.Action("Cikis","YK",null)"><span class="menu-icon"><i class="ki-duotone ki-exit-left fs-2"><span class="path1"></span><span class="path2"></span></i></span><span class="menu-title">Çıkış</span></a><!--end:Menu link--></div>
                        </div>
                        <!--end::Menu-->

                    </div>
                    <!--end::Aside Menu-->
                </div>
                <!--end::Aside menu-->

            </div>
            <!--end::Aside-->
            <!--begin::Wrapper-->
            <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
                <!--begin::Header-->
                <div id="kt_header" style="" class="header align-items-stretch">
                    <!--begin::Brand-->
                    <div class="header-brand">
                        <!--begin::Logo-->
                        <a href="/">
                            <img alt="Logo" src="~/Tema/media/Logolar/BeyazLogo.png" class="h-25px h-lg-25px" />
                        </a>
                        <!--end::Logo-->
                        <!--begin::Aside minimize-->
                        <div id="kt_aside_toggle" class="btn btn-icon w-auto px-0 btn-active-color-primary aside-minimize" data-kt-toggle="true" data-kt-toggle-state="active" data-kt-toggle-target="body" data-kt-toggle-name="aside-minimize">
                            <i class="ki-duotone ki-entrance-right fs-1 me-n1 minimize-default">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                            <i class="ki-duotone ki-entrance-left fs-1 minimize-active">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                        </div>
                        <!--end::Aside minimize-->
                        <!--begin::Aside toggle-->
                        <div class="d-flex align-items-center d-lg-none me-n2" title="Show aside menu">
                            <div class="btn btn-icon btn-active-color-primary w-30px h-30px" id="kt_aside_mobile_toggle">
                                <i class="ki-duotone ki-abstract-14 fs-1">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>
                            </div>
                        </div>
                        <!--end::Aside toggle-->
                    </div>
                    <!--end::Brand-->
                    <!--begin::Toolbar-->
                    <div class="toolbar d-flex align-items-stretch">
                        <!--begin::Toolbar container-->
                        <div class="container-fluid p-6 py-lg-0 d-flex flex-column flex-lg-row align-items-lg-stretch justify-content-lg-between">
                            <!--begin::Page title-->
                            <div class="page-title d-flex justify-content-center flex-column me-5">
                                <!--begin::Title-->
                                <h1 class="d-flex flex-column text-gray-900 fw-bold fs-3 mb-0">@ViewBag.Title</h1>
                                <!--end::Title-->
                                <!--begin::Breadcrumb-->
                                <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 pt-1">
                                    <!--begin::Item-->
                                    <li class="breadcrumb-item text-muted">
                                        <a href="@Url.Action("AnaSayfa","YK",null)" class="text-muted text-hover-primary">Ana Sayfa</a>
                                    </li>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <li class="breadcrumb-item">
                                        <span class="bullet bg-gray-300 w-5px h-2px"></span>
                                    </li>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <li class="breadcrumb-item text-gray-900">@ViewBag.Title</li>
                                    <!--end::Item-->
                                </ul>
                                <!--end::Breadcrumb-->
                            </div>
                            <!--end::Page title-->
                            <!--begin::Theme mode-->
                            <div class="d-flex align-items-center">
                                <!--begin::Menu toggle-->
                                <a href="#" class="btn btn-sm btn-icon btn-icon-muted btn-active-icon-primary" data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
                                    <i class="ki-duotone ki-night-day theme-light-show fs-1">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                        <span class="path3"></span>
                                        <span class="path4"></span>
                                        <span class="path5"></span>
                                        <span class="path6"></span>
                                        <span class="path7"></span>
                                        <span class="path8"></span>
                                        <span class="path9"></span>
                                        <span class="path10"></span>
                                    </i>
                                    <i class="ki-duotone ki-moon theme-dark-show fs-1">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                    </i>
                                </a>
                                <!--begin::Menu toggle-->
                                <!--begin::Menu-->
                                <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-title-gray-700 menu-icon-gray-500 menu-active-bg menu-state-color fw-semibold py-4 fs-base w-150px" data-kt-menu="true" data-kt-element="theme-mode-menu">
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3 my-0">
                                        <a href="#" class="menu-link px-3 py-2" data-kt-element="mode" data-kt-value="light">
                                            <span class="menu-icon" data-kt-element="icon">
                                                <i class="ki-duotone ki-night-day fs-2">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                    <span class="path3"></span>
                                                    <span class="path4"></span>
                                                    <span class="path5"></span>
                                                    <span class="path6"></span>
                                                    <span class="path7"></span>
                                                    <span class="path8"></span>
                                                    <span class="path9"></span>
                                                    <span class="path10"></span>
                                                </i>
                                            </span>
                                            <span class="menu-title">Light</span>
                                        </a>
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item p-0">
                                        <a href="#" class="menu-link p-0" data-kt-element="mode" data-kt-value="dark">
                                            <span class="menu-icon" data-kt-element="icon">
                                                <i class="ki-duotone ki-moon fs-2">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                </i>
                                            </span>
                                            <span class="menu-title">Dark</span>
                                        </a>
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item p-0 my-0">
                                        <a href="#" class="menu-link " data-kt-element="mode" data-kt-value="system">
                                            <span class="menu-icon" data-kt-element="icon">
                                                <i class="ki-duotone ki-screen fs-2">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                    <span class="path3"></span>
                                                    <span class="path4"></span>
                                                </i>
                                            </span>
                                            <span class="menu-title">System</span>
                                        </a>
                                    </div>
                                    <!--end::Menu item-->
                                </div>
                                <!--end::Menu-->
                            </div>
                            <!--end::Theme mode-->
                        </div>
                        <!--end::Toolbar container-->
                    </div>

                    <!--end::Toolbar-->
                </div>
                <!--end::Header-->
                <!--begin::Content-->
                <div class="content d-flex flex-column flex-column-fluid pt-0" id="kt_content">
                    <!--begin::Post-->
                    @RenderBody()
                    <!--end::Post-->
                </div>
                <!--end::Content-->
                <!--begin::Footer-->
                <div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
                    <!--begin::Container-->
                    <div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
                        <!--begin::Copyright-->
                        <div class="text-gray-900 order-2 order-md-1">
                            <span class="text-muted fw-semibold me-1">2014 - @(DateTime.Today.Year)&copy;</span>
                            <a href="https://ykyazilim.com.tr" target="_blank" class="text-gray-800 text-hover-primary">YK Yazılım</a>
                        </div>
                        <!--end::Copyright-->

                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Footer-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>
    <!--end::Root-->
    <!--begin::Drawers-->
    <!--end::Main-->
    <!--begin::Javascript-->
    <!--begin::Global Javascript Bundle(mandatory for all pages)-->

    <script src="/Tema/plugins/global/plugins.bundle.js"></script>
    <script src="~/Tema/plugins/custom/datatables/datatables.min.js"></script>
    <script src="/Tema/js/scripts.bundle.js"></script>
    <script src="/Tema/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
    <script src="~/Tema/plugins/custom/vis-timeline/vis-timeline.bundle.js"></script>



    <script></script>
    <!--end::Global Javascript Bundle-->
    <script>
        const navigations = [
            {
                title: "Ana Kayıtlar",
                icon: "ki-duotone ki-element-11 fs-2",
                isOpen: false,
                items: [
                    {
                        title: "Cari",
                        isMenu: true,
                        icon: "",
                        items: [
                            {
                                title: "Cari Liste",
                                url: "/Cari/Liste"
                            },
                            {
                                title: "Cari Ekle",
                                url: "/Cari/Ekle"
                            },
                        ]
                    },
                    {
                        "title": "Stok",
                        isMenu: true,
                        icon: "",
                        items: [
                            {
                                title: "Stok Liste",
                                url: "/Stok/Liste"
                            },
                            {
                                title: "Stok Ekle",
                                url: "/Stok/Ekle"
                            },
                        ]
                    }
                ]
            },
            {
                title: "Tanımlamalar",
                icon: "ki-duotone ki-element-11 fs-2",
                isOpen: false,
                items: [
                    {
                        title: "Kullanıcı Yönetimi",
                        isMenu: true,
                        icon: "ki-duotone ki-address-book fs-2",
                        items: [
                            {
                                title: "Kullanıcı Listesi",
                                url: "/Kullanici/Liste"
                            },
                            {
                                title: "Yeni Kullanıcı",
                                url: "/Kullanici/Ekle"
                            },
                        ]
                    },
                    {
                        title: "Genel Tanımlamalar",
                        isMenu: true,
                        icon: "ki-duotone ki-address-book fs-2",
                        items: [
                            {
                                title: "Ülkeler",
                                url: "/Tanimlamalar/GrupKodu?grupKodu=Ulke"
                            },
                            {
                                title: "İller",
                                url: "/Tanimlamalar/GrupKodu?grupKodu=Il"
                            },
                            {
                                title: "Depolar",
                                url: "/Depo/Liste"
                            },
                            {
                                title: "Şubeler",
                                url: "/Sube/Liste"
                            },
                        ]
                    },
                    {
                        title: "Stok Tanımlamaları",
                        isMenu: true,
                        icon: "",
                        items: [
                            {
                                title: "Kaliteler",
                                url: "/Tanimlamalar/GrupKodu?grupKodu=StokGrupKod1"
                            },
                            {
                                title: "Bedenler",
                                url: "/Tanimlamalar/GrupKodu?grupKodu=StokGrupKod1"
                            },
                            {
                                title: "Renkler",
                                url: "/Tanimlamalar/GrupKodu?grupKodu=StokGrupKod1"
                            },
                            {
                                title: "Markalar",
                                url: "/Tanimlamalar/GrupKodu?grupKodu=StokGrupKod1"
                            },
                            {
                                title: "Stok Grup Kodu 1",
                                url: "/Tanimlamalar/GrupKodu?grupKodu=StokGrupKod1"
                            },
                            {
                                title: "Stok Grup Kodu 2",
                                url: "/Tanimlamalar/GrupKodu?grupKodu=StokGrupKod2"
                            },
                            {
                                title: "Stok Grup Kodu 3",
                                url: "/Tanimlamalar/GrupKodu?grupKodu=StokGrupKod3"
                            },
                            {
                                title: "Stok Grup Kodu 4",
                                url: "/Tanimlamalar/GrupKodu?grupKodu=StokGrupKod4"
                            },
                            {
                                title: "Stok Grup Kodu 5",
                                url: "/Tanimlamalar/GrupKodu?grupKodu=StokGrupKod5"
                            },
                            {
                                title: "Stok Grup Kodu 6",
                                url: "/Tanimlamalar/GrupKodu?grupKodu=StokGrupKod6"
                            },

                        ]
                    },
                    {
                        title: "Cari Tanımlamaları",
                        isMenu: true,
                        icon: "",
                        items: [
                            {
                                title: "Cari Grup Kodu 1",
                                url: "/Tanimlamalar/GrupKodu?grupKodu=CariGrupKod1"
                            },
                            {
                                title: "Cari Grup Kodu 2",
                                url: "/Tanimlamalar/GrupKodu?grupKodu=CariGrupKod2"
                            },
                            {
                                title: "Cari Grup Kodu 3",
                                url: "/Tanimlamalar/GrupKodu?grupKodu=CariGrupKod3"
                            },
                            {
                                title: "Cari Grup Kodu 4",
                                url: "/Tanimlamalar/GrupKodu?grupKodu=CariGrupKod4"
                            },
                            {
                                title: "Cari Grup Kodu 5",
                                url: "/Tanimlamalar/GrupKodu?grupKodu=CariGrupKod5"
                            },
                            {
                                title: "Cari Grup Kodu 6",
                                url: "/Tanimlamalar/GrupKodu?grupKodu=CariGrupKod6"
                            },
                            {
                                title: "Ziyaret Tipi",
                                url: "/Tanimlamalar/GrupKodu?grupKodu=Crm_ZiyaretTipi"
                            },
                        ]
                    },
                    {
                        title: "Satış Personelleri",
                        isMenu: true,
                        icon: "",
                        items: [
                            {
                                title: "Satış Personeli Listesi",
                                url: "/SatisPersoneli/Liste"
                            },
                            {
                                title: "Satış Personeli Ekle",
                                url: "/SatisPersoneli/Ekle"
                            },]
                    }

                ]
            },
            {

                title: "Satınalma",
                icon: "ki-duotone ki-element-11 fs-2",
                isOpen: false,
                items: [
                    {
                        title: "Talep",
                        isMenu: true,
                        icon: "",
                        items: [
                            {
                                title: "Yeni Talep",
                                url: "/Satinalma/YKSatinalma/YeniTalep"
                            },
                            {
                                title: "Taleplerim",
                                url: "/Satinalma/YKSatinalma/Taleplerim"
                            },
                            {
                                title: "Red Taleplerim",
                                url: "/Satinalma/YKSatinalma/TalepOnayi"
                            },
                        ]
                    },
                    {
                        title: "Satınalma",
                        isMenu: true,
                        icon: "",
                        items: [
                            {
                                title: "Fiyat Teklifleri",
                                url: "/Satinalma/YKSatinalma/Teklifler"
                            },
                            {
                                title: "Satınalma",
                                url: "/Satinalma/YKSatinalma/Satinalma"
                            },
                            {
                                title: "Sözleşmeler",
                                url: "/Satinalma/YKSatinalma/CariSOzlesmeleri"
                            },
                        ]
                    },
                    {
                        title: "Onay",
                        isMenu: true,
                        icon: "",
                        items: [
                            {
                                title: "Satınalma Onayı",
                                url: "/Satinalma/YKSatinalma/Onay1"
                            },
                            {
                                title: "Departman Onayı",
                                url: "/Satinalma/YKSatinalma/Onay2"
                            },
                            {
                                title: "Genel Müdür Yardımcısı Onayı",
                                url: "/Satinalma/YKSatinalma/Onay3"
                            },
                            {
                                title: "Genel Müdür Onayı",
                                url: "/Satinalma/YKSatinalma/Onay4"
                            },
                            {
                                title: "Yönetim Onayı",
                                url: "/Satinalma/YKSatinalma/Onay5"
                            },
                        ]
                    },
                    {
                        title: "Rapor",
                        isMenu: true,
                        icon: "",
                        items: [
                            {
                                title: "Satınalma Raporu",
                                url: "/Satinalma/YKSatinalma/Talep Raporu"
                            },
                        ]
                    },

                ]

            },
            {

                title: "CRM",
                icon: "ki-duotone ki-element-11 fs-2",
                isOpen: false,
                items: [
                    {
                        title: "Tanımlamalar",
                        isMenu: true,
                        icon: "",
                        items: [
                            {
                                title: "Ziyaret Tipleri",
                                url: "/Tanimlamalar/GrupKodu?grupKodu=Crm_ZiyaretTipi"
                            },

                        ]
                    },

                ]

            },
            {
                title: "Ayarlar",
                icon: "ki-duotone ki-element-11 fs-2",
                isOpen: false,
                items: [
                    {
                        title: "Mail Ayarları",
                        isMenu: false,
                        icon: "",
                        url: "/Parametre/MailAyarlari"
                    },

                ]

            }
        ];

        const navigationContainer = document.querySelector("#navigation");

        const searchInNavigation = document.querySelector("#searchInNavigation");

        let navigationData = buildNavigation(navigations);

        navigationContainer.innerHTML = navigationData.join("")

        function createLink(item) {

            return `
                                             <div class="menu-item">
                                                 <!--begin:Menu link-->
                                                 <a class="menu-link py-0" href="${item.url}">
                                                     <span class="menu-bullet">
                                                         <span class="bullet bullet-dot"></span>
                                                     </span>
                                                     <span class="menu-title">${item.title}</span>
                                                 </a>
                                                 <!--end:Menu link-->
                                             </div>
                                                     `
        }
        function createMenu(navigationMenu, links) {
            return `
                                        <div data-kt-menu-trigger="click" class="menu-item menu-accordion">
                                            <span class="menu-link py-0">
                                                <span class="menu-icon">
                                                    <i class="${navigationMenu.icon}"></i>
                                                </span>
                                                <span class="menu-title">${navigationMenu.title}</span>
                                                <span class="menu-arrow"></span>
                                            </span>

                                            <div class="menu-sub menu-sub-accordion">${links.join('')}</div>
                                        </div>

                                         `;
        }
        function createNavigation(navigation, menus) {
            return ` <div data-kt-menu-trigger="click" class="menu-item ${navigation.isOpen ? 'show' : ''} menu-accordion">
                                        <!--begin:Menu link-->
                                        <span class="menu-link py-0">
                                            <span class="menu-icon">
                                                <i class="ki-duotone ki-element-11 fs-2">
                                                    <span class="path1"></span>
                                                    <span class="path2"></span>
                                                    <span class="path3"></span>
                                                    <span class="path4"></span>
                                                </i>
                                            </span>
                                            <span class="menu-title">${navigation.title}</span>
                                            <span class="menu-arrow"></span>
                                        </span>
                                        <div class="menu-sub menu-sub-accordion">
                                            ${menus.join('')}
                                        </div>
                                    </div>`
        }

        function buildNavigation(navigationList) {
            return navigationList.map(navigation => {
                let menus = navigation.items.map(navigationMenu => {
                    if (navigationMenu.isMenu) {
                        var links = navigationMenu.items.map(link => {
                            return createLink(link);
                        })

                        return createMenu(navigationMenu, links);
                    } else {
                        return createLink(navigationMenu);
                    }
                })

                return createNavigation(navigation, menus);
            })
        }

        searchInNavigation.addEventListener("input", function (event) {
            let filteredNavigation = [];
            if (event.target.value == "") {
                filteredNavigation = buildNavigation(navigations);
            } else {
                navigations.forEach(navigation => {
                    navigation.items.forEach(menu => {
                        if (menu.isMenu) {
                            menu.items.forEach(link => {
                                if (link.title.toLocaleUpperCase("tr-TR").includes(event.target.value.toLocaleUpperCase("tr-TR"))) {
                                    filteredNavigation.push(createLink(link));
                                }
                            })
                        } else {
                            if (menu.title.toLocaleUpperCase("tr-TR").includes(event.target.value.toLocaleUpperCase("tr-TR"))) {
                                filteredNavigation.push(createLink(menu));
                            }
                        }
                    })
                })
            }

            navigationContainer.innerHTML = filteredNavigation.join("")
        });

    </script>
    @RenderSection("Scripts", required: false)

    <!--end::Custom Javascript-->
    <!--end::Javascript-->

</body>
<!--end::Body-->
</html>

